[Desktop Entry]
Name[af]=Evolution-kalender
Name[an]=Calandario d'Evolution
Name[ar]=تقويم إيفُليوشِن
Name[as]=Evolution কেলেন্ডাৰ
Name[be]=Каляндар Evolution
Name[bg]=Календар на Evolution
Name[bn_IN]=Evolution বর্ষপঞ্জি
Name[bs]=Kalendar evolucije
Name[ca]=Calendari de l'Evolution
Name[ca@valencia]=Calendari de l'Evolution
Name[cs]=Kalendář Evolution
Name[da]=Evolution kalender
Name[de]=Evolution-Kalender
Name[el]=Ημερολόγιο Evolution
Name[en_GB]=Evolution Calendar
Name[eo]=Evolucio-kalendaro
Name[es]=Calendario de Evolution
Name[et]=Evolutioni kalender
Name[eu]=Evolution egutegia
Name[fa]=تقویم اوولوشن
Name[fi]=Evolution-kalenteri
Name[fr]=Agenda d’Evolution
Name[fur]=Calendari di Evolution
Name[ga]=Féilire Evolution
Name[gd]=Mìosachan Evolution
Name[gl]=Calendario de Evolution
Name[gu]=Evolution કૅલેન્ડર
Name[he]=יומן אבולושן
Name[hi]=एवोल्यूशन पंचांग
Name[hr]=Evolution kalendar
Name[hu]=Evolution naptár
Name[ia]=Calendario de Evolution
Name[id]=Evolution Kalender
Name[is]=Evolution dagatal
Name[it]=Calendario di Evolution
Name[ja]=Evolution カレンダー
Name[kk]=Evolution күнтізбесі
Name[km]=ប្រតិទិន​ការ​វិវត្ត
Name[kn]=Evolution ಕ್ಯಾಲೆಂಡರ್
Name[ko]=에볼루션 달력
Name[ky]=Evolution жылнаамасы
Name[lt]=Evolution kalendorius
Name[lv]=Evolution kalendārs
Name[mjw]=Evolution Calendar
Name[ml]=ഇവല്യൂഷന്‍ കലണ്ടര്‍
Name[mr]=एव्हल्युशन दिनदर्शिका
Name[ms]=Kalendar Evolution
Name[nb]=Evolution kalender
Name[ne]=इभोल्युसन पात्रो
Name[nl]=Evolution-agenda
Name[nn]=Evolution kalender
Name[oc]=Agenda d'Evolution
Name[or]=Evolution କ୍ୟାଲେଣ୍ଡର
Name[pa]=ਈਵੇਲੂਸ਼ਨ ਕੈਲੰਡਰ
Name[pl]=Kalendarz programu Evolution
Name[pt]=Calendário do Evolution
Name[pt_BR]=Agenda do Evolution
Name[ro]=Calendar Evolution
Name[ru]=Календарь Evolution
Name[sk]=Kalendár Evolution
Name[sl]=Koledar Evolution
Name[sr]=Календар Еволуције
Name[sr@latin]=Kalendar Evolucije
Name[sv]=Evolution-kalender
Name[ta]=எவல்யூஷன் நாள்காட்டி
Name[te]=ఎవల్యూషన్ క్యాలెండరు
Name[tg]=Тақвими инкишоф
Name[th]=ปฏิทิน Evolution
Name[tr]=Evolution Takvim
Name[ug]=Evolution يىلنامىسى
Name[uk]=Календар Evolution
Name[uz@cyrillic]=Evolution тақвими
Name[vi]=Lịch Evolution
Name[zh_CN]=Evolution 日历
Name[zh_HK]=Evolution 行事曆
Name[zh_TW]=Evolution 行事曆
Name=Evolution Calendar (container)
Exec=toolbox run evolution -c calendar
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=evolution
NoDisplay=true
Type=Application
StartupNotify=true
