[Desktop Entry]
Name[as]=ৰঙ নিৰ্বাচক
Name[bg]=Избор на цвят
Name[bn_IN]=রঙ বাছাইকারি
Name[bs]=Izbornik boja
Name[ca]=Selector de color
Name[ca@valencia]=Selector de color
Name[cs]=Měření jednotlivých barev
Name[da]=Farvevælger
Name[de]=Farbwähler
Name[el]=Επιλογή χρώματος
Name[en_GB]=Colour Picker
Name[eo]=Kolor-eltirilo
Name[es]=Selector de color
Name[et]=Värvivalija
Name[eu]=Kolore-hautatzailea
Name[fa]=انتخابگر رنگ
Name[fi]=Värivalitsin
Name[fr]=Sélecteur de couleurs
Name[fur]=Seletôr colôr
Name[gd]=Roghnaichear nan dathan
Name[gl]=Selector de cor
Name[gu]=રંગ પસંદકર્તા
Name[he]=דוגם צבעים
Name[hi]=रंग चयनक
Name[hr]=Odabiratelj boja
Name[hu]=Színpipetta
Name[id]=Pemilih Warna
Name[is]=Litaplokkari
Name[it]=Selettore colore
Name[ja]=カラーピッカー
Name[kk]=Түстер таңдаушысы
Name[kn]=ಬಣ್ಣದ ಆಯ್ಕೆಗಾರ
Name[ko]=색 선택
Name[lt]=Spalvos gavėjas
Name[lv]=Krāsu pipete
Name[ml]=നിറം തെരഞ്ഞെടുക്കല്‍ സംവിധാനം
Name[mr]=रंग निवडक
Name[ms]=Pemilih Warna
Name[nb]=Fargevelger
Name[ne]=रङ्ग पिकर
Name[nl]=Kleurenkiezer
Name[oc]=Selector de colors
Name[or]=ରଙ୍ଗ ଚୟନକର୍ତ୍ତା
Name[pa]=ਰੰਗ ਚੋਣੀ
Name[pl]=Wybór koloru
Name[pt]=Seletor de cor
Name[pt_BR]=Seletor de cores
Name[ro]=Selector de culoare
Name[ru]=Цветовая пипетка
Name[sk]=Pipeta
Name[sl]=Izbirnik barv
Name[sr]=Бирач боја
Name[sr@latin]=Birač boja
Name[sv]=Färgväljare
Name[ta]=நிற  எடுப்பி
Name[te]=రంగు యెంచునది
Name[tg]=Интихобкунандаи ранг
Name[tr]=Renk Seçici
Name[ug]=رەڭ ئالغۇچ
Name[uk]=Вибір кольору
Name[vi]=Cái chọn màu
Name[zh_CN]=色彩拾取器
Name[zh_HK]=顏色挑選器
Name[zh_TW]=顏色挑選器
Name=Color Picker (container)
Comment[as]=ৰঙসমূহত নমুনা দগ দিবলে ৰঙ সংবেদক ব্যৱহাৰ কৰক
Comment[bg]=Отчет на отбрани цветове чрез цветовия сензор
Comment[bn_IN]=রং সেন্সর ব্যবহার করুন স্পট রং স্যাম্পেল করার জন্য
Comment[bs]=Koristite senzor boja za uzorkovanje odgovarajućih boja
Comment[ca]=Utilitzeu el sensor de color per mostrejar punts de color
Comment[ca@valencia]=Utilitzeu el sensor de color per mostrejar punts de color
Comment[cs]=Použít sondu pro měření samostatného barevného vzorku
Comment[da]=Brug farvesensoren til at tage punktfarveprøver
Comment[de]=Farbsensor zum Abtasten der Schmuckfarben verwenden
Comment[el]=Χρησιμοποιείστε τον αισθητήτα χρωμάτων για να δοκιμάσετε χρώματα
Comment[en_GB]=Use the colour sensor to sample spot colours
Comment[eo]=Uzi la koloran sentilon por specimeni punktajn kolorojn
Comment[es]=Use el sensor de color para muestrear los puntos de color
Comment[et]=Värvisensori kasutamine punktvärvide lugemiseks.
Comment[eu]=Erabili koloreen sentsorea koloreen puntuak lagintzeko
Comment[fa]=استفاده از حسگر رنگ برای نمونه‌گیری از رنگ‌های نقطه
Comment[fi]=Käytä värisensoria ottaaksesi näytteen väreistä
Comment[fr]=Utilise le colorimètre pour échantillonner les couleurs de point
Comment[fur]=Dopre il sensôr di colôr par campionâ i colôrs gjenerâts
Comment[gd]=Cleachd mothaichear nan dathan gus buill-shampaill dhe bhadan datha fhaighinn
Comment[gl]=Uso do sensor de cor para mostrear os puntos de cor
Comment[gu]=સ્પોટ રંગોનો નમૂનો લેવા માટે રંગ સેન્સર વાપરો
Comment[he]=יש להשתמש בחיישן הצבע כדי לדגום כתמי צבע
Comment[hi]=नमूना स्पॉट रंगों के लिए रंग सेंसर का प्रयोग करें
Comment[hr]=Koristite senzor boja za uzorak boje
Comment[hu]=A színérzékelő használatával vegyen mintát a direktszínekből
Comment[id]=Pakai sensor warna untuk mencuplik warna spot
Comment[is]=Nota litmæli til að mæla spot-liti
Comment[it]=Usa il sensore di colore per campionare i colori generati
Comment[ja]=特色を読み取る測色計を使う
Comment[kn]=ಜಾಗದ ಬಣ್ಣಗಳ ಮಾದರಿಯನ್ನು ತೆಗೆಯಲು ಸೆನ್ಸರ್ ಅನ್ನು ಬಳಸು
Comment[ko]=색 센서를 사용하여 한 지점의 색을 가져옵니다
Comment[lt]=Naudoti spalvų jutiklį spalvų pavyzdžiams paimti
Comment[lv]=Izmantot krāsu sensoru, lai ņemtu paraugus no krāsu punktiem
Comment[mr]=स्पॉट रंग सॅम्पल करण्यासाठी रंग सेंसरचा वापर करा
Comment[ms]=Guna penderia warna untuk dapatkan sampel warna bintik
Comment[nb]=Bruk fargemåler til å lese punktfarger
Comment[nl]=Gebruik de kleurensensor om kleuren te bemonsteren
Comment[oc]=Utiliza lo colorimètre per escandalhar las colors de punt
Comment[or]=ନମୁନା ଚିହ୍ନ ରଙ୍ଗଗୁଡ଼ିକରେ ରଙ୍ଗ ସମ୍ବେଦକ ବ୍ୟବହାର କରନ୍ତୁ
Comment[pa]=ਸਧਾਰਨ ਸਪਾਟ ਰੰਗ ਲਈ ਰੰਗ ਸੈਂਸਰ ਵਰਤੋਂ
Comment[pl]=Użycie czujnika kolorów do odczytywania plam kolorów
Comment[pt]=Utilize o sensor de cor para amostras de manchas de cores
Comment[pt_BR]=Utilize o sensor de cores para efetuar amostras de pontos de cores
Comment[ro]=Folosiți colorimetrul pentru a eșantiona pete de culoare
Comment[ru]=Использование цветового сенсора для снятия пробы цветов
Comment[sk]=Farebná sonda používaná na získanie vzorky farby
Comment[sl]=Uporabi barvno tipalo za točkovno vzorčenje barv
Comment[sr]=Користите сензор боје да узоркујете боје мрље
Comment[sr@latin]=Koristite senzor boje da uzorkujete boje mrlje
Comment[sv]=Använd färgsensorn för att läsa in punktfärger
Comment[ta]=சிறுவட்ட நிறத்தை மாதிரி எடுக்க நிற உணர்வியை பயன்படுத்துக
Comment[te]=స్పాట్ రంగుల మాదిరుల కొరకు రంగు సెన్సార్ వుపయోగించు
Comment[tg]=Истифодаи сенсори ранг барои гирифтани намунаи рангҳои нуқтавӣ
Comment[tr]=Spot renkleri örneklemek için renk algılayıcısını kullanın
Comment[ug]=رەڭ سەزگۈچ ئىشلىتىپ ئالاھىدە نۇقتىلارنىڭ رېڭىنى ئۆلچەش
Comment[uk]=Використовувати сенсор кольору для кольорів заливання зразків
Comment[vi]=Đặt cảm biến màu để lấy mẫu màu điểm
Comment[zh_CN]=使用色彩传感器对点颜色进行采样
Comment[zh_HK]=使用色彩感測器來取樣點色彩
Comment[zh_TW]=使用色彩感測器來取樣點色彩
Comment=Use the color sensor to sample spot colors
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/hicolor/scalable/apps/gnome-color-manager.svg
Exec=toolbox run gcm-picker
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-color-manager
X-GNOME-Bugzilla-Component=gnome-color-manager
