[Desktop Entry]
Name[as]=ICC আলেখ্য ইনস্টলাৰ
Name[bg]=Инсталиране на цветови профил
Name[bn_IN]=আইসিসি প্রোফাইল ইনস্টলার
Name[bs]=Instalacija ICC profila
Name[ca]=Instal·lador de perfils ICC
Name[ca@valencia]=Instal·lador de perfils ICC
Name[cs]=Instalátor profilu ICC
Name[da]=ICC-profilinstallering
Name[de]=ICC-Profil-Installation
Name[el]=Εγκαταστάτης προφίλ ICC
Name[en_GB]=ICC Profile Installer
Name[eo]=ICC-a profilo-instalilo
Name[es]=Instalador de perfiles ICC
Name[et]=ICC-profiilide paigaldaja
Name[eu]=ICC profilen instalatzailea
Name[fa]=نصاب مجموعه‌تنظیمات ICC
Name[fi]=ICC-profiilin asentaja
Name[fr]=Programme d’installation de profil de couleur ICC
Name[fur]=Instale profîl ICC
Name[gd]=Inneal-stàlaidh pròifilean ICC
Name[gl]=Instalador de perfiles ICC
Name[gu]=ICC રૂપરેખા સ્થાપક
Name[he]=מתקין פרופילי ICC
Name[hi]=आईसीसी प्रोफ़ाइल संस्थापक
Name[hr]=Instalacijski program ICC profia
Name[hu]=ICC profiltelepítő
Name[id]=Pemasang Profil ICC
Name[is]=Uppsetning ICC litasniða
Name[it]=Installa profili ICC
Name[ja]=ICCプロファイルのインストーラー
Name[kk]=ICC профильдерін орнатушы
Name[kn]=ICC ಪ್ರೊಫೈಲ್ ಅನುಸ್ಥಾಪಕ
Name[ko]=ICC 프로파일 설치
Name[lt]=ICC profilių diegiklis
Name[lv]=ICC profilu instalators
Name[ml]=ഐസിസി പ്രൊഫൈല്‍ ഇന്‍സ്റ്റോളര്‍
Name[mr]=ICC प्रोफाइल इंस्टॉलर
Name[ms]=Pemasang Profil ICC
Name[nb]=Installer ICC-profil
Name[ne]=\sICC प्रोफाइल स्थापना गर्नुहोस्
Name[nl]=Installatie ICC-profiel
Name[oc]=Programa d'installacion de perfil de color ICC
Name[or]=ICC ରୂପରେଖା ସ୍ଥାପକ
Name[pa]=ICC ਪਰੋਫਾਇਲ ਇੰਸਟਾਲਰ
Name[pl]=Instalator profilów ICC
Name[pt]=Instalador de perfil ICC
Name[pt_BR]=Instalador de perfil ICC
Name[ro]=Instalator de profiluri ICC
Name[ru]=Установка цветовых профилей
Name[sk]=Inštalátor ICC profilu
Name[sl]=Namestitveni program profilov ICC
Name[sr]=Инсталација ИЦЦ профила
Name[sr@latin]=Instalacija ICC profila
Name[sv]=Installera ICC-profiler
Name[ta]=ஐசிசி  வரிவுரு நிறுவி
Name[te]=ICC ప్రొఫైల్ సంస్థాపకి
Name[tg]=Насбкунандаи профили ICC
Name[tr]=ICC Profil Yükleyici
Name[ug]=ICC Profile ئورناتقۇچ
Name[uk]=Встановлення профілів ICC
Name[vi]=Cài đặt hồ sơ ICC
Name[zh_CN]=ICC 配置文件安装器
Name[zh_HK]=ICC 色彩描述檔安裝程式
Name[zh_TW]=ICC 色彩描述檔安裝程式
Name=ICC Profile Installer (container)
Comment[as]=ICC আলেখ্যসমূহ ইনস্টল কৰক
Comment[bg]=Инсталиране на цветови профили
Comment[bn_IN]=আইসিসি প্রোফাইল ইনস্টল করুন
Comment[bs]=Instalacija ICC profila
Comment[ca]=Instal·la els perfils ICC
Comment[ca@valencia]=Instal·la els perfils ICC
Comment[cs]=Instalovat profily ICC
Comment[da]=Installer ICC-profiler
Comment[de]=ICC-Profile installieren
Comment[el]=Εγκατάσταση προφίλ ICC
Comment[en_GB]=Install ICC profiles
Comment[eo]=Instali ICC-profilojn
Comment[es]=Instalar perfiles ICC
Comment[et]=ICC-profiilide paigaldamine
Comment[eu]=Instalatu ICC profilak
Comment[fa]=نصب مجموعه‌های تنظیمات ICC
Comment[fi]=Asenna ICC-profiileja
Comment[fr]=Installation de profils ICC
Comment[fur]=Instale profîl ICC
Comment[gd]=Stàlaich pròifilean ICC
Comment[gl]=Instalar perfiles ICC
Comment[gu]=ICC રૂપરેખા સ્થાપિત કરો
Comment[he]=התקנת פרופילי ICC
Comment[hi]=आईसीसी प्रोफाइल संस्थापित करें
Comment[hr]=Instaliraj ICC profile
Comment[hu]=ICC profilok telepítése
Comment[id]=Pasang profil ICC
Comment[is]=Setur upp ICC litasnið
Comment[it]=Installa profili ICC
Comment[ja]=ICCプロファイルのインストール
Comment[kk]=ICC профильдерін орнату
Comment[kn]=ICC ಪ್ರೊಫೈಲುಗಳನ್ನು ಅನುಸ್ಥಾಪಿಸು
Comment[ko]=ICC 프로파일 설치
Comment[lt]=Įdiegti ICC profilius
Comment[lv]=Instalēt ICC profilus
Comment[ml]=ഐസിസി പ്രൊഫൈലുകള്‍ ഇന്‍സ്റ്റോള്‍ ചെയ്യുക
Comment[mr]=ICC प्रोफाइल्स् प्रतिष्ठापीत करा
Comment[ms]=Pasang Profil-Profil ICC
Comment[nb]=Installler ICC-profiler
Comment[ne]=\sICC प्रोफाइल स्थापना गर्नुहोस्
Comment[nl]=ICC-profielen installeren
Comment[oc]=Installacion de perfils ICC
Comment[or]=ICC ରୂପରେଖାଗୁଡ଼ିକୁ ସ୍ଥାପନ କରନ୍ତୁ
Comment[pa]=ICC ਪਰੋਫਾਇਲ ਇੰਸਟਾਲ ਕਰੋ
Comment[pl]=Instalacja profilów ICC
Comment[pt]=Instalar perfis ICC
Comment[pt_BR]=Instala perfis ICC
Comment[ro]=Instalează profiluri ICC
Comment[ru]=Установка цветовых профилей
Comment[sk]=Inštalovať ICC profily
Comment[sl]=Namesti profile ICC
Comment[sr]=Инсталирај ИЦЦ профил
Comment[sr@latin]=Instaliraj ICC profil
Comment[sv]=Installera ICC-profiler
Comment[ta]=ஐசிசி  வரையுருக்களை நிறுவு
Comment[te]=ICC ప్రొఫైల్స్ సంస్థాపించు
Comment[tg]=Насби профилҳои ICC
Comment[tr]=ICC profilleri yükle
Comment[ug]=ICC Profile نى ئورنىتىش پروگراممىسى
Comment[uk]=Встановити профілі ICC
Comment[vi]=Cài đặt hồ sơ ICC
Comment[zh_CN]=安装 ICC 配置文件
Comment[zh_HK]=安裝 ICC 色彩描述檔
Comment[zh_TW]=安裝 ICC 色彩描述檔
Comment=Install ICC profiles
Categories=System;
Exec=toolbox run /usr/bin/gcm-import %F
Terminal=false
Type=Application
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=application-vnd.iccprofile
StartupNotify=true
NoDisplay=true
MimeType=application/vnd.iccprofile;

