[Desktop Entry]
Name[ar]=تخطيط لوحة المفاتيح
Name[as]=কিবৰ্ডৰ বিন্যাস
Name[be]=Клавіятурная раскладка
Name[bg]=Подредба на клавиатурата
Name[bn_IN]=কি-বোর্ডের বিন্যাস
Name[bs]=Raspored tastature
Name[ca]=Disposició del teclat
Name[ca@valencia]=Disposició del teclat
Name[cs]=Rozložení klávesnice
Name[da]=Tastaturlayout
Name[de]=Tastaturbelegung
Name[el]=Διάταξη πληκτρολογίου
Name[en_GB]=Keyboard Layout
Name[eo]=Klavararanĝo
Name[es]=Distribución de teclado
Name[et]=Klaviatuuri paigutus
Name[eu]=Teklatuaren diseinua
Name[fa]=چیدمان صفحه‌کلید
Name[fi]=Näppäimistöasettelu
Name[fr]=Agencement de clavier
Name[fur]=Disposizion tastiere
Name[gl]=Disposición do teclado
Name[gu]=કીબોર્ડ લેઆઉટ
Name[he]=פריסת מקלדת
Name[hi]=कुंजीपट ख़ाका
Name[hu]=Billentyűzetkiosztás
Name[id]=Tata Letak Papan Tik
Name[it]=Disposizione tastiera
Name[ja]=キーボードのレイアウト
Name[kk]=Пернетақта жаймасы
Name[km]=ប្លង់​ក្ដារចុច
Name[kn]=ಕೀಲಿಮಣೆ ವಿನ್ಯಾಸ
Name[ko]=키보드 배치
Name[lt]=Klaviatūros išdėstymas
Name[lv]=Tastatūras izkārtojums
Name[ml]=കീബോര്‍ഡ് വിന്യാസം
Name[mr]=किबोर्ड मांडणी
Name[nb]=Tastaturutforming
Name[nl]=Toetsenbordindeling
Name[oc]=Agençament del clavièr
Name[or]=କି-ବୋର୍ଡ ବିନ୍ଯାସ
Name[pa]=ਕੀ-ਬੋਰਡ ਲੇਆਉਟ
Name[pl]=Układ klawiatury
Name[pt]=Disposição de Teclado
Name[pt_BR]=Layout de teclado
Name[ro]=Aranjament tastatură
Name[ru]=Раскладка клавиатуры
Name[sk]=Rozloženie klávesnice
Name[sl]=Razpored tipkovnice
Name[sr]=Распоред тастатуре
Name[sr@latin]=Raspored tastature
Name[sv]=Tangentbordslayout
Name[ta]=விசைப்பலகை அமைப்பு
Name[te]=కీబోర్డు నమూనా
Name[tg]=Тарҳбандии клавиатура
Name[th]=ผังแป้นพิมพ์
Name[tr]=Klavye Düzeni
Name[ug]=ھەرپتاختا ئورۇنلاشتۇرۇلۇشى
Name[uk]=Розкладка клавіатури
Name[vi]=Bố cục bàn phím
Name[zh_CN]=键盘布局
Name[zh_HK]=鍵盤配置
Name[zh_TW]=鍵盤配置
Name=Keyboard Layout (container)
Comment[ar]=عاين تخطيطات لوحة المفاتيح
Comment[as]=কিবৰ্ডৰ বিন্যাসসমূহ পূৰ্ৱদৰ্শন কৰক
Comment[be]=Папярэдні агляд клавіятурных раскладак
Comment[bg]=Преглед на подредбите
Comment[bn_IN]=কি-বোর্ড বিন্যাসের পূর্বদৃশ্য
Comment[bs]=Pregled rasporeda tastature
Comment[ca]=Previsualitzeu disposicions del teclat
Comment[ca@valencia]=Previsualitzeu disposicions del teclat
Comment[cs]=Náhled rozložení klávesnice
Comment[da]=Forhåndsvis tastaturlayout
Comment[de]=Vorschau auf Tastaturbelegungen
Comment[el]=Προεπισκόπηση διατάξεων πληκτρολογίου
Comment[en_GB]=Preview keyboard layouts
Comment[eo]=Antaŭmontri klavararanĝojn
Comment[es]=Previsualizar las distribuciones de teclado
Comment[et]=Klaviatuuripaigutuste eelvaatlemine
Comment[eu]=Aurreikusi teklatuaren diseinuak
Comment[fa]=پیش‌نمایش چیدمان‌های صفحه‌کلید
Comment[fi]=Esikatsele näppäimistöasetteluja
Comment[fr]=Prévisualiser les agencements de clavier
Comment[fur]=Mostre une anteprime de disposizion di tastiere
Comment[gl]=Previsualizar as distribucións de teclado
Comment[gu]=કીબોર્ડ લેઆઉટ પૂર્વદર્શન
Comment[he]=הצגה מקדימה של פריסות המקלדת
Comment[hi]=कुंजीपटल लेआउट का पूर्वावलोकन करें
Comment[hu]=Billentyűzetkiosztások előnézete
Comment[id]=Menampilkan tata letak papan ketik
Comment[it]=Mostra un'anteprima delle disposizioni di tastiera
Comment[ja]=キーボードのレイアウトのプレビュー
Comment[kk]=Пернетақта жаймаларын алдын-ала қарау
Comment[km]=មើល​ប្លង់​ក្ដារចុច​ជាមុន
Comment[kn]=ಕೀಲಿಮಣೆ ವಿನ್ಯಾಸಗಳ ಅವಲೋಕನ
Comment[ko]=키보드 배치를 미리 봅니다
Comment[lt]=Peržiūrėti klaviatūros išdėstymas
Comment[lv]=Priekšskatīt tastatūras izkārtojums
Comment[ml]=കീബോര്‍ഡ് വിന്യാസത്തിന്റെ തിരനോട്ടം
Comment[mr]=किबोर्ड मांडणीचे पुनरावलोकन
Comment[nb]=Forhåndsvis tastaturutforminger
Comment[nl]=Voorbeelden van toetsenbordindelingen tonen
Comment[oc]=Previsualizar los agençaments de clavièr
Comment[or]=କି-ବୋର୍ଡ ବିନ୍ଯାସକୁ ପ୍ରାକଦର୍ଶନ କରନ୍ତୁ
Comment[pa]=ਕੀ-ਬੋਰਡ ਲੇਆਉਟ ਝਲਕ
Comment[pl]=Podgląd układów klawiatury
Comment[pt]=Antever disposições de teclado
Comment[pt_BR]=Pré-visualize layouts de teclado
Comment[ro]=Previzualizați aranjamente de tastatură
Comment[ru]=Предварительный просмотр раскладок
Comment[sk]=Náhľad rozloženia klávesnice
Comment[sl]=Predogled razporedov tipkovnice
Comment[sr]=Прикажите преглед распореда тастатуре
Comment[sr@latin]=Prikažite pregled rasporeda tastature
Comment[sv]=Förhandsvisa tangentbordslayouter
Comment[ta]=விசைப்பலகை அமைப்புகளை  முன்பார்வையிடு
Comment[te]=కీబోర్డు నమూనా ఉపదర్శనం
Comment[tg]=Пешнамоиши тарҳбандии клавиатура
Comment[th]=ดูตัวอย่างผังแป้นพิมพ์
Comment[tr]=Klavye düzeni ön izleme
Comment[ug]=ھەرپتاختا ئورۇنلاشتۇرۇلۇشى ئالدىن كۆرۈش
Comment[uk]=Перегляд розкладки клавіатури
Comment[vi]=Xem thử bố cục bàn phím
Comment[zh_CN]=预览键盘布局
Comment[zh_HK]=預覽鍵盤配置
Comment[zh_TW]=預覽鍵盤配置
Comment=Preview keyboard layouts
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/preferences-desktop-keyboard.png
Exec=toolbox run gkbd-keyboard-display
Terminal=false
Type=Application
StartupNotify=true
NoDisplay=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=libgnomekbd
X-GNOME-Bugzilla-Component=Drawing
X-GNOME-Bugzilla-Version=3.26.1
Categories=GNOME;GTK;Core;System;
OnlyShowIn=GNOME;
