[Desktop Entry]
Name[af]=Verwyderbare media
Name[an]=Suportes extraíbles
Name[ar]=الوسائط المنفصلة
Name[as]=আতৰাব পৰা মাধ্যম
Name[ast]=Medios Estrayibles
Name[be]=Зменныя носьбіты
Name[bg]=Преносими носители
Name[bn]=অপসারণযোগ্য মিডিয়া
Name[bn_IN]=অপসারণযোগ্য মিডিয়া
Name[bs]=Pokretni mediji
Name[ca]=Suport extraïble
Name[ca@valencia]=Suport extraïble
Name[ckb]=مێدیای هەڵگرتەنی
Name[crh]=Çetleştirilebilir Vasat
Name[cs]=Výměnná média
Name[da]=Flytbare medier
Name[de]=Wechselmedien
Name[el]=Αφαιρούμενα μέσα
Name[en_GB]=Removable Media
Name[eo]=Demetebla datumportilo
Name[es]=Soportes extraíbles
Name[et]=Eemaldatav meedium
Name[eu]=Euskarri aldagarria
Name[fa]=رسانه‌های جداشدنی
Name[fi]=Erilliset tallennusvälineet
Name[fr]=Médias amovibles
Name[fur]=Dispositîfs estraibii
Name[ga]=Meáin Inbhainte
Name[gd]=Meadhan so-ghiùlain
Name[gl]=Soportes extraíbeis
Name[gu]=દૂર કરી શકાય તેવી મીડિયા
Name[he]=מדיה נתיקה
Name[hi]=हटाने योग्य मीडिया
Name[hr]=Prijenosni mediji
Name[hu]=Külső adathordozók
Name[id]=Media Lepasan
Name[is]=Fjarlæganlegir miðlar
Name[it]=Dispositivi rimovibili
Name[ja]=リムーバブルメディア
Name[kk]=Ауыстырмалы тасушылар
Name[km]=មេឌៀ​ចល័ត
Name[kn]=ತೆಗೆಯಬಹುದಾದ ಮಾಧ್ಯಮ
Name[ko]=이동식 미디어
Name[ky]=Ажыратма сактама
Name[lt]=Išimamos laikmenos
Name[lv]=Noņemamie datu nesēji
Name[mk]=Removable Media
Name[ml]=മാറ്റുവാന്‍ സാധ്യമാകുന്ന മീഡിയ
Name[mr]=काढून टाकण्याजोगी मिडीया
Name[ms]=Media Boleh Alih
Name[nb]=Avtagbare medier
Name[ne]=हटाउन सकिने माध्यम
Name[nl]=Verwijderbare media
Name[nn]=Flyttbart medium
Name[oc]=Mèdias amovibles
Name[or]=ଅପସାରଣଯୋଗ୍ୟ ସଞ୍ଚାରମାଧ୍ଯମ
Name[pa]=ਹਟਾਉਣਯੋਗ ਮੀਡਿਆ
Name[pl]=Nośniki wymienne
Name[pt]=Suportes removíveis
Name[pt_BR]=Mídia removível
Name[ro]=Medii detașabile
Name[ru]=Съёмный носитель
Name[sk]=Vymeniteľné nosiče
Name[sl]=Odstranljivi nosilci
Name[sr]=Преносни носачи
Name[sr@latin]=Prenosni nosači
Name[sv]=Flyttbar media
Name[ta]=நீக்கப்படக்கூடிய சாதனங்கள்
Name[te]=తీసివేయదగిన మాధ్యమం
Name[tg]=Медиаи ҷудошаванда
Name[th]=สื่อถอดเสียบ
Name[tr]=Çıkarılabilir Ortam
Name[ug]=چىقىرىۋېتىشكە بولىدىغان ۋاسىتە
Name[uk]=Змінний носій
Name[vi]=Đa phương tiện
Name[zh_CN]=可移动介质
Name[zh_HK]=可移除式媒體
Name[zh_TW]=可移除式媒體
Name=Removable Media (container)
Comment[af]=Verander verwyderbare media instellings
Comment[ar]=اضبط إعدادات الوسائط المنفصلة
Comment[be]=Настроіць зменныя носьбіты
Comment[bg]=Настройки за преносимите носители
Comment[bn_IN]=অপসারণযোগ্য মিডিয়া সেটিংস কনফিগার করুন
Comment[ca]=Configura els paràmetres del suport extraïble
Comment[ca@valencia]=Configura els paràmetres del suport extraïble
Comment[ckb]=ڕێکخستنەکانی میدیای هەڵگرتەنی چاک بکە
Comment[cs]=Nastavte si pravidla pro výměnná média
Comment[da]=Indstil flytbare medier
Comment[de]=Wechselmedien einrichten
Comment[el]=Ρύθμιση επιλογών αφαιρούμενων μέσων
Comment[en_GB]=Configure Removable Media settings
Comment[eo]=Agordi demeteblajn datumportilojn
Comment[es]=Configurar soportes extraíbles
Comment[eu]=Konfiguratu euskarri aldagarriaren ezarpenak
Comment[fa]=پیکربندی تنظیمات رسانه‌های جداشدنی
Comment[fi]=Määritä erillisten tallennusvälineiden asetukset
Comment[fr]=Configurer les paramètres des médias amovibles
Comment[fur]=Configure lis impostazions dai dispositîfs estraibils
Comment[gd]=Rèitich roghainnean nam meadhanan so-ghiùlain
Comment[gl]=Configurar as preferencias de soportes extraíbeis
Comment[he]=הגדרות מדיה נתיקה
Comment[hr]=Prilagodite prijenosne medije
Comment[hu]=Külső adathordozók beállításai
Comment[id]=Mengkonfigurasi pengaturan Media Lepasan
Comment[is]=Stillingar útskiptanlegra gagnamiðla
Comment[it]=Configurazione dispositivi rimovibili
Comment[ja]=リムーバブルメディアを設定します
Comment[kk]=Ауыстырмалы тасушыларды баптау
Comment[ko]=이동식 미디어 설정
Comment[lt]=Konfigūruoti išimamas laikmenas
Comment[lv]=Konfigurēt noņemamo datu nesēju iestatījums
Comment[ml]=മാറ്റാന്‍ സാധിക്കുന്ന മീഡിയയുടെ സജ്ജീകരണങ്ങള്‍ ക്രമീകരിക്കുക
Comment[ms]=Konfigur Tetapan Media Boleh Alih
Comment[nb]=Konfigurer innstillinger for avtagbare medier
Comment[ne]=हटाउन योग्य मिडिया सेटिङ्ग
Comment[nl]=Instellingen voor verwijderbare media configureren
Comment[oc]=Configurar los paramètres dels mèdia amovibles
Comment[pa]=ਹਟਾਉਣਯੋਗ ਮੀਡੀਏ ਦੀਆਂ ਸੈਟਿੰਗਾਂ ਦੀ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja nośników wymiennych
Comment[pt]=Configurar as definições de suportes removíveis
Comment[pt_BR]=Configure as configurações de mídias removíveis
Comment[ro]=Configurează medii detașabile
Comment[ru]=Настроить съёмный носитель
Comment[sk]=Nastavuje vymeniteľné nosiče
Comment[sl]=Nastavitve odstranljivih nosilcev
Comment[sr]=Подесите преносне медије
Comment[sr@latin]=Podesite prenosne medije
Comment[sv]=Konfigurera inställningar för flyttbara media
Comment[tr]=Çıkarılabilir Ortam ayarlarını yapılandır
Comment[uk]=Налаштування параметрів портативних носіїв даних
Comment[vi]=Cấu hình cho các cài đặt đĩa đa phương tiện
Comment[zh_CN]=配置可移动介质设置
Comment[zh_TW]=設定可移除式媒體設定值
Comment=Configure Removable Media settings
Exec=toolbox run gnome-control-center removable-media
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/512x512/devices/media-removable.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=info
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Removable Media panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=toestel;stelsel;verstek;toepassing;voorkeur;cd;dvd;usb;klank;video;skyf;verwyderbaar;media;outoloop;
Keywords[ar]=جهاز;نظام;تطبيق;مبدئي;مفضل;قرص مضغوط;دي في دي;يو اس بي;صوت;فيديو;قرص;قابل للفصل;وسائط;تشغيل تلقائي;
Keywords[be]=прыстасаванне;сістэма;інфармацыя;звесткі;памяць;працэсар;версія;прадвызначанае;праграма;упадабанае;cd;dvd;usb;гук;аўдыя;відэа;дыск;зменны;носьбіт;аўтазапуск;аўтаматычны запуск;
Keywords[bg]=устройство;система;стандартна;приложение;програма;предпочитана;cd;dvd;usb;звук;аудио;видео;диск;преносим;носител;автоматично;стартиране;device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[bn_IN]=যন্ত্র;সিস্টেম;ডিফল্ট;আবেদন;পছন্দসই;সিডি;ডিভিডি;USB;অডিও;ভিডিও;ডিস্ক;অপসারণযোগ্য;মিডিয়া;অটোরান;
Keywords[ca]=dispositiu;sistema;informació;per defecte;aplicació;preferit;cd;dvd;usb;àudio;vídeo;disc;extraïble;multimèdia;execució automàtica;
Keywords[ca@valencia]=dispositiu;sistema;informació;per defecte;aplicació;preferit;cd;dvd;usb;àudio;vídeo;disc;extraïble;multimèdia;execució automàtica;
Keywords[ckb]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[cs]=zařízení;systém;výchozí;aplikace;preferovaný;preferovaná;upřednostňovaný;upřednostňovaná;cd;dvd;usb;zvuk;audio;video;disk;výměnný;výměnná;výměnné;vyměnitelný;vyměnitelná;vyměnitelné;média;médium;automatické spuštění;
Keywords[da]=enhed;system;standard;program;foretrukken;cd;dvd;usb;lyd;video;disk;flytbar;medie;autokørsel;
Keywords[de]=Gerät;System;Information;Speicher;Prozessor;Version;Vorgabe;Anwendung;Ersatz;bevorzugt;CD;DVD;USB;Audio;Video;Medien;Wechsel;Medien;Autostart;
Keywords[el]=συσκευή;σύστημα;προεπιλογή;εφαρμογή;προτιμώμενη;cd;dvd;usb;ήχος;βίντεο;δίσκος;αφαιρέσιμος;μέσα;αυτόματη εκτέλεση;device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[en_GB]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[eo]=aparato;sistemo;implicita;aplikaĵo;preferita;kd;dvd;usb;sono;video;disko;demetebla;datumportilo;aŭtomata;lanĉo;
Keywords[es]=dispositivo;sistema;predeterminado;aplicación;preferido;cd;dvd;usb;sonido;vídeo;disco;extraíble;medio;autoejecutar;
Keywords[eu]=gailua;sistema;lehenetsia;aplikazioa;hobetsia;cd;dvd;usb;audioa;bideoa;diskoa;aldagarria;euskarria;exekuzioa;
Keywords[fa]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;دستگاه;سامانه;سیستم;اطلاعات;حافظه;پردازشگر;نسخه;پیش‌گزیده;برنامه;یدکی;ترجیح‌شده;سی‌دی;دی‌وی‌دی;یواس‌بی;صوت;ویدئو;دیسک;قابل حذف;رسانه;اجرا خودکار;
Keywords[fi]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;laite;järjestelmä;tiedot;muisti;suoritin;prosessori;versio;oletukset;sovellus;suositellut;automaattikäynnistys;ääni;irrotettava;ulkoinen;
Keywords[fr]=périphérique;système;par défaut;application;préférée;cd;dvd;usb;audio;vidéo;disque;amovible;média;exécution automatique;
Keywords[fur]=dispositîf;sisteme;predefinît;preferît;preferide;cd;dvd;usb;audio;video;disc;estraibil;multimedia;esecuzion;autorun;
Keywords[gd]=uidheam;siostam;bunaiteach;aplacaid;as fhearr;cd;dvd;usb;fuaim;video;diosg;so-ghiùlain;meadhanan;fèin-ruith;device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[gl]=dispositivo;sistema;predeterminado;aplicación;fallback;alternativo;preferido;cd;dvd;usb;son;video;disco;extraíbel;medio;autoexecutar;
Keywords[he]=התקן;מערכת;מידע;זיכרון;זכרון;מעבד;גרסה;בררת מחדל;יישום;העדפה;מועדף;גיבוי;דיסק;תקליטור;DVD;USB;שמע;אודיו;חוזי;וידאו;נשלף;נתיק;מדיה;הפעלה אוטומטית;
Keywords[hr]=uređaj;sustav;zadano;aplikacija;poželjno;cd;dvd;usb;zvuk;video;disk;prijenosni;medij;automomatsko pokretanje;
Keywords[hu]=eszköz;rendszer;információk;memória;processzor;verzió;alapértelmezett;alkalmazás;előnyben részesített;cd;dvd;usb;hang;videó;lemez;eltávolítható;cserélhető;média;automatikus futtatás;autorun;
Keywords[id]=perangkat;sistem;bawaan;aplikasi;disukai;cd;dvd;usb;audio;video;cakram;dapat dicopot;media;autorun;
Keywords[is]=tæki;kerfi;sjálfgefið;forrit;valið;cd;dvd;usb;hljóð;mynd;disk;útskiptanlegt;miðill;sjálfræsing;
Keywords[it]=dispositivo;sistema;predefinita;predefinito;predefinita;applicazione;preferite;cd;dvd;usb;audio;video;disco;rimovibile;media;multimedia;esecuzione;autorun;
Keywords[ja]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;デバイス;システム;デフォルト;既定;アプリケーション;設定;オーディオ;音声;音楽;ミュージック;ビデオ;動画;ディスク;リムーバブルメディア;媒体;自動起動;オートラン;
Keywords[kk]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;құрылғы;жүйе;үнсіз келісім;қолданба;таңдамалы;аудио;видео;диск;ауыстырмалы;тасушы;автожөнелту;
Keywords[ko]=device;장치;system;시스템;default;기본값;application;앱;애플리케이션;응용 프로그램;preferred;우선;cd;dvd;usb;audio;오디오;video;비디오;disc;디스크;removable;이동식;media;미디어;autorun;자동 실행;
Keywords[lt]=įrenginys;sistema;numatytoji;programa;pageidaujama;cd;dvd;usb;audio;video;diskas;išimama;laikmena;autopaleidimas;
Keywords[lv]=ierīce;sistēma;noklusējums;lietotne;cd;dvd;usb;audio;video;disks;izņemams;noņemamas;vide;nesējs;datu nesējs;automātiski palaist;device;system;default;application;preferred;disc;removable;media;autorun;
Keywords[mjw]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[ml]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[ms]=peranti;sistem;lalai;aplikasi;dikehendaki;cd;dvd;usb;audio;video;cakera;boleh alih;media;auto-jalan;
Keywords[nb]=enhet;system;forvalg;program;foretrukket;cd;dvd;usb;lyd;video;plate;avtagbar;medie;automatisk kjøring;
Keywords[ne]=उपकरण;प्रणाली;पूर्वनिर्धारित;मनपरेको;अनुप्रयोग;सीडी;डीभिडी;यूएसबी;अडियो;भिडियो;डिस्क;हटाउन सकिने;मिडिया;स्वचालित;
Keywords[nl]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;apparaat;standaard;toepassing;voorkeur;schijf;verwijderbaar;
Keywords[oc]=periferic;sistèma;per defaut;aplicacion;preferida;cd;dvd;usb;àudio;vidèo;disc;amovible;mèdia;execucion automatica;
Keywords[pa]=ਡਿਵਾਈਸ;ਡੀਵਾਈਸ;ਯੰਤਰ;ਜੰਤਰ;ਡਿਫਾਲਟ;ਮੂਲ;ਐਪਲੀਕੇਸ਼ਨ;ਤਰਜੀਹੀ;ਪਸੰਦ;ਸੀਡੀ;ਡੀਵੀਡੀ;ਆਡੀਓ;ਯੂਐਸਬੀ;ਵੀਡੀਓ;ਹਟਾਉਣਯੋਗ;ਵਿਡੀਓ;ਮੀਡੀਆ;ਆਟੋ-ਰਨ;
Keywords[pl]=urządzenie;system;domyślne;programy;aplikacje;domyślny;program;aplikacja;preferowane;cd;dvd;usb;dźwięk;audio;wideo;video;płyta;dysk;wymienny;nośnik;automatyczne;uruchamianie;autorun;
Keywords[pt]=dispositivo;sistema;predefinição;aplicação;preferido;cd;dvd;usb;áudio;vídeo;disco;removível;media;autoiniciar;suporte;
Keywords[pt_BR]=dispositivo;sistema;padrão;aplicativo;preferido;cd;dvd;usb;áudio;vídeo;unidade;removível;mídia;autorun;
Keywords[ro]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;dispozitiv;sistem;implicit;implicită;implicite;aplicație;aplicații;preferate;preferată;amovibil;autopornire;
Keywords[ru]=устройство;система;по умолчанию;приложение;предпочтительный;cd;dvd;usb;аудио;видео;диск;съёмный;съемный;носитель;автозапуск;
Keywords[sk]=zariadenie;systém;predvolené;aplikácia;uprednostňované;cd;dvd;usb;audio;video;disk;vymeniteľný;nosič;médium;médiá;spustenie;samospustenie;automatické;otvorenie;otváranie;
Keywords[sl]=naprava;sistem;podrobnosti;pomnilnik;procesor;različica;privzeto;program;povrnjeno:prednostno;cd;dvd;usb;zvok;slika;video;disk;odstrani;predstavnost;samodejni zagon;
Keywords[sr]=уређај;систем;основно;програм;омиљено;цд;двд;усб;звук;снимак;диск;уклоњиви;медијум;носач;самопокретање;uređaj;sistem;osnovno;program;omiljeno;cd;dvd;usb;zvuk;snimak;disk;uklonjivi;medijum;nosač;samopokretanje;device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[sr@latin]=uređaj;sistem;osnovno;program;omiljeno;cd;dvd;usb;zvuk;snimak;disk;uklonjivi;medijum;nosač;samopokretanje;uređaj;sistem;osnovno;program;omiljeno;cd;dvd;usb;zvuk;snimak;disk;uklonjivi;medijum;nosač;samopokretanje;device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[sv]=enhet;system;standard;program;föredragen;cd;dvd;usb;ljud;video;skiva;flyttbar;media;automatisk körning;
Keywords[tr]=aygıt;sistem;öntanımlı;uygulama;tercihedilen;yeğlenen;cd;dvd;usb;ses;video;disk;çıkarılabilir;ortam;otomatikçalıştır;
Keywords[uk]=пристрій;система;типове;програма;бажане;cd;dvd;usb;аудіо;відео;диск;знімний;носій;автозапуск;
Keywords[vi]=device;thiết bị;thiet bi;system;hệ thống;he thong;default;mặc định;mac dinh;dinh;application ứng dụng;ung dung;fallback;preferred;ưa thích;ua thich;cd;dvd;usb;audio;video;disc;đĩa;dia;removable;di động;di dong;media;đa phương tiện;da phuong tien;autorun;tự chạy;tu chay;
Keywords[zh_CN]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;设备;系统;默认;应用程序;首选;音频;视频;光盘;光碟;盘片;可擦写;可移除;可移动;媒体;介质;自动运行;
Keywords[zh_TW]=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;裝置;系統;預設;應用程式;偏好;首選;音訊;視訊;光碟;碟片;可移除;可移除式;媒體;自動執行;
Keywords=device;system;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
