[Desktop Entry]
Name[af]=Soek
Name[an]=Buscar
Name[ar]=البحث
Name[as]=বিচাৰক
Name[ast]=Guetar
Name[az]=Axtar
Name[be]=Пошук
Name[be@latin]=Šukaj
Name[bg]=Тър­се­не
Name[bn]=সন্ধান
Name[bn_IN]=অনুসন্ধান
Name[br]=Klask
Name[bs]=Traži
Name[ca]=Cerca
Name[ca@valencia]=Busca
Name[ckb]=گەڕان
Name[crh]=Qıdır
Name[cs]=Hledání
Name[cy]=Chwilio
Name[da]=Søgning
Name[de]=Suchen
Name[dz]=འཚོལ་ཞིབ།
Name[el]=Αναζήτηση
Name[en_CA]=Search
Name[en_GB]=Search
Name[en@shaw]=𐑕𐑻𐑗
Name[eo]=Serĉo
Name[es]=Buscar
Name[et]=Otsi
Name[eu]=Bilatu
Name[fa]=جست‌وجو
Name[fi]=Haku
Name[fr]=Recherche
Name[fur]=Cîr
Name[ga]=Cuardach
Name[gd]=Lorg
Name[gl]=Buscar
Name[gu]=શોધો
Name[he]=חיפוש
Name[hi]=ढूंढें
Name[hr]=Pretraga
Name[hu]=Keresés
Name[id]=Cari
Name[is]=Leita
Name[it]=Cerca
Name[ja]=検索
Name[ka]=ძებნა
Name[kab]=Nadi
Name[kk]=Іздеу
Name[km]=ស្វែងរក
Name[kn]=ಹುಡುಕು
Name[ko]=검색
Name[ku]=Lê bigere
Name[ky]=Издөө
Name[lt]=Paieška
Name[lv]=Meklēt
Name[mai]=खोजू
Name[mg]=Karohy
Name[mjw]=Kiri
Name[mk]=Пребарувај
Name[ml]=തെരച്ചില്‍
Name[mn]=Хайх
Name[mr]=शोधा
Name[ms]=Gelintar
Name[my]=ရှာဖွေရန်
Name[nb]=Søk
Name[nds]=Sök
Name[ne]=खोजी गर्नुहोस्
Name[nl]=Zoeken
Name[nn]=Søk
Name[nso]=Nyakišiša
Name[oc]=Recercar
Name[or]=ଖୋଜନ୍ତୁ
Name[pa]=ਖੋਜ
Name[pl]=Wyszukiwanie
Name[pt]=Procurar
Name[pt_BR]=Pesquisa
Name[ro]=Căutare
Name[ru]=Поиск
Name[rw]=Gushaka
Name[si]=සොයන්න
Name[sk]=Vyhľadávanie
Name[sl]=Iskanje ~
Name[sq]=Kërko
Name[sr]=Претрага
Name[sr@latin]=Pretraga
Name[sv]=Sök
Name[ta]=தேடு
Name[te]=శోధించు
Name[tg]=Ҷустуҷӯ
Name[th]=ค้นหา
Name[tr]=Arama
Name[ug]=ئىزدە
Name[uk]=Пошук
Name[uz]=Qidirish
Name[uz@cyrillic]=Қидириш
Name[vi]=Tìm kiếm
Name[xh]=Khangela
Name[zh_CN]=搜索
Name[zh_HK]=搜尋
Name[zh_TW]=搜尋
Name[zu]=Hlola
Name=Search (container)
Comment[af]=Kies watter programme soekresultate wys in die Aktiwiteitoorsig
Comment[an]=Controlar qué aplicacions amuestran resultaus de busca en l'anvista de actividatz
Comment[ar]=تحكم في التطبيقات التي ستُعرض نتائج البحث منها في منظور الأنشطة
Comment[as]=কোনবোৰ এপ্লিকেচনে কাৰ্য্যসমূহ অভাৰভিউত ফলাফলসমূহ দেখুৱায় নিয়ন্ত্ৰণ কৰক
Comment[be]=Вызначэнне праграм, якія паказваюць вынікі пошуку ў Аглядзе Заняткаў
Comment[bg]=Определяне на приложенията, които да показват резултати в прегледа на действията
Comment[bn_IN]=ক্রিয়াকলাপ পূর্বরূপে কোন অ্যাপ্লিকেশনগুলি সন্ধান ফলাফল দেখাবে তা নিয়ন্ত্রণ করুন
Comment[bs]=Kontrolira koji programi prikazuju rezultate pretrage u Pregledu Aktivnosti
Comment[ca]=Controleu quines aplicacions mostren resultats de cerca a la vista general d'activitats
Comment[ca@valencia]=Controleu quines aplicacions mostren resultats de busca a la vista general d'activitats
Comment[cs]=Ovládejte, které aplikace mohou zobrazovat výsledky hledání v přehledu Činnosti
Comment[da]=Bestem hvilke programmer, der viser søgeresultater i aktivitetsoversigten
Comment[de]=Legen Sie fest, welche Anwendungen Suchergebnisse in der Aktivitätenübersicht anzeigen
Comment[el]=Ελέγξτε ποιες εφαρμογές εμφανίζουν αποτελέσματα αναζήτησης στην επισκόπηση Δραστηριότητες
Comment[en_GB]=Control which applications show search results in the Activities Overview
Comment[eo]=Difini por kiuj aplikaĵoj montri serĉajn rezultojn en la Aktivecoj-Superrigardo
Comment[es]=Controlar qué aplicaciones muestran resultados de búsqueda en la vista de actividades
Comment[et]=Määra, milliste rakenduste otsingutulemused on näha tegevuste ülevaates
Comment[eu]=Kontrolatu zer aplikaziok erakusten dituzten bilaketen emaitzak Jardueren ikuspegian
Comment[fa]=واپایش برنامه‌های کاربردی‌ای که در نمای کلی فعّالیت‌ها، نتیجه نشان می‌دهند
Comment[fi]=Mitkä ohjelmat näyttävät hakutuloksia Toiminnot-näkymässä
Comment[fr]=Contrôler quelles applications affichent les résultats d’une recherche dans la vue d’ensemble des activités
Comment[fur]=Controle cualis aplicazions a mostrin risultâts di ricercje te panoramiche ativitâts
Comment[gd]=Stiùirich na h-aplacaidean a sheallas toraidhean luirg air foir-shealladh na gnìomhachd
Comment[gl]=Controle que aplicacións mostran resultados de busca na Vista de actividades
Comment[gu]=પ્રવૃત્તિ ઝાંખીમાં ક્યાં કાર્યક્રમો શોધ પરિણામોને બતાવે છે તેની પર નિયંત્રણ કરો
Comment[he]=שליטה באילו יישומים יציגו תוצאות חיפוש בסקירת פעילויות
Comment[hi]=नियंत्रण के लिए जो आवेदन गतिविधियों के अवलोकन में खोज परिणाम बताते हैं
Comment[hr]=Upravljajte koje će aplikacije prikazati rezultate pretrage u pregledu aktivnosti
Comment[hu]=A Tevékenységek áttekintésben találatokat megjelenítő alkalmazások beállítása
Comment[id]=Kendalikan aplikasi mana yang menampilkan hasil pencarian dalam Ringkasan Aktivitas
Comment[is]=Stjórnaðu hvaða forrit birta leitarniðurstöður í virkniyfirlitinu
Comment[it]=Controlla quali applicazioni mostrano risultati di ricerca nella panoramica attività
Comment[ja]=アクティビティ画面で検索結果を表示するアプリケーションを設定します
Comment[kk]=Көріністе қай қолданбалар іздеу нәтижелерін көрсететінінді басқарыңыз
Comment[kn]=ಯಾವ ಅನ್ವಯಗಳು ಚಟುವಟಿಕೆಗಳ ಅವಲೋಕನದಲ್ಲಿ ಹುಡುಕು ಫಲಿತಾಂಶವನ್ನು ತೋರಿಸುತ್ತದೆ ಎನ್ನುವುದನ್ನು ನಿಯಂತ್ರಿಸಿ
Comment[ko]=어떤 프로그램에서 활동 내역에 검색 결과를 표시할지 설정합니다.
Comment[lt]=Valdykite, kurios programos rodo paieškos rezultatus veiklų apžvalgoje
Comment[lv]=Noteikt, kuras lietotnes rāda meklēšanas rezultātus aktivitāšu pārskatā
Comment[ml]=പ്രവര്‍ത്തനങ്ങളില്‍ ഏതൊക്കെ പ്രയോഗങ്ങള്‍ തെരയല്‍ ഫലങ്ങള്‍ കാണുമെന്ന് തീരുമാനിക്കുക
Comment[mr]=क्रिया पूर्ववलोकनमध्ये कोणते ॲप्लिकेशन्स शोध परिणाम दाखवतात ते नियंत्रीत करा
Comment[ms]=Kawal aplikasi yang manakah tunjuk keputusan gelintar dalam Selayang Pandang Aktiviti
Comment[nb]=Kontroller hvilke programmer som viser resultater i aktivitetsoversikten
Comment[nl]=Regelen welke toepassingen zoekresultaten tonen in het activiteitenoverzicht
Comment[oc]=Controlar quinas aplicacions afichan los resultats d'una recèrca dins la vista d'ensemble de las activitats
Comment[or]=କାର୍ଯ୍ୟକଳାପ ସମୀକ୍ଷାରେ କେଉଁ ପ୍ରୟୋଗଗୁଡ଼ିକ ସନ୍ଧାନ ଫଳାଫଳ ଦର୍ଶାଇଥାଏ ତାହାକୁ ନିୟନ୍ତ୍ରଣ କରିଥାଏ
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿਹੜੀਆਂ ਐਪਲੀਕੇਸ਼ਨ ਸਰਗਰਮੀ ਝਲਕ ਵਿੱਚ ਖੋਜ ਨਤੀਜਿਆਂ ਵਿੱਚ ਦਿਸਣ
Comment[pl]=Sterowanie programami wyświetlającymi wyniki wyszukiwania na ekranie podglądu
Comment[pt]=Controlar que aplicações mostram resultados de pesquisa no Resumo de Atividades
Comment[pt_BR]=Controle quais aplicativos mostram resultados de pesquisa no panorama de atividades
Comment[ro]=Controlează ce aplicații arată rezultate de căutare în panorama de activități
Comment[ru]=Какие приложения показывают результаты поиска в режиме «Обзор»
Comment[sk]=Ovláda zoznam aplikácií, ktoré môžu zobraziť výsledky v prehľade aktivít
Comment[sl]=Nadzirajte, kateri programi v pregledu dejavnosti prikazujejo rezultate iskanja
Comment[sr]=Одлучите који програми ће приказивати резултате претраге у прегледу активности
Comment[sr@latin]=Odlučite koji programi će prikazivati rezultate pretrage u pregledu aktivnosti
Comment[sv]=Kontrollera vilka program som visar sökresultat i Aktivitetsöversikten
Comment[ta]=செயல்பாடுகளின் மேலோட்டப் பார்வையில், எந்த பயன்பாடுகள் தேடல் முடிவுகளைக் காண்பிக்க வேண்டும் என்பதைக் கட்டுப்படுத்தவும்
Comment[te]=క్రియాశీలతల వోవర్‌వ్యూ నందు యే అనువర్తనములు శోధన ఫలితాలను చూపాలో నియంత్రించును
Comment[tg]=Идора кунед, ки кадом барномаҳо натиҷаҳои ҷустуҷӯро дар хулосаи фаъолият намоиш медиҳанд
Comment[th]=กำหนดโปรแกรมที่จะแสดงผลการค้นหาในหน้าภาพรวมกิจกรรม
Comment[tr]=Hangi uygulamaların arama sonuçlarını Etkinlikler Genel Görünümünde göstereceğini belirleyin
Comment[uk]=Вказує, які програми показувати у результатах пошуку в огляді діяльності
Comment[vi]=Điều chỉnh ứng dụng nào hiển thị kết quả tìm kiếm trong một “Tổng quan hoạt động”
Comment[zh_CN]=控制在活动概览中显示哪些程序的搜索结果
Comment[zh_HK]=控制在活動概覽中哪些應用程式會顯示在搜尋結果中
Comment[zh_TW]=控制在活動概覽中哪些應用程式會顯示在搜尋結果中
Comment=Control which applications show search results in the Activities Overview
Exec=toolbox run gnome-control-center search
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/preferences-system-search.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalizationSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=search
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Search panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=soek;vind;indeks;versteek;privaatheid;resultate;
Keywords[an]=buscar;busca;indiz;amagar;privacidat;resultaus;
Keywords[ar]=بحث;إخفاء;نتائج;خصوصية;
Keywords[as]=Search;Find;Index;Hide;Privacy;Results;
Keywords[be]=Пошук;Індэкс;Схаваць;Прыватнасць;Асабістыя даныя;Вынікі;
Keywords[bg]=търсене;намиране;индекс;скриване;личен;частен;резултати;search;find;index;hide;privacy;results;
Keywords[bn_IN]=সন্ধান;খোঁজ;সূচি;লুকানো;গোপনীয়তা;ফলাফল;
Keywords[bs]=Pretraga;Pronađi;Sakri;rivatnost;Rezultati;
Keywords[ca]=Cerca;Troba;Índex;Oculta;Privacitat;Resultats;
Keywords[ca@valencia]=Busca;Troba;Índex;Oculta;Privacitat;Resultats;
Keywords[ckb]=Search;Find;Index;Hide;Privacy;Results;
Keywords[cs]=hledání;hledat;najít;index;skrýt;soukromí;privátní;výsledky;
Keywords[da]=Søg;Find;Indeks;Skjul;Privatliv;Resultater;
Keywords[de]=Suchen;Finden;Index;Verbergen;Privatsphäre;Ergebnisse;
Keywords[el]=Αναζήτηση;Εύρεση;Ευρετήριο;Απόκρυψη;Ιδιωτικότητα;Αποτελέσματα;Search;Find;Index;Hide;Privacy;Results;
Keywords[en_GB]=Search;Find;Index;Hide;Privacy;Results;
Keywords[eo]=Serĉi;Trovi;Indeksi;Kaŝi;Privateco;Rezultoj;
Keywords[es]=buscar;búsqueda;índice;ocultar;privacidad;resultados;
Keywords[et]=otsing;leia;leidmine;indeks;peida;peitmine;varjamine;privaatsus;tulemused;
Keywords[eu]=Bilaketa;Bilatu;Indizea;Ezkutatu;Pribatua;Emaitzak;
Keywords[fa]=Search;Find;Index;Hide;Privacy;Results;جست‌وجو;پیدا;فهرست;مخفی; حریم خصوصی;محرمانگی;نتایج;
Keywords[fi]=Search;Find;Index;Hide;Privacy;Results;Haku;Etsi;Indeksi;Piilota;Yksityisyys;Tulokset;Hakutulokset;
Keywords[fr]=Rechercher;Recherche;Index;Masquer;Confidentialité;Privé;Résultats;
Keywords[fur]=Cîr;Cjate;Indiç;Plate;Privacy;Risultâts;
Keywords[gd]=Search;Find;Index;Hide;Privacy;Results;lorg;inneacs;clàr-amais;falaich;prìobhaideachd;toraidhean;
Keywords[gl]=Buscar;Atopar;Índice;Oculto;Privacidade;Resultados;
Keywords[gu]=શોધો;શોધો;અનુક્રમણિકા;છુપાડો;ખાનગી;પરિણામો;
Keywords[he]=חיפוש;מציאה;חפש;מצא;למצוא;לחפש;אינדקס;מפתח;הסתרה;החבאה;פרטיות;תוצאות;
Keywords[hi]=खोज;पता लगाएं;सूचकांक;छिपाएँ;गोपनीयता;परिणाम;
Keywords[hr]=Pretraga;Pretraži;Sadržaj;Sakrij;Privatnost;Rezultati;
Keywords[hu]=Keresés;Indexelés;Elrejtés;Magánszféra;Találatok;Eredmények;
Keywords[id]=Cari;Temukan;Indeks;Sembunyikan;Privasi;Hasil;
Keywords[is]=Leita;Finna;Yfirlit;Fela;Gagnaleynd;Niðurstöður;
Keywords[it]=Cerca;Trova;Indice;Nascondi;Privacy;Risultati;
Keywords[ja]=Search;Find;Index;Hide;Privacy;Results;サーチ;検索;インデックス;索引;非表示;プライバシー;結果;
Keywords[kk]=Search;Find;Index;Hide;Privacy;Results;Іздеу;Табу;Индекс;Жасыру;Жекелік;Нәтижелер;
Keywords[kn]=ಶೋಧಿಸು;ಹುಡುಕು;ಸೂಚಿ;ಅಡಗಿಸು;ಗೌಪ್ಯತೆ;ಫಲಿತಾಂಶಗಳು;
Keywords[ko]=Search;검색;Find;찾기;Index;인덱스;색인;Hide;숨기기;Privacy;개인;정보;사생활;보호;Results;결과;
Keywords[lt]=Paieška;rasti;indeksas;slėpti;privatumas;rezultatai;
Keywords[lv]=Meklēt;Atrast;Indekss;Rādītājs;Slēpt;Privātums;Rezultāti;
Keywords[mjw]=Search;Find;Index;Hide;Privacy;Results;
Keywords[ml]=Search;Find;Index;Hide;Privacy;Results;
Keywords[mr]=सर्च;फाइंड;इंडेक्स;छुपे करा;गोपणीयता;परिणाम;
Keywords[ms]=Gelintar;Cari;Indeks;Sembunyi;Kerahsiaan;Keputusan;
Keywords[nb]=Søk;finn;Indeks;Skjul;Personvern;Resultater;
Keywords[nl]=Search;Find;Index;Hide;Privacy;Results;Zoeken;Verbergen;
Keywords[oc]=Recercar;Recèrca;Indèx;Amagar;Confidencialitat;Privat;Resultats;
Keywords[or]=ସନ୍ଧାନ କରନ୍ତୁ;ଖୋଜନ୍ତୁ;ଅନୁକ୍ରମଣିକା;ଲୁଚନ୍ତୁ;ଗୋପନୀୟତା;ଫଳାଫଳ;
Keywords[pa]=ਖੋਜ;ਲੱਭੋ;ਲੱਭਣਾ;ਇੰਡੈਕਸ;ਤਤਕਰਾ;ਪਰਾਈਵੇਸੀ;ਨਤੀਜੇ;Search;Find;Index;Hide;Privacy;Results;
Keywords[pl]=Wyszukiwanie;Znajdź;Szukaj;Wyszukaj;Indeksowanie;Index;Ukryj;Ukrywanie;Prywatność;Wyniki;
Keywords[pt]=Procurar;Pesquisar;Localizar;Índice;Ocultar;Esconder;Privacidade;Resultados;
Keywords[pt_BR]=Pesquisa;Localizar;Índice;Ocultar;Privacidade;Resultados;
Keywords[ro]=Search;Find;Index;Hide;Privacy;Results;Caută;Căutare;Găsire;Ascunde;Confidențialitate;Rezultate;
Keywords[ru]=Поиск;Найти;Индекс;Скрыть;Конфиденциальность;Результаты;
Keywords[sk]=Vyhľadávanie;Nájsť;Index;Skryť;Súkromie;Výsledky;
Keywords[sl]=iskanje;išči;najdi;kazalo;skrij;zasebnost;zadetki;
Keywords[sr]=нађи;тражи;пронађи;потражи;попис;индекс;сакриј;приватност;резултати;
Keywords[sr@latin]=nađi;traži;pronađi;potraži;popis;indeks;sakrij;privatnost;rezultati;
Keywords[sv]=Sök;Hitta;Index;Göm;Sekretess;Resultat;
Keywords[ta]=தேடு;கண்டறி;அட்டவணை;மறை;தனியுரிமை;முடிவுகள்;
Keywords[te]=అన్వేషించు;కనుగొను;విషయసూచి;మరగునవుంచు;గోప్యత;ఫలితాలు;
Keywords[tg]=Ҷустуҷӯ;Ёфтан;Индекс;Пинҳон кардан;Махфият;Натиҷаҳо;
Keywords[th]=ค้นหา;หา;ดัชนี;ซ่อน;ความเป็นส่วนตัว;ผล;
Keywords[tr]=Ara;Bul;Endeks;Gizle;Gizlilik;Sonuçlar;
Keywords[ug]=Search;Find;Index;Hide;Privacy;Results;ئىزدەش;تېپىش;ئىندېكس;يوشۇرۇش;شەخسىيەت;نەتىجىلەر;
Keywords[uk]=Пошук;Знайти;Індекс;Сховати;Конфіденційність;Результати;
Keywords[vi]=Search;Tìm;tim;Find;Index;Mục;lục;muc;luc;Hide;Ẩn;an;Privacy;Riêng;tư;rieng;tu;Results;Kết;quả;ket;qua;
Keywords[zh_CN]=Search;Find;Index;Hide;Privacy;Results;搜索;查找;寻找;索引;隐藏;隐私;结果;
Keywords[zh_HK]=Search;Find;Index;Hide;Privacy;Results;搜尋;尋找;索引;隱藏;私隱;結果;
Keywords[zh_TW]=Search;Find;Index;Hide;Privacy;Results;搜尋;尋找;索引;隱藏;隱私;結果;
Keywords=Search;Find;Index;Hide;Privacy;Results;
