[Desktop Entry]
Name[af]=Netwerk
Name[an]=Ret
Name[ar]=الشبكة
Name[as]=নেটৱৰ্ক
Name[ast]=Rede
Name[be]=Сетка
Name[bg]=Мрежа
Name[bn]=নেটওয়ার্ক
Name[bn_IN]=নেটওয়ার্ক
Name[bs]=Mreža
Name[ca]=Xarxa
Name[ca@valencia]=Xarxa
Name[ckb]=ڕایەڵە
Name[crh]=Şebeke
Name[cs]=Síť
Name[da]=Netværk
Name[de]=Netzwerk
Name[el]=Δίκτυο
Name[en_GB]=Network
Name[eo]=Reto
Name[es]=Red
Name[et]=Võrk
Name[eu]=Sarea
Name[fa]=شبکه
Name[fi]=Verkko
Name[fr]=Réseau
Name[fur]=Rêt
Name[ga]=Líonra
Name[gd]=Lìonra
Name[gl]=Rede
Name[gu]=નેટવર્ક
Name[he]=רשת
Name[hi]=नेटवर्क
Name[hr]=Mreža
Name[hu]=Hálózat
Name[id]=Jaringan
Name[is]=Netkerfi
Name[it]=Rete
Name[ja]=ネットワーク
Name[kab]=Aẓeṭṭa
Name[kk]=Желі
Name[km]=បណ្ដាញ
Name[kn]=ಜಾಲಬಂಧ
Name[ko]=네트워크
Name[ky]=Тармак
Name[lt]=Tinklas
Name[lv]=Tīkls
Name[mjw]=Network
Name[mk]=Мрежа
Name[ml]=ശൃംഖല
Name[mr]=नेटवर्क
Name[ms]=Rangkaian
Name[nb]=Nettverk
Name[ne]=सञ्जाल
Name[nl]=Netwerk
Name[oc]=Ret
Name[or]=ନେଟୱର୍କ
Name[pa]=ਨੈੱਟਵਰਕ
Name[pl]=Sieć
Name[pt]=Rede
Name[pt_BR]=Rede
Name[ro]=Rețea
Name[ru]=Сеть
Name[sk]=Sieť
Name[sl]=Omrežje
Name[sr]=Мрежа
Name[sr@latin]=Mreža
Name[sv]=Nätverk
Name[ta]=பிணையம்
Name[te]=నెట్‌వర్క్
Name[tg]=Шабака
Name[th]=เครือข่าย
Name[tr]=Ağ
Name[ug]=تور
Name[uk]=Мережа
Name[vi]=Mạng
Name[zh_CN]=网络
Name[zh_HK]=網絡
Name[zh_TW]=網路
Name=Network (container)
Comment[af]=Bepaal hoe om te koppel aan die internet
Comment[an]=Controlar cómo se connecta ta Internet
Comment[ar]=تحكم في اتصالك بالإنترنت
Comment[as]=ইন্টাৰনেটৰ সৈতে কেনেকৈ সংযোগ কৰিব নিয়ন্ত্ৰণ কৰক
Comment[be]=Настройка злучэння з сецівам
Comment[bg]=Настройки на връзката към Интернет
Comment[bn_IN]=ইন্টারনেটের সংগে আপনার সংযোগের ধরন নিয়ন্ত্রণ করুন
Comment[bs]=Kontroliši povezivanje na Internet
Comment[ca]=Controleu com us connecteu a Internet
Comment[ca@valencia]=Controleu com vos connecteu a Internet
Comment[crh]=İnternet'ke nasıl bağlanğanıñıznı muraqabe etiñiz
Comment[cs]=Určit, jak se připojujete k Internetu
Comment[da]=Angiv hvordan du forbinder til internettet
Comment[de]=Legt fest, wie mit dem Internet verbunden wird
Comment[el]=Ελέξτε τον τρόπο σύνδεσης με το διαδίκτυο
Comment[en_GB]=Control how you connect to the Internet
Comment[eo]=Regi kiel vi konektas al la interreto
Comment[es]=Controlar cómo se conecta a Internet
Comment[et]=Internetiga ühendumise viisi muutmine
Comment[eu]=Kontrolatu nola konektatzen zaren Internetera
Comment[fa]=واپایش شیوهٔ اتّصال به اینترنت
Comment[fi]=Hallitse internetyhteyden asetuksia
Comment[fr]=Contrôler votre façon de vous connecter à Internet
Comment[fur]=Controle cemût conetiti a Internet
Comment[gd]=Stiùirich an dòigh a cheanglas tu ris an eadar-lìon
Comment[gl]=Controle como se conecta a Internet
Comment[gu]=તમે કેવી રીતે ઇન્ટરનેટ સાથે જોડાવે તેને નિયંત્રિત કરો
Comment[he]=שליטה באופן החיבור לאינטרנט
Comment[hi]=नियंत्रित करें कैसे आप इंटरनेट से कनेक्ट होते हैं
Comment[hr]=Upravljajte načinom povezivanja na Internet
Comment[hu]=Internetkapcsolatok beállítása
Comment[id]=Kendalikan bagaimana Anda menyambung ke Internet
Comment[is]=Stjórnaðu hvernig þú tengist internetinu
Comment[it]=Controlla la connessione a Internet
Comment[ja]=ネットワークへの接続方法を設定します
Comment[kk]=Интернетке қалай байланысатыныңызды басқару
Comment[kn]=ಅಂತರಜಾಲದೊಂದಿಗೆ ನೀವು ಹೇಗೆ ಸಂಪರ್ಕಗೊಳ್ಳುತ್ತೀರಿ ಎನ್ನುವುದನ್ನು ನಿಯಂತ್ರಿಸಿ
Comment[ko]=어떻게 인터넷에 연결할지 정합니다
Comment[lt]=Valdykite, kaip jungiatės prie interneto
Comment[lv]=Noteikt, kā savienoties ar internetu
Comment[ml]=ഇന്റെര്‍നെറ്റില്‍ ബന്ധിപ്പിക്കുന്നതെങ്ങനെയെന്ന് തീരുമാനിക്കുന്നു
Comment[mr]=इंटरनेटशी कशी जोडणी करायची ते नियंत्रीत करा
Comment[ms]=Kawal bagaimana anda sambung ke Internet
Comment[nb]=Kontroller hvordan du kobler til internett
Comment[ne]=कसरी तपाईं इन्टरनेट जडान गर्ने बारे नियन्त्रण गर्नुहोस
Comment[nl]=Regelen hoe u verbinding maakt met het internet
Comment[oc]=Controlar vòstre biais de vos connectar a Internet
Comment[or]=ଇଣ୍ଟରନେଟ ସହିତ କିପରି ସଂଯୁକ୍ତ କରିବେ ତାହା ନିୟନ୍ତ୍ରଣ କରନ୍ତୁ
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿ ਇੰਟਰਨੈੱਟ ਨਾਲ ਤੁਸੀਂ ਕਿਵੇਂ ਕਨੈਕਟ ਹੋ
Comment[pl]=Sterowanie sposobem łączenia z Internetem
Comment[pt]=Controlar como se liga à Internet
Comment[pt_BR]=Controle como você conecta à Internet
Comment[ro]=Controlați modul în care vă conectați la Internet
Comment[ru]=Управление подключением к Интернету
Comment[sk]=Ovláda spôsob pripojenia k internetu
Comment[sl]=Nadzor nad načini povezovanja v internet
Comment[sr]=Управљајте вашим повезивањем на Интернет
Comment[sr@latin]=Upravljajte vašim povezivanjem na Internet
Comment[sv]=Kontrollera hur du ansluter till internet
Comment[ta]=நீங்கள் எப்படி இணையத்துடன் இணைகிறீர்கள் என்பதைக் கட்டுப்படுத்துங்கள்
Comment[te]=మీరు యింటర్నెట్‌కు యెలా అనుసంధానం కావాలో నియంత్రించు
Comment[tg]=Идора кунед, ки шумо чӣ тавр ба Интернет пайваст мешавед
Comment[th]=ควบคุมวิธีการเชื่อมต่อกับอินเทอร์เน็ตของคุณ
Comment[tr]=İnternete nasıl bağlandığınızı denetleyin
Comment[uk]=Вказати яким способом з'єднуватись з інтернетом
Comment[vi]=Điều khiển cách kết nối Internet
Comment[zh_CN]=控制连接到互联网的方式
Comment[zh_HK]=控制你如何連線至網際網絡
Comment[zh_TW]=控制您如何連線至網際網絡
Comment=Control how you connect to the Internet
Exec=toolbox run gnome-control-center network
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/places/network-workgroup.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-ConnectivitySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=network
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Network panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=নেটওয়ার্ক;আইপি;LAN;প্রক্সি;WAN;ব্রডব্যান্ড;মোডেম;ব্লুটুথ;VPN;ডিএনএস;
Keywords[ca]=Xarxa;IP;LAN;Servidor intermediari;WAN;Banda ampla;Mòdem;Bluetooth;vpn;DNS;
Keywords[cs]=síť;IP;LAN;proxy;WAN;širokopásmové;připojení;modem;Bluetooth;vpn;dns;
Keywords[da]=Netværk;IP;LAN;Proxy;WAN;Bredbånd;Modem;Bluetooth;vpn;DNS;
Keywords[de]=Netzwerk;LAN;IP;Proxy;WAN;Breitband;DSL;Modem;Bluetooth;VPN;Brücke;DNS;
Keywords[el]=Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;δίκτυο;IP;LAN;διαμεσολαβητής;WAN;ευρυζωνικό;Modem;Bluetooth;vpn;DNS;
Keywords[en_GB]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[eo]=Reto;Vifio;IP;LAN;Prokurilo;WAN;Larĝkapacita;Modemo;Bludento;VPR;DNS;
Keywords[es]=Red;IP;LAN;Proxy;WAN;Banda;ancha;Módem;Bluetooth;vpn;DNS;
Keywords[eu]=Sarea;IPa;LANa;Proxy-a;WANa;Bandazabala;Modema;Bluetooth-aa;VPNa;DNSa;
Keywords[fa]=Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;شبکه;آی پی;لن;پیشکار;پروکسی;ون;پهن‌باند;مودم;بلوتوث;وی پی ان;دی ان اس;ساناد;
Keywords[fi]=Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;lähiverkko;välityspalvelin;laajakaista;modeemi;erillisverkko;nimipalvelu;
Keywords[fr]=Réseau;IP;LAN;Mandataire;WAN;Large bande;Modem;Bluetooth;vpn;DNS;
Keywords[fur]=Rêt;Network;IP;LAN;Proxy;WAN;Broadband;Bande largje;Modem;Bluetooth;vpn;DNS;
Keywords[gl]=Rede;IP;LAN;Proxy;WAN;Banda larga;Modem;Bluetooth;vpn;DNS;
Keywords[he]=רשת;אלחוטי;אלחוטית;וייפיי;IP;רשת מקומית;מתווך;פרוקסי;אינטרנט;רשת רחבה;רוחב פס;מודם;בלוטות׳;DNS;vpn;Bluetooth;
Keywords[hr]=Mreža;Bežično;IP;Žično;Proxy;WAN;Širokopojasni internet;Modem;Bluetooth;vpn;DNS;
Keywords[hu]=Hálózat;IP;LAN;Proxy;WAN;Széles sáv;Szélessáv;Modem;Bluetooth;vpn;DNS;
Keywords[id]=Jaringan;IP;LAN;Proksi;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[it]=rete;network;IP;LAN;proxy;WAN;boradband;banda larga;modem;bluetooth;vpn;DNS;
Keywords[ja]=Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;ネットワーク;インターネット;有線;プロキシー;プロキシ;ブロードバンド;モデム;ブルートゥース;VPN;ドメイン名;ドメインネームサーバー;
Keywords[kk]=Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;Желі;Сымсыз;Прокси;Кеңжолақты;Модем;
Keywords[ko]=Network;네트워크;IP;LAN;랜;Proxy;프록시;WAN;인터넷;Broadband;브로드밴드;Modem;모뎀;Bluetooth;블루투스;vpn;가상사설망;;DNS;네임서버;
Keywords[lt]=Tinklas;IP;LAN;Proxy;WAN;Plačiajuostis;Modemas;Bluetooth;vpn;DNS;
Keywords[lv]=Tīkls;IP;LAN;Starpnieks;WAN;Platjosla;Modems;Bluetooth;vpn;DNS;
Keywords[mjw]=Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[ms]=Rangkaian;IP;LAN;Proksi;WAN;Jalur Lebar;Modem;Bluetooth;vpn;DNS;
Keywords[nb]=Nettverk;IP;LAN;Mellomtjener;WAN;Bredbånd;Modem;Blåtann;vpn;DNS;
Keywords[nl]=Network;Netwerk;IP;LAN;Proxy;WAN;Broadband;Breedband;Modem;Bluetooth;vpn;DNS;
Keywords[oc]=Ret;IP;LAN;Mandatari;WAN;Larga benda;Modèm;Bluetooth;vpn;DNS;
Keywords[pa]=ਨੈੱਟਵਰਕ;ਆਈਪੀ;ਬਰਾਡਬੈਂਡ;ਮਾਡਮ;ਬਲੂਟੁੱਥ;ਬਲੂਟੁੱਥ;ਵੀਪੀਐਨ;ਪਰਾਕਸੀ;ਵੈਨ;ਮੌਡਮ;ਡੀਐਨਐਸ;
Keywords[pl]=Sieć;Sieci;IP;LAN;Kabel;Pośrednik;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[pt]=Rede;IP;LAN;Proxy;WAN;Broadband;Banda;larga;Modem;Bluetooth;vpn;vlan;bridge;bond;DNS;
Keywords[pt_BR]=Rede;Network;IP,LAN;Proxy;WAN;Banda larga;Broadband;Modem;Bluetooth;vpn;DNS;
Keywords[ro]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;Rețea;
Keywords[ru]=Сеть;IP;LAN;Прокси;WAN;Мобильная;Модем;Bluetooth;vpn;DNS;
Keywords[sk]=sieť;IP;LAN;proxy;sprostredkovateľ;WAN;širokopásmové;modem;Bluetooth;vpn;DNS;
Keywords[sl]=omrežje;brezžično;Wi-Fi;Wifi;IP;LAN;Proxy;Posredniški;širokopasovno;modem;bluetooth;vpn;vlan;most;vez;DNS;
Keywords[sr]=мрежа;ИП;ЛАН;прокси;посредник;ВАН;броадбенд;широкопојасни;модем;блутут;впн;ДНС;mreža;IP;LAN;proksi;posrednik;VAN;broadbend;širokopojasni;modem;blutut;vpn;DNS;Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;mreza;sirokopojasni;
Keywords[sv]=Nätverk;IP;LAN;Proxy;WAN;Bredband;Modem;Bluetooth;Blåtand;vpn;DNS;
Keywords[tr]=Ağ;IP;LAN;Proxy;WAN;Broadband;Genişbant;Modem;Bluetooth;vpn;DNS;
Keywords[uk]=Мережа;IP;LAN;Проксі;WAN;Broadband;Модем;Bluetooth;vpn;DNS;
Keywords[zh_CN]=Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;网络;互联网协议;局域网;代理;广域网;宽带;调制解调器;蓝牙;虚拟专用网;域名系统;
Keywords[zh_TW]=Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;網路;區域網路;代理伺服器;寬頻;數據機;藍牙;區網;代理;藍芽;
Keywords=Network;IP;LAN;Proxy;WAN;Broadband;Modem;Bluetooth;vpn;DNS;
