[Desktop Entry]
Name[an]=Cuentas en linia
Name[ar]=حسابات الإنترنت
Name[as]=অনলাইন একাওন্টসমূহ
Name[ast]=Cuentes en llinia
Name[be]=Сеціўныя конты
Name[bn_IN]=অনলাইন অ্যাকাউন্ট
Name[bs]=Nalozi na mreži
Name[ca]=Comptes en línia
Name[ckb]=هەژمارەکانی سەرهێڵ
Name[crh]=Çevrimiçi Hesaplar
Name[cs]=Účty on-line
Name[da]=Onlinekonti
Name[de]=Online-Konten
Name[el]=Διαδικτυακοί λογαριασμοί
Name[en_GB]=Online Accounts
Name[eo]=Retaj kontoj
Name[es]=Cuentas en línea
Name[et]=Netikontod
Name[eu]=Lineako kontuak
Name[fa]=حساب‌های برخط
Name[fi]=Verkkotilit
Name[fr]=Comptes en ligne
Name[fur]=Ac­count­ ­on­line
Name[ga]=Cuntais ar Líne
Name[gd]=Cunntasan air loidhne
Name[gl]=Contas en liña
Name[gu]=ઓનલાઇન ખાતાઓ
Name[he]=חשבונות מקוונים
Name[hi]=ऑनलाइन खातों
Name[hr]=Mrežni računi
Name[hu]=On­line fi­ó­kok
Name[id]=Akun Daring
Name[is]=Aðgangar á neti
Name[it]=Account online
Name[ja]=オンラインアカウント
Name[kk]=Желілік тіркелгілер
Name[km]=គណនី​លើ​បណ្ដាញ
Name[kn]=ಅಂತರಜಾಲದಲ್ಲಿನ ಖಾತೆಗಳು
Name[ko]=온라인 계정
Name[lt]=Internetinės paskyros
Name[lv]=Tiešsaistes konti
Name[mjw]=Online Accounts
Name[mk]=Онлајн сметки
Name[mr]=ऑनलाइन खाते
Name[ms]=Akaun Dalam Talian
Name[nb]=Kontoer på nettet
Name[ne]=अनलाईन खाताहरू
Name[nl]=Online accounts
Name[nn]=Nettkontoar
Name[oc]=Comptes en linha
Name[or]=ଅନଲାଇନ ଖାତାଗୁଡ଼ିକ
Name[pa]=ਆਨਲਾਈਨ ਖਾਤੇ
Name[pl]=Konta online
Name[pt]=Contas online
Name[pt_BR]=Contas online
Name[ro]=Conturi online
Name[ru]=Сетевые ­учётные записи
Name[sk]=Účty služieb
Name[sl]=Spletni računi
Name[sr]=Налози на мрежи
Name[sr@latin]=Nalozi na mreži
Name[sv]=Nät­kont­on
Name[ta]=ஆன் லைன்  கணக்குகள்
Name[te]=ఆన్‌లైన్ ఖాతాలు
Name[tg]=Ҳисобҳои онлайн
Name[tr]=Çevrim İçi Hesaplar
Name[ug]=توردىكى ھېساباتلار
Name[uk]=Облікові записи в інтернеті
Name[vi]=Tài khoản trực tuyến
Name[zh_CN]=在线帐号
Name[zh_HK]=網上帳號
Name[zh_TW]=線上帳號
Name=Online Accounts (container)
Comment[af]=Koppel met aanlynrekeninge en kies waarvoor hulle gebruik moet word
Comment[an]=Connectar-se a las tuyas cuentas en linia y decidir ta qué usar-las
Comment[ar]=اتصل بحساباتك على الإنترنت و اختر ما الذي تستخدمه منهم
Comment[as]=আপোনাৰ অনলাইন একাওন্টসমূহৰ সৈতে সংযোগ কৰক আৰু সিহতক কিহৰ বাবে ব্যৱহাৰ কৰিব নিৰ্ধাৰণ কৰক
Comment[be]=Злучэнне з сеціўнымі контамі і іх прызначэнне
Comment[bg]=Свързване с регистрациите ви в някои сайтове и задаване за какво да се ползват
Comment[bn_IN]=আপনার অনলাইন অ্যাকাউন্টগুলিতে সংযোগ করুন এবং তাদের কী কাজে ব্যবহার করবেন তার স্থির করুন
Comment[bs]=Konektuj se na svoj online račun i odluči za šta ćeš ih koristiti
Comment[ca]=Connecteu-vos als comptes en línia i decidiu quin ús en voleu fer
Comment[ca@valencia]=Connecteu-vos als comptes en línia i decidiu quin ús en voleu fer
Comment[ckb]=هەژمارە سەرهێڵەکانت پەیوەستبکە و بڕیاربدە بۆ چی بەکاریان بێنی
Comment[cs]=Přihlaste se k účtům on-line a rozhodněte se, k čemu je používat
Comment[da]=Forbind til dine onlinekonti og beslut dig for hvad du vil bruge dem til
Comment[de]=Verbinden Sie sich mit Ihren Online-Konten und entscheiden Sie, wofür diese genutzt werden
Comment[el]=Συνδεθείτε με τους δικτυακούς λογαριασμούς σαε και αποφασίστε πού θα τους χρησιμοποιήσετε
Comment[en_GB]=Connect to your online accounts and decide what to use them for
Comment[eo]=Konektu al viajn retajn kontojn kaj elektu kiel uzi ilin
Comment[es]=Conectarse a sus cuentas en línea y decidir para qué usarlas
Comment[et]=Veebikontodega ühendumine ja määramine, milleks neid kasutatakse
Comment[eu]=Konektatu lineako zure kontuetara eta erabaki zertarako erabiliko dituzun
Comment[fa]=به حساب‌های برخطتان وصل شده و تصمیم بگیرید از آن‌ها برای چه استفاده‌ کنید
Comment[fi]=Liitä verkkotilisi ja päätä, mihin tarkoituksiin niitä käytetään
Comment[fr]=Connectez-vous à vos comptes en ligne et décidez de leur utilité
Comment[fur]=Conetiti ai tiei account online e decît cemût doprâju
Comment[gd]=Ceangail ris na cunntasan air loidhne ’s cuir romhad mar a thèid an cleachdadh
Comment[gl]=Conéctese ás súas contas en liña a decida para que usalas
Comment[gu]=તમારાં ઓનલાઇન ખાતામાં જોડાવો અને નક્કી કરો તે તેઓ માટે શું વાપરવુ છે
Comment[he]=התחברות לחשבונות המקוונים שלך ולהחליט למה לשמש אותם
Comment[hi]=आपके ऑनलाइन खातों से कनेक्ट करने और निर्णय क्या उनके लिए उपयोग करने के लिए
Comment[hr]=Povežite se sa svojim mrežnim računima i odredite za što ih želite koristiti
Comment[hu]=Kapcsolódás online fiókjaihoz, és felhasználási módjuk kiválasztása
Comment[id]=Sambung ke akun daring Anda dan tentukan mereka akan dipakai apa
Comment[is]=Tengstu notandaaðgöngum þínum á netinu og ákveddu til hvers eigi að nota þá
Comment[it]=Connette ai propri account online e decide per cosa usarli
Comment[ja]=オンラインアカウントへの接続や利用方法を設定します
Comment[kk]=Желілік тіркелгілеріңізге байланыс орнатыңыз және олар не үшін қолданылатынын шешіңіз
Comment[kn]=ನಿಮ್ಮ ಆನ್‌ಲೈನ್ ಖಾತೆಗಳೊಂದಿಗೆ ಸಂಪರ್ಕ ಜೋಡಿಸಿ ಮತ್ತು ಅವುಗಳನ್ನು ಯಾವ ಕೆಲಸಕ್ಕೆ ಬಳಸಬೇಕು ಎನ್ನುವುದನ್ನು ನಿರ್ಧರಿಸಿ
Comment[ko]=온라인 계정에 연결하고 그 계정을 어디에 이용할지 설정합니다
Comment[lt]=Prisijunkite prie savo internetinių paskyrų ir nuspręskite, kam jas naudosite
Comment[lv]=Savienojieties ar saviem tiešsaistes kontiem un izvēlieties, kam tos izmantot
Comment[ml]=ഓണ്‍ലൈന്‍ അകൌണ്ടുകള്‍ ബന്ധിപ്പിച്ച് അവ എന്തിന് വേണ്ടി ഉപയോഗിക്കണം എന്ന് തീരുമാനിക്കുക
Comment[mr]=ऑनलाइन खातींसह जोडणी करा आणि त्याचे कशासाठी वापर करायचे ते ठरवा
Comment[ms]=Sambung ke akaun atas-talian anda dan tentukan apa kegunaannya
Comment[nb]=Koble til nettkontoer og bestem hva de skal brukes til
Comment[nl]=Verbind met uw online-accounts en bepaal waar u ze voor gebruikt
Comment[oc]=Connectatz-vos a vòstres comptes en linha e decidètz de lor utilitat
Comment[or]=ଆପମଙ୍କର ଅନ୍‌ଲାଇନ୍‌ ଖାତା ସହିତ ସଂଯୋଗ କରନ୍ତୁ ଏବଂ ତାହାକୁ କଣ ପାଇଁ ବ୍ୟବହାର କରାଯିବ ତାହା ସିଦ୍ଧାନ୍ତ କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਆਨਲਾਈਨ ਖਾਤਿਆਂ ਨਾਲ ਕਨੈਕਟ ਹੋਵੋ ਅਤੇ ਫੈਸਲਾ ਕਰੋ ਕਿ ਉਹਨਾਂ ਨੂੰ ਕਿਸ ਲਈ ਵਰਤਣਾ ਹੈ
Comment[pl]=Łączenie z kontami online i ustalanie, do czego mają być używane
Comment[pt]=Ligar-se às suas contas online e decidir como as utilizar
Comment[pt_BR]=Conecte-se às suas contas on-line e decida para que usá-las
Comment[ro]=Conectați-vă la conturile online și decideți modul în care să le folosiți
Comment[ru]=Подключиться к сетевым учётным записям и решить для чего их использовать
Comment[sk]=Pripojí vás k vašim účtom sieťových služieb a rozhodne na čo sa použijú
Comment[sl]=Nadzirajte svoje spletne račune in se odločite za kaj jih boste uporabili
Comment[sr]=Повежите се на ваше налоге на мрежи и одлучите за шта ћете их користити
Comment[sr@latin]=Povežite se na vaše naloge na mreži i odlučite za šta ćete ih koristiti
Comment[sv]=Anslut till dina nätkonton och bestäm hur de ska användas
Comment[ta]=உங்கள் ஆன்லைன் கணக்குகளில் இணைந்து அவற்றை எதற்கு பயன்படுத்த வேண்டும் என முடிவு செய்யவும்
Comment[te]=మీ ఆన్‌లైన్ ఖాతాలకు  అనుసంధానమై మరియు వాటిని దేని కొరకు వుపయోగించాలో నిర్ణయించు
Comment[tg]=Ба ҳисобҳои онлайни худ пайваст шавед ва интихоб кунед, ки онҳоро барои чӣ истифода мебаред
Comment[th]=เชื่อมต่อไปยังบัญชีออนไลน์ของคุณและตัดสินใจว่าจะใช้เพื่อทำอะไร
Comment[tr]=Çevrim içi hesaplarınıza bağlanın ve ne için kullanacağınızı belirleyin
Comment[uk]=З'єднатись з вашим мережевими обліковими записами і вирішити, що з ними робити
Comment[vi]=Kết nối các tài khoản trực tuyến của bạn và quyết định dùng chúng vào việc gì
Comment[zh_CN]=连接在线帐号并决定如何使用
Comment[zh_HK]=連接到你的網上帳號並決定要用它們來做什麼
Comment[zh_TW]=連接到您的線上帳號並決定要用它們來做什麼
Comment=Connect to your online accounts and decide what to use them for
Exec=toolbox run gnome-control-center online-accounts
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/hicolor/256x256/apps/goa-panel.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-AccountSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Online Accounts
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Online Accounts panel.
# Do NOT translate or localize the semicolons!
# The list MUST also end with a semicolon!
# For ReadItLater and Pocket, see http://en.wikipedia.org/wiki/Pocket_(application)
Keywords[af]=google;facebook;twitter;yahoo;web;aanlyn;klets;kalender;pos;kontak;owncloud;kerberos;IMAP;SMTP;pocket;readitlater;
Keywords[an]=Google;Facebook;Twitter;Yahoo;Ret;En linia;Chat;Calandario;Correu;Contacto;ownCloud;Kerberos;IMAP;SMTP;Pocha;Leyer-loDimpués;
Keywords[ar]=جوجل;جووجل;فيسبوك;تويتر;ياهو;وب;ويب;محادثة;تقويم;بريد;اتصال;
Keywords[as]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[be]=Google;Facebook;Twitter;Yahoo;Сеціва;Інтэрнэт;Чат;Каляндар;Календары;Пошта;Кантакты;Сувязь;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[bg]=гугъл;фейсбук;туитър;яху;социален;уеб;мрежа;разговор;календар;поща;контакт;оун;клауд;керберос;цербер;имап;smtp;покет;покит;рийд;google;facebook;twitter;yahoo;web;online;chat;calendar;mail;contact;owncloud;kerberos;imap;smtp;pocket;readitlater;
Keywords[bn_IN]=Google;Facebook;Twitter;Yahoo;Web;অনলাইন;চ্যাট;ক্যালেন্ডার;মেল;পরিচিতি;ownCloud;Kerberos;IMAP;SMTP;পকেট;ReadItLater;
Keywords[bs]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Kalendar;Mail;Kontakt;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ca]=Google;Facebook;Twitter;Yahoo;Web;En línia;Xat;Calendari;Correu;Contacte;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ca@valencia]=Google;Facebook;Twitter;Yahoo;Web;En línia;Xat;Calendari;Correu;Contacte;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ckb]=گۆگڵ;فەیسبووک;تویتەر;یاهوو;تۆڕ;سەرهێل;دوان;ڕۆژژمێر;نامە;پەیوەندی;ئاونکڵاود;کیربیرەس;SMTP;IMAP;پۆکێت;ڕیدئتلەیتەر;
Keywords[cs]=Google;Facebook;Twitter;Yahoo;web;on-line;diskuze;chat;kalendář;e-mail;mail;email;pošta;kontakt;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[da]=Google;Facebook;Twitter;Yahoo;Internet;Web;Online;Chat;Kalender;Post;E-post;Mail;Email;E-mail;Kontaktpersoner;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[de]=Google;Facebook;Twitter;Yahoo;Internet;Online;Chat;Kalendar;Mail;E-Mail;Kontakte;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[el]=Google;Facebook;Twitter;Yahoo;Ιστός;Με σύνδεση;Συνομιλία;Ημερολόγιο;Αλληλογραφία;Επαφές;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;Online;Chat;Calendar;Mail;Contact;
Keywords[en_GB]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[eo]=Google;Guglo;Facebook;Fejsbuko;Vizaĝlibro;Twitter;Tvitero;Yahoo;Jahuo;Reto;Konektite;Retbabili;Kalendaro;Retpoŝto;Kontaktoj;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[es]=Google;Facebook;Twitter;Yahoo;Web;en línea;Chat;Calendario;Correo-e;Contacto;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[et]=Google;Facebook;Twitter;Yahoo;veeb;onlain;vestlus;kalender;meil;e-post;e-kiri;kontaktid;ownCloud;Kerberos;IMAP;SMTP;ReadItLater;
Keywords[eu]=Google;Facebook;Twitter;Yahoo;Weba;Linean;Berriketa;Egutegia;Posta;Kontaktua;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[fa]=گوگل;فیس بوک;تویتر;یاهو;وب;برخط;گپ;تقویم;پست‌الکترونیکی;آشنا;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[fi]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;keskustelu;kalenteri;sähköposti;yhteystiedot;kontaktit;
Keywords[fr]=Google;Facebook;Twitter;Yahoo;Web;En ligne;Discussion;Agenda;Courriel;Email;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[fur]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Conversazions;Calendari;Mail;E-mail;Email;Pueste;Contat;Contats;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ga]=Google;Facebook;Twitter;Yahoo;Gréasán;Ar Líne;Comhrá;Féilire;Post;Teagmháil;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[gd]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;cabadaich;post;mìosachadn;pòcaid;
Keywords[gl]=Google;Facebook;Twitter;Yahoo;Web;En liña;Conversa;Calendario;Correo-e;Contacto;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[gu]=Google;Facebook;Twitter;Yahoo;વેબ;ઓનલાઇન;વાતચીત;કૅલેન્ડર;મેઇલ;સંપર્ક;ownCloud;કર્બોસ;IMAP;SMTP;પોકેટ;ReadItLater;
Keywords[he]=Google;Facebook;Twitter;Yahoo;Web;מקוון;שיחה;יומן;דוא״ל;לוח שנה;צ׳אט;צ'אט;דואר אלקטרוני;דוא"ל;ownCloud;אונליין;IMAP;SMTP;Pocket;ReadItLater;
Keywords[hi]=गूगल;फेसबुक;ट्विटर;याहू;वेब;ऑनलाइन;चैट;कैलेंडर;मेल;संपर्क;ओनक्लाउड;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[hr]=Google;Facebook;Twitter;Yahoo;Web;Mreža;Razgovor;Kalendar;Pošta;Kontakt;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[hu]=Google;Facebook;Twitter;Yahoo;Web;Online;Csevegés;Chat;Naptár;E-mail;Levél;Levelezés;Névjegyek;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[id]=Google;Facebook;Twitter;Yahoo;Web;Daring;Obrolan;Kalender;Surel;Kontak;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[is]=Google;Facebook;Twitter;Yahoo;Vefur;Netið;Spjall;Dagatal;Póstur;Tengiliðir;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[it]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Conversazioni;Calendario;Email;Posta;Contatto;Contatti;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ja]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;グーグル;フェイスブック;ツイッター;ヤフー;ウェブ;オンライン;チャット;カレンダー;メール;連絡先;Flickr;OnlineAccounts;
Keywords[kk]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;Веб;Онлайн;Чат;Күнтізбе;Эл. пошта;Контакт;
Keywords[kn]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ko]=Google;구글;Facebook;페이스북;Twitter;트위터;Yahoo;야후;Web;웹;Online;온라인;Chat;채팅;Calendar;달력;Mail;메일;Contact;연락처;ownCloud;Kerberos;케르베로스;IMAP;SMTP;;Pocket;ReadItLater;
Keywords[lt]=Google;Facebook;Twitter;Yahoo;Žiniatinklis;Tinkle;Pokalbiai;Kalendorius;Paštas;Kontaktai;ownCloud;Kerberos;IMAP;SMTP;Paketas;SkaitytiVėliau;
Keywords[lv]=Google;Facebook;Twitter;Yahoo;Web;Tīmeklis;Tiešsaiste;Tērzēšana;Kalendārs;Pasts;kontakti;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[mjw]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ml]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[mr]=गूगल;फेसबूक;ट्विटर;याहू;वेब;ऑनलाइन;चॅट;कॅलेंडर;मेल;काँट्रॅक्ट;ओनक्लाउड;कर्बेरोस,आईमॅप;एसएमटिपि;पॉकेट;रिडइटलेटर;
Keywords[ms]=Google;Facebook;Twitter;Yahoo;Sesawang;Atas-Talian;Sembang;Kalendar;Mel;Kenalan;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[nb]=Google;Facebook;Twitter;Yahoo;Web;Nett;Lynmeldinger;Kalender;E-post;Kontakt;ownCloud;Kerberos;IMAP;SMTP;Lomme;ReadItLater;
Keywords[ne]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[nl]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Agenda;Pocket;ReadItLater;
Keywords[oc]=Google;Facebook;Twitter;Yahoo;Web;En linha;Discussion;Agenda;Corrièr;Email;Contacte;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[or]=Google;Facebook;Twitter;Yahoo;ୱେବ;ଅନଲାଇନ;ଚାର୍ଟ;କ୍ୟାଲେଣ୍ଡର;ମେଲ;ସମ୍ପର୍କ;ownCloud;କର୍ବୋରସ୍‌;IMAP;SMTP;ପକେଟ;ଏହାକୁ ପରେ ପଢ଼ନ୍ତୁ;
Keywords[pa]=ਗੂਗਲ;ਫੇਸਬੁੱਕ;ਟਵਿੱਟਰ;ਯਾਹੂ;ਵੈੱਬ;ਆਨਲਾਈਨ;ਗੱਲਬਾਤ;ਚੈਟ;ਕੈਲੰਡਰ;ਮੇਲ;ਸੰਪਰਕ;Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Packet;ReaditLater;
Keywords[pl]=Google;Facebook;Twitter;Yahoo;WWW;Web;Online;Sieciowe;Komunikator;Chat;Czat;Kalendarz;Poczta;e-mail;email;Kontakt;Chmura;Cloud;Nextcloud;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;Flickr;Windows;Live;Microsoft;Exchange;
Keywords[pt]=Google;Facebook;Twitter;Yahoo;Web;Online;Diálogo;Calendário;Correio;Contacto;ownCloud;Kerberos;IMAP;SMTP;ReadItLater;
Keywords[pt_BR]=Google;Facebook;Twitter;Yahoo;Web;Conectado;Online;Bate-papo;Chat;Calendário;Agenda;E-mail;Correio;Contato;Contatos;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ro]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ru]=Google;Facebook;Twitter;Yahoo;Web;Онлайн;Чат;Календарь;Почта;Контакт;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[sk]=Google;Facebook;Twitter;Yahoo;web;on-line;rozhovor;chat;kalendár;e-mail;mail;email;pošta;kontakt;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[sl]=Google;Facebook;Twitter;Yahoo;Splet;Klepet;Koledar;Elektronska pošta;Stiki;Računi;ownCloud;oblak;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[sr]=гугл;фејсбук;твитер;јаху;веб;мрежа;ћаскање;календар;пошта;контакт;лични_облак;керберос;имап;смтп;покет;прочитајкасније;
Keywords[sr@latin]=gugl;fejsbuk;tviter;jahu;veb;mreža;ćaskanje;kalendar;pošta;kontakt;lični_oblak;kerberos;imap;smtp;poket;pročitajkasnije;
Keywords[sv]=Google;Facebook;Twitter;Yahoo;Webb;Nätet;Chatt;Kalender;E-post;Kontakt;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[ta]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[te]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[tg]=Google;Facebook;Twitter;Yahoo;Web;Онлайн;Чат;Тақвим;Почта;Тамос;ownCloud;Kerberos;IMAP;SMTP;Баста;Баъдтар;
Keywords[th]=กูเกิล;เฟซบุ๊ก;ทวิตเตอร์;ยาฮู;เว็บ;ออนไลน์;แช็ต;ปฏิทิน;เมล;ผู้ติดต่อ;ownCloud;Kerberos;IMAP;SMTP;พ็อกเก็ต;ReadItLater;
Keywords[tr]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;Çevrimiçi;Çevrim içi,Sohbet;Takvim;Mektup;Posta;Bağlantı;Kişi;
Keywords[uk]=Google;Facebook;Twitter;Yahoo;Інтернет;Мережа;Балачка;Календар;Пошта;Контакт;ownCloud;IMAP;SMTP;Pocket;ReadItLater;
Keywords[vi]=Google;Facebook;Twitter;Yahoo;Web;Online;Truc;tuyen;Chat;Calendar;Lịch;Lich;Mail;Thư;Thu;Contact;Liên;lạc;Lien;lac;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
Keywords[zh_CN]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;谷歌;脸谱;脸书;推特;雅虎;互联网;网络;在线;聊天;日历;邮件;联系人;云存储;稍后阅读;
Keywords[zh_HK]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;谷歌;臉書;推特;雅虎奇摩;網頁;網上;聊天;行事曆;郵件;聯絡人;
Keywords[zh_TW]=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;谷歌;臉書;推特;雅虎奇摩;網頁;線上;聊天;行事曆;郵件;連絡人;
Keywords=Google;Facebook;Twitter;Yahoo;Web;Online;Chat;Calendar;Mail;Contact;ownCloud;Kerberos;IMAP;SMTP;Pocket;ReadItLater;
