[Desktop Entry]
Name[af]=Wi-Fi
Name[an]=Wi-Fi
Name[ar]=واي فاي
Name[as]=Wi-Fi
Name[be]=Wi-Fi
Name[bg]=Без­жич­на мре­жа
Name[bn_IN]=Wi-Fi
Name[bs]=Wi-Fi
Name[ca]=Wi-Fi
Name[ca@valencia]=Wi-Fi
Name[ckb]=Wi-Fi
Name[crh]=Telsiz-Vefa
Name[cs]=Wi-Fi
Name[da]=Wi-fi
Name[de]=WLAN
Name[el]=Wi-Fi
Name[en_GB]=Wi-Fi
Name[eo]=Vifio
Name[es]=Inalámbrica
Name[et]=Wi-Fi
Name[eu]=Wifia
Name[fa]=وای‌فای
Name[fi]=Wifi
Name[fr]=Wi-Fi
Name[fur]=Wi-Fi
Name[ga]=Wi-Fi
Name[gd]=WiFi
Name[gl]=Wifi
Name[gu]=Wi-Fi
Name[he]=רשת אלחוטית
Name[hi]=वाई फाई
Name[hr]=Bežična mreža
Name[hu]=Wi-Fi
Name[id]=Wi-Fi
Name[is]=Þráðlaust net
Name[it]=Wi-Fi
Name[ja]=Wi-Fi
Name[kk]=Wi-Fi
Name[kn]=ವೈ-ಫೈ
Name[ko]=와이파이
Name[lt]=Belaidis
Name[lv]=Wi-Fi
Name[mjw]=Wi-Fi
Name[ml]=വയര്‍ലസ്സ്
Name[mr]=वाय-फाय
Name[ms]=Wi-Fi
Name[nb]=Trådløs
Name[ne]=वाई-फाई
Name[nl]=Wifi
Name[oc]=Wi-Fi
Name[or]=Wi-Fi
Name[pa]=Wi-Fi
Name[pl]=Wi-Fi
Name[pt]=Wi-Fi
Name[pt_BR]=Wi-Fi
Name[ro]=Wi-Fi
Name[ru]=Wi-Fi
Name[sk]=Wi-Fi
Name[sl]=Omrežje Wi-Fi
Name[sr]=Бежична
Name[sr@latin]=Bežična
Name[sv]=Tråd­löst
Name[ta]=Wi-Fi
Name[te]=Wi-Fi
Name[tg]=Wi-Fi
Name[th]=Wi-Fi
Name[tr]=Kablosuz
Name[ug]=Wi-Fi
Name[uk]=Wi-Fi
Name[vi]=Wi-Fi
Name[zh_CN]=Wi-Fi
Name[zh_HK]=Wi-Fi
Name[zh_TW]=Wi-Fi
Name=Wi-Fi (container)
Comment[af]=Bepaal hoe om te koppel aan Wi-Fi verbindings
Comment[ar]=تحكم في اتصالك بشبكات واي فاي
Comment[be]=Настройка злучэння з Wi-Fi сеткамі
Comment[bg]=Настройки на безжичната връзка
Comment[bn_IN]=কীভাবে আপনি Wi-Fi নেটওয়ার্কগুলিতে সংযুক্ত হন তা নিয়ন্ত্রণ করুন
Comment[ca]=Controleu com us connecteu a les xarxes sense fil
Comment[ca@valencia]=Controleu com vos connecteu a les xarxes sense fil
Comment[cs]=Určit, jak se připojujete k sítím Wi-Fi
Comment[da]=Angiv hvordan du forbinder til trådløse netværk
Comment[de]=Legt fest, wie mit Funknetzwerken verbunden wird
Comment[el]=Ελέξτε τον τρόπο σύνδεσης με τα ασύρματα δίκτυα
Comment[en_GB]=Control how you connect to Wi-Fi networks
Comment[eo]=Regu kiel vi konektas al vifiaj retoj
Comment[es]=Controlar cómo se conecta a redes inalámbricas
Comment[eu]=Kontrolatu haririk gabeko sareetara nola konektatuko zaren
Comment[fa]=واپایش شیوهٔ اتّصال به شبکه‌های وای‌فای
Comment[fi]=Määritä miten wifi-verkkoihin otetaan yhteys
Comment[fr]=Contrôler votre façon de vous connecter aux réseaux sans fil
Comment[fur]=Controle cemût conetiti aes rêts Wi-Fi
Comment[gd]=Stiùirich an dòigh a cheanglas tu ri lìonraidhean WiFi
Comment[gl]=Controle como se conecta a redes Wifi
Comment[he]=שליטה באופן החיבור לרשת האלחוטית
Comment[hr]=Upravljajte načinom povezivanja na bežične mreže
Comment[hu]=Wi-Fi hálózati kapcsolat beállítása
Comment[id]=Kendalikan bagaimana Anda menyambung ke jaringan Wi-Fi
Comment[is]=Stjórnaðu hvernig þú tengist þráðlausum Wi-Fi netkerfum
Comment[it]=Controlla come ci si connette alle reti Wi-Fi
Comment[ja]=Wi-Fi ネットワークへの接続方法を設定します
Comment[kk]=Wi-Fi желілеріне қалай байланысатыныңызды басқару
Comment[ko]=어떻게 와이파이 네트워크에 연결할지 정합니다
Comment[lt]=Valdykite, kaip jungiatės prie belaidžių tinklų
Comment[lv]=Noteikt, kā savienoties ar Wi-Fi tīkliem
Comment[ml]=വൈഫൈ ശ്രംഖലകളില്‍ ബന്ധിപ്പിക്കുന്നതെങ്ങനെയെന്ന് തീരുമാനിക്കുന്നു
Comment[ms]=Kawal bagaimana hendak bersambung dengan rangkaian Wi-Wi
Comment[nb]=Kontroller hvordan du kobler til trådløse nettverk
Comment[nl]=Regelen hoe u verbinding maakt met wifi-netwerken
Comment[oc]=Controlar vòstre biais de vos connectar a las rets sens fial
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿ Wi-Fi ਨੈੱਟਵਰਕ ਨਾਲ ਤੁਸੀਂ ਕਿਵੇਂ ਕਨੈਕਟ ਕਰਨਾ ਹੈ
Comment[pl]=Sterowanie sposobem łączenia z sieciami Wi-Fi
Comment[pt]=Controlar como se liga à redes Wi-Fi
Comment[pt_BR]=Controle como você conecta a redes Wi-Fi
Comment[ro]=Controlați modul în care vă conectați la rețele Wi-Fi
Comment[ru]=Контролируйте, как вы подключаетесь к сетям Wi-Fi
Comment[sk]=Ovláda spôsob pripojenia k sieťam Wi-Fi
Comment[sl]=Nadzor nad načini povezovanja v omrežja Wi-Fi
Comment[sr]=Управљајте повезивањем на бежичне мреже
Comment[sr@latin]=Upravljajte povezivanjem na bežične mreže
Comment[sv]=Kontrollera hur du ansluter till trådlösa nätverk
Comment[tr]=Wi-Fi ağlarına nasıl bağlandığınızı denetleyin
Comment[uk]=Керування способами з'єднання із мережами Wi-Fi
Comment[vi]=Điều khiển cách kết nối đến mạng Wi-Fi
Comment[zh_CN]=控制连接到 Wi-Fi 网络的方式
Comment[zh_TW]=控制您如何連線至 Wi-Fi 網絡
Comment=Control how you connect to Wi-Fi networks
Exec=toolbox run gnome-control-center wifi
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/48x48/legacy/network-wireless.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-ConnectivitySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=network
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Wi-Fi panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=নেটওয়ার্ক;বেতার;Wi-Fi;Wifi;IP;LAN;প্রক্সি;WAN;ব্রডব্যান্ড;মোডেম;ব্লুটুথ;vpn;vlan;ব্রিজ;বন্ড;DNS;
Keywords[ca]=Xarxa;Sense fil;Wi-Fi;Wifi;IP;LAN;Servidor intermediari;WAN;Banda ampla;DNS;punt d'accés Wi-Fi;
Keywords[cs]=síť;bezdrátové;bezdrátová;Wi-Fi;WiFi;drátové;drátová;IP;LAN;širokopásmové;připojení;dns;přístupový bod;hotspot;
Keywords[da]=Netværk;Trådløs;Wi-fi;Wifi;IP;LAN;Bredbånd;DNS;Hotspot;
Keywords[de]=Netzwerk;Drahtlos;WLAN;Wifi;IP;LAN;Breitband;Hotspot;DNS;
Keywords[el]=Δίκτυο;Ασύρματο;Wi-Fi;Wifi;IP;LAN;Ευρυζωνικό;DNS;	Σημείο πρόσβασης;Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;
Keywords[en_GB]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;
Keywords[eo]=Reto;Sendrata;Vifio;IP;LAN;Larĝkapacita;DNS;Retkaptejo;
Keywords[es]=Red;Inalámbrica;Wireless;Wi-Fi;Wifi;IP;LAN;Banda;ancha;DNS;punto;acceso;
Keywords[eu]=Sarea;Haririk gabea;Wi-Fia;Wifia;IPa;LANa;Bandazabala;DNSa;Wifigunea;
Keywords[fa]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;شبکه;بی سیم;وای فای;آی پی;لن;پروکسی;پهن‌باند;دی ان اس;ساناد;هات اسپات;
Keywords[fi]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;verkko;langaton;laajakaista;nimipalvelu;tukiasema;
Keywords[fr]=Réseau;Sans fil;Wi-Fi;Wifi;IP;LAN;Large bande;DNS;Hotspot;
Keywords[fur]=Rêt;Network;Wireless;Cence fîl;Wi-Fi;Wifi;IP;LAN;Broadband;Bande largje;DNS;Hotspot;
Keywords[gl]=Rede;Sen fíos;Wi-Fi;Wifi;IP;LAN;Banda larga;DNS;Punto de acceso;
Keywords[he]=רשת;אלחוטי;אלחוטית;וייפיי;IP;רשת מקומית;מתווך;פרוקסי;אינטרנט;רשת רחבה;רוחב פס;מודם;בלוטות׳;DNS;נקודה חמה;
Keywords[hr]=Mreža;Bežično;Bežična mreža;IP;Žično;Širokopojasni internet;DNS;Pristupna točka;
Keywords[hu]=Hálózat;Vezeték nélküli;Wi-Fi;Wifi;IP;LAN;Széles sáv;Szélessáv;DNS;Hotspot;
Keywords[id]=Jaringan;Nirkabel;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;
Keywords[it]=rete;network;wireless;wi-fi;wifi;IP;LAN;broadband;banda larga;DNS;hotspot;
Keywords[ja]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;ネットワーク;無線;ワイヤレス;ブロードバンド;ホットスポット;
Keywords[kk]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;Желі;Сымсыз;Кеңжолақты;Қатынау;
Keywords[ko]=Network;네트워크;Wireless;무선;Wi-Fi;Wifi;와이파이;IP;LAN;Broadband;브로드밴드;DNS;네임서버;Hotspot;핫스팟;
Keywords[lt]=Tinklas;Belaidis;Wi-Fi;Wifi;IP;LAN;Plačiajuostis;DNS;Hotspot;
Keywords[lv]=Tīkls;Bezvadu;Wi-Fi;Wifi;IP;LAN;Platjosla;DNS;Tīklājs;
Keywords[mjw]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;
Keywords[ms]=Rangkaian;Tanpa Wayar;Wi-Fi;Wifi;IP;LAN;Jalur Lebar;DNS;Kawasan Khas;
Keywords[nb]=Nettverk;Trådløst;Wi-Fi;Wifi;IP;LAN;Bredbånd;DNS;Aksesspunkt;
Keywords[nl]=Network;Netwerk;Wireless;Draadloos;Wi-Fi;Wifi;IP;LAN;Broadband;Breedband;DNS;Hotspot;
Keywords[oc]=Ret;Sens fial;Wi-Fi;Wifi;IP;LAN;Larga benda;DNS;Hotspot;
Keywords[pa]=ਨੈੱਟਵਰਕ;ਬੇਤਾਰ;ਵਾਈ-ਫਾਈ;ਆਈਪੀ;ਬਰਾਡਬੈਂਡ;ਡੀਐਨਐਸ;ਹਾਟਸਪਾਟ;ਹੌਟਸਪੌਟ;
Keywords[pl]=Sieć;Sieci;Bezprzewodowa;Wireless;Wi-Fi;Wifi;IP;LAN;Kabel;DNS;Hotspot;Punkt;dostępowy;
Keywords[pt]=Rede;Wireless;Sem-fios;Wi-Fi;Wifi;IP;LAN;WAN;Broadband;Banda;larga;DNS;
Keywords[pt_BR]=Rede;Network;Sem fio;Wireless;Wi-Fi;Wifi;IP;LAN;Banda larga;Broadband;DNS;Ponto de acesso;Hotspot;
Keywords[ro]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;Rețea;
Keywords[ru]=Сеть;Беспроводная;Wi-Fi;Wifi;IP;LAN;Мобильная;DNS;Точка;доступа;
Keywords[sk]=sieť;bezdrôtová;Wi-Fi;wifi;IP;LAN;širokopásmové;pripojenie;DNS;hotspot;aktívny;bod;
Keywords[sl]=omrežje;brezžično;Wi-Fi;Wifi;IP;LAN;Proxy;Posredniški;širokopasovno;modem;bluetooth;vpn;vlan;most;vez;DNS;vroča točka;
Keywords[sr]=мрежа;бежична;вај-фај;ип;лан;широкопојасна;ДНС;хотспот;mreža;bežična;vaj-faj;ip;lan;širokopojasna;Network;Wireless;mreza;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;
Keywords[sv]=Nätverk;Trådlöst;Wi-Fi;Wifi;IP;LAN;Bredband;DNS;Hotspot;Surfzon;
Keywords[tr]=Ağ;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;Genişbant;DNS;Hotspot;Bağlantı Noktası;
Keywords[uk]=Мережа;Бездротова;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;
Keywords[zh_CN]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;网络;无线;无线保真;互联网协议;局域网;宽带;域名系统;热点;
Keywords[zh_TW]=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;網路;無線網路;區域網路;寬頻;熱點;區網;
Keywords=Network;Wireless;Wi-Fi;Wifi;IP;LAN;Broadband;DNS;Hotspot;
