[Desktop Entry]
Name[af]=Skermslot
Name[an]=Bloqueyo de pantalla
Name[ar]=قفل الشاشة
Name[as]=পৰ্দাৰ লক
Name[be]=Блакіраванне экрана
Name[bg]=Заключване на екрана
Name[bn_IN]=স্ক্রীন লক
Name[bs]=Zaključan Ekran
Name[ca]=Bloca la pantalla
Name[ca@valencia]=Bloca la pantalla
Name[ckb]=قفڵی شاشە
Name[crh]=Ekran Kiliti
Name[cs]=Zamykání obrazovky
Name[da]=Skærmlåsning
Name[de]=Bildschirmsperre
Name[el]=Κλείδωμα οθόνης
Name[en_GB]=Screen Lock
Name[eo]=Ekrana ŝloso
Name[es]=Bloqueo de pantalla
Name[et]=Ekraanilukk
Name[eu]=Pantailaren blokeoa
Name[fa]=قفل صفحه
Name[fi]=Näytön lukitus
Name[fr]=Verrouillage de l’écran
Name[fur]=Bloc schermi
Name[ga]=Glas Scáileáin
Name[gd]=Glas na sgrìn
Name[gl]=Bloqueo de pantalla
Name[gu]=સ્ક્રીન તાળુ
Name[he]=נעילת מסך
Name[hi]=स्क्रीन ताला
Name[hr]=Zaključavanje zaslona
Name[hu]=Képernyőzár
Name[id]=Kunci Layar
Name[is]=Skjálæsing
Name[it]=Blocco schermo
Name[ja]=画面ロック
Name[kk]=Экранды блоктау
Name[kn]=ತೆರೆ ಲಾಕ್
Name[ko]=화면 잠금
Name[lt]=Ekrano užrakinimas
Name[lv]=Ekrāna bloķēšana
Name[ml]=സ്ക്രീന്‍ പൂട്ട്
Name[mr]=पडदा कुलूपबंद
Name[ms]=Kunci Skrin
Name[nb]=Lås skjerm
Name[ne]=पर्दा ताल्चा लगाउनुहोस्
Name[nl]=Schermvergrendeling
Name[oc]=Verrolhatge de l'ecran
Name[or]=ପରଦା ତାଲା
Name[pa]=ਸਕਰੀਨ ਲਾਕ
Name[pl]=Blokada ekranu
Name[pt]=Bloqueio de ecrã
Name[pt_BR]=Tela de bloqueio
Name[ro]=Blocare ecran
Name[ru]=Блокировка экрана
Name[sk]=Uzamknutie obrazovky
Name[sl]=Zaklep zaslona
Name[sr]=Закључавање екрана
Name[sr@latin]=Zaključavanje ekrana
Name[sv]=Skärmlås
Name[ta]=திரைப்பூட்டு
Name[te]=తెర లాక్
Name[tg]=Экрани қулф
Name[th]=การล็อคหน้าจอ
Name[tr]=Ekran Kilidi
Name[ug]=ئېكران قۇلۇپلاش
Name[uk]=Блокування екрана
Name[vi]=Khóa màn hình
Name[zh_CN]=锁屏
Name[zh_HK]=螢幕鎖定
Name[zh_TW]=螢幕鎖定
Name=Screen Lock (container)
Comment[bn_IN]=স্ক্রীন লক করুন
Comment[ca]=Bloca la pantalla
Comment[cs]=Uzamknout svoji obrazovku
Comment[da]=Lås din skærm
Comment[de]=Ihren Bildschirm sperren
Comment[el]=Κλείδωμα οθόνης
Comment[en_GB]=Lock your screen
Comment[eo]=Ŝlosi vian ekranon
Comment[es]=Bloquear la pantalla
Comment[eu]=Blokeatu zure pantaila
Comment[fa]=قفل صفحه‌تان
Comment[fi]=Lukitse näyttö
Comment[fr]=Verrouiller votre écran
Comment[fur]=Bloche il to schermi
Comment[gl]=Bloquear a súa pantalla
Comment[he]=נעילת המסך
Comment[hr]=Zaključajte svoj zaslon
Comment[hu]=Képernyő zárolása
Comment[id]=Kunci layar Anda
Comment[it]=Blocca lo schermo
Comment[ja]=画面をロックします
Comment[kk]=Экранды бұғаттау
Comment[ko]=화면 잠그기
Comment[lt]=Užrakinti ekraną
Comment[lv]=Bloķēt ekrānu
Comment[ms]=Kunci skrin anda
Comment[nb]=Lås skjermen
Comment[nl]=Vergrendel uw scherm
Comment[pa]=ਆਪਣੀ ਸਕਰੀਨ ਲਾਕ ਕਰੋ
Comment[pl]=Blokowanie ekranu
Comment[pt]=Bloquear seu ecrã
Comment[pt_BR]=Bloqueie sua tela
Comment[ro]=Blochează ecranul
Comment[ru]=Заблокировать экран
Comment[sk]=Uzamknúť vašu obrazovku
Comment[sl]=Zakleni zaslon
Comment[sr]=Закључајте ваш екран
Comment[sv]=Lås din skärm
Comment[tr]=Ekranını kilitle
Comment[uk]=Заблокувати екран
Comment[zh_CN]=锁定屏幕
Comment[zh_TW]=鎖定您的螢幕
Comment=Lock your screen
Exec=toolbox run gnome-control-center lock
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/scalable/status/system-lock-screen-symbolic.svg
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=স্ক্রিন;লক;ডায়গনিস্টিক;ক্র্যাশ;ব্যক্তিগত;সাম্প্রতিক;অস্থায়ী;tmp;সূচক;নাম;নেটওয়ার্ক;পরিচয়;গোপনীয়তা;
Keywords[ca]=pantalla;bloca;diagnòstics;fallades;privat;recent;temporal;tmp;índex;nom;xarxa;identitat;privadesa;privacitat
Keywords[cs]=obrazovka;zamknout;zámek;diagnostika;pád;zhroucení;soukromý;osobní;nedávný;dočasný;tmp;index;jméno;síť;identita;soukromí;
Keywords[da]=skærm;lås;diagnostik;baglås;nedbrud;privat;seneste;midlertidig;tmp;indeks;navn;netværk;identitet;privatliv;
Keywords[de]=Bildschirm;Sperre;Diagnose;Absturz;Crash;Privat;temporär;Index;Name;Netzwerk;Identität;Privatsphäre;
Keywords[en_GB]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[es]=pantalla;bloqueo;diagnóstico;error;privado;reciente;temporal;tmp;índice;nombre;red;identidad;privacidad;
Keywords[eu]=pantaila;blokeoa;diagnostikoa;kraskadura;pribatua;azkena;aldi baterakoa;tmp;indizea;izena;sarea;identitatea;pribatutasuna;
Keywords[fa]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;صفحه;قفل;کرش;خصوصی;اخیر;موقت;نمایه;نام;شبکه;هویت;محرمانگی"حریم شخصی;حریم خصوصی;
Keywords[fi]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;näyttö;lukitus;diagnostikka;kaatuminen;yksityinen;viimeisimmät;väliaikset;nimi;verkko;identiteetti;yksityisyys;tietosuoja;
Keywords[fr]=écran;verrouiller;verrouillage;diagnostic;diagnostique;plantage;privé;confidentiel;récent;temporaire;tmp;index;nom;réseaux;identité;confidentialité;
Keywords[fur]=schermi;visôr;bloc;diagnostiche;colàs;crash;privât;resint;temporani;tmp;indiç;tabele;non;rêt;identitât;privacy;riservatece;
Keywords[gl]=pantalla;bloqueo;diagnóstico;peches;privado;recente;temporal;tmp;índice;nome;rede;identidade;privacidade;
Keywords[he]=מסך;צד;נעילה;ניתוח;דיאגנוסטיקה;קריסה;פרטיות;פרטי;אחרונים;אחרון;זמני;זמניים;מפתח;אינדקס;שם;רשת;זהות;פרטיות;
Keywords[hr]=zaslon;zaključaj;dijagnostika;rušenje;privatno;nedavno;privremeno;tmp;sadržaj;naziv;mreža;identitet;privatnost;
Keywords[hu]=képernyő;zárolás;diagnosztika;összeomlás;magán;privát;legutóbbi;nemrégi;ideiglenes;temp;index;név;hálózat;azonosság;identitás;adatvédelem;
Keywords[id]=layar;kunci;diagnostik;crash;privat;terkini;temporer;tmp;indeks;nama;jaringan;identitas;privasi;
Keywords[it]=schermo;blocco;diagnostica;crash;privato;recente;temporaneo;tmp;indice;nome;rete;identità;privacy;
Keywords[ja]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;画面;スクリーン;ロック;診断;クラッシュ;プライベート;最近;テンポラリー;一時;インデックス;索引;名前;ネットワーク;プライバシー;
Keywords[kk]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;экран;блоктау;диагностика;құлау;жеке;жуырдағы;уақытша;индекс;аты;желі;анықтағыш;жекелік;
Keywords[ko]=screen;화면;lock;잠그기;diagnostics;진단;crash;private;개인;정보;사생활;보호;recent;최근;temporary;tmp;임시;index;색인;name;이름;network;네트워크;identity;신원;privacy;프라이버시;
Keywords[lt]=ekranas;užrakinimas;diagnostika;lūžimas;privatus;neseniai;naudoti;laikinieji;indeksas;pavadinimas;tinklas;tapatybė;privatumas;
Keywords[lv]=ekrāns;bloķēt;slēgt;diagnostika;avārija;privāts;nesens;pagaidu;indeks;rādītājs;vārds;tīkls;identitāte;privātums;
Keywords[nl]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;scherm;vergrendelen;privé;tijdelijk;naam;netwerk;identiteit;
Keywords[pl]=ekran;blokada;diagnostyka;awaria;prywatność;ostatnie;ostatnio;tymczasowe;tmp;indeksowanie;index;nazwa;sieć;tożsamość;historia;kosz;śmietnik;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;geolokalizacja;położenie;geograficzne;miejsce;lokacja;miasto;państwo;kraj;
Keywords[pt]=ecrã;bloquear;trancar;diagnósticos;falha;privado;recente;temporário;tmp;índice;nome;rede;identidade;
Keywords[pt_BR]=tela;bloqueio;diagnostico;travamento;privado;recente;temporário;índice;nome;rede;identidade;privacidade;
Keywords[ro]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;ecran;blocare;diagnostice;pană;privat;temporar;nume;rețeaidentitate;confidențialitate;
Keywords[sk]=obrazovka;zámok;uzamknutie;diagnostika;pád;súkromný;nedávny;dočasný;tmp;index;meno;názov;sieť;identita;súkromie;
Keywords[sl]=zaslon;zaklep;diagnostika;crash;sesutje;zasebnost;hrošči;nedavno;začasno;tmp;index;ime;network;omrežje;istovetnost;identiteta;podatki;
Keywords[sr]=екран;закључај;дијагноза;пад;урушавање;лично;скорашње;недавно;привремен;тмп;попис;назив;мрежа;идентитет;приватност;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[sv]=skärm;lås;diagnostik;krasch;privat;nyligen;senaste;tillfällig;tmp;index;namn;nätverk;identitet;sekretess;
Keywords[tr]=ekran;kilit;tanılama;kırılma;bozulma;çökme;özel;son;geçici;tmp;endeks;içindekiler;indeks;isim;ad;ağ;kimlik;gizlilik;
Keywords[uk]=екран;блокування;діагностика;крах;особисте;нещодавнє;тимчасове;tmp;індекс;назва;мережа;засвідчення;конфіденційність;
Keywords[zh_CN]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;屏幕;锁;诊断;崩溃;私有;最近;临时;索引;名称;网络;认证;标志;身份;隐私;
Keywords[zh_TW]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;螢幕;鎖定;診斷;當掉;崩潰;私人;隱私;最近;暫存;索引;名稱;網路;身分;
Keywords=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
