[Desktop Entry]
Name[af]=Datum en tyd
Name[an]=Calendata y hora
Name[ar]=التاريخ والوقت
Name[as]=তাৰিখ &সময়
Name[be]=Дата і час
Name[bg]=Да­та и час
Name[bn_IN]=তিথি এবং সময়
Name[br]=Deiziad hag eur
Name[bs]=Datum i vrijeme
Name[ca]=Data i hora
Name[ca@valencia]=Data i hora
Name[ckb]=کات & ڕیکەوت
Name[crh]=Tarih & Saat
Name[cs]=Datum a čas
Name[da]=Dato & klokkeslæt
Name[de]=Datum und Zeit
Name[el]=Ημερομηνία & ώρα
Name[en_GB]=Date & Time
Name[eo]=Dato & horo
Name[es]=Fecha y hora
Name[et]=Kuupäev ja kellaaeg
Name[eu]=Data eta ordua
Name[fa]=تاریخ و زمان
Name[fi]=Päivä ja aika
Name[fr]=Date et heure
Name[fur]=Da­te­ ­e­ ­o­re
Name[ga]=Dáta & Am
Name[gd]=Ceann-là ⁊ an t-àm
Name[gl]=Data e hora
Name[gu]=તારીખ અને સમય
Name[he]=תאריך ושעה
Name[hi]=तिथि व समय
Name[hr]=Datum i vrijeme
Name[hu]=Dátum és idő
Name[id]=Tanggal & Waktu
Name[is]=Dagsetning og tími
Name[it]=Data e ora
Name[ja]=日付と時刻
Name[kab]=Azemz akked wesrag
Name[kk]=Күн және уақыт
Name[km]=កាលបរិច្ឆេទ និង​ពេលវេលា
Name[kn]=ದಿನಾಂಕ ಮತ್ತು ಸಮಯ
Name[ko]=날짜 및 시각
Name[ky]=Дата жана убакыт
Name[lt]=Data ir laikas
Name[lv]=Datums un laiks
Name[mjw]=Arni pen Apor
Name[ml]=തീയതിയും സമയവും
Name[mr]=दिनांक व वेळ
Name[ms]=Tarikh & Waktu
Name[nb]=Dato og klokkeslett
Name[ne]=मिति र समय
Name[nl]=Datum en tijd
Name[oc]=Data & ora
Name[or]=ତାରିଖ ଏବଂ ସମୟ
Name[pa]=ਮਿਤੀ ਤੇ ਸਮਾਂ
Name[pl]=Data i czas
Name[pt]=Data e Hora
Name[pt_BR]=Data & hora
Name[ro]=Data și ora
Name[ru]=Дата и время
Name[sk]=Dátum a čas
Name[sl]=Datum in čas
Name[sr]=Датум и време
Name[sr@latin]=Datum i vreme
Name[sv]=Dat­um & tid
Name[ta]=தேதி மற்றும் நேரம்
Name[te]=తేది మరియు సమయం
Name[tg]=Сана ва Вақт
Name[th]=วันที่ & เวลา
Name[tr]=Tarih ve Saat
Name[ug]=چېسلا & ۋاقىت
Name[uk]=Дата й час
Name[vi]=Ngày & giờ
Name[zh_CN]=日期和时间
Name[zh_HK]=日期與時刻
Name[zh_TW]=日期與時刻
Name=Date & Time (container)
Comment[af]=Verander die datum en tyd, asook tydsone
Comment[an]=Cambiar a calendata y a hora, incluindo a zona horaria
Comment[ar]=غيّر الوقت والتاريخ، بما فيها المنطقة الزمنية
Comment[as]=তাৰিখ আৰু সময় পৰিবৰ্তন কৰক, সময় অঞ্চল অন্তৰ্ভুক্ত কৰাকৈ
Comment[be]=Настройка даты і часу, а таксама часавага пояса
Comment[bg]=Смяна на датата, часа, часовия пояс
Comment[bn_IN]=সময় অঞ্চল সমেত তারিখ এবং সময় পরিবর্তন করুন
Comment[bs]=Promijeni datum i vrijeme, uključujući vremensku zonu
Comment[ca]=Canvieu la data i l'hora, incloent-hi el fus horari
Comment[ca@valencia]=Canvieu la data i l'hora, incloent-hi la zona horària
Comment[ckb]=کات و بەروارەکە بگۆڕە، هەروەها شوێنی کاتیش
Comment[cs]=Změnit datum a čas, včetně časového pásma
Comment[da]=Skift dato og klokkeslæt inklusive tidszone
Comment[de]=Das Datum, die Zeit und die Zeitzone ändern
Comment[el]=Αλλάξτε την ημερομηνία και ώρα, καθώς και τη ζώνης ώρας
Comment[en_GB]=Change the date and time, including time zone
Comment[eo]=Ŝanĝi la aktualan tempon, inkluzivante horzonon
Comment[es]=Cambiar la fecha y la hora, incluyendo la zona horaria
Comment[et]=Kuupäeva, kella ja ajavööndi muutmine
Comment[eu]=Aldatu data eta ordua, ordu-zona barne
Comment[fa]=تغییر ساعت و تاریخ، شامل منطقه زمانی
Comment[fi]=Vaihda aikaa, päivää tai aikavyöhykettä
Comment[fr]=Modifier la date et l’heure, y compris le fuseau horaire
Comment[fur]=Cambie date e ore, cussì ancje il fûs orari
Comment[ga]=Athraigh an dáta agus an t-am, crios ama ina measc
Comment[gd]=Atharraich an ceann-là ’s an t-àm, a’ gabhail a-steach na roinne-tìde
Comment[gl]=Cambie a data e hora, incluíndo o fuso horario
Comment[gu]=તારીખ અને સમયને બદલો, ટાઇમ ઝોનને સમાવી રહ્યા છે
Comment[he]=החלפת השעה והתאריך לרבות אזור הזמן
Comment[hi]=दिनांक और समय समय क्षेत्र सहित बदलें
Comment[hr]=Promijenite datum i vrijeme, uključujući vremensku zonu
Comment[hu]=Dátum, idő és időzóna módosítása
Comment[id]=Ubah tanggal dan waktu, termasuk zona waktu
Comment[is]=Breyttu dagsetningu og tíma, þar með töldu tímabelti
Comment[it]=Cambia data e orario, così come fuso orario
Comment[ja]=日付、時刻、タイムゾーンを変更します。
Comment[kab]=Beddel azemz akked usrag, akked tmennaḍt tasragant
Comment[kk]=Күн мен уақытты (уақыт белдеуімен қоса) өзгерту
Comment[kn]=ಕಾಲವಲಯವೂ ಸೇರಿದಂತೆ ದಿನಾಂಕ ಮತ್ತು ಸಮಯವನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=날짜와 시각(표준 시간대 포함)을 바꿉니다
Comment[lt]=Keiskite datą ir laiką, įskaitant laiko juostą
Comment[lv]=Mainīt datumu un laiku, tai skaitā laika joslas
Comment[mjw]=Arni, apor lapen time zone kelar
Comment[ml]=സമയം, തിയ്യതി, സമയമേഖലയടക്കം മാറ്റുക
Comment[mr]=दिनांक आणि वेळ बदलवा, वेळक्षेत्र समाविष्टीत
Comment[ms]=Ubah tarikh dan waktu, termasuklah zon waktu
Comment[nb]=Endra dato og klokkeslett - inklusive tidssone
Comment[ne]=समय क्षेत्र सहित मिति र समय परिवर्तन गर्नुहोस
Comment[nl]=Datum en tijd, inclusief tijdzone, wijzigen
Comment[oc]=Modificar la data e l'ora, inclús lo fus orari
Comment[or]=ସମୟ ମଣ୍ଡଳକୁ ଅନ୍ତର୍ଭୁକ୍ତ କରି ତାରିଖ ଏବଂ ସମୟକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਤਾਰੀਖ ਅਤੇ ਵੇਲਾ, ਵੇਲੇ ਦੇ ਇਲਾਕੇ ਸਮੇਤ ਬਦਲੋ
Comment[pl]=Zmiana daty i czasu, w tym strefy czasowej
Comment[pt]=Alterar a data e hora, incluindo o fuso horário
Comment[pt_BR]=Altere a data e hora, incluindo fuso horário
Comment[ro]=Schimbați data și ora, inclusiv fusul orar
Comment[ru]=Изменить дату и время, включая часовой пояс
Comment[sk]=Mení dátum a čas vrátané časového pásma
Comment[sl]=Spreminjanje sistemskega časa, datuma in časovnega območja
Comment[sr]=Измените датум и време, укључујући временску зону
Comment[sr@latin]=Izmenite datum i vreme, uključujući vremensku zonu
Comment[sv]=Ändra datum och tid, även tidszon
Comment[ta]=நேர மண்டலம் உட்பட தேதி மற்றூம் நேரத்தை மாற்றவும்
Comment[te]=తేదీ మరియు సమయం మార్చు, సమయ క్షేత్రంతో సహా
Comment[tg]=Тағйир додани вақт ва сана, аз ҷумла минтақаи вақт
Comment[th]=ตั้งวันที่และเวลา รวมถึงเขตเวลา
Comment[tr]=Tarihi, saati ve saat dilimini değiştir
Comment[uk]=Змінити дату та час, і часовий пояс зокрема
Comment[vi]=Thay đổi ngày giờ hay múi giờ
Comment[zh_CN]=改变日期、时间和时区
Comment[zh_HK]=改變時刻與日期，包含時區
Comment[zh_TW]=改變時刻與日期，包含時區
Comment=Change the date and time, including time zone
Exec=toolbox run gnome-control-center datetime
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/hicolor/scalable/apps/preferences-system-time.svg
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;
# Translators: Search terms to find the Date and Time panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=horlosie;tydsone;ligging;
Keywords[an]=Reloch;Zona horaria;Ubicación;
Keywords[ar]=ساعة;توقيت;منطقة زمنية;منطقة;
Keywords[as]=ঘড়ি;সময়অঞ্চল;অৱস্থান;
Keywords[ast]=Reló;Estaya horaria;Allugamientu;
Keywords[be]=Гадзіннік;Часавы пояс;Месцазнаходжанне;Месца;
Keywords[bg]=часовник;часови;пояс;местоположение;часова;зона;време;clock;timezone;location;
Keywords[bn]=ঘড়ি;টাইম জোন;অবস্থান;
Keywords[bn_IN]=ঘড়ি;সময় অঞ্চল;অবস্থান;
Keywords[bs]=Sat;Vrijemenskazona;Lokacija;
Keywords[ca]=Rellotge;Fus horari;Ubicació;
Keywords[ca@valencia]=Rellotge;Zona horària;Ubicació;
Keywords[ckb]=کاتژمێر;ناوچەی کات;شوێن;
Keywords[crh]=Saat;Saat Tilimi;Qonum;
Keywords[cs]=hodiny;časové pásmo;umístění;
Keywords[da]=Ur;Tidszone;Sted;
Keywords[de]=Uhr;Zeitzone;Ort;
Keywords[el]=Ρολόι;Ζώνη ώρας;Τοποθεσία;Clock;Timezone;Location;
Keywords[en_GB]=Clock;Timezone;Location;
Keywords[eo]=Horloĝo;Horo;Horzono;Loko;
Keywords[es]=Reloj;Zona horaria;Ubicación;
Keywords[et]=Kell;Ajavöönd;Asukoht;
Keywords[eu]=Erlojua;Ordu-zona;Kokalekua;
Keywords[fa]=سایت;منطقهٔ زمانی;مکان;
Keywords[fi]=Kello;Aikavyöhyke;Sijainti;
Keywords[fr]=Horloge;Fuseau;Heure;Date;Emplacement;
Keywords[fur]=Orloi;Ore;Timp;Date;Fûs;Posizion;Orari;
Keywords[ga]=Clog;Crios Ama;Suíomh;
Keywords[gd]=Clock;Timezone;Location;gleoc;cleoc;roinn-tìde;ionad;àite;
Keywords[gl]=Reloxo;Fuso horario;Localización;
Keywords[gu]=ઘડિયાળ;ટાઇમઝોન;સ્થાન;
Keywords[he]=שעון;אזור זמן;מיקום;
Keywords[hi]=घड़ी;समय क्षेत्र;स्थान;
Keywords[hr]=Sat;vremenska zona;lokacija;
Keywords[hu]=Óra;Időzóna;Hely;
Keywords[id]=Jam;Zona waktu;Lokasi;
Keywords[is]=Klukka;Tímabelti;Staðsetning;
Keywords[it]=Orologio;Tempo;Data;Fuso;Posizione;Orario;
Keywords[ja]=Clock;Timezone;Location;時計;日付;時刻;時間;日時;タイムゾーン;場所;Date;Time;
Keywords[kab]=Tamrilt;Tamennaḍt tasragant;adig;
Keywords[kk]=Clock;Timezone;Location;Сағат;Уақыт белдеуі;Орналасу;
Keywords[km]=Clock;Timezone;Location;
Keywords[kn]=ಗಡಿಯಾರ;ಕಾಲವಲಯ;ಸ್ಥಳ;
Keywords[ko]=Clock;시계;Timezone;시간대;Location;위치;
Keywords[ku]=Demjimêr;Herêma demê;Cih;
Keywords[ky]=Саат;Убакыт зонасы;Жайгашуу;
Keywords[lt]=Laikrodis;Laiko juosta;Vietovė;
Keywords[lv]=Pulkstenis;Laika josla;Lokācija;
Keywords[mjw]=Clock;Timezone;Location;
Keywords[mk]=Часовник;Временска зона;Локација;
Keywords[ml]=Clock;Timezone;Location;
Keywords[mr]=क्लॉक;टाइमझोन;ठिकाण;
Keywords[ms]=Jam;Zon Waktu;Lokasi;
Keywords[nb]=Klokke;Tidssone;Plassering;Adresse;
Keywords[ne]=घडी;समय क्षेत्र;स्थान;
Keywords[nl]=Clock;Timezone;Location;Klok;Tijdzone;Locatie;
Keywords[nn]=Klokke;Tidssone;Stad;
Keywords[oc]=Relòtge;Fus;Ora;Data;Emplaçament;
Keywords[or]=ଘଡ଼ି;ସମୟ ମଣ୍ଡଳ;ଅବସ୍ଥାନ;
Keywords[pa]=ਘੜੀ;ਵੇਲਾ,ਵੇਲਾ ਇਲਾਕਾ;ਸਥਾਨ;ਥਾਂ;ਸਮਾਂ-ਖੇਤਰ;ਟਿਕਾਣਾ;
Keywords[pl]=Zegar;Strefa;Czasowa;Położenie;Miejsce;Lokacja;Miasto;Państwo;Kraj;NTP;
Keywords[pt]=Relógio;Fuso horário;Fuso;Localização;Hora;
Keywords[pt_BR]=Relógio;Fuso horário;Localização;
Keywords[ro]=Clock;Timezone;Location;Ceas;Timp;Fus orar;Locație;
Keywords[ru]=Часы;Часовой;пояс;Местоположение;
Keywords[sk]=Hodiny;Čas;Zóna;Pásmo;Poloha;Umiestnenie;
Keywords[sl]=Ura;Časovni pas;Mesto;
Keywords[sr]=сат;временска зона;место;
Keywords[sr@latin]=sat;vremenska zona;mesto;
Keywords[sv]=Klocka;Tidszon;Plats;
Keywords[ta]=கடிகாரம்;நேரமண்டலம்;இடம்;
Keywords[te]=గడియారం;సమయక్షేత్రం;ప్రదేశం;
Keywords[tg]=Соат;Минтақаи вақт;Ҷойгиршавӣ;
Keywords[th]=นาฬิกา;เขตเวลา;ตำแหน่งที่ตั้ง;
Keywords[tr]=Saat;Saat Dilimi;Zaman Dilimi;Yer;Konum;
Keywords[ug]=سائەت;ۋاقىت رايونى;ئورۇن;
Keywords[uk]=Годинник;Пояс;Місцевість;
Keywords[vi]=Clock;Đồng;hồ;Dong;ho;Timezone;Múi;giờ;Mui;gio;Location;Vị;trí;Vi;tri;nước;nuoc;tỉnh;tỉnh;thành;phố;thanh;pho;
Keywords[zh_CN]=Clock;Timezone;Location;时钟;时区;位置;
Keywords[zh_HK]=Clock;Timezone;Location;時鐘;時區;位置;
Keywords[zh_TW]=Clock;Timezone;Location;時鐘;時區;位置;
Keywords=Clock;Timezone;Location;
# Notifications are emitted by gnome-settings-daemon
X-GNOME-UsesNotifications=true
