[Desktop Entry]
Name[af]=Liggingdienste
Name[ar]=خدمات التموضع
Name[be]=Службы месцазнаходжання
Name[bg]=Услуги за местоположение
Name[bn_IN]=অবস্থান পরিষেবা
Name[ca]=Serveis d'ubicació
Name[ca@valencia]=Serveis d'ubicació
Name[ckb]=خزمەتگوزارییەکانی شوێن
Name[cs]=Služby určování polohy
Name[da]=Placeringstjenester
Name[de]=Ortungsdienste
Name[el]=Υπηρεσίες τοποθεσίας
Name[en_GB]=Location Services
Name[eo]=Lokado-servoj
Name[es]=Servicios de ubicación
Name[eu]=Kokalekuaren zerbitzuak
Name[fa]=خدمات مکان‌یابی
Name[fi]=Sijaintipalvelut
Name[fr]=Services de localisation
Name[fur]=Servizis su la posizion
Name[gd]=Seirbheisean ionaid
Name[gl]=Servizos de localización
Name[he]=שירותי איכון
Name[hr]=Usluge lokacije
Name[hu]=Helymeghatározó szolgáltatások
Name[id]=Layanan Lokasi
Name[is]=Staðsetningarþjónustur
Name[it]=Servizi di localizzazione
Name[ja]=位置情報サービス
Name[kab]=Imeẓla n usideg
Name[kk]=Орналасулар қызметі
Name[ko]=위치 서비스
Name[lt]=Vietos tarnybos
Name[lv]=Atrašanās vietas pakalpojumi
Name[ms]=Perkhidmatan Lokasi
Name[nb]=Stedstjenester
Name[ne]=स्थान सेवाहरू
Name[nl]=Locatiediensten
Name[oc]=Servicis de localizacion
Name[pa]=ਟਿਕਾਣਾ ਸੇਵਾਵਾਂ
Name[pl]=Usługi położenia
Name[pt]=Serviços de localização
Name[pt_BR]=Serviços de localização
Name[ro]=Servicii de locație
Name[ru]=Сервисы местоположения
Name[sk]=Služby umiestnenia
Name[sl]=Storitve določanja položaja
Name[sr]=Услуге места
Name[sr@latin]=Usluge mesta
Name[sv]=Platstjänster
Name[th]=บริการตำแหน่งที่ตั้ง
Name[tr]=Konum Hizmetleri
Name[uk]=Служби розташування
Name[vi]=Dịch vụ vị trí
Name[zh_CN]=定位服务
Name[zh_TW]=位置服務
Name=Location Services (container)
Comment[bn_IN]=আপনার অবস্থানের তথ্য রক্ষা করুন
Comment[ca]=Protegiu la vostra informació d'ubicació
Comment[cs]=Ochraňte informace o své poloze
Comment[da]=Beskyt din placeringsinformation
Comment[de]=Ihre Standortinformationen schützen
Comment[el]=Προστατέψτε τις πληροφορίες τοποθεσίας σας
Comment[en_GB]=Protect your location information
Comment[eo]=Protekti viajn lokajn informojn
Comment[es]=Proteger la información sobre su ubicación
Comment[eu]=Babestu zure kokalekuaren informazioa
Comment[fa]=محافظت از اطّلاعات موقعیتتان
Comment[fi]=Suojaa sijaintitietoasi
Comment[fr]=Protéger les informations liées à votre emplacement
Comment[fur]=Protêç lis informazion su la tô posizion
Comment[gl]=Protexer a súa información de localización
Comment[he]=הגנה על מידע על המיקום שלך
Comment[hr]=Zaštite informacije vaše lokacije
Comment[hu]=A helyadatai védelme
Comment[id]=Lindungi informasi lokasi Anda
Comment[it]=Proteggere le informazioni sulla posizione
Comment[ja]=位置情報を保護します
Comment[kk]=Орналасу ақпаратын қорғау
Comment[ko]=위치 정보를 보호합니다
Comment[lt]=Apsaugoti savo vietos informaciją
Comment[lv]=Aizsargājiet savu atrašanās vietu
Comment[ms]=Lindungi maklumat lokasi anda
Comment[nb]=Beskytt din stedsinformasjon
Comment[nl]=Beveilig uw locatie-informatie
Comment[pa]=ਆਪਣੀ ਟਿਕਾਣਾ ਜਾਣਕਾਰੀ ਸੁਰੱਖਿਅਤ ਕਰੋ
Comment[pl]=Ochrona informacji o położeniu użytkownika
Comment[pt]=Proteger seus dados de localização
Comment[pt_BR]=Proteja suas informações de localização
Comment[ro]=Protejați informațiile de locație
Comment[ru]=Защитите вашу информацию о местоположении
Comment[sk]=Ochráňte informácie o vašom umiestnení
Comment[sl]=Zaščitite podrobnosti o trenutnem mestu
Comment[sr]=Заштитите ваше податке о месту становања
Comment[sv]=Skydda din platsinformation
Comment[tr]=Konum bilginizi koruyun
Comment[uk]=Захистіть ваші дані щодо місця перебування
Comment[zh_CN]=保护您的位置信息
Comment[zh_TW]=保護您的位置資訊
Comment=Protect your location information
Exec=toolbox run gnome-control-center location
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=location-services-active
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=স্ক্রিন;লক;ডায়গনিস্টিক;ক্র্যাশ;ব্যক্তিগত;সাম্প্রতিক;অস্থায়ী;tmp;সূচক;নাম;নেটওয়ার্ক;পরিচয়;গোপনীয়তা;
Keywords[ca]=pantalla;bloca;diagnòstics;fallades;privat;recent;temporal;tmp;índex;nom;xarxa;identitat;privadesa;privacitat
Keywords[cs]=obrazovka;zamknout;zámek;diagnostika;pád;zhroucení;soukromý;osobní;nedávný;dočasný;tmp;index;jméno;síť;identita;soukromí;
Keywords[da]=skærm;lås;diagnostik;baglås;nedbrud;privat;seneste;midlertidig;tmp;indeks;navn;netværk;identitet;privatliv;
Keywords[de]=Bildschirm;Sperre;Diagnose;Absturz;Crash;Privat;temporär;Index;Name;Netzwerk;Identität;Privatsphäre;
Keywords[en_GB]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[es]=pantalla;bloqueo;diagnóstico;error;privado;reciente;temporal;tmp;índice;nombre;red;identidad;privacidad;
Keywords[eu]=pantaila;blokeoa;diagnostikoa;kraskadura;pribatua;azkena;aldi baterakoa;tmp;indizea;izena;sarea;identitatea;pribatutasuna;
Keywords[fa]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;صفحه;قفل;کرش;خصوصی;اخیر;موقت;نمایه;نام;شبکه;هویت;محرمانگی"حریم شخصی;حریم خصوصی;
Keywords[fi]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;näyttö;lukitus;diagnostikka;kaatuminen;yksityinen;viimeisimmät;väliaikset;nimi;verkko;identiteetti;yksityisyys;tietosuoja;
Keywords[fr]=écran;verrouiller;verrouillage;diagnostic;diagnostique;plantage;privé;confidentiel;récent;temporaire;tmp;index;nom;réseaux;identité;confidentialité;
Keywords[fur]=schermi;visôr;bloc;diagnostiche;colàs;crash;privât;resint;temporani;tmp;indiç;tabele;non;rêt;identitât;privacy;riservatece;
Keywords[gl]=pantalla;bloqueo;diagnóstico;peches;privado;recente;temporal;tmp;índice;nome;rede;identidade;privacidade;
Keywords[he]=מסך;צד;נעילה;ניתוח;דיאגנוסטיקה;קריסה;פרטיות;פרטי;אחרונים;אחרון;זמני;זמניים;מפתח;אינדקס;שם;רשת;זהות;פרטיות;
Keywords[hr]=zaslon;zaključaj;dijagnostika;rušenje;privatno;nedavno;privremeno;tmp;sadržaj;naziv;mreža;identitet;privatnost;
Keywords[hu]=képernyő;zárolás;diagnosztika;összeomlás;magán;privát;legutóbbi;nemrégi;ideiglenes;temp;index;név;hálózat;azonosság;identitás;adatvédelem;
Keywords[id]=layar;kunci;diagnostik;crash;privat;terkini;temporer;tmp;indeks;nama;jaringan;identitas;privasi;
Keywords[it]=schermo;blocco;diagnostica;crash;privato;recente;temporaneo;tmp;indice;nome;rete;identità;privacy;
Keywords[ja]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;画面;スクリーン;ロック;診断;クラッシュ;プライベート;最近;テンポラリー;一時;インデックス;索引;名前;ネットワーク;プライバシー;
Keywords[kk]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;экран;блоктау;диагностика;құлау;жеке;жуырдағы;уақытша;индекс;аты;желі;анықтағыш;жекелік;
Keywords[ko]=screen;화면;lock;잠그기;diagnostics;진단;crash;private;개인;정보;사생활;보호;recent;최근;temporary;tmp;임시;index;색인;name;이름;network;네트워크;identity;신원;privacy;프라이버시;
Keywords[lt]=ekranas;užrakinimas;diagnostika;lūžimas;privatus;neseniai;naudoti;laikinieji;indeksas;pavadinimas;tinklas;tapatybė;privatumas;
Keywords[lv]=ekrāns;bloķēt;slēgt;diagnostika;avārija;privāts;nesens;pagaidu;indeks;rādītājs;vārds;tīkls;identitāte;privātums;
Keywords[nl]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;scherm;vergrendelen;privé;tijdelijk;naam;netwerk;identiteit;
Keywords[pl]=ekran;blokada;diagnostyka;awaria;prywatność;ostatnie;ostatnio;tymczasowe;tmp;indeksowanie;index;nazwa;sieć;tożsamość;historia;kosz;śmietnik;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;geolokalizacja;położenie;geograficzne;miejsce;lokacja;miasto;państwo;kraj;
Keywords[pt]=ecrã;bloquear;trancar;diagnósticos;falha;privado;recente;temporário;tmp;índice;nome;rede;identidade;
Keywords[pt_BR]=tela;bloqueio;diagnostico;travamento;privado;recente;temporário;índice;nome;rede;identidade;privacidade;
Keywords[ro]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;ecran;blocare;diagnostice;pană;privat;temporar;nume;rețeaidentitate;confidențialitate;
Keywords[sk]=obrazovka;zámok;uzamknutie;diagnostika;pád;súkromný;nedávny;dočasný;tmp;index;meno;názov;sieť;identita;súkromie;
Keywords[sl]=zaslon;zaklep;diagnostika;crash;sesutje;zasebnost;hrošči;nedavno;začasno;tmp;index;ime;network;omrežje;istovetnost;identiteta;podatki;
Keywords[sr]=екран;закључај;дијагноза;пад;урушавање;лично;скорашње;недавно;привремен;тмп;попис;назив;мрежа;идентитет;приватност;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[sv]=skärm;lås;diagnostik;krasch;privat;nyligen;senaste;tillfällig;tmp;index;namn;nätverk;identitet;sekretess;
Keywords[tr]=ekran;kilit;tanılama;kırılma;bozulma;çökme;özel;son;geçici;tmp;endeks;içindekiler;indeks;isim;ad;ağ;kimlik;gizlilik;
Keywords[uk]=екран;блокування;діагностика;крах;особисте;нещодавнє;тимчасове;tmp;індекс;назва;мережа;засвідчення;конфіденційність;
Keywords[zh_CN]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;屏幕;锁;诊断;崩溃;私有;最近;临时;索引;名称;网络;认证;标志;身份;隐私;
Keywords[zh_TW]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;螢幕;鎖定;診斷;當掉;崩潰;私人;隱私;最近;暫存;索引;名稱;網路;身分;
Keywords=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
