[Desktop Entry]
Name[ar]=ميكروفون
Name[bn_IN]=মাইক
Name[ca]=Micròfon
Name[ckb]=مایکرۆفۆن
Name[cs]=Mikrofon
Name[da]=Mikrofon
Name[de]=Mikrofon
Name[el]=Μικρόφωνο
Name[en_GB]=Microphone
Name[eo]=Mikrofono
Name[es]=Micrófono
Name[eu]=Mikrofonoa
Name[fa]=میکرفون
Name[fi]=Mikrofoni
Name[fr]=Micro
Name[fur]=Microfon
Name[gl]=Micrófono
Name[he]=מיקרופון
Name[hr]=Mikrofon
Name[hu]=Mikrofon
Name[id]=Mikrofon
Name[is]=Hljóðnemi
Name[it]=Microfono
Name[ja]=マイク
Name[kab]=Asawaḍ
Name[kk]=Микрофон
Name[ko]=마이크
Name[lt]=Mikrofonas
Name[lv]=Mikrofons
Name[mjw]=Microphone
Name[ms]=Mikrofon
Name[nb]=Mikrofon
Name[ne]=माईक्रोफोन
Name[nl]=Microfoon
Name[oc]=Micrò
Name[pa]=ਮਾਈਕਰੋਫੋਨ
Name[pl]=Mikrofon
Name[pt]=Microfone
Name[pt_BR]=Microfone
Name[ro]=Microfon
Name[ru]=Микрофон
Name[sk]=Mikrofón
Name[sl]=Mikrofon
Name[sr]=Микрофон
Name[sv]=Mikrofon
Name[tr]=Mikrofon
Name[uk]=Мікрофон
Name[zh_CN]=麦克风
Name[zh_TW]=麥克風
Name=Microphone (container)
Comment[bn_IN]=আপনার কথোপকথন রক্ষা করুন
Comment[ca]=Protegiu les vostres converses
Comment[cs]=Ochránit své konverzace
Comment[da]=Beskyt dine samtaler
Comment[de]=Ihre Unterhaltungen schützen
Comment[el]=Προστατέψτε τις συνομιλίες σας
Comment[en_GB]=Protect your conversations
Comment[eo]=Protekti viajn konversaciojn
Comment[es]=Proteger sus conversaciones
Comment[eu]=Babestu zure hizketaldiak
Comment[fa]=محافظت از گفت‌وگوهایتان
Comment[fi]=Suojaa keskustelusi
Comment[fr]=Protégez vos conversations
Comment[fur]=Protêç lis tôs conversazions
Comment[gl]=Protexer as túas conversas
Comment[he]=הגנה על השיחות שלך
Comment[hr]=Zaštitite svoje razgovore
Comment[hu]=A beszélgetései védelme
Comment[id]=Lindungi percakapan Anda
Comment[it]=Proteggere le proprie conversazioni
Comment[ja]=会話を保護します
Comment[kk]=Сөйлесулерді қорғау
Comment[ko]=대화를 보호합니다
Comment[lt]=Apsaugokite savo pokalbius
Comment[lv]=Aizsargāt savas sarunas
Comment[ms]=Lindungi perbualan anda
Comment[nb]=Beskytt samtalene dine
Comment[nl]=Bescherm uw gesprekken
Comment[pa]=ਤਹਾਡੀਆਂ ਗੱਲਾਂਬਾਤਾਂ ਸੁਰੱਖਿਅਤ ਕਰੋ
Comment[pl]=Ochrona rozmów
Comment[pt]=Proteja suas conversas
Comment[pt_BR]=Projeta suas conversas
Comment[ro]=Protejați conversațiile
Comment[ru]=Защитите ваш обмен сообщениями
Comment[sk]=Ochráňte vaše konverzácie
Comment[sl]=Zaščita pogovorov
Comment[sr]=Заштитите ваше разговоре
Comment[sv]=Skydda dina konversationer
Comment[tr]=Konuşmalarınızı koruyun
Comment[uk]=Захистіть ваш обмін повідомленнями
Comment[zh_CN]=保护对话
Comment[zh_TW]=保護您的對話
Comment=Protect your conversations
Exec=toolbox run gnome-control-center microphone
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=audio-input-microphone
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=skerm;sluit;diagnose;privaat;onlangs;voorlopig;tmp;indeks;naam;netwerk;identiteit;
Keywords[an]=pantalla;bloqueyo;dianostico;error;privau;recient;temporal;tmp;indiz;nombre;ret;identidat;
Keywords[ar]=شاشة;قفل;تشخيص;تحطم;خاص;حديث;مؤقت;شبكة;هوية;
Keywords[as]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;
Keywords[be]=экран;блакіраванне;дыягностыка;аварыя;прыватны;нядаўні;часовы;назва;імя;сетка;сеціва;ідэнтыфікацыя;асоба;
Keywords[bg]=екран;монитор;дисплей;заключване;затъмняване;диагностика;забиване;частен;личен;таен;скрит;временен;индекс;име;мрежа;идентичност;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;
Keywords[bn_IN]=স্ক্রীন;লক;সমস্যা নিরূপণ;ক্র্যাশ;ব্যক্তিগত;সাম্প্রতিক;অস্থায়ী;tmp;সূচি;নাম;নেটওয়ার্ক;পরিচয়;
Keywords[bs]=ekran;zaključano;dijagnosticiraj;sudar;privatno;nedavno;privremeno;tmp;indeks;ime;mreža;indentitet;
Keywords[ca]=pantalla;bloca;diagnòstics;fallades;privat;recent;temporal;tmp;índex;nom;xarxa;identitat;
Keywords[ca@valencia]=pantalla;bloca;diagnòstics;fallades;privat;recent;temporal;tmp;índex;nom;xarxa;identitat;
Keywords[ckb]=شاشە;قفڵ;دەستنیشانکاری;تێکشکان;تایبەتی;نوێترین;کاتی;tmp;نیشاندەر;ناو;ڕایەڵە;ناسنامه;
Keywords[cs]=obrazovka;zamknout;zámek;diagnostika;pád;zhroucení;soukromý;osobní;nedávný;dočasný;tmp;index;jméno;síť;identita;
Keywords[da]=skærm;lås;diagnostik;baglås;nedbrud;privat;seneste;midlertidig;tmp;indeks;navn;netværk;identitet;
Keywords[de]=Bildschirm;Sperre;Diagnose;Absturz;Crash;Privat;temporär;Index;Name;Netzwerk;Identität;
Keywords[el]=οθόνη;κλείδωμα;διάγνωση;κατάρρευση;ιδιωτικό;πρόσφατο;προσωρινό;προσωρινό;ευρετήριο;όνομα;ταυτότητα;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;
Keywords[en_GB]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;
Keywords[eo]=ekrano;ŝlosi;ŝloso;diagnozo;kraŝo;privata;lastatempa;provizora;tmp;indekso;reto;identeco;
Keywords[es]=pantalla;bloqueo;diagnóstico;error;privado;reciente;temporal;tmp;índice;nombre;red;identidad;
Keywords[et]=ekraan;lukk;diagnostika;privaatsus;privaatne;hiljutine;ajutine;tmp;temp;indeks;nimi;nimed;võrk;ühendus;identiteet;
Keywords[eu]=pantaila;blokeoa;diagnostikoa;kraskadura;pribatua;azkena;aldi baterako;tmp;izena;sarea;identitatea;
Keywords[fa]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;صفحه;قفل;کرش;خصوصی;اخیر;موقت;نمایه;نام;شبکه;هویت;
Keywords[fi]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;näyttö;lukitus;diagnostikka;kaatuminen;yksityinen;viimeisimmät;väliaikset;nimi;verkko;identiteetti;
Keywords[fr]=écran;verrouiller;verrouillage;diagnostique;plantage;privé;confidentiel;récent;temporaire;tmp;index;nom;réseaux;identité;
Keywords[fur]=schermi;visôr;bloc;diagnostiche;crash;privât;recent;temporani;tmp;indiç;non;rêt;identitât;
Keywords[gd]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;sgrìn;glas;diagnosachd;tuisleadh;prìobhaideach;sealach;inneacs;lìonra;ainm;dearbh-aithne;
Keywords[gl]=pantalla;bloqueo;diagnóstico;peches;privado;recente;temporal;tmp;índice;nome;rede;identidade;
Keywords[gu]=સ્ક્રીન;તાળુ;નિદાન;ભંગાણ;ખાનગી;તાજેતરનું;કામચલાઉ;tmp;અનુક્રમણિકા;નામ;નેટવર્ક;ઓળખાણ;
Keywords[he]=מסך;צד;נעילה;ניתוח;דיאגנוסטיקה;קריסה;פרטיות;פרטי;אחרונים;אחרון;זמני;זמניים;מפתח;אינדקס;שם;רשת;זהות;
Keywords[hi]=स्क्रीन;ताला;निदान;दुर्घटना;निजी;हाल ही में;अस्थायी;tmp;सूचकांक; नाम;नेटवर्क;पहचान;
Keywords[hr]=zaslon;zaključaj;dijagnostika;rušenje;privatno;nedavno;privremeno;tmp;sadržaj;naziv;mreža;identitet;
Keywords[hu]=képernyő;zárolás;diagnosztika;összeomlás;magán;privát;legutóbbi;nemrégi;ideiglenes;temp;index;név;hálózat;azonosság;identitás;
Keywords[id]=layar;kunci;diagnostik;crash;privat;terkini;temporer;tmp;indeks;nama;jaringan;identitas;
Keywords[is]=skjár;læsa;greining;hrun;einka;nýlegt;bráðabirgða;tmp;yfirlit;nafn;netkerfi;auðkenna;
Keywords[it]=schermo;blocco;diagnostica;crash;privato;recente;temporaneo;tmp;indice;nome;rete;identità;
Keywords[ja]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;画面;スクリーン;ロック;診断;クラッシュ;プライベート;最近;テンポラリー;一時;インデックス;索引;名前;ネットワーク;Privacy;プライバシー;
Keywords[kk]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;экран;блоктау;диагностика;құлау;жеке;жуырдағы;уақытша;индекс;аты;желі;анықтағыш;
Keywords[kn]=ತೆರೆ;ಲಾಕ್;ದೋಷಪತ್ತೆ;ಕುಸಿತ;ಖಾಸಗಿ;ಇತ್ತೀಚಿನ;ತಾತ್ಕಾಲಿಕ;tmp;ಸೂಚಿ;ಹೆಸರು;ಜಾಲಬಂಧ;ಗುರುತು;
Keywords[ko]=screen;화면;lock;잠그기;diagnostics;진단;crash;private;개인;정보;사생활;보호;recent;최근;temporary;tmp;임시;index;색인;name;이름;network;네트워크;identity;신원;
Keywords[lt]=ekranas;užrakinimas;diagnostika;lūžimas;privatus;neseniai naudoti;laikinieji;indeksas;pavadinimas;tinklas;tapatybė;
Keywords[lv]=ekrāns;bloķēt;slēgt;diagnostika;avārija;privāts;nesens;pagaidu;indeks;rādītājs;vārds;tīkls;identitāte;
Keywords[mjw]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;
Keywords[ml]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;
Keywords[mr]=स्क्रीन;लॉक;विश्लेषण;क्रॅश;वैयक्तिक;नुकतेच;तात्पुर्ते;tmp;इंडेक्स;नाव;नेटवर्क;ओळख;
Keywords[ms]=skrin;kunci;diagnostik;kerosakan;persendirian;baru-baru ini;sementara;tmp;indeks;nama;rangkaian;identiti;
Keywords[nb]=skjerm;lås;diagnostikk;krash;privat;nylige filer;midlertidig;tmp;indeks;navn;nettverk;identitet;
Keywords[nl]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;scherm;vergrendelen;privé;tijdelijk;
Keywords[oc]=ecran;verrolhar;verrolhatge;diagnostic;plantatge;privat;confidencial;recent;temporari;tmp;indèx;nom;rets;identitat;
Keywords[or]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;
Keywords[pa]=ਸਕਰੀਨ;ਲਾਕ;ਜਾਂਚ;ਪੜਤਾਲ;ਪ੍ਰਾਈਵੇਟ;ਨਿੱਜੀ;ਆਰਜ਼ੀ;ਇੰਡੈਕਸ;ਨਾਂ;ਨੈੱਟਵਰਕ;ਪਛਾਣ;ਕਰੈਸ਼;ਤਾਜ਼ਾ;
Keywords[pl]=ekran;blokada;diagnostyka;awaria;prywatność;ostatnie;ostatnio;tymczasowe;tmp;indeksowanie;index;nazwa;sieć;tożsamość;historia;kosz;śmietnik;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;geolokalizacja;położenie;geograficzne;miejsce;lokacja;miasto;państwo;kraj;
Keywords[pt]=ecrã;bloquear;trancar;diagnósticos;falha;privado;recente;temporário;tmp;índice;nome;rede;identidade;
Keywords[pt_BR]=tela;bloqueio;diagnostico;travamento;privado;recente;temporário;índice;nome;rede;identidade;
Keywords[ro]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;ecran;încuiere;recent;rețea;nume;identitate;
Keywords[ru]=экран;блокировка;диагностика;сбой;личный;приватный;недавние;временные;tmp;индекс;имя;сеть;идентификация;
Keywords[sk]=obrazovka;zámok;uzamknutie;diagnostika;pád;súkromný;nedávny;dočasný;tmp;index;meno;sieť;identita;
Keywords[sl]=zaslon;zaklep;diagnostika;zasebnost;hrošči;sesutje;nedavno;začasno;tmp;index;ime;omrežje;istovetnost;
Keywords[sr]=екран;закључај;дијагноза;пад;урушавање;лично;скорашње;недавно;привремен;прв;попис;назив;мрежа;идентитет;
Keywords[sr@latin]=ekran;zaključaj;dijagnoza;pad;urušavanje;lično;skorašnje;nedavno;privremen;prv;popis;naziv;mreža;identitet;
Keywords[sv]=skärm;lås;diagnostik;krasch;sekretess;nyligen;tillfällig;tmp;index;namn;nätverk;identitet;
Keywords[ta]=திரை;பூட்டு;கண்டறிதல்கள்;செயலிழப்பு;தனிப்பட்ட;சமீபத்திய;தற்காலிக;tmp;அட்டவணை;பெயர்;பிணையம்;அடையாளம்;
Keywords[te]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;
Keywords[tg]=экран;қулф;ташхис;вайронӣ;махфӣ;қаблӣ;муваққатӣ;tmp;индекс;ном;шабака;шахсият;
Keywords[th]=หน้าจอ;ล็อค;วินิจฉัย;พัง;ส่วนตัว;ล่าสุด;ชั่วคราว;tmp;ดัชนี;ชื่อ;เครือข่าย;เอกลักษณ์;
Keywords[tr]=ekran;kilit;tanılama;kırılma;bozulma;çökme;özel;son;geçici;tmp;endeks;isim;ad;ağ;kimlik;
Keywords[ug]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;ئېكران;قۇلۇپ;يېقىنقى;ۋاقىتلىق;ئاتى;تور;كىملىك;
Keywords[uk]=екран;блокування;діагностика;крах;особисте;нещодавнє;тимчасове;tmp;індекс;назва;мережа;засвідчення;
Keywords[vi]=screen;màn;hình;man;hình;lock;khóa;khoa;diagnostics;chẩn;đoán;chan;doan;;crash;hư;hu;private;riêng;tư;rieng;tu;recent;mới;dùng;moi;dung;gần;đây;gan;day;temporary;tạm;tam;tmp;index;name;tên;ten;network;mạng;mang;identity;thực;thể;thuc;the;
Keywords[zh_CN]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;屏幕;锁;诊断;崩溃;私;最近;临时;索引;名称;网络;认证;标志;身份;
Keywords[zh_HK]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;螢幕;鎖定;診斷;私隱;最近使用;暫存;索引;名稱;網絡;身分;
Keywords[zh_TW]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;螢幕;鎖定;診斷;隱私;最近使用;暫存;索引;名稱;網路;身分;
Keywords=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;
