[Desktop Entry]
Name[af]=Deling
Name[an]=Compartir
Name[ar]=المشاركة
Name[as]=অংশীদাৰী কৰা
Name[be]=Супольны доступ
Name[bg]=Споделяне
Name[bn_IN]=যৌথরূপে ব্যবহার
Name[bs]=Dijeljenje
Name[ca]=Compartició
Name[ca@valencia]=Compartició
Name[ckb]=ىڵاوکردنەوە
Name[crh]=Üleşim
Name[cs]=Sdílení
Name[da]=Deling
Name[de]=Freigabe
Name[el]=Κοινή χρήση
Name[en_GB]=Sharing
Name[eo]=Kunhavigo
Name[es]=Compartir
Name[et]=Jagamine
Name[eu]=Partekatzea
Name[fa]=هم‌رسانی
Name[fi]=Jakaminen
Name[fr]=Partage
Name[fur]=Condivision
Name[ga]=Comhroinnt
Name[gd]=Co-roinneadh
Name[gl]=Compartición
Name[gu]=ભાગીદારી
Name[he]=שיתוף
Name[hi]=साझेदारी
Name[hr]=Dijeljenje
Name[hu]=Megosztás
Name[id]=Berbagi Pakai
Name[is]=Deiling
Name[it]=Condivisione
Name[ja]=共有
Name[kk]=Бөлісу
Name[kn]=ಹಂಚಿಕೆ
Name[ko]=공유
Name[lt]=Dalinimasis
Name[lv]=Koplietošana
Name[ml]=പങ്കിടല്‍
Name[mr]=शेअरिंग
Name[ms]=Perkongsian
Name[nb]=Deling
Name[ne]=साझेदारी
Name[nl]=Delen
Name[oc]=Partiment
Name[or]=ସହଭାଗ
Name[pa]=ਸਾਂਝਾ
Name[pl]=Udostępnianie
Name[pt]=Partilhar
Name[pt_BR]=Compartilhamento
Name[ro]=Partajare
Name[ru]=Общий доступ
Name[sk]=Sprístupnenie
Name[sl]=Souporaba
Name[sr]=Дељење
Name[sr@latin]=Deljenje
Name[sv]=Dela
Name[ta]=பகிர்வு
Name[te]=పంచుకొనుచున్నది
Name[tg]=Дастрасии муштарак
Name[th]=การแบ่งปัน
Name[tr]=Paylaşım
Name[ug]=ھەمبەھىر
Name[uk]=Оприлюднення
Name[vi]=Chia sẻ
Name[zh_CN]=共享
Name[zh_HK]=分享
Name[zh_TW]=分享
Name=Sharing (container)
Comment[af]=Kies wat om te deel met ander
Comment[an]=Controla qué quiers compartir con atros
Comment[ar]=تحكم في ما تريد مشاركته مع الآخرين
Comment[as]=আপুনি অন্যৰ লগত কি অংশীদাৰী কৰিব বিচাৰে নিয়ন্ত্ৰণ কৰক
Comment[be]=Настройка супольнага доступу да вашых даных
Comment[bg]=Определяне какво да се споделя с другите
Comment[bn_IN]=অন্যদের সংগে আপনি কী ভাগ করতে চান তা নিয়ন্ত্রণ করুন
Comment[bs]=Kontroliši šta želiš dijeliti sa ostalima
Comment[ca]=Controleu què voleu compartir amb els altres
Comment[ca@valencia]=Controleu què voleu compartir amb els altres
Comment[ckb]=دەستبگرە بەسەر ئەوەی دەتەوێت بڵاویبکەیتەوە لەگەڵ کەسانی دیکە
Comment[cs]=Určete, co chcete sdílet s ostatními
Comment[da]=Bestem hvad du vil dele med andre
Comment[de]=Legen Sie fest, was Sie für Andere freigeben möchten
Comment[el]=Ελέγξτε τι θέλετε να μοιράζεστε με τους άλλους
Comment[en_GB]=Control what you want to share with others
Comment[eo]=Regi kion vi volas kunhavigi kun aliaj
Comment[es]=Controla qué quiere compartir con otros
Comment[et]=Kontrolli, mida teistega jagatakse
Comment[eu]=Kontrolatu besteekin zer partekatzea nahi duzun
Comment[fa]=واپایش چیزهایی که می‌خواهید با دیگران هم‌رسانی کنید
Comment[fi]=Valitse mitä haluat jakaa muiden kanssa
Comment[fr]=Contrôler ce que vous souhaitez partager avec les autres
Comment[fur]=Controle ce che si vûl condividi cun altris
Comment[gd]=Stiùirich na cho-roinneas tu le daoine eile
Comment[gl]=Controle que quere compartir con outros
Comment[gu]=તમે શું બીજાઓ સાથે ભાગીદારી કરવા માંગો છો તેની પર નિયંત્રિત કરો
Comment[he]=שליטה במה שברצונך לשתף עם אחרים
Comment[hi]=नियंत्रण आप क्या दूसरों के साथ साझा करना चाहते हैं
Comment[hr]=Postavite što želite dijeliti s ostalim korisnicima
Comment[hu]=Megosztások beállítása
Comment[id]=Kendalikan apa yang ingin Anda bagikan dengan orang lain
Comment[is]=Stjórnaðu hverju þú vilt deila með öðrum
Comment[it]=Controlla cosa si vuole condividere con altri
Comment[ja]=他のユーザーと共有するものを設定します
Comment[kk]=Басқалармен немен бөлісуді таңдау
Comment[kn]=ನೀವು ಬೇರೆಯವರೊಂದಿಗೆ ಏನನ್ನು ಹಂಚಿಕೊಳ್ಳಲು ಬಯಸುವಿರಿ ಎನ್ನುವುದನ್ನು ನಿಯಂತ್ರಿಸಿ
Comment[ko]=다른 사람과 공유할 사항을 정합니다
Comment[lt]=Valdykite, kuo norite dalintis su kitais
Comment[lv]=Nosakiet, kādu informāciju kopīgosiet ar citiem lietotājiem
Comment[ml]=മറ്റുളളവരുമായി പങ്കിടുന്നത് നിയന്തിക്കുക
Comment[mr]=इतरांशी काय शेअर करायचे ते नियंत्रीत करा
Comment[ms]=Kawal apa yang anda mahu kongsikan dengan orang lain
Comment[nb]=Kontroller hva du vil dele med andre
Comment[nl]=Regelen wat u met anderen wilt delen
Comment[oc]=Controlar çò que volètz partejar amb los autres
Comment[or]=ଅନ୍ୟମାନଙ୍କ ସହିତ କଣ ସହଭାଗ କରିବେ ତାହା ନିୟନ୍ତ୍ରଣ କରନ୍ତୁ
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿ ਤੁਸੀਂ ਹੋਰਾਂ ਨਾਲ ਕੀ ਸਾਂਝਾ ਕਰਦੇ ਹੋ
Comment[pl]=Sterowanie udostępnianiem innym użytkownikom
Comment[pt]=Controlar o que deseja partilhar com outros
Comment[pt_BR]=Controle o que você quer compartilhar com outros
Comment[ro]=Controlați ce partajați cu alții
Comment[ru]=Общий доступ для других пользователей
Comment[sk]=Ovláda, ktoré údaje chcete sprístupniť ostatným
Comment[sl]=Nadzor nad souporabo podatkov in datotek z drugimi uporabniki
Comment[sr]=Одлучите шта желите да делите с другима
Comment[sr@latin]=Odlučite šta želite da delite s drugima
Comment[sv]=Kontrollera vad du vill dela med andra
Comment[ta]=நீங்கள் மற்றவர்களுடன் எவற்றைப் பகிர வேண்டும் என்பதைக் கட்டுப்படுத்தவும்
Comment[te]=మీరు యితరులతో యేమి పంచుకోవాలని అనుకొనుచున్నారో నియంత్రించు
Comment[tg]=Идора кунед, ки шумо бо дигарон чиро мубодила мекунед
Comment[th]=ควบคุมสิ่งที่คุณต้องการแบ่งปันกับผู้อื่น
Comment[tr]=Diğerleri ile ne paylaşacağınızı denetleyin
Comment[uk]=Вказує, чим ви бажаєте поділитись з іншими
Comment[vi]=Điều khiển việc bạn muôn chia sẻ những gì với các máy tính hay thiết bị khác
Comment[zh_CN]=控制想要与其他用户共享的内容
Comment[zh_HK]=控制你想要與其他人分享什麼
Comment[zh_TW]=控制您想要與其他人分享什麼
Comment=Control what you want to share with others
Exec=toolbox run gnome-control-center sharing
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/preferences-system-sharing.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-AccountSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Settings-Panel=sharing
# Translators: Search terms to find the Sharing panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=deel;deling;ssh;gasheer;naam;afgeleë;werkskerm;media;klank;video;prente;fotos;flieks;bediener;
Keywords[ar]=مشاركة;شارك;اسم;مكتب;بعيد;بلوتوث;صوت;صورة;وسائط;
Keywords[be]=супольны доступ;рэсурс;ssh;хост;машына;аддалены;стол;медыя;гук;аўдыя;відэа;выявы;малюнкі;рысункі;фатаграфіі;фотаздымкі;фільмы;стужкі;сервер;рэндэрынг;
Keywords[bg]=споделяне;достъп;даване;машина;компютър;хост;име;отдалечен;плот;блутут;син;медия;аудио;песен;песни;снимка;фото;фотография;видео;филм;клип;сървър;показвам;изобразяване;share;sharing;ssh;host;name;remote;desktop;bluetooth;obex;media;audio;video;pictures;photos;movies;server;renderer;share;sharing;ssh;host;name;remote;desktop;bluetooth;obex;media;audio;video;pictures;photos;movies;server;renderer;
Keywords[bn_IN]=ভাগ;অংশীদারি;ssh;হোস্ট;নাম;রিমোট;ডেস্কটপ;ব্লুটুথ;obex;মিডিয়া;অডিও;ভিডিও;ছবি;ফোটো;মুভি;সার্ভার;রেন্ডরার;
Keywords[ca]=comparteix;compartició;ssh;amfitrió;nom;remot;escriptori;multimèdia;àudio;vídeo;imatges;fotografies;pel·lícules;servidor;renderitzar;
Keywords[ca@valencia]=comparteix;compartició;ssh;amfitrió;nom;remot;escriptori;multimèdia;àudio;vídeo;imatges;fotografies;pel·lícules;servidor;renderitzar;
Keywords[ckb]=بڵاوکردنەوە;بڵاودەکرێتەوە;ssh;خانەخوێ;ناو;کۆنتڕۆڵ-لە-دوور;ڕوومێز;ڕەنگاڵە;دەنگ;ڤیدیۆ;وێنەکان;وێنەکان;فلیمەکان;ڕاژە;ڕێندەرکەر;
Keywords[cs]=sdílet;sdílení;ssh;hostitel;název;vzdálený;obrazovka;desktop;pracovní plocha;multimédia;zvuk;video;obraz;obrázky;fotografie;filmy;server;vykreslování;renderer;
Keywords[da]=del;deling;ssh;vært;navn;fjern;skrivebord;medie;lyd;video;billeder;fotos;film;videoer;server;rendering;
Keywords[de]=Freigabe;ssh;Rechner;Name;Entfernt;Arbeitsumgebung;Umgebung;Medien;Audio;Video;Bilder;Fotos;Filme;Server;
Keywords[el]=κοινόχρηστος;κοινή χρήση;ssh;κεντρικός υπολογιστής;όνομα;απομακρυσμένο;επιφάνεια εργασίας;μέσα;ήχος;βίντεο;εικόνες;φωτογραφίες;ταινίες;διακομιστής;απεικονιστής;share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;
Keywords[en_GB]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;
Keywords[eo]=kunhavigi;kunhavigado;sekurŝelo;ssu;gastigo;nomo;fora;defora;labortablo;medio;aŭdo;vido;video;filmoj;aŭdovida;bildoj;fotoj;kinofilmoj;servilo;bildigilo;
Keywords[es]=compartir;compartición;ssh;equipo;remoto;escritorio:bluetooth;obex;multimedia;sonido:vídeo;imágenes;fotos;películas;servidor;renderizador;
Keywords[eu]=partekatu;partekatzea;ssh;ostalaria;izena;urrunekoa;mahaigaina;multimedia;bideoa;irudiak;argazkiak;filmak;zerbitzaria;errendatzea;
Keywords[fa]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;هم‌رسانی;اشتراک;میزبان;نام;دور;میزکار;ریانه;صدا;آهنگ;ویدیو;فیلم;عکس;تصویر;کارساز;سرور;
Keywords[fi]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;jako;jakaminen;etä;työpöytä;ääni;video;kuvat;palvelin;
Keywords[fr]=partage;partager;ssh;hôte;nom;distant;bureau;média;audio;vidéo;images;photos;film,serveur;moteur de rendu;
Keywords[fur]=condivision;share;ssh;host;non;rimot;desktop;scritori;medie;multimedie;audio;video;imagjins;fotos;film;servidôr;server;renderer;
Keywords[gd]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;co-roinn;co-roinneadh;òstair;cèin;meadhan;fuaim;dealbhan;deilbh;filmichean;frithealaiche;reandaraiche;
Keywords[gl]=compartir;compartición;ssh:equipo;nome;remoto;escritorio;son;vídeo;imaxes;fotos;filmes;servidor;renderizador;
Keywords[he]=שיתוף;מארח;שרת;שם;מרוחק;רחוק;מרחוק;שולחן עבודה;מדיה;שמע;אודיו;קול;צליל;וידאו;סרטון;סרט;תמונות;צילומים;תצלומים;עיבוד;מעבד;
Keywords[hr]=dijeli;dijeljenje;ssh;računalo;naziv;udaljeno;radna površina;medija;zvuk;snimka;slika;fotografije;filmovi;poslužitelj;prikazivanje;
Keywords[hu]=megosztás;ssh;host;név;távoli;asztal;média;audio;hang;video;kép;fénykép;filmek;kiszolgáló;szerver;
Keywords[id]=berbagi;ssh;host;nama;jarak jauh;remote;desktop;media;audio;video;gambar;foto;film;server;perender;
Keywords[is]=sameign;deiling;ssh;hýsill;heiti;fjartengt;skjáborð;hljóð;myndskeið;mynd;ljósmynd;kvikmynd;þjónn;miðlari;myndgerð;
Keywords[it]=condivisione;share;ssh;host;nome;remoto;desktop;bluetooth;obex;media;multimedia;audio;video;immagini;foto;film;server;
Keywords[ja]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;共有;シェアリング;セキュアシェル;ホスト;名前;リモート;遠隔;デスクトップ;メディア;コンテンツ;オーディオ;音声;音楽;楽曲;ミュージック;ビデオ;動画;映像;画像;静止画;写真;フォト;ムービー;映画;サーバー;レンダラー;
Keywords[kk]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;бөлісу;торап;аты;қашықтағы;жұмыс үстелі;медиа;аудио;видео;суреттер;фотолар;кинолар;сервер;өндегіш;
Keywords[ko]=share;sharing;공유;ssh;보안쉘;host;name;호스트;이름;remote;desktop;원격;데스크톱;media;미디어;audio;오디오;video;비디오;pictures;photos;사진;movies;영상;동영상;server;서버;renderer;렌더러;
Keywords[lt]=dalinimasis;dalintis;bendrinti;ssh;kompiuteris;pavadinimas;nutolęs;darbalaukis;medija;garsas;vaizdas;paveikslėliai;fotografijos;filmai;serveris;piešėjas;
Keywords[lv]=koplietot;dalīties;ssh;dators;hosts;nosaukums;attālināti;darbvirsma;datu nesējs;audio;video;attēli;bildes fotogrāfijas;filmas;serveris;renderētājs;
Keywords[mjw]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;
Keywords[ml]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;
Keywords[ms]=kongsi;perkongsian;ssh;hos;nama;jauh;desktop;media;audio;video;gambar;foto;cereka;pelayan;penerap;
Keywords[nb]=del;deling;ssh;vert;navn;ekstern;skrivebord;media;lyd;video;bilder;foto;filmer;tjener;visning;
Keywords[nl]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;delen;afbeeldingen;films;
Keywords[oc]=partiment;partejar;ssh;òste;nom;distant;burèu;bluetooth;obex;mèdia;àudio;vidèo;imatges;fòtos;filmes;servidor;renderer;motor de rendut;
Keywords[pa]=ਸਾਂਝਾ;ਸਾਂਝਾ ਕਰੋ;ਨਾਂ;ਨਾਮ;ਡੈਸਕਟਾਪ;ਮੀਡੀਆ;ਆਡੀਓ;ਵੀਡੀਓ;ਹੋਸਟ;ssh;ਰਿਮੋਟ;ਤਸਵੀਰ;ਫੋਟੋ;ਮੂਵੀ;ਸਰਵਰ;ਰੈਂਡਰ;
Keywords[pl]=udostępnianie;współdzielenie;share;sharing;ssh;vnc;rfb;rdp;nx;spice;vino;vinagre;komputer;host;nazwa;zdalnie;zdalny;zdalne;pulpit;desktop;ekran;multimedia;media;dźwięk;audio;wideo;obraz;video;zdjęcia;filmy;serwer;renderer;rygel;
Keywords[pt]=partilhar;partilha;ssh;máquina;nome;remota;desktop;média;áudio;vídeo;imagens;fotografias;filmes;servidor;desenho;
Keywords[pt_BR]=compartilhar;compartilhamento;ssh;máquina;host;nome;remoto;desktop;área de trabalho;mídia;áudio;som;vídeo;imagens;fotos;filmes;servidor;renderizador;
Keywords[ro]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;partajare;împărtășire;nume;poze;imagini;filme;
Keywords[ru]=общий;доступ;ssh;узел;имя;удалённый;рабочий;стол;медиа;аудио;видео;изображения;фото;фильмы;сервер;обработчик;
Keywords[sk]=spoločné používanie;spoločne používať;ssh;hostiteľ;názov;vzdialený;vzdialená;pracovná plocha;multimédiá;médiá;audio;zvuk;video;obrázky;fotografie;filmy;videá;server;vykreslovač;
Keywords[sl]=souporaba;izmenjava;ssh;gostitelj;ime;oddaljeno;namizje;bluetooth;obex;predstavnost;zvok;audio;slika;video;fotografije;filmi;strežnik;izrisovanje;
Keywords[sr]=дели;дељење;ссх;безбедна шкољка;домаћин;назив;удаљено;радна површ;блутут;обекс;медија;звук;аудио;снимак;видео;слике;фотографије;филмови;сервер;исцртавач;deli;deljenje;ssh;bezbedna školjka;domaćin;naziv;udaljeno;radna površ;blutut;obeks;medija;zvuk;audio;snimak;video;slike;fotografije;filmovi;server;iscrtavač;share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;
Keywords[sr@latin]=deli;deljenje;ssh;bezbedna školjka;domaćin;naziv;udaljeno;radna površ;blutut;obeks;medija;zvuk;audio;snimak;video;slike;fotografije;filmovi;server;iscrtavač;deli;deljenje;ssh;bezbedna školjka;domaćin;naziv;udaljeno;radna površ;blutut;obeks;medija;zvuk;audio;snimak;video;slike;fotografije;filmovi;server;iscrtavač;share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;
Keywords[sv]=dela;delning;share;ssh;värd;namn;fjärr;skrivbord;media;audio;ljud;video;bilder;foton;filmer;server;renderare;
Keywords[th]=แบ่งปัน;ใช้ร่วม;ssh;โฮสต์;ชื่อ;แม่ข่าย;เดสก์ท็อป;สื่อ;เสียง;วีดิทัศน์;ภาพ;ภาพถ่าย;ภาพยนตร์;เซิร์ฟเวอร์;โปรแกรมวาดแสดง;
Keywords[tr]=paylaş;paylaşım;ssh;makine;host;isim;ad;uzak;masaüstü;ortam;ses;video;görüntü;resimler;fotoğraflar;filmler;sunucu;renderer;yorumlayıcı;
Keywords[uk]=спільне;оприлюднення;ssh;вузол;назва;віддалений;стільниця;носій;аудіо;відео;малюнок;фотографії;фільми;сервер;відтворення;
Keywords[vi]=share;chia;sẻ;se;sharing;ssh;host;chủ;máy;chu;may;name;tên;ten;remote;xa;điều;khiển;desktop;media;đa phương tiện;da phuong tien;audio;nhạc;nhạc;video;phim;pictures;photos;ảnh;anh;movies;server;renderer;
Keywords[zh_CN]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;共享;主机;名称;远程;桌面;介质;媒体;音频;视频;图片;照片;电影;服务器;渲染;
Keywords[zh_TW]=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;分享;主機;名稱;遠端;桌面;媒體;音效;影片;圖片;相片;伺服器;
Keywords=share;sharing;ssh;host;name;remote;desktop;media;audio;video;pictures;photos;movies;server;renderer;
