[Desktop Entry]
Name[an]=Pantallas
Name[ar]=الشاشات
Name[as]=প্ৰদৰ্শনসমূহ
Name[ast]=Pantalles
Name[be]=Маніторы
Name[bn]=প্রদর্শন
Name[bn_IN]=প্রদর্শন
Name[bs]=Displeji
Name[ca]=Pantalles
Name[ckb]=پیشاندەرەکان
Name[crh]=Ekranlar
Name[cs]=Displeje
Name[da]=Skærme
Name[de]=Bildschirme
Name[el]=Οθόνες
Name[en_GB]=Displays
Name[eo]=Ekranoj
Name[es]=Pantallas
Name[et]=Kuvad
Name[eu]=Pantailak
Name[fa]=نمایشگرها
Name[fi]=Näytöt
Name[fr]=Éc­rans
Name[fur]=Visôrs
Name[ga]=Taispeáintí
Name[gd]=Uidheaman-taisbeanaidh
Name[gl]=Pantallas
Name[gu]=દેખાવો
Name[he]=צג
Name[hi]=प्रदर्शक
Name[hr]=Zasloni
Name[hu]=Ki­jel­zők
Name[id]=Tampilan
Name[is]=Skjáir
Name[it]=Schermi
Name[ja]=ディスプレイ
Name[kab]=Ibeqqiḍen
Name[kk]=Экран­дар
Name[km]=ទិដ្ឋភាព
Name[kn]=ಪ್ರದರ್ಶಕಗಳು
Name[ko]=디스플레이
Name[ku]=Dîmender
Name[ky]=Дисплейлер
Name[lt]=Ekranai
Name[lv]=Displeji
Name[mk]=Прикази
Name[mr]=डिस्पलेज्
Name[ms]=Paparan
Name[nb]=Skjermer
Name[nl]=Schermen
Name[nn]=Skjermar
Name[oc]=Ec­rans
Name[or]=ପ୍ରଦର୍ଶନୀଗୁଡ଼ିକ
Name[pa]=ਡਿਸਪਲੇਅ
Name[pl]=Ekrany
Name[pt]=Ecrãs
Name[pt_BR]=Telas
Name[ro]=Ecrane
Name[ru]=Дисплеи
Name[sk]=Displeje
Name[sl]=Zasloni
Name[sr]=Екрани
Name[sr@latin]=Ekrani
Name[sv]=Skärm­ar
Name[ta]=காட்டிகள்
Name[te]=ప్రదర్శనలు
Name[tg]=Дисплейҳо
Name[tr]=Ekranlar
Name[ug]=كۆرسەتكۈچلەر
Name[uk]=Дисплеї
Name[vi]=Màn hình
Name[zh_CN]=显示器
Name[zh_HK]=顯示器
Name[zh_TW]=顯示器
Name=Displays (container)
Comment[af]=Kies hoe om ingepropte monitors en projektors te gebruik
Comment[an]=Trigar cómo usar as pantallas y os prochectors connectaus
Comment[ar]=اختر كيف تستخدم الشاشات و أجهزة عرض الشرائح
Comment[as]=সংযুক্ত মনিটৰসমূহ আৰু প্ৰক্ষেপকসমূহ কিধৰণে ব্যৱহাৰ কৰিব বাছক
Comment[be]=Настройка выкарыстання падлучаных манітораў і праектараў
Comment[bg]=Изберете как да се използват свързаните екрани и проектори
Comment[bn_IN]=সংযুক্ত মনিটর এবং প্রোজেক্টর কীভাবে ব্যবহার করতে হবে তা বাছুন
Comment[bs]=Odaberi kako koristit povezane monitore i projektore
Comment[ca]=Trieu com utilitzar els monitors i projectors connectats
Comment[ca@valencia]=Trieu com utilitzar els monitors i projectors connectats
Comment[ckb]=هەڵیبژێرە چۆن دەتوانیت پڕۆژەدروستکەرەکان و پیشاندەرەکان بەکاربێنیت
Comment[crh]=Bağlanğan monitorlar ve proyektorlarnıñ nasıl qullanılacağını sayla
Comment[cs]=Zvolit, jak se mají používat připojené monitory a projektory
Comment[da]=Vælg hvordan forbundne skærme og projektorer skal bruges
Comment[de]=Legt fest, wie angeschlossene Monitore und Projektoren arbeiten
Comment[el]=Επιλέξτε τον τρόπο χρήσης συνδεδεμένων οθονών και προβολέων
Comment[en_GB]=Choose how to use connected monitors and projectors
Comment[eo]=Elekti kiel uzi konektitajn ekranojn kaj projekciilojn
Comment[es]=Elegir cómo usar las pantallas y los proyectores conectados
Comment[et]=Kuvarite ja projektorite kasutuse muutmine
Comment[eu]=Aldatu konektatutako pantaila eta proiektagailuak nola erabiliko diren
Comment[fa]=نحوهٔ استفاده از نمایشگرها و پروژکتورهای متصل را انتخاب کنید
Comment[fi]=Valitse kuinka näyttöjä ja projektoreja käsitellään
Comment[fr]=Choisir le mode d’utilisation des écrans et projecteurs connectés
Comment[fur]=Sielç cemût doprâ i visôrs e i proietôrs tacâts
Comment[gd]=Tagh mar a thèid monatairean is proiseactaran a tha ceangailte ris a chleachdadh
Comment[gl]=Escolla como usar os monitores conectados e proxectores
Comment[gu]=કેવી રીતે મોનિટર અને પ્રોજેક્ટરને વાપરવુ તેને પસંદ કરો
Comment[he]=בחירה כיצד להשתמש בצגים ובמקרנים מחוברים
Comment[hi]=जुड़े हुए मॉनिटर और प्रोजेक्टर का उपयोग करने के लिए चुनें
Comment[hr]=Odaberite kako koristiti monitore i projektore
Comment[hu]=Csatlakoztatott monitorok és projektorok beállítása
Comment[id]=Pilih bagaimana menggunakan monitor dan proyektor yang tersambung
Comment[is]=Veldu hvernig nota eigi tengda skjái og myndvarpa
Comment[it]=Sceglie come usare i monitor e i proiettori connessi
Comment[ja]=接続したモニターやプロジェクターの使用方法を変更します
Comment[kk]=Жалғанған мониторлар мен проекторларды қолдану тәсілін таңдаңыз
Comment[kn]=ಸಂಪರ್ಕಿತಗೊಳಿಸಲಾದ ಮಾನಿಟರುಗಳ ಹಾಗು ಪ್ರೊಜೆಕ್ಟರುಗಳನ್ನು ಹೇಗೆ ಬಳಸಬೇಕು ಎನ್ನುವುದನ್ನು ಆರಿಸಿ
Comment[ko]=연결한 모니터와 프로젝터 사용법을 정합니다
Comment[lt]=Pasirinkite, kaip naudoti prijungtus monitorius ir projektorius
Comment[lv]=Izvēlieties, kā izmantot pievienotos monitorus un projektorus
Comment[ml]=മോണിറ്ററുകളും പ്രൊജക്ടറുകളും എങ്ങനെ ഉപയോഗിക്കണമെന്ന് തെരഞ്ഞെടുക്കുക
Comment[mr]=जुळलेले मॉनिटर्स आणि प्रोजेक्टर्सचा वापर कसा करायचा ते पसंत करा
Comment[ms]=Pilih bagaimana hendak guna monitor dan projektor bersambung
Comment[nb]=Velg hvordan tilkoblede skjermer og prosjektorer skal brukes
Comment[nl]=Kiezen hoe aangesloten beeldschermen en projectoren gebruikt worden
Comment[oc]=Causir lo mòde d'utilizacion dels ecrans e projectors connectats
Comment[or]=ସଂଯୁକ୍ତ ମନିଟର ଏବଂ ପ୍ରଦର୍ଶିକାକୁ କିପରି ବ୍ୟବହାର କରିବେ ତାହା ବାଛନ୍ତୁ
Comment[pa]=ਚੁਣੋ ਕਿ ਮਾਨੀਟਰਾਂ ਅਤੇ ਪਰੋਜੈਕਟਰ ਨਾਲ ਕਿਵੇਂ ਜੁੜਨਾ ਹੈ
Comment[pl]=Wybór sposobu używania podłączonych monitorów i projektorów
Comment[pt]=Alterar como utilizar os monitores e projetores ligados
Comment[pt_BR]=Escolha como usar os monitores e projetores conectados
Comment[ro]=Alege cum să fie folosite monitoarele și proiectoarele conectate
Comment[ru]=Выберите, как использовать подключённые мониторы и проекторы
Comment[sk]=Volí spôsob použitia pripojených displejov a projektorov
Comment[sl]=Izbor načina uporabe povezanih zaslonov in projektorjev
Comment[sr]=Изаберите како ћете користити повезане екране и пројекторе
Comment[sr@latin]=Izaberite kako ćete koristiti povezane ekrane i projektore
Comment[sv]=Välj hur anslutna skärmar och projektorer ska användas
Comment[ta]=இணைக்கப்பட்ட திரைகளையும் ஒளிப்படக்காட்டிகளையும் எப்படிப் பயன்படுத்த வேண்டும் எனத் தேர்வு செய்யவும்
Comment[te]=అనుసంధానిత మానిటర్స్ మరియు ప్రొజెక్టర్స్ యెలా వుపయోగించాలో యెంచుకొనుము
Comment[tg]=Интихоб кардани тарзи истифодаи мониторҳо ва проекторҳои пайвастшуда
Comment[th]=เลือกวิธีใช้งานจอภาพและเครื่องฉายที่เชื่อมต่ออยู่
Comment[tr]=Bağlanan ekranların ya da projektörlerin nasıl kullanılacağını seçin
Comment[uk]=Змінити використання під'єднаних моніторів та проекторів
Comment[vi]=Chọn cách dùng màn hình và máy chiếu được kết nối
Comment[zh_CN]=选择如何使用接入的显示器和投影仪
Comment[zh_HK]=選擇如何使用連接的顯示器和投影機
Comment[zh_TW]=選擇如何使用連接的顯示器與投影機
Comment=Choose how to use connected monitors and projectors
Exec=toolbox run gnome-control-center display
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/hicolor/scalable/apps/preferences-desktop-display.svg
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Screen resolution
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Displays panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=paneel;projektor;xrandr;skerm;resolusie;verfris;monitor;nag;lig;blou;rooiverskuiwing;kleur;sonsondergang;sonsopkoms;
Keywords[ar]=لوحة;عرض;شاشة;ميز;ليل;إضاءة;شروق;غروب;لون;
Keywords[be]=Панэль;Праектар;xrandr;Экран;Распазнавальнасць;Абнаўленне экрана;Манітор;Ноч;Святло;колер;заход;усход;
Keywords[bg]=панел;проектор;екран;разделителна способност;опресняване;монитор;дисплей;нощ;светлина;яркост;завъртане;ротация;синя;червена;panel;projector;xrandr;screen;resolution;refresh;monitor;night;light;blue;
Keywords[bn_IN]=প্যানেল;প্রজেক্টর;xrandr;স্ক্রিন;রেজোলিউশন;রিফ্রেশ;মনিটর;নাইট;হাল্কা;নীল;redshift;রঙ;সূর্যাস্ত;সূর্যোদয়;
Keywords[ca]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;Monitor;Nit;Llum;Blau;color;posta de sol;
Keywords[ca@valencia]=Quadre;Projector;xrandr;Pantalla;Resolució;Refresca;Monitor;Nit;Llum;Blau;color;posta de sol;
Keywords[ckb]=بەش;پڕۆژەدروستکەر;xrandr;شاشە;وردی نیشاندانی شاشە;نوێبوونەوە;مۆنیتەر؛شەو;ڕووناکی;شین;گۆڕینی سوور;ڕەنگ;خۆرئاوابوون;خۆرهەڵاتن;
Keywords[cs]=panel;projektor;xrandr;obrazovka;rozlišení;obnovovací frekvence;monitor;displej;noc;tma;světlo;modrá;červený;posuv;posun;barva;rozbřesk;soumrak;východ;západ;slunce;
Keywords[da]=Panel;Projektor;xrandr;Skærm;Opløsning;Opdatering;Opdater;Opdatér;Monitor;Nat;Lys;Blå;rødforskyd;farve;solnedgang;solopgang;
Keywords[de]=Panel;Projektor;xrandr;Anzeige;Auflösung;Aktualisieren;Bildschirm;Monitor;Nacht;Tag;Blau;Rotverschiebung;Farbe;Sonnenuntergang;Sonnenaufgang;
Keywords[el]=Πάνελ;Προβολέας;xrandr;Οθόνη;Ανάλυση;Ανανέωση;Παρακολούθηση;νύχτα;νυχτός;ανατολή;χρώμα;δύση;Panel;Projector;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;
Keywords[en_GB]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;colour;sunset;sunrise;
Keywords[eo]=Panelo;Projekciilo;xrandr;Ekrano;Distingivo;Aktualigi;Ekrano;Nokto;Lumo;Blua;redshift;koloro;sunsubiro;sunleviĝo;
Keywords[es]=Panel;Proyector;xranrd;Pantalla;Resolución;Actualizar;Monitor;Noche;Luz;Azul;color;amanecer;atardecer;ocaso;
Keywords[eu]=Panela;Proiektagailua;xrandr;Pantaila;Bereizmena;Freskatu;Monitorea;Gaua;Argia;Urdina;kolorea;egunsentia;ilunabarra;
Keywords[fa]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;تابلو;پروژکتور;صفحه;مانیتور;نمایشگر;تفکیک;شب;نور;آبی;رنگ;غروب;طلوع;
Keywords[fi]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Paneeli;Projektori;Näyttö;Resoluutio;Tarkkuus;Virkistystaajuus;yövalo;
Keywords[fr]=Panneau;Projecteur;xrandr;Écran;Définition;Résolution;Rafraîchissement;Moniteur;Nuit;Éclairage;Lumière;Bleue;Rouge;redshift;décalage;spectral;couleur;lever;coucher;soleil;
Keywords[fur]=Panel;Proietôr;xrandr;Schermi;Risoluzion;Refresh;Visôr;Gnot;Lûs;Blu;inrossâ;colôr;tramont;cricâ;
Keywords[gd]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;panail;proiseactar;tilgear;sgrìn;dùmhlachd-bhreacaidh;ath-nuadhaich;ath-nuadhachadh;monatar;solar;oidhche;gorm;dearg;dath;laighe na grèine;èirigh na grèine;
Keywords[gl]=Panel;Proxector;xrandr;Pantalla;Resolución;Refresco;Monitor;Noite;Luz;Azul;redshift;cor;solpor;amencer;
Keywords[he]=לוח;מקרן;xrandr;צג;מסך;רזולוציה;הבחנה;רענון;צג;לילה;אור;תאורה;כחול;היסט לאדום;צבע;שקיעה;זריחה;
Keywords[hr]=Panel;Projektor;xrandr;Zaslon;Razlučivost;Osvježi;Monitor;Noć;Svjetlo;Plavo;crveni pomak; boja;zalazak;izlazak;
Keywords[hu]=Panel;Projektor;xrandr;Képernyő;Felbontás;Frissítés;Monitor;Éjszakai;fény;redshift;szín;napkelte;napnyugta;
Keywords[id]=Panel;Proyektor;xrandr;Layar;Resolusi;Segarkan;Monitor;Malam;Terang;Biru;redshift;warna;matahari terbit;matahari tenggelam;
Keywords[is]=Spjald;Skjávarpi;xrandr;Skjár;Skjáupplausn;Uppfærslutíðni;Gluggi;Nótt;nætur;ljós;litur;lýsing;sólarlag;sólarupprás;
Keywords[it]=Pannello;Proiettore;xrandr;Schermo;Risoluzione;Dimensioni;Refresh;Display;Monitor;Notte;Blu;colore;tramonto;alba;luce;notturna;
Keywords[ja]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;パネル;プロジェクター;画面;解像度;リフレッシュ;モニター;ナイトライト;夜間モード;ブルーライト;色管理;ディスプレイ;ディスプレー;Displays;日没;日の出;
Keywords[kk]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Панель;Проектор;xrandr;Экран;Ажыратылымдығы;Жаңарту;Монитор;Түн;Жарық;Көк;түс;күннің шығуы;күннің батуы;
Keywords[ko]=Panel;패널;Projector;프로젝터;xrandr;Screen;화면;Resolution;해상도;Refresh;주사율;Monitor;모니터;Night;Light;야간;모드;조명;Blue;파란빛;redshift;적색편이;color;색;sunset;일몰;sunrise;일출;
Keywords[lt]=Skydelis;Projektorius;xrandr;Ekranas;Raiška;Atnaujinimas;Monitorius;Naktinis;Apšvietimas;rausvumas;spalva;saulėtekis;saulėlydis;
Keywords[lv]=Panelis;Projektors;xrandr;Ekrāns;Izšķirtspēja;Atsvaidzināt;Monitors;Nakts;Gaisma;Zils;redshift;krāsa;saullēkts;saulriets;Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;
Keywords[ml]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;
Keywords[ms]=Panel;Projektor;xrandr;Skrin;Resolusi;Segar Semula;Monitor;Malam;Cahaya;Biru;anjak merah;warna;matahari terbenam;matahari terbit;
Keywords[nb]=Panel;Prosjektor;xrandr;Skjerm;Oppløsning;Oppdater;Skjerm;Natt;Lys;Blå;redshift;farge;solnedgang;soloppgang;
Keywords[nl]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Paneel;Scherm;Resolutie;Verversen;Beeldscherm;Nacht;Licht;Blauw;kleur;zonsondergang;zonsopgang;
Keywords[oc]=Panèl;Projector;xrandr;Ecran;Definicion;Resolucion;Refrescament;Moniteur;Nuèit;Nuèch,Esclairatge;Lum;Lutz;Blava;redshift;descalatge;espectral;color;levar;colcar;
Keywords[pa]=ਪੈਨਲ;ਪਰੋਜੈਕਟਰ;xrandr;ਸਕਰੀਨ;ਰੈਜ਼ੋਲੂਸ਼ਨ;ਤਾਜ਼ਾ;ਮਾਨੀਟਰ;ਰਾਤ;ਰਾਤਰੀ;ਰੌਸ਼ਨੀ;ਪ੍ਰਕਾਸ਼;ਨੀਲਾ;ਲਾਲ-ਪਰਿਵਰਤਨ;ਸੂਰਜ-ਚੜ੍ਹਨਾ;ਸੂਰਜ-ਲਹਿਣਾ;ਸੂਰਜ-ਡੁੱਬਣਾ;ਹਨੇਰਾ;ਰਾਤ-ਵੇਲਾ;ਚਾਨਣ;ਸਰਘੀ;ਤਰਕਾਲਾਂ;ਆਥਣ;
Keywords[pl]=Panel;Projektor;xrandr;Ekran;Rozdzielczość;Odświeżanie;Monitor;Nocne;światło;Niebieski;Przesunięcie ku czerwieni;Poczerwienienie;Redshift;Kolory;Kolorów;Wschód;Zachód;słońca;Słońce;
Keywords[pt]=Painel;Projetor;xrandr;Ecrã;Resolução;Atualizar;Monitor;Noturno;Luz;Azul;cor;anoitecer;amanhecer;
Keywords[pt_BR]=Painel;Projetor;xrandr;Tela;Resolução;Atualizar;Atualização;Monitor;Noite;Noturna;Luz;Azul;Desvio para o vermelho;redshift;cor;pôr do sol;nascer do sol;
Keywords[ro]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;Panou;Proiector;Ecran;Rezoluție;Lumină;Albastru;culoare;apus;răsărit;
Keywords[ru]=Панель;Проектор;xrandr;Экран;Разрешение;Обновить;Монитор;Ночь;Подсветка;Синий;смещение;цвет;закат;рассвет;
Keywords[sk]=Panel;Projektor;xrandr;Obrazovka;Rozlíšenie;Obnovovanie;Displej;Noc;Nočné;Svetlo;Osvetlenie;Modrá;Farba;Redshift;Západ;Východ;Slnka;
Keywords[sl]=pult;panel;projektor;xrandr;zaslon;ločljivost;osveževanje;monitor;noč;svetloba;svetlost;modra;rdeči zamik;zora;mrak;barve;
Keywords[sr]=панел;пројектор;икс-рандр;екран;резолуција;освежавање;монитор;ноћ;светло;плаво;редшифт;боја;свитање;сумрак;panel;projektor;iks-randr;ekran;rezolucija;osvežavanje;monitor;noć;svetlo;plavo;redšift;boja;svitanje;sumrak;Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;
Keywords[sr@latin]=panel;projektor;iks-randr;ekran;rezolucija;osvežavanje;monitor;noć;svetlo;plavo;redšift;boja;svitanje;sumrak;panel;projektor;iks-randr;ekran;rezolucija;osvežavanje;monitor;noć;svetlo;plavo;redšift;boja;svitanje;sumrak;Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;
Keywords[sv]=Panel;Projektor;xrandr;Skärm;Upplösning;Uppdatering;Natt;Belysning;Blå;redshift;färg;solnedgång;soluppgång;
Keywords[tr]=Panel;Projektör;Gösterici;xrandr;Ekran;Çözünürlük;Tazele;Yenile;Monitör;Gece;Işık;Mavi;redshift;renk;gün doğumu;gün batımı;
Keywords[uk]=Панель;Проектори;xrandr;Екран;Роздільність;Оновлення;Монітор;Нічне;Світло;Синій;redshift;колір;захід;світанок;
Keywords[vi]=Panel;Bảng;bang;Projector;Máy;chiếu;May;chieu;xrandr;Screen;Màn;hình;Man;hinh;Resolution;Độ;phân;giải;Do;phan;gia;Refresh;Night;Đêm;Dem;Light;Ánh sáng;anh sang;Blue;Xanh;redshift;color;màu;mau;sunset;hoàng hôn;hoang hon;sunrise;bình minh;binh minh;
Keywords[zh_CN]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;面板;投影仪;屏幕;分辨率;刷新;夜晚;晚上;光;蓝;红移;颜色;日落;日出;
Keywords[zh_TW]=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;;Night;Light;Blue;redshift;color;sunset;sunrise;面板;投影機;螢幕;解析度;重新整理;螢幕;夜晚;夜光;藍光;日出;日落;
Keywords=Panel;Projector;xrandr;Screen;Resolution;Refresh;Monitor;Night;Light;Blue;redshift;color;sunset;sunrise;
