[Desktop Entry]
Name[be@latin]=Dastupnaść
Name[bn_IN]=অভিগম্যতা
Name[ca]=Accessibilitat
Name[cs]=Přístupnost
Name[da]=Tilgængelighed
Name[de]=Barrierefreiheit
Name[dz]=འཛུལ་སྤྱོད
Name[el]=Προσβασιμότητα
Name[en_GB]=Accessibility
Name[en@shaw]=𐑨𐑒𐑕𐑧𐑕𐑩𐑚𐑦𐑤𐑦𐑑𐑰
Name[es]=Accesibilidad
Name[eu]=Erabilerraztasuna
Name[fa]=دسترسی‌پذیری
Name[fi]=Esteettömyys
Name[fr]=Accessibilité
Name[fur]=Acessibilitât
Name[gl]=Accesibilidade
Name[he]=נגישות
Name[hr]=Pristupačnost
Name[hu]=Akadálymentesítés
Name[hy]=Հասանելիություն
Name[id]=Aksesibilitas
Name[it]=Accessibilità
Name[ja]=アクセシビリティ
Name[ka]=_დამხმარე საშუალებები
Name[kab]=Tuffart
Name[kk]=Қолжетерлілік
Name[ko]=접근성
Name[lt]=Prieiga
Name[lv]=Pieejamība
Name[mai]=अभिगम्यता
Name[nds]=Togangelikheit
Name[nl]=Toegankelijkheid
Name[pl]=Ułatwienia dostępu
Name[pt]=Acessibilidade
Name[pt_BR]=Acessibilidade
Name[ro]=Accesibilitate
Name[si]=පිවිසුම් හැකියාව
Name[sk]=Zjednodušenie ovládania
Name[sl]=Dostopnost
Name[sq]=Përdorshmëria
Name[sr]=Приступачност
Name[sv]=Hjälpmedel
Name[tr]=Erişilebilirlik
Name[uk]=Доступність
Name[zh_CN]=辅助功能
Name[zh_TW]=無障礙輔助
Name=Accessibility (container)
Comment[af]=Maak sien, hoor, tik, wys en klik makliker
Comment[an]=Fer mas sencillo de veyer, escuitar, escribir y apuntar y pretar
Comment[ar]=اجعل الرؤية و السماع و الكتابة و المؤشر أسهل
Comment[as]=চোৱা, শুনা, টাইপ কৰা, পোইন্ট আৰু ক্লিক কৰাটো সহজ কৰক
Comment[be]=Дапамога для зроку, слыху, уводу, а таксама кіравання паказальнікам мышы
Comment[bg]=По-лесно да се вижда, чува, въвежда текст, посочват и натискат обекти
Comment[bn_IN]=এটিকে দেখা, শোনা, ধরন, পয়েন্ট এবং ক্লিক করা সহজতর করুন
Comment[bs]=Omogući lakši pregled,zvuk,tip,usmjeri i klikni
Comment[ca]=Feu més fàcil veure, sentir, teclejar, apuntar i fer clic
Comment[ca@valencia]=Feu més fàcil veure, escoltar, teclejar, apuntar i fer clic
Comment[ckb]=وای لێبکە ئاسان ببینرێت، ببیسترێت، بنوسرێت، خاڵ و کرتە
Comment[cs]=Usnadněte si čtení, poslech, psaní, klikání a další činnosti
Comment[da]=Gør det nemmere at se, høre, skrive, pege og klikke
Comment[de]=Sehen, Hören, Tippen, Zeigen und Klicken erleichtern
Comment[el]=Κάντε πιο εύκολη την προβολή, την ακρόαση, την πληκτρολόγηση, την κατάδειξη και το κλικ
Comment[en_GB]=Make it easier to see, hear, type, point and click
Comment[eo]=Fari ĝin pli facila por vidi, aŭdi, tajpi, fingromontri kaj alklaki
Comment[es]=Hacer más sencillo de ver, escuchar, escribir y apuntar y pulsar
Comment[et]=Nägemise, kuulmise, sisestamise ning klõpsamise lihtsustamine
Comment[eu]=Egin errazagoa ikusteko, entzuteko, idazteko, kokatzeko eta klik egiteko
Comment[fa]=ساده‌تر کردن دیدن، شنیدن، نوشتن، نشانه‌روی و کلیک
Comment[fi]=Helpota näkemistä, kuulemista, kirjoittamista ja hiiren käyttöä
Comment[fr]=Faciliter la vision, l’écoute, la saisie, la sélection et le clic
Comment[fur]=Al fâs diventâ plui facil viodi, sintî, digjitâ e fâ clic
Comment[gd]=Dèan nas fhasa e rudan fhaicinn, a chluinntinn, a sgrìobhadh, a thomhadh ’s a bhriogadh
Comment[gl]=Faga máis doado ver, escoitar, escribir, apuntar e clicar
Comment[gu]=તેને જોવા, સાંભળવા, ટાઇપ, નિર્દેશિત અને ક્લિક કરવાનું સરળ બનાવો
Comment[he]=להקל ראייה, שמיעה, הקלדה, הצבעה ולחיצה
Comment[hi]=इसे देखना, सुनना, प्रकार, बिंदु और क्लिक करें आसान बनाओ
Comment[hr]=Make it easier to see, hear, type, point and click
Comment[hu]=A látás, hallás, gépelés, mutatás és kattintás egyszerűbbé tétele
Comment[id]=Membuat lebih mudah untuk melihat, mendengar, mengetik, menunjuk, dan mengklik
Comment[is]=Gerir auðveldara að sjá, heyra, slá inn, benda og smella
Comment[it]=Rende più semplice vedere, ascoltare, digitare e fare clic
Comment[ja]=見る、聞く、タイピング、クリック操作など、コンピューターを簡単に使えるようにします
Comment[kk]=Көру, есту, теру, көрсету және шертуді жеңілдету
Comment[kn]=ನೋಡಲು, ಕೇಳಲು, ಬರೆಯಲು, ತೋರಿಸಲು ಮತ್ತು ಕ್ಲಿಕ್ ಮಾಡಲು ಸುಲಭಗೊಳಿಸು
Comment[ko]=보기, 듣기, 타이핑, 누르기 편의 사항
Comment[lt]=Padarykite matymą, išgirdimą, rašymą, rodymą ir spaudimą paprastesnį
Comment[lv]=Padarīt vienkāršāku redzēšanu, dzirdēšanu, rakstīšanu un klikšķināšanu
Comment[ml]=കാഴ്ച്ച, കേൾവി, മുദ്രണം, പോയിന്റ്, ക്ലിക്ക് എന്നിവ മെച്ചപെടുത്തുക
Comment[mr]=अवलोकन, ऐकणे, टाइप, पॉइंट आणि क्लिककरिता सोपे करा
Comment[ms]=Jadikannya mudah dilihat, didengar, ditaip, tuju dan diklik
Comment[nb]=Gjør det lettere å se, høre, skrive og peke og klikke
Comment[ne]=हर्न, सुन्न, टाईप, देखाउन र क्लिक गर्न सहज बनाउनुहोस्
Comment[nl]=Zien, horen, typen, aanwijzen en klikken vergemakkelijken
Comment[oc]=Facilitar la vision, l'escota, la picada, la seleccion e lo clic
Comment[or]=ଏହାକୁ ଦେଖିବା, ଶୁଣିବା, ଲେଖିବା, ଦର୍ଶାଇବା ଏବଂ କ୍ଲିକ କରିବା ପାଇଁ ସହଜମୟ କରନ୍ତୁ
Comment[pa]=ਵੇਖਣਾ, ਸੁਣਨਾ, ਲਿਖਣਾ, ਪੁਆਇੰਟ ਤੇ ਕਲਿੱਕ ਕਰਨਾ ਸੌਖਾ ਬਣਾਉ
Comment[pl]=Ułatwienia widzenia, słyszenia, pisania oraz wskazywania i klikania
Comment[pt]=Tornar mais simples ver, ouvir, escrever, apontar e clicar
Comment[pt_BR]=Torna mais fácil ver, ouvir, digitar, apontar e clicar
Comment[ro]=Facilitează vederea, auzul, tastatul, mutatul mausului și apăsarea clicului
Comment[ru]=Упрощение ввода, наведения и нажатия, а также улучшение видимости и слышимости
Comment[sk]=Uľahčuje videnie, písanie, počúvanie, ukazovanie a klikanie
Comment[sl]=Naj bo enostavnejše videti, slišati, tipkati, kazati in klikati
Comment[sr]=Олакшајте посматрање, слушање, куцање, указивање и кликање
Comment[sr@latin]=Olakšajte posmatranje, slušanje, kucanje, ukazivanje i klikanje
Comment[sv]=Gör det enklare att se, höra, skriva, peka och klicka
Comment[ta]=பார்ப்பது, கேட்பது, தட்டச்சு செய்வது, சுட்டுவது மற்றும் சொடுக்குவது அனைத்தையும் எளிதாக்கவும்
Comment[te]=చూడుటకు, వినుటకు, టైపునకు, సూచించుటకు మరియు నొక్కుటకు దీనిని సులభతరం చేయి
Comment[tg]=Осон кардани дидан, шунидан, нуқта гузоштан ва зер кардан
Comment[th]=ทำให้ง่ายต่อการเห็น, ได้ยิน, พิมพ์, ชี้ และคลิก
Comment[tr]=Görme, duyma, yazma, işaretleme ve tıklamayı kolaylaştır
Comment[uk]=Полегшує читання, слухання, набирання, наведення і натискання
Comment[vi]=Làm cho việc xem, nghe, gõ, di và bấm chuột trở nên dễ dàng hơn
Comment[zh_CN]=辅助视觉、听觉、打字和指点操作
Comment[zh_HK]=讓電腦更容易看、聽、輸入、指向與點選
Comment[zh_TW]=讓電腦更容易看、聽、輸入、指向與點選
Comment=Make it easier to see, hear, type, point and click
Exec=toolbox run gnome-control-center universal-access
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/preferences-desktop-accessibility.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Universal Access
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Accessibility panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=কীবোর্ড;মাউস;a11y;অ্যাক্সেসিবিলিটি;ইউনিভার্সালএক্সেস;কনট্রাস্ট;কার্সার;সাউন্ড;জুম;স্ক্রিন;রিডার;বড়;লম্বা;টেক্সট;ফন্ট;সাইজ;অ্যাক্সেসএক্স;স্টিকি;কী;স্লো;বাউন্স;মাউস;ডাবল;ক্লিক;বিলম্ব;গতি;সহায়তা;পুনরাবৃত্তি;নাচা;চাক্ষুষ;শুনানি;অডিও;টাইপিং;
Keywords[ca]=Teclat;Ratolí;a11y;Accessibilitat;Accés universal;Contrast;Cursor;So;Zoom;Pantalla;Lector;gran;alt;llarg;text;lletra;mida;AccessX;Tecles enganxoses;Tecles;Lent;Salt;Ratolí;Doble;clic;Retard;Assistència;Repetició;Parpelleig;visual;escoltar;àudio;teclejar;
Keywords[cs]=klávesnice;myš;a11y;přístupnost;zpřístupnění;univerzální přístup;kontrast;kurzor;zvuk;přiblížení;zvětšení;čtečka obrazovky;čtení obrazovky;text;velký;obrovský;písmo;font;velikost;přístup;zpřístupnění;kombinace kláves jedním prstem;pomalé klávesy;vícenásobná zmáčknutí kláves;klávesnice myší;dvojitý;klik;kliknutí;klepnutí;poklepání;prodleva;rychlost;asistent;opakování;blikání;blikat;poruchy;handicap;vidění;sluch;psaní;
Keywords[da]=Tastatur;Mus;a11y;Tilgængelighed;Kontrast;Cursor;Markør;Lyd;Zoom;Skærm;Skærmoplæser;stor;høj;Oplæser;tekst;skrifttype;størrelse;AccessX;Klæbetaster;Taster;Langsomme;Rystetaster;Ryste;Mus;Musetaster;Dobbelt;Dobbeltklik;Ventetid;Forsinkelse;Hastighed;Hjælp;Gentag;Blink;visuel;synlig;høre;hørelse;lyd;indtastning;
Keywords[de]=Tastatur;Maus;a11y;Barrierefreiheit;Kontrast;Klänge;Ton;Audio;Zoom;Vergrößern;Bildschirm;Bildschirmleser;Text;Schrift;Größe;AccessX;Klebrige Tasten;Tasten;Langsam;Springende Tasten;Tastaturmaus;Klick;Verzögerung;Assistent;Wiederholen;Blinken;Visuell;Tippen;Hören;Audio;Eingabe;
Keywords[en_GB]=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;
Keywords[es]=Teclado;Ratón;a11y;Accesibilidad;Acceso universal;Contraste;Cursor;Sonido;Ampliación;Pantalla;Lector;grande;alto;texto;tipografía;AccesoX;persistentes;teclas;rechazo;ratón;doble;pulsación;retardo;velocidad;asistente;repetir;parpadeo;visual;audición;escritura;
Keywords[eu]=Teklatua;Sagua;a11y;Irisgarritasuna;Irisgarritasun Unibertsala;Kontrastea;Kurtsorea;Soinua;Zooma;Pantaila;Irakurgailua;handia;altua;handia;testua;letra-tipoa;tamaina;AccessX;Itsaskorra;Teklak;Geldoa;Errebotea;Sagua;Bikoitza;klik;Atzerapena;Abiadura;Lagundu;Errepikatu;Keinua;bisuala;entzumena;audioa;idazketa;
Keywords[fa]=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;صفحه‌کلید;موشی;دسترسی‌پذیری;سایه روشن;نشانگر;صدا;بزرگ‌نمایی;صفحه‌نمایش خوان;متن;قلم;اندازه;کلیدهای چسبان;کلیدهای آرام;کلیدهای پرشی;کلیدهای موشی;چشمک;سرعت;بینایی;شنوایی;صدا;تایپ;نوشتن;
Keywords[fi]=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;Näppäimistö;Hiiri;a11y;Esteettömyys;saavutettavuus;Kontrasti;Zoom;Mittakaava;Lähennys;Loitonnus;Näytönlukija;teksti;fontti;kirjasin;koko;Pohjaan jäävät näppäimet;Hitaat näppäimet;Kimmonäppäimet;Hiiren painikkeet;kaksois;viive;vilkkuminen;kuuleminen;kirjoittaminen;
Keywords[fr]=Clavier;Souris;lien;Accessibilité;Contraste;Curseur;Son;Zoom;Lecteur d’écran;grand;haut;élevé;texte;police;taille;AccessX;Rémanentes;Touches;Lentes;Rebonds;Souris;Double;clic;Délai;Vitesse;Assistance;Répétition;Clignotement;visuel;écoute;audio;frappe;
Keywords[fur]=Tastiere;Mouse;a11y;Acessibilitât;Acès Universâl;Contrast;Cursôr;Sun;Ingrandiment;Zoom;Screen;Reader;Letôr;schermi;grant;alt;larc; test;caratar;font;dimension;AccessX;Tascj;Singui;Tacadiçs;Sticky;Lents;Slow;Sbalçâts;Bounce;Mouse;Dopli;clic;Ritart;Assist;Ripet;Lampâ;visuâl;sintî;audio;scriture;
Keywords[gl]=Teclado;Rato;a11y;Accesibilidade;Contraste;Cursor;Son;Ampliación;Lector de pantalla;texto;tipo de letra;tamaño;AccessX;Persistente;Lenta;Rexeite;Rato;Dobre;clic;atraso;asistencia;Repetición;Pestanexo;visión;audición;son;escrita;
Keywords[he]=מקלדת;עכבר;a11y;נגישות;ניגודיות;ניגוד;תקריב;זום;מקריא מסך;טקסט;גופן;גודל;AccessX;מקשים דביקים;מקשים אטיים;מקשים חוזרים;מקשי עכבר;לחיצה;כפול;כפולה;המתנה;מהירות;סיוע;חזרה;הבהוב;שמיעה;שמע;הקלדה;-;
Keywords[hr]=Tipkovnica;Miš;a11y;Pristupačnost;Univerzalni pristup;Kontrast;Pokazivač;Zvuk;Uvećanje;Zaslon;Čitač;velik;visok;tekst;slova;veličina;PristupX;Pričvrstiv;Tipke;Sporo;Odbijanje;Miš;Dvostruko;klik;Odgoda;Brzina;Pomoć;Ponovi;Blinkaj;vizualno;slušanje;glazba;tipkanje;
Keywords[hu]=Billentyűzet;Egér;a11y;Akadálymentesítés;Kontraszt;Kurzor;Hang;Nagyítás;Képernyő;Olvasó;magas;szöveg;betű;méret;AccessX;Ragadós;Billentyűk;Lassú;Pattogó;Egér;Dupla;kattintás;Késleltetés;Sebesség;Kisegítő;Ismétlés;Villogás;vizuális;hallás;hang;írás;
Keywords[id]=Papan Tik;Tetikus;a11y;Aksesibilitas;Universal\nAkses;Kontras;Kursor;Suara;Zum;Layar;Pembaca;besar;tinggi;besar;teks;fonta;ukuran;AccessX;Lengket;Tombol;Lambat;Pantul;Tetikus;Dobel;klik;Tunda;Kecepatan;Bantu;Ulangi; Berkedip;visual;mendengar;audio;mengetik;
Keywords[it]=tastiera;mouse;a11y;accessibilità;accesso universale;contrasto;cursore;audio;suono;ingrandimento;high;elevato;grande;zoom;screen;reader;lettore;schermo;testo;font;tipo di carattere;dimensione;AccessX;tasti;singoli;sticky;lenti;slow;rimbalzati;slow;mouse;doppio;clic;ritardo;lampeggiare;ascoltare;digitare;
Keywords[ja]=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;キーボード;マウス;アクセシビリティ;コントラスト;カーソル;サウンド;ズーム;拡大鏡;スクリーンリーダー;大きい;高;大きさ;テキスト;文字;フォント;サイズ;固定;キー;スロー;バウンス;ダブルクリック;ディレイ;遅延;速度;スピード;ユーザー支援;リピート;点滅;ビジュアル;視覚;ヒアリング;聴覚;音声;タイピング;ユニバーサルアクセス;
Keywords[kk]=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;пернетақта;тышқан;қолжетерлілік;әмбепап қатынау;контраст;курсор;дыбыс;масштаб;экран;оқу;үлкен;жоғары;мәтін;қаріп;өлшем;жабысқақ;баяу;қайталанатын;қос;шерту;кідіріс;жылдамдық;көмекші;қайталау;жыпылықтау;визуалды;есту;аудио;теру;
Keywords[ko]=Keyboard;키보드;Mouse;마우스;a11y;Accessibility;접근성;Universal Access;보편적 접근;Contrast;대비;Cursor;커서;Sound;소리;사운드;Zoom;확대;축소;Screen;Reader;스크린;리더;화면;읽기;big;high;large;text;큰;텍스트;font;size;폰트;글꼴;크기;AccessX;Sticky;Keys;고정;키;Slow;느린;Bounce;탄력;Mouse;마우스;Double;click;두번;누르기;Delay;Speed;Assist;지연;도우미;Repeat;반복;Blink;깜박;visual;hearing;audio;typing;시각;듣기;오디오;타이핑;
Keywords[lt]=Klaviatūra;Pelė;a11y;Prieiga;Universali prieiga;Kontrastas;Žymeklis;Garsas;Mastelis;Ekranas;Skaityklė;didelis;aukštas;tekstas;šriftas;dydis;AccessX;Kibūs;Klavišai;Lėtieji;Pasikartojantys;Pelė; Dvigubas;paspaudimas;Delsa;Greitis;Pagalba;Pasikartojimas;Mirksėjimas;vaizdinis;klausa;garsas;rašymas;
Keywords[lv]=Tastatūra;Pele;a11y;Pieejamība;Universālā piekļuve;Kontrasts;Kursors;Skaņa;Mērogs;Ekrāna lasītājs;liels;augsts;teksts;fonts;izmērs;AccessX;Lipīgie;Taustiņi;Lēnie;Atlecošie;Pele;Dubults;klikšķis;Aizture;Ātrums;Atkārtot;Mirkšķināt;vizuāls;dzirdes;audio;raksta;
Keywords[nl]=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Plaktoetsen;Slow;Trage toetsen;Bounce;Springende toetsen;Mouse;Double;click;Delay;Speed;snelheid;Assist;Repeat;Blink;Visual;visueel;hearing;horen;hoor;luisteren;audio;typing;typen;Muistoetsen;Toetsenbord;Toegankelijkheid;Tekst;Lettertype;vergroten;Dubbel;klik;geluid;groot;hoog;
Keywords[pl]=Klawiatura;Mysz;Myszka;a11y;Dostępność;Uniwersalny;Kontrast;Kursor;Wskaźnik;Dźwięk;Przybliżanie;Powiększanie;Lupa;Zoom;Czytnik;ekranowy;ekranu;duży;wysoki;wielki;tekst;text;większy;zwiększ;powiększ;czcionka;font;rozmiar;wielkość;AccessX;Trwałe;Klawisze;Powolne;Odbijające;Myszy;Podwójne;Dwukrotne;kliknięcie;Opóźnienie;Prędkość;Szybkość;Wspomaganie;Asysta;Powtarzanie;Miganie;wzrok;wizualne;słuch;dźwięk;audio;pisanie;klikanie;
Keywords[pt]=Teclado;Rato;a11y;Acessibilidade;Contraste;Ampliação;Leitor;ecrã;texto;fonte;tamanho;AccessX;pegajosas;lentas;saltantes;Rato;Duplo;Clique;Assistente;
Keywords[pt_BR]=Teclado;Mouse;a11y;Acessibilidade;Contraste;Cursor;Som;Zoom;Ampliação;Tela;Leitor;grande;alto;largo;texto;fonte;tamanho;AccessX;Teclas;Lentas;Repercussão;Duplo;Clique;Atraso;Assistência;Repetir;Piscar;visual;audição;áudio;digitalização
Keywords[ro]=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;Tastatură;Maus;Accesibilitate;Acces universal;Sunet;Focalizare;Cititor;mare;înalt;larg;dimensiune;persistent;taste;lent;încet;fără repetiție;dublu;clic;amânare;viteză;asistență;repetă;clipește;vizual;auz;tastare;
Keywords[sk]=Klávesnica;Myš;a11y;Zjednodušenie;Ovládanie;Prístupnosť;Kontrast;Kurzor;Lupa;Obrazovka;Čítačka obrazovky;text;písmo;veľkosť;AccessX;Lepkavé;Klávesy;Pomalé;Poskakujúce;Myš;dvojklik;dvojité;kliknutie;oneskorenie;asistencia;pomoc;opakovanie;blikanie;vizuálne;počúvanie;zvuk;písanie;
Keywords[sl]=tipkovnica;miška;a11y;dostopnost;kontrast;približanje;zaslon;bralnik;besedilo;pisava;velikost;AccessX;lepljive;počasne;odskočne;tipke;zamik;odskočne;dvojne;klik;ponovitev;zvok;tipkanje;tipkovnica,nastavitve;sluh;kontrast;zvok;približanje;zoom;zaslon;velikost;
Keywords[sr]=тастатура;миш;a11y;приступачност;контраст;универзални приступ;зум;читач;екран;текст;слова;величина;Икс_приступ;лепљиви;тастери;спори;одскочни;миш;двоструки;клик;застој;понови;трепни;визуелно;слух;аудио;звук;куцање;tastatura;miš;pristupačnost;kontrast;zum;čitač;ekran;tekst;slova;veličina;Iks_pristup;lepljivi;tasteri;spori;odskočni;miš;dvostruki;klik;zastoj;ponovi;trepni;vizuelno;univerzalni pristup;sluh;audio;zvuk;kucanje;Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;Universal Access;
Keywords[sv]=Tangentbord;Mus;a11y;Hjälpmedel;Kontrast;Markör;Zoom;Skärmläsare;stor;hög;text;typsnitt;teckensnitt;storlek;AccessX;Klistriga;Tangenter;Tröga;Tangentstuds;Mustangenter;Dubbelklick;Fördröjning;Hastighet;Assistans;Upprepa;Blinka;visuell;hörsel;ljud;skrift;
Keywords[tr]=Klavye;Fare;a11y;Erişilebilirlik;Erişebilirlik;Evrensel Erişim;Karşıtlık;İmleç;Ses;Yakınlaştırma;Ekran;Okuyucu;büyük;yüksek;geniş;metin;yazıtipi;yazı tipi;boyut;AccessX;Yapışkan;Tuşlar;Yavaş;Seken;Çift;tıklama;Gecikme;Hız;Yardım;Tekrar;Tekrarlanan;Tekrarlayan;Yineleme;Yinelenen;Yineleyen;Yanıp sönme;görsel;duyma;işitsel;İşitsel;ses;yazım;yazma;
Keywords[uk]=Клавіатура;Миша;Доступність;Універсальний доступ;Контраст;Курсор;Звук;Масштаб;Екран;Читач;розмір;висота;великий;текст;шрифт;Доступ;Липкі;Клавіші;Повільно;Клацання;Подвійний;клік;Затримка;Швидкість;Допомога;Повторити;Blink;візуальний;слух;аудіо;введення;Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;
Keywords[zh_CN]=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;键盘;鼠标;无障碍;辅助功能;通用访问;可访问;对比度;光标;声音;缩放;屏幕;读取器;阅读器;大;高;巨大;文本;文字;字体;大小;粘滞;按键;慢;回弹;鼠标;双击;点击;单击;延迟;速度;助手;重复;闪烁;可视化;视觉;听觉;音频;输入;打字;
Keywords[zh_TW]=Keyboard;Mouse;a11y;Accessibility;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;鍵盤;滑鼠;無障礙輔助存取;對比;螢幕;閱讀器;文字;字型;大小;相黏;遲緩;反彈;滑鼠;雙擊;兩下;點按;延遲;助理;輔助;重複;閃動;游標;音效;大;高;速度;視覺;聽覺;音訊;音樂;輸入;
Keywords=Keyboard;Mouse;a11y;Accessibility;Universal Access;Contrast;Cursor;Sound;Zoom;Screen;Reader;big;high;large;text;font;size;AccessX;Sticky;Keys;Slow;Bounce;Mouse;Double;click;Delay;Speed;Assist;Repeat;Blink;visual;hearing;audio;typing;
