[Desktop Entry]
Name[af]=Klank
Name[am]=ድምፅ
Name[an]=Son
Name[ar]=الصوت
Name[as]=শব্দ
Name[ast]=Soníu
Name[az]=Səs
Name[be]=Гук
Name[be@latin]=Huk
Name[bg]=Звук
Name[bn]=শব্দ
Name[bn_IN]=শব্দ
Name[br]=Son
Name[bs]=Zvuk
Name[ca]=So
Name[ca@valencia]=So
Name[ckb]=دەنگ
Name[crh]=Davuş
Name[cs]=Zvuk
Name[cy]=Sain
Name[da]=Lyd
Name[de]=Audio
Name[dz]=སྒྲ་སྐད།
Name[el]=Ήχος
Name[en_CA]=Sound
Name[en_GB]=Sound
Name[en@shaw]=𐑕𐑬𐑯𐑛
Name[eo]=Sono
Name[es]=Sonido
Name[et]=Heli
Name[eu]=Soinua
Name[fa]=صدا
Name[fi]=Ääni
Name[fr]=Son
Name[fur]=Audio
Name[ga]=Fuaim
Name[gd]=Fuaim
Name[gl]=Son
Name[gu]=ધ્વનિ
Name[he]=צליל
Name[hi]=ध्वनि
Name[hr]=Zvuk
Name[hu]=Hang
Name[hy]=Ձայն
Name[id]=Suara
Name[is]=Hljóð
Name[it]=Audio
Name[ja]=サウンド
Name[ka]=ხმა
Name[kab]=Imesli
Name[kk]=Дыбыс
Name[km]=សំឡេង
Name[kn]=ಧ್ವನಿ
Name[ko]=소리
Name[ku]=Deng
Name[ky]=Үн
Name[lt]=Garsas
Name[lv]=Skaņa
Name[mai]=ध्वनि
Name[mg]=Feo
Name[mjw]=Seh
Name[mk]=Звук
Name[ml]=ശബ്ദം
Name[mn]=Аудио
Name[mr]=आवाज
Name[ms]=Bunyi
Name[my]=အသံ
Name[nb]=Lyd
Name[nds]=Ton
Name[ne]=ध्वनि
Name[nl]=Geluid
Name[nn]=Lyd
Name[nso]=Modumo
Name[oc]=Son
Name[or]=ଶବ୍ଦ
Name[pa]=ਸਾਊਂਡ
Name[pl]=Dźwięk
Name[pt]=Som
Name[pt_BR]=Som
Name[ro]=Sunet
Name[ru]=Звук
Name[rw]=Ijwi
Name[si]=ශබ්දය
Name[sk]=Zvuk
Name[sl]=Zvok
Name[sq]=Zëri
Name[sr]=Звук
Name[sr@latin]=Zvuk
Name[sv]=Ljud
Name[ta]=ஒலி
Name[te]=శబ్దము
Name[tg]=Садо
Name[th]=เสียง
Name[tr]=Ses
Name[ug]=ئاۋاز
Name[uk]=Звук
Name[uz]=Tovush
Name[uz@cyrillic]=Товуш
Name[vi]=Âm thanh
Name[wa]=Son
Name[xh]=Isandi
Name[zh_CN]=声音
Name[zh_HK]=音效
Name[zh_TW]=音效
Name[zu]=Umsindo
Name=Sound (container)
Comment[af]=Verander klankvolume, toevoer, afvoer en kennisgewingklanke
Comment[an]=Cambiar o volumen de dentrada y salida de son y as alertas sonoras
Comment[ar]=غيّر شدة الصوت و أصوات التنبيهات
Comment[as]=শব্দৰ স্তৰসমূহ, ইনপুটসমূহ, আউটপুটসমূহ, আৰু সতৰ্কতা শব্দসমূহ পৰিবৰ্তন কৰক
Comment[be]=Змяненне гучнасці, уваходаў і выхадаў для гуку, а таксама прызначэнне гукаў для падзей
Comment[bg]=Промяна на силата на звука, звуците свързани със събития, аудио входовете и изходите
Comment[bn_IN]=শব্দের মাত্রা, ইনপুট, আউটপুট, এবং সর্তকতা শব্দ পরিবর্তন করুন
Comment[bs]=Promijeni nivo zvuka, ulazi , izlazi , i upozoravajuci zvukovi
Comment[ca]=Canvieu els nivells de so, les entrades, les sortides i les alertes sonores
Comment[ca@valencia]=Canvieu els nivells de so, les entrades, les eixides i les alertes sonores
Comment[ckb]=گۆڕینی ئاستی دەنگ، تێخستن، دەرخستن، ودەنگی ئاگادارکردنەوە
Comment[crh]=Davuş seviyelerini, kirdilerni, çıqtılarnı ve iqaz davuşlarını deñiştir
Comment[cs]=Změnit hlasitost zvuku, vstupy, výstupy a upozornění
Comment[da]=Skift lydstyrke, input, output samt påmindelseslyde
Comment[de]=Lautstärke, Ein- und Ausgabequellen und Alarmtöne einstellen
Comment[el]=Αλλάξτε την ένταση ήχου, τις εισόδους, εξόδους και τις ηχητικές ειδοποιήσεις
Comment[en_GB]=Change sound levels, inputs, outputs, and alert sounds
Comment[eo]=Ŝanĝi sonan laŭtecon, enigojn, eligojn, kaj avertajn sonojn
Comment[es]=Cambiar el volumen de entrada y salida de sonido y las alertas sonoras
Comment[et]=Helivaljuse, sisendite, väljundite ja sündmuste helide muutmine
Comment[eu]=Aldatu soinuaren bolumena, sarrerak, irteerak eta eta alerten soinuak
Comment[fa]=تغییر بلندی صدا، ورودی‌ها، خروجی‌ها و رویدادهای صوتی
Comment[fi]=Muuta äänenvoimakkuutta, sisään- ja ulostuloja sekä äänitapahtumia
Comment[fr]=Modifier les volumes sonores, les saisies, les sorties et les alertes sonores
Comment[fur]=Comede i nivei dal audio, i ingrès, lis jessudis e i suns di alerte
Comment[gd]=Atharraich ìre na fuaime, fuaimean ion-chuir, às-chuir is chaismeachdan
Comment[gl]=Cambie os niveles de volume, entradas, saídas e sons de alerta
Comment[gu]=સાઉન્ડ સ્તર, ઇનપુટ, આઉટપુટ, અને સાઉન્ડ ચેતવણીને બદલો
Comment[he]=שינוי עצמת השמע, קלט, פלט וצלילי התראה
Comment[hi]=ध्वनि के स्तर, निविष्टियाँ, outputs, और चेतावनी लगता बदलें
Comment[hr]=Promijenite glasnoću zvuka, ulaze, izlaze i zvukove upozorenja
Comment[hu]=Hangerő, bemenetek, kimenetek és riasztáshangok módosítása
Comment[id]=Mengubah aras suara, masukan, keluaran, dan suara peringatan
Comment[is]=Breyta hljóðstyrk, inntaki, úttaki og aðvörunarhljóðum
Comment[it]=Regola i livelli dell'audio, gli ingressi, le uscite e i suoni d'allerta
Comment[ja]=サウンドレベルや入力、出力、警告音を設定します
Comment[kk]=Дыбыс деңгейлерін, кіріс, шығыстарын және дыбыспен хабарлауды өзгерту
Comment[kn]=ಧ್ವನಿಯ ಪ್ರಮಾಣಗಳು, ಇನ್‌ಪುಟ್‌ಗಳು, ಔಟ್‌ಪುಟ್‌ಗಳು ಮತ್ತು ಎಚ್ಚರಿಕೆ ಸದ್ದುಗಳನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=사운드 음량과, 입력, 출력, 경고음을 바꿉니다
Comment[lt]=Keisti garso garsumą, įvedimą ir įvykių garsus
Comment[lv]=Mainīt skaļumu, ievades, izvades un paziņojumu skaņas
Comment[ml]=ശബ്ദത്തിന്റെ നിലയും, ഇന്‍പുട്ടുകളും, ഔട്ട്പുട്ടുകളും, അലെര്‍ട്ട് ശബ്ദങ്ങളും മാറ്റുക
Comment[mr]=आवाज स्तर, इंपुट्स, आउटपुट्स, आणि गजर आवाज बदलवा
Comment[ms]=Ubah aras bunyi, input, output, dan bunyi amaran
Comment[nb]=Endre lydvolum, innganger, utganger og lyder for hendelser
Comment[nl]=Geluidsvolume, invoer, uitvoer en gebeurtenisgeluiden wijzigen
Comment[oc]=Modificar los volums sonòrs, las entradas, las sortidas e las alèrtas sonòras
Comment[or]=ଧ୍ୱନି ସ୍ତର, ନିବେଶ, ଫଳାଫଳ, ଏବଂ ସତର୍କ ସୂଚନା ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਸਾਊਂਡ ਲੈਵਲ, ਇੰਪੁੱਟ, ਆਉਟਪੁੱਟ ਅਤੇ ਚੇਤਾਵਨੀ ਸਾਊਂਡ ਬਦਲੋ
Comment[pl]=Zmiana poziomu głośności, wejść i wyjść dźwięku oraz zdarzeń dźwiękowych
Comment[pt]=Alterar o volume do som, entradas, saídas e os sons de alerta
Comment[pt_BR]=Alterar níveis, entradas saídas e alertas de som volume de som e eventos de som
Comment[ro]=Schimbă nivelurile de sunet, intrările, ieșirile și sunetele de alertă
Comment[ru]=Изменение громкости звука входов, выходов и уведомлений
Comment[sk]=Mení hlasitosť zvuku, vstupy, výstupy a zvukové varovania
Comment[sl]=Spreminjanje zvokovnih naprav, glasnosti zvoka in povezljivost z dogodki
Comment[sr]=Измените нивое звука, улазе, излазе и звуке упозорења
Comment[sr@latin]=Izmenite nivoe zvuka, ulaze, izlaze i zvuke upozorenja
Comment[sv]=Ändra ljudvolym, ingångar, utgångar och ljudhändelser
Comment[ta]=ஒலி அளவுகள், உள்ளீடுகள், வெளியீடுகள் மற்றும் விழிப்பூட்டல் ஒலிகளை மாற்று
Comment[te]=శబ్ద స్థాయిలను, యిన్పుట్లను, అవుట్పుట్లను, మరియు హెచ్చరిక శబ్దములను మార్చు
Comment[tg]=Тағйир додани сатҳи садо, вурудҳо, бароришҳо ва садоҳои огоҳӣ
Comment[th]=ปรับระดับเสียง เสียงเข้า เสียงออก และเสียงแจ้งเหตุ
Comment[tr]=Ses düzeylerini, girdileri, çıktıları ve uyarı seslerini değiştir
Comment[uk]=Змінити рівень звуку
Comment[vi]=Thay đổi âm lượng, đầu vào/ra và âm thanh cảnh báo
Comment[zh_CN]=更改音频音量、音频输入输出和事件声音
Comment[zh_HK]=改變音效的音量、輸入、輸出和警示音效
Comment[zh_TW]=改變音效的音量、輸入、輸出與警示音效
Comment=Change sound levels, inputs, outputs, and alert sounds
Exec=toolbox run gnome-control-center sound
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/multimedia-volume-control.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=sound
X-GNOME-Bugzilla-Version=3.38.2
X-GNOME-Settings-Panel=sound
# Translators: Search terms to find the Sound panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=কার্ড;মাইক্রোফোন;ভলিউম;বিবর্ণ;ব্যালেন্স;ব্লুটুথ;হেডসেট;অডিও;আউটপুট;ইনপুট;
Keywords[ca]=Targeta;Micròfon;Volum;Esvair;Balanç;Bluetooth;Auriculars;Àudio;Sortida;Entrada;
Keywords[ckb]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;
Keywords[cs]=karta;mikrofon;hlasitost;prolínání;vyvážení;bluetooth;náhlavní souprava;zvuk;výstup;vstup;
Keywords[da]=Kort;Mikrofon;Volumen;Lydstyrke;Fade;Udtoning;Balance;Bluetooth;Hovedtelefoner;Lyd;Audio;Output;Input;
Keywords[de]=Karte;Mikrofon;Lautstärkeregler;Lautstärke;Ausblenden;Balance;Bluetooth;Headset;Audio;Eingang;Ausgang;
Keywords[el]=Κάρτα;Μικρόφωνο;Ένταση;Απόσβεση;Ισορροπία;Bluetooth;Ακουστικά;Ήχος;Έξοδος;Είσοδος;Card;Microphone;Volume;Fade;Balance;Headset;Audio;Output;Input;
Keywords[en_GB]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;
Keywords[eo]=Karto;Mikrofono;Laŭteco;Dissolvo;Ekvilibro;Bludento;Kapaŭskultilo;Sono;Enigo;Eliro;
Keywords[es]=tarjeta;micrófono;volumen;desvanecer;balance;bluetooth;cascos;auriculares;sonido;entrada;salida;
Keywords[eu]=Txartela;Mikrofonoa;Bolumena;Iraungi;Balantzea;Bluetooth-a;Entzungailua;Audioa;Irteera;Sarrera;
Keywords[fa]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;کارت;میکروفون;بلندی صدا;محو شدن;بالانس;بلوتوث;گوشی;صوت;صدا;ورودی;خروجی;
Keywords[fi]=Kortti;mikrofoni;äänenvoimakkuus;häivytys;tasapaino;Bluetooth;kuulokkeet;headset;Audio;Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;
Keywords[fr]=Carte;Microphone;Volume;Fondu;Balance;Bluetooth;Casque;Audio;Entrée;Sortie;
Keywords[fur]=Schede;Microfon;Volum;Sfantâ;Belançament;Bluetooth;Auricolâr;Scufis;Sun;Jessude;Jentrade;Ingrès;
Keywords[gl]=Tarxeta;Micrófono;Volume;Esvaecer;Balance;Bluetooth;Auriculares;Son;
Keywords[he]=כרטיס;מיקרופון;עצמת שמע;ווליום;איזון;בלוטות׳;Bluetooth;אזניות;אוזניות;שמע;קלט;פלט;
Keywords[hr]=Kartica;Mikrofon;Glasnoća zvuka;Isčezni;Uravnoteženje;Bluetooth;Slušalice s mikrofonom;Zvuk;Izlaz;Ulaz;
Keywords[hu]=Kártya;Mikrofon;Hangerő;Elhalás;Egyensúly;Bluetooth;Fejhallgató;Audio;Hang;Kimenet;Bemenet;
Keywords[id]=Kartu;Mikrofon;Volume;Fade;Balans;Bluetooth;Headset;Audio;Keluaran;Masukan;
Keywords[it]=Scheda;Microfono;Volume;Fade;Dissolvenza;Bilanciamento;Bluetooth;Headset;Auricolare;Cuffie;Suono;Audio;Output;Uscita;Ingresso;Input;
Keywords[ja]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;カード;マイク;音量;フェード;バランス;ブルートゥース;ヘッドセット;オーディオ;Sound;サウンド;アウトプット;インプット;
Keywords[kk]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;Карта;Микрофон;Дыбыс;Басылу;Баланс;Құлаққап;Аудио;Шығыс;Кіріс;
Keywords[ko]=Card;카드;Microphone;마이크;Volume;볼륨;음량;Fade;페이드;Balance;균형;밸런스;Bluetooth;블루투스;Headset;헤드셋;Audio;오디오;Output;출력;Input;입력;
Keywords[lt]=Kortelė;Mikrofonas;Garsumas;Silpnėjimas;Balansas;Bluetooth;Ausinės;Garsas;Išvestis;Įvestis;
Keywords[lv]=Karte;Mikrofons;Skaļums;Klusināt;Balanss;Bluetooth;Austiņas;Audio;Izvade;Ievade;
Keywords[mjw]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;
Keywords[ms]=Kad;Mikrofon;Volum;Resap;Imbangan;Bluetooth;Set Kepala;Audio;Output;Input;
Keywords[nb]=Kort;Mikrofon;Volum;Fade;Balanse;Bluetooth;Hodetelefon;Lyd;Utgang;Inngang;
Keywords[ne]=कार्ड; माइक्रोफोन; भोल्युम; फेड; ब्यालेन्स; ब्लुटुथ; हेडसेट;ध्वनि;आगत;निर्गत
Keywords[nl]=Card;Kaart;Microphone;Microfoon;Volume;Fade;Balance;Balans;Bluetooth;Headset;Audio;Output;Uitvoer;Input;Invoer;
Keywords[oc]=Carta;Microfòn;Volum;Fondut;Balança;Bluetooth;Casc;Audio;Entrada;Sortida;
Keywords[pa]=ਕਾਰਡ;ਮਾਈਕਰੋਫੋਨ;ਵਾਲੀਅਮ;ਫੇਡ;ਬੈਲਨਸ;ਬਲਿਊਟੁੱਲ;ਹੈੱਡਸੈੱਟ;ਆਡੀਓ;ਆਉਟਪੁੱਟ;ਇੰਪੁੱਟ;ਇਨਪੁੱਟ;ਬਲੁਟੁੱਥ;
Keywords[pl]=Karta;Mikrofon;Głośność;Oddalenie;Balans;Bluetooth;Headset;Słuchawki;Głośniki;Audio;Wyjście;Wejście;Efekty;Alarmy;Odtwarzanie;Nagrywanie;Mono;Stereo;Surround;Dookolny;PCM;S/PDIF;HDMI;DTS;Dolby;Digital;
Keywords[pt]=Placa;Cartão;Microfone;Volume;Baixar;Balanço;Bluetooth;Auscultadores;Áudio;
Keywords[pt_BR]=Placa;Card;Microfone;Microphone;Volume;Desaparecer;Fade;Balanço;Bluetooth;Fone de ouvido com microfone;Headset;Áudio;Saída;Output;Entrada;Input;
Keywords[ro]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Microfon;Căști;Volum;Balansat;
Keywords[ru]=Карта;Микрофон;Громкость;Затухание;Баланс;Bluetooth;Наушники;Аудио;Вход;Выход;
Keywords[sk]=karta;mikrofón;hlasitosť;rovnováha;vyváženie;bluetooth;slúchadlo;náhlavná;súprava;zvuk;audio;výstup;vstup;
Keywords[sl]=Kartica;Mikrofon;Glasnost;Pojemanje;Uravnavanje;Bluetooth;Naglavne slušalke;Zvok;Dovod;Odvod;
Keywords[sr]=картица;микрофон;јачина звука;ишчезавање;баланс;равнотежа;блутут;слушалице;звук;излаз;улаз;kartica;mikrofon;jačina zvuka;iščezavanje;balans;ravnoteža;blutut;slušalice;zvuk;izlaz;ulaz;Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;
Keywords[sv]=Kort;Mikrofon;Volym;Tona;Balans;Bluetooth;Headset;Ljud;Utgång;Ingång;
Keywords[tr]=Kart;Mikrofon;Ses;Kaybolma;Denge;Bluetooth;Kulaklık Seti;Ses;Çıktı;Girdi;
Keywords[uk]=Карта;Мікрофон;Гучність;Згасання;Баланс;Bluetooth;Гарнітура;Аудіо;Вивід;Ввід;Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;
Keywords[zh_CN]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;声卡;麦克风;话筒;音量;淡入淡出;均衡;蓝牙;耳机;耳麦;音频;输出;输入;
Keywords[zh_TW]=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;;Output;Input;音效卡;麥克風;音量;淡化;平衡;藍牙;耳機;音效;輸出;輸入;
Keywords=Card;Microphone;Volume;Fade;Balance;Bluetooth;Headset;Audio;Output;Input;
