[Desktop Entry]
Name[an]=Notificacions
Name[ar]=التنبيهات
Name[as]=অধিসূচনাসমূহ
Name[be]=Апавяшчэнні
Name[bn_IN]=সূচনাবার্তা
Name[bs]=Napomene
Name[ca]=Notificacions
Name[ckb]=ئاگادارکردنەوەکان
Name[crh]=Tebliğler
Name[cs]=Upozornění
Name[da]=Påmindelser
Name[de]=Benachrichtigungen
Name[el]=Ειδοποιήσεις
Name[en_GB]=Notifications
Name[eo]=Sciigoj
Name[es]=Notificaciones
Name[et]=Teated
Name[eu]=Jakinarazpenak
Name[fa]=آگاهی‌ها
Name[fi]=Ilmoitukset
Name[fr]=Notifications
Name[fur]=Notifichis
Name[ga]=Fógairt
Name[gd]=Brathan
Name[gl]=Notificacións
Name[gu]=સૂચનાઓ
Name[he]=התרעות
Name[hi]=सूचनाएँ
Name[hr]=Obavijesti
Name[hu]=Értesítések
Name[id]=Notifikasi
Name[is]=Tilkynningar
Name[it]=Notifiche
Name[ja]=通知
Name[kab]=Tlɣa
Name[kk]=Хабарламалар
Name[kn]=ಸೂಚನೆಗಳು
Name[ko]=알림
Name[lt]=Pranešimai
Name[lv]=Paziņojumi
Name[mr]=सूचना
Name[ms]=Pemberitahuan
Name[nb]=Varslinger
Name[ne]=सूचना
Name[nl]=Notificaties
Name[oc]=Notificacions
Name[or]=ବିଜ୍ଞପ୍ତିଗୁଡ଼ିକ
Name[pa]=ਸੂਚਨਾਵਾਂ
Name[pl]=Powiadomienia
Name[pt]=Notificações
Name[pt_BR]=Notificações
Name[ro]=Notificări
Name[ru]=Уведомления
Name[sk]=Oznámenia
Name[sl]=Obvestila
Name[sr]=Обавештења
Name[sr@latin]=Obaveštenja
Name[sv]=Aviseringar
Name[ta]=அறிவிப்புகள்
Name[te]=ప్రకటనలు
Name[tg]=Огоҳиҳо
Name[tr]=Bildirimler
Name[ug]=ئۇقتۇرۇشلار
Name[uk]=Сповіщення
Name[vi]=Thông báo
Name[zh_CN]=通知
Name[zh_HK]=通知
Name[zh_TW]=通知
Name=Notifications (container)
Comment[af]=Beheer watter kennisgewings wys en wat hulle bevat
Comment[an]=Controlar qué notificacions s'amuestran
Comment[ar]=تحكم في أي التنبيهات تُعرض و ماذا تعرِض
Comment[as]=কোনবোৰ অধিসূচনা প্ৰদৰ্শন কৰা হব আৰু সিহতে কি দেখুৱাব নিয়ন্ত্ৰণ কৰক
Comment[be]=Настройка апавяшчэнняў, якія трэба паказваць, і што ў іх відаць
Comment[bg]=Управление на известията и тяхната детайлност
Comment[bn_IN]=কোন বিজ্ঞপ্তিগুলি দেখানো হবে এবং তারা কী দেখায় তা নিয়ন্ত্রণ করুন
Comment[bs]=Kontroliši koje napomene su prikazane i šta prikazuju
Comment[ca]=Controleu quines notificacions es mostren i què mostren
Comment[ca@valencia]=Controleu quines notificacions es mostren i què mostren
Comment[ckb]=کۆنتڕۆڵی چی ئاگادارنامەیەک پشانبدرێن و ئەوان چی پشانبدەن بکە
Comment[cs]=Spravovat to, jak jsou upozornění zobrazována a co ukazují
Comment[da]=Tilpas hvilke påmindelser der vises, og hvad de viser
Comment[de]=Legt fest, wie Nachrichten angezeigt werden und was diese anzeigen
Comment[el]=Ελέγξτε ποιες ειδοποιήσεις εμφανίζονται και τι εμφανίζουν
Comment[en_GB]=Control which notifications are displayed and what they show
Comment[eo]=Regu kiuj sciigoj estas montrita kaj kion ili montros
Comment[es]=Controlar qué notificaciones se muestran
Comment[et]=Teadete kuvamine ja nende sisu
Comment[eu]=Kontrolatu jakinarazpenak nola bistaratzen diren eta zer erakusten duten
Comment[fa]=واپایش آگاهی‌های نمایش داده شده و آن‌چه نشان می‌دهند
Comment[fi]=Hallitse näytettäviä ilmoituksia ja niiden sisältämää tietoa
Comment[fr]=Contrôler quelles notifications s’affichent et leur contenu
Comment[fur]=Controle cualis notifichis mostrâ e ce che a mostrin
Comment[gd]=Stiùirich na brathan a chithear agus na sheallas iad
Comment[gl]=Controle que notificacións se mostran e que contido mostran
Comment[gu]=કઇ સૂચનાઓ દર્શાવેલ છે અને શું તેઓ બતાવે છે તેની પર નિયંત્રણ કરો
Comment[he]=שליטה בהתרעות שתוצגנה ומה הן תצגנה
Comment[hi]=नियंत्रण जो सूचनाएं प्रदर्शित कर रहे हैं कि वे क्या दिखाते हैं।
Comment[hr]=Upravljajte koje će poruke biti prikazane i što će prikazivati
Comment[hu]=Az értesítések megjelenítésének és tartalmuk beállítása
Comment[id]=Kendalikan pemberitahuan mana yang ditampilkan dan apa yang ditunjukkan
Comment[is]=Stjórnaðu hvaða tilkynningar eru birtar og hvað þær innihalda
Comment[it]=Controlla quali notifiche visualizzare e cosa esse mostrano
Comment[ja]=表示する通知およびその表示方法について設定します
Comment[kk]=Қай хабарламалар және олар нені көрсететінін басқару
Comment[kn]=ಯಾವ ಸೂಚನೆಗಳನ್ನು ತೋರಿಸಬೇಕು ಮತ್ತು ಅವು ಏನನ್ನು ತೋರಿಸಬೇಕು ಎನ್ನುವುದನ್ನು ನಿಯಂತ್ರಿಸುತ್ತದೆ
Comment[ko]=어떤 알림을 표시할지 및 무엇을 표시할지 설정합니다
Comment[lt]=Valdykite, kurie pranešimai yra rodomi, ir ką jie rodo
Comment[lv]=Nosakiet, kuri paziņojumi tiks parādīti, un kas tajos būs redzams
Comment[ml]=ഏതോക്കെ അറിയിപ്പുകളാണ് കാണിക്കുന്നതെന്നും എന്താണ് കാണിക്കുന്നതെന്നും നിയന്ത്രിക്കുക.
Comment[mr]=कोणत्या सूचना दाखवायचे आणि ते काय दाखवते, ते नियंत्रीत करा
Comment[ms]=Kawal pemberitahuan yang manakah dipapar dan apakah yang ditunjukkan
Comment[nb]=Kontroller hvilke varslinger som vises og hva de viser
Comment[nl]=Regelen welke notificaties weergegeven worden en wat ze tonen
Comment[oc]=Controlar quinas notificacions s'afichan e lor contengut
Comment[or]=କେଉଁ ବିଜ୍ଞପ୍ତିଗୁଡ଼ିକୁ ଦର୍ଶାଯିବ ଏବଂ ତାହା କଣ ଦର୍ଶାଇଥାଏ ତାହାକୁ ନିୟନ୍ତ୍ରଣ କରନ୍ତୁ
Comment[pa]=ਕੰਟਰੋਲ ਕਰੋ ਕਿ ਕਿਹੜੀਆਂ ਸੂਚਨਾਵਾਂ ਵੇਖਾਉਣੀਆਂ ਅਤੇ ਉਹ ਕੀ ਕੁਝ ਵੇਖਾਉਣ
Comment[pl]=Sterowanie wyświetlaniem powiadomień i ich treści
Comment[pt]=Controlar que notificações são apresentadas e o que mostram
Comment[pt_BR]=Controle quais notificações são exibidas e o que elas mostram
Comment[ro]=Controlează tipurile de notificări afișate și ce afișează acestea
Comment[ru]=Управление отображением и содержанием уведомлений
Comment[sk]=Ovláda zobrazovanie oznámení a ich obsah
Comment[sl]=Nadzirajte katera obvestila so prikazana in kaj prikazujejo
Comment[sr]=Управљајте приказаним обавештењима и њиховим садржајем
Comment[sr@latin]=Upravljajte prikazanim obaveštenjima i njihovim sadržajem
Comment[sv]=Kontrollera vilka aviseringar som visas samt vad de visar
Comment[ta]=எந்தெந்த அறிவிப்புகள் காண்பிக்கப்பட வேண்டும் என்பதையும் அவை எவற்றைக் காண்பிக்க வேண்டும் என்பதையும் கட்டுப்படுத்தவும்
Comment[te]=ఏ ప్రకటనలు ప్రదర్శించాలి మరియు అవి యేమి చూపాలో నియంత్రించు
Comment[tg]=Идора кунед, ки кадом огоҳиҳо намоиш дода мешаванд ва чиро намоиш медиҳанд
Comment[th]=ควบคุมการแจ้งเหตุว่าจะแสดงรายการใดหรือสิ่งใดบ้าง
Comment[tr]=Hangi bildirimlerin gösterileceğini ve ne göstereceklerini ayarlayın
Comment[uk]=Вказує які сповіщення показуються і що вони показують
Comment[vi]=Cấu hình xem cảnh báo nào sẽ được hiển thị và hiển thị nó như thế nào
Comment[zh_CN]=控制显示的通知种类及内容
Comment[zh_HK]=控制要顯示哪種通知及要顯示什麼
Comment[zh_TW]=控制要顯示哪種通知及要顯示什麼
Comment=Control which notifications are displayed and what they show
Exec=toolbox run gnome-control-center notifications
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/preferences-system-notifications.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalizationSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=Notifications
X-GNOME-Bugzilla-Version=3.38.2
X-GNOME-Settings-Panel=notifications
# Translators: Search terms to find the Notifications panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=kennisgewings;banier;boodskap;
Keywords[an]=notificacions;anuncio;mensache;servilla;emerchent;
Keywords[ar]=تنبيهات;لوحة;رسالة;منبثق;
Keywords[as]=Notifications;Banner;Message;Tray;Popup;
Keywords[be]=Апавяшчэнні;Нагадванні;Банер;Шыльда;Паведамленне;Трэй;Абшар;Выплыўное акенца;
Keywords[bg]=предупреждения;известия;съобщения;тава;изскачащ;notifications;banner;message;tray;popup;
Keywords[bn_IN]=বিজ্ঞপ্তি;ব্যানার;বার্তা;ট্রে;পপ-আপ;
Keywords[bs]=Napomene;Trake;poruke;Poslužavnik;Skočni;
Keywords[ca]=Notificacions;Bàner;Missatge;Safata;Emergent;
Keywords[ca@valencia]=Notificacions;Bàner;Missatge;Safata;Emergent;
Keywords[ckb]=ئاگادارنامەکان;مانشێت;پەیام;ترەی;دەرپەڕیوو;
Keywords[cs]=upozornění;proužek;zpráva;oblast;pruh;cedule;baner;banner;vyskakovací;
Keywords[da]=Påmindelser;Banner;Besked;Meddelelse;Statusfelt;Status;Pop;Pop-op;
Keywords[de]=Benachrichtigungen;Banner;Nachricht;Popup;
Keywords[el]=Ειδοποιήσεις;Τίτλοι;Μήνυμα;Δίσκος;Αναδυόμενο;Notifications;Banner;Message;Tray;Popup;
Keywords[en_GB]=Notifications;Banner;Message;Tray;Popup;
Keywords[eo]=Sciigoj;Mesaĝo;Pleto;Ŝpruco;
Keywords[es]=notificaciones;banner;mensaje;bandeja;emergente;
Keywords[et]=teated;bänner;sõnumid;teateala;hüpikaken;hüpikteade;
Keywords[eu]=jakinarazpenak;iragarkia;mezua;erretilua;laster-leihoa;
Keywords[fa]=Notifications;Banner;Message;Tray;Popup;آگاهیها;بنر;پیام;سینی;واشو;
Keywords[fi]=Notifications;Banner;Message;Tray;Popup;ilmoitus;ilmoitukset;banneri;viesti;
Keywords[fr]=Notifications;Messages surgissants;Bannières;Message;Tiroir;Popup;
Keywords[fur]=Notifichis;Banner;Messaç;Tray;Popup;
Keywords[ga]=Fógairtí;Meirge;Teachtaireacht;Greille;Preab;
Keywords[gd]=Notifications;Banner;Message;Tray;Popup;brathan;bratach;teachdaireachd;treidhe;priob-uinneag;
Keywords[gl]=Notificacións;Anuncio;Mensaxe;Bandexa;Emerxente;
Keywords[gu]=સૂચના;બેનર;સંદેશો;ટ્રે;પોપઅપ;
Keywords[he]=התרעות;באנר;הודעה;אזור דיווחים;הודעה קופצת;
Keywords[hi]=बैनर;संदेश;ट्रे;पॉपअप;सूचनाएं;
Keywords[hr]=Obavijesti;Transparent;Poruka;Statusna traka;Skočni prozor;
Keywords[hu]=Értesítések;Felugró sáv;Üzenet;Sáv;Tálca;Figyelmeztetés;
Keywords[id]=Pemberitahuan;Banner;Pesan;Baki;Popup;
Keywords[is]=Tilkynningar;Borði;Skilaboð;Kerfisbakki;Sprettgluggi;
Keywords[it]=Notifiche;Banner;Messaggio;Tray;Popup;
Keywords[ja]=Notifications;Banner;Message;Tray;Popup;通知;バナー;メッセージ;トレイ;ポップアップ;
Keywords[kk]=Notifications;Banner;Message;Tray;Popup;Хабарлаулар;Баннер;Хабарлама;Трей;Қалқымалы;
Keywords[kn]=ಸೂಚನೆಗಳು;ಬ್ಯಾನರ್;ಸಂದೇಶ;ಟ್ರೇ;ಪಾಪ್ಅಪ್;
Keywords[ko]=Notifications;알림;Banner;안내판;Message;메시지;Tray;트레이;Popup;팝업;
Keywords[lt]=Pranešimai;žinutė;laiškas;dėklas;iššokimai;
Keywords[lv]=Paziņojumi;Lentas;Baneri;Ziņojums;Paplāte;Uznirstošais logs;
Keywords[mjw]=Notifications;Banner;Message;Tray;Popup;
Keywords[ml]=Notifications;Banner;Message;Tray;Popup;
Keywords[mr]=सूचना;बॅनर;संदेश;ट्रे;पॉपअप;
Keywords[ms]=Pemberitahuan;Sepanduk;Mesej;Talam;Timbul;
Keywords[nb]=Varslinger;Banner;Melding;Trau;Oppsprett;
Keywords[nl]=Notifications;Notificaties;Banners;Banieren;Bericht;Message;Tray;Systeemvak;Pop-up;
Keywords[oc]=Notificacions;Messatges sorgissents;Messatge;Tirador;Popup;
Keywords[or]=ବିଜ୍ଞପ୍ତିଗୁଡ଼ିକ;ବ୍ୟାନେର;ସନ୍ଦେଶ;ଟ୍ରେ;ପପଅପ୍‌;
Keywords[pa]=ਸੂਚਨਾ;ਬੈਨਰ;ਸੁਨੇਹਾ;ਟਰੇ;ਪੋਪਅੱਪ;Notifications;Banner;Message;Tray;Popup;
Keywords[pl]=Powiadomienia;Notyfikacje;Baner;Banner;Wiadomość;Komunikat;Obszar;Tacka;Tray;Wyskakujące;Popup;Pop-up;
Keywords[pt]=Notificações;Faixas;Mensagem;Área de Notificação;Instantâneas;
Keywords[pt_BR]=Notificações;Banner;Mensagem;Bandeja;Janelas instantâneas;
Keywords[ro]=Notifications;Banner;Message;Tray;Popup;
Keywords[ru]=Уведомления;Всплывающее;Сообщение;Лоток;Всплывающее;
Keywords[sk]=Oznámenia;Bublina;Správa;Oblasť upozornení;Vyskakovacie;
Keywords[sl]=Obvestila;sporočila;pojavna sporočila;opozorila;
Keywords[sr]=обавештења;врпца;порука;фиока;искочко;
Keywords[sr@latin]=obaveštenja;vrpca;poruka;fioka;iskočko;
Keywords[sv]=Aviseringar;Banderoll;Meddelande;Bricka;Popup;
Keywords[ta]=அறிவிப்புகள்;பதாகை;செய்தி;பலகம்;மேலெழு;
Keywords[te]=ప్రకటనలు;బానర్;సందేశం;ట్రే;పాపప్;
Keywords[tg]=Огоҳиҳо;Баннер;Паём;Қуттӣ;Зоҳиршаванда;
Keywords[th]=การแจ้งเหตุ;พาดหัว;ข้อความ;ถาด;กล่องผุดขึ้น;
Keywords[tr]=Bildirimler;Pencerecik;İleti;Mesaj;Tepsi;Açılır Pencere;
Keywords[ug]=Notifications;Banner;Message;Tray;Popup;ئۇقتۇرۇش;ئۇچۇر;قونداق;سەكرىمە;
Keywords[uk]=Сповіщення;Шапка;Повідомлення;Лоток;Контекстний;
Keywords[vi]=Notifications;Thông;báo;Thong;bao;Banner;Message;Nhắn;nhan;Tray;Khay;Popup;Nổi;lên;Noi;len;
Keywords[zh_CN]=Notifications;Banner;Message;Tray;Popup;通知;横幅;条幅;消息;托盘;弹出;弹窗;
Keywords[zh_HK]=Notifications;Banner;Message;Tray;Popup;通知;橫幅;訊息;匣;彈出;
Keywords[zh_TW]=Notifications;Banner;Message;Tray;Popup;通知;橫幅;訊息;匣;彈出;
Keywords=Notifications;Banner;Message;Tray;Popup;
