[Desktop Entry]
Name[an]=Fondo
Name[ar]=الخلفية
Name[as]=পটভূমি
Name[ast]=Fondu de pantalla
Name[be]=Абрус
Name[be@latin]=Fon
Name[bn]=পটভূমি
Name[bn_IN]=পটভূমি
Name[br]=Drekleur
Name[bs]=Pozadina
Name[ca]=Fons
Name[ckb]=پاشبنەما
Name[crh]=Arqazemin
Name[cs]=Pozadí
Name[da]=Baggrund
Name[de]=Hintergrund
Name[dz]=རྒྱབ་གཞི་
Name[el]=Παρασκήνιο
Name[en_GB]=Background
Name[en@shaw]=𐑚𐑨𐑒𐑜𐑮𐑬𐑯𐑛
Name[eo]=Fono
Name[es]=Fondo
Name[et]=Taust
Name[eu]=Atzeko planoa
Name[fa]=پس‌زمینه
Name[fi]=Taustakuva
Name[fr]=Arrière-plan
Name[fur]=Fondâl
Name[ga]=Cúlra
Name[gd]=Cùlaibh
Name[gl]=Fondo
Name[gu]=પાશ્વ ભાગ
Name[he]=רקע
Name[hi]=पृष्ठभूमि
Name[hr]=Pozadina
Name[hu]=Háttér
Name[id]=Latar Belakang
Name[is]=Bakgrunnur
Name[it]=Sfondo
Name[ja]=背景
Name[ka]=ფონი
Name[kab]=Agilal
Name[kk]=Фон
Name[km]=ផ្ទៃ​ខាង​ក្រោយ
Name[kn]=ಹಿನ್ನಲೆ ಚಿತ್ರ
Name[ko]=배경
Name[ku]=Rûerd
Name[ky]=Фон
Name[lt]=Fonas
Name[lv]=Fons
Name[mai]=पृष्ठभूमि
Name[mjw]=Nung-arjan
Name[mk]=Позадина
Name[mr]=पार्श्वभूमी
Name[ms]=Latar Belakang
Name[my]=နောက်ခံပုံ
Name[nb]=Bakgrunn
Name[nds]=Achtergrund
Name[ne]=पृष्ठभूमि
Name[nl]=Achtergrond
Name[oc]=Rèireplan
Name[or]=ପୃଷ୍ଠଭୂମି
Name[pa]=ਬੈਕਗਰਾਊਂਡ
Name[pl]=Tło
Name[pt]=Fundo
Name[pt_BR]=Plano de fundo
Name[ro]=Fundal
Name[ru]=Фон
Name[si]=පසුබිම
Name[sk]=Pozadie
Name[sl]=Ozadje
Name[sq]=Sfondi
Name[sr]=Позадина
Name[sr@latin]=Pozadina
Name[sv]=Bakgrund
Name[ta]=பின்னணி
Name[te]=నేపథ్యం
Name[tg]=Пасзамина
Name[tr]=Arka Plan
Name[ug]=تەگلىك
Name[uk]=Тло
Name[uz]=Orqa fon
Name[uz@cyrillic]=Орқа фон
Name[vi]=Ảnh nền
Name[zh_CN]=背景
Name[zh_HK]=背景
Name[zh_TW]=背景
Name=Background (container)
Comment[af]=Verander die agtergrondbeeld na 'n muurpapier of foto
Comment[an]=Cambiar a imachen de fondo d'escritorio por un tapiz u una foto
Comment[ar]=غيّر صورة الخلفية
Comment[as]=আপোনাৰ পটভূমি ছবিক এটা ৱালপেপাৰ অথবা ফ'টোলে পৰিবৰ্তন কৰক
Comment[be]=Настройка фонавай выявы
Comment[bg]=Смяна на фона да е снимка или картина
Comment[bn_IN]=আপনার পটভূমি চিত্রটি ওয়ালপেপার বা ফটোতে পরিবর্তন করুন
Comment[bs]=Promijeni svoju pozadinu u pozadinu ili sliku
Comment[ca]=Canvieu la imatge de fons a un fons de pantalla o fotografia
Comment[ca@valencia]=Canvieu la imatge de fons a un fons de pantalla o fotografia
Comment[ckb]=وێنەی پاشبنەماکەت بگۆڕە بۆ دیوارپۆشێک یان وێنەیەک
Comment[crh]=Arqazemin suretiñizni bir divar kâğıtına yaki fotoğa deñiştiriñiz
Comment[cs]=Změnit obrázek na pozadí na tapetu nebo fotografii
Comment[da]=Skift dit baggrundsbillede til et tapet eller billede
Comment[de]=Verwenden Sie ein Foto oder eine Grafikdatei für den Hintergrund
Comment[el]=Αλλάξτε την εικόνα παρασκηνίου με μια ταπετσαρία ή φωτογραφία
Comment[en_GB]=Change your background image to a wallpaper or photo
Comment[eo]=Ŝanĝi vian fonan bildon al ekranfono aŭ foto
Comment[es]=Cambiar la imagen de fondo de escritorio por un tapiz o una foto
Comment[et]=Taustapildi muutmine, foto või tapeedi kasutamine
Comment[eu]=Aldatu atzeko planoko irudia horma-paper edo argazki batera
Comment[fa]=تصویر پس‌زمینهٔ خود را به یک کاغذ دیواری یا عکس تغییر دهید
Comment[fi]=Vaihda taustakuva
Comment[fr]=Remplacer votre image d’arrière-plan par un papier peint ou une photo
Comment[fur]=Cambie la tô imagjin di fonts cuntun rivestiment o une foto
Comment[gd]=Cleachd pàipear-balla no dealbh mar chùlaibh
Comment[gl]=Cambie a súa imaxe de fondo a un fondo de pantalla ou foto
Comment[gu]=વોલપેપર અથવા ફોટોમાં તમારાં ઇમેજનાં પાશ્ર્વભાગને બદલો
Comment[he]=החלפת תמונת הרקע שלך לצילום או ליצירת אומנות
Comment[hi]=एक वॉलपेपर या तस्वीर का उपयोग करके अपनी पृष्ठभूमि छवि बदलें
Comment[hr]=Promijenite vašu pozadinsku sliku u sliku pozadine ili fotografiju
Comment[hu]=Háttérkép módosítása tapétára vagy fényképre
Comment[id]=Ubah gambar latar Anda ke suatu wallpaper atau foto
Comment[is]=Breyttu bakgrunni skjáborðsins í veggfóður eða ljósmynd
Comment[it]=Cambia l'immagine di sfondo con un rivestimento o una foto
Comment[ja]=背景画像を壁紙や写真に変更します
Comment[kk]=Фон суретін түсқағазға немесе фотосуретке алмастырыңыз
Comment[kn]=ನಿಮ್ಮ ಹಿನ್ನಲೆ ಚಿತ್ರವನ್ನು ಒಂದು ವಾಲ್‌ಪೇಪರ್ ಅಥವ ಫೋಟೊದಿಂದ ಬದಲಾಯಿಸಿ
Comment[ko]=배경을 이미지나 사진으로 바꿉니다
Comment[lt]=Pakeiskite fono paveikslėlį fonu arba nuotrauka
Comment[lv]=Maini savu fona attēlu uz tapeti vai fotogrāfiju
Comment[ml]=നിങ്ങളുടെ പശ്ചാത്തലചിത്രത്തെ ചുമർചിത്രമോ അല്ലെങ്കിൽ ചിത്രമോ ആയി മാറ്റുക
Comment[mr]=पार्श्वभूमी प्रतिमांना वॉलपेपर किंवा छायाचित्रकरिता बदलवा
Comment[ms]=Ubah imej latar belakang anda dengan kertas dinding atau foto
Comment[nb]=Bytt bakgrunnsbilde
Comment[ne]=पृष्ठभुमिको छवि वालपेपर वा फोटो मा परिनत गर्नुहोस्
Comment[nl]=Achtergrond wijzigen in een achtergrondafbeelding of foto
Comment[oc]=Remplaçar vòstre imatge de rèireplan per un papièr pintrat o una fòto
Comment[or]=ଆପଣଙ୍କର ପୃଷ୍ଠଭୂମି ପ୍ରତିଛବିକୁ  ୱାଲପେପର୍‌ କିମ୍ବା ଫୋଟୋ ଆକାରରେ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਬੈਕਗਰਾਊਂਡ ਚਿੱਤਰ ਨੂੰ ਵਾਲਪੇਪਰ ਜਾਂ ਫੋਟੋ ਨਾਲ ਬਦਲੋ
Comment[pl]=Zmiana obrazu tła na tapetę lub zdjęcie
Comment[pt]=Alterar a sua imagem de fundo para um papel de parede ou fotografia
Comment[pt_BR]=Altere sua imagem de fundo para um papel de parede ou uma foto
Comment[ro]=Schimbă imaginea de fundal într-un tapet sau o fotografie
Comment[ru]=Изменить фоновое изображение на обои или фото
Comment[sk]=Mení vaše pozadie na tapetu alebo fotografiu
Comment[sl]=Spremeni ozadje na sliko namizja ali fotografijo
Comment[sr]=Измените слику позадине на тапет или фотографију
Comment[sr@latin]=Izmenite sliku pozadine na tapet ili fotografiju
Comment[sv]=Ändra din skrivbordsbakgrund till bakgrundsbild eller foto
Comment[ta]=உங்கள் பின்புலப் படத்தை வால்பேப்பர் அல்லது புகைப்படமாக மாற்றவும்
Comment[te]=మీ బ్యాక్‌గ్రౌండ్ చిత్రమును వాల్‌పేపర్ లేదా చిత్రమునకు మార్చండి
Comment[tg]=Тағйир додани тасвири пасзамина ба тасвири экран ё сурат
Comment[th]=เปลี่ยนภาพพื้นหลังของคุณเป็นลวดลายหรือภาพถ่าย
Comment[tr]=Arka plan görüntünüzü duvar kağıdıyla veya fotoğrafla değiştirin
Comment[uk]=Змінити малюнок тла на шпалери або фотографію
Comment[vi]=Thay đổi ảnh nền màn hình
Comment[zh_CN]=将背景图片改为一张壁纸或照片
Comment[zh_HK]=將你的背景影像更改為桌布或相片
Comment[zh_TW]=將您的背景影像變更為桌布或相片
Comment=Change your background image to a wallpaper or photo
Exec=toolbox run gnome-control-center background
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/preferences-desktop-wallpaper.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PersonalizationSettings;
OnlyShowIn=GNOME;
# Translators: Search terms to find the Background panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=Muurpapier;Skerm;Werkskerm;
Keywords[an]=Fondo d'escritorio;Pantalla;Escritorio;
Keywords[ar]=خلفية;شاشة;سطح المكتب;
Keywords[as]=ৱালপেপাৰ;পৰ্দা;ডেস্কটপ;
Keywords[ast]=Fondu d'escritoriu;Pantalla;Escritoriu;
Keywords[be]=Абрус;Экран;Стол;
Keywords[bg]=фон;екран;работен;плот;wallpaper;screen;desktop;
Keywords[bn]=ওয়ালপেপার;স্ক্রীন;ডেস্কটপ;
Keywords[bn_IN]=ওয়ালপেপার;স্ক্রীন;ডেস্কটপ;
Keywords[br]=Drekleur;Skramm;Burev;
Keywords[bs]=Pozadina;Ekran;Radna površ;
Keywords[ca]=Fons de pantalla;Pantalla;Escriptori;
Keywords[ca@valencia]=Fons de pantalla;Pantalla;Escriptori;
Keywords[ckb]=دیوارپۆش؛شاشە؛ڕوومێز
Keywords[crh]=Divar kâğıtı;Ekran;Masaüstü;
Keywords[cs]=tapeta;obrazovka;plocha;
Keywords[da]=Tapet;Baggrund;Skærm;Skrivebord;
Keywords[de]=Hintergrundbild;Bildschirm;Schreibtisch;
Keywords[el]=Ταπετσαρία;Οθόνη;Επιφάνεια εργασίας;Wallpaper;Screen;Desktop;
Keywords[en_GB]=Wallpaper;Screen;Desktop;
Keywords[eo]=Ekranfono;Ekrano;Labortablo;
Keywords[es]=Fondo de pantalla;Pantalla;Escritorio;
Keywords[et]=Taustapilt;Tapeet;Ekraan;Töölaud;
Keywords[eu]=Horma-papera;Pantaila;Mahaigaina;
Keywords[fa]=پس‌زمینه;صفحه‌نمایش;رومیزی;
Keywords[fi]=Taustakuva;Näyttö;Työpöytä;Wallpaper;Screen;Desktop;
Keywords[fr]=Papier peint;Écran;Bureau;
Keywords[fur]=Rivestiment;Fonts;Scrivanie;Desktop;
Keywords[ga]=Cúlbhrat;Scáileán;Deasc;
Keywords[gd]=Wallpaper;Screen;Desktop;pàipear-balla;sgrìn;deasg;
Keywords[gl]=Fondo de pantalla;Pantalla;Escritorio;
Keywords[gu]=વોલપેપર;સ્ક્રીન;ડેસ્કટોપ;
Keywords[he]=רקע;תמונת רקע;צג;מסך;
Keywords[hi]=वॉलपेपर; स्क्रीन; डेस्कटॉप;
Keywords[hr]=Slika pozadine;Zaslon;Radna površina;
Keywords[hu]=Háttérkép;Képernyő;Asztal;
Keywords[id]=Gambar latar;Layar;Destop;
Keywords[is]=Bakgrunnur;Skjár;Skjáborð;
Keywords[it]=Rivestimento;Sfondo;Scrivania;Desktop;Wallpaper;
Keywords[ja]=Wallpaper;Screen;Desktop;壁紙;スクリーン;デスクトップ;Background;背景;
Keywords[kk]=Wallpaper;Screen;Desktop;Түсқағаз;Экран;Жұмыс үстелі;
Keywords[kn]=ವಾಲ್‌ಪೇಪರ್;ತೆರೆ;ಗಣಕತೆರೆ;
Keywords[ko]=Wallpaper;배경;Screen;화면;Desktop;바탕 화면;
Keywords[ku]=Kaxiza dîwar;Dîmender;Sermasê;
Keywords[ky]=Тушкагаз;Экран;Иштакта;
Keywords[lt]=Fonas;Ekranas;Darbastalis;Darbalaukis;
Keywords[lv]=Tapete;Ekrāns;Darbvirsma;
Keywords[mjw]=Wallpaper;Screen;Desktop;
Keywords[mk]=Позадини;Екран;Работна површина;
Keywords[ml]=ചുമര്‍ചിത്രം;സ്ക്രീന്‍;പണിയിടം;
Keywords[mr]=वॉलपेपर;स्क्रीन;डेस्कटॉप;
Keywords[ms]=Kertas Dinding;Skrin;Atas Meja;
Keywords[nb]=Bakgrunn;Skjerm;Skrivebord;
Keywords[ne]=वालपेपर;पर्दा;डेस्कटप;
Keywords[nl]=Wallpaper;Screen;Desktop;Achtergrond;Scherm;Bureaublad;
Keywords[oc]=Papièr pintrat;Ecran;Burèu;
Keywords[or]=ୱାଲପେପର;ପରଦା;ଡେସ୍କଟପ;
Keywords[pa]=ਵਾਲਪੇਪਰ;ਸਕਰੀਨ;ਡੈਸਕਟਾਪ;ਕੰਧ-ਚਿੱਤਰ;
Keywords[pl]=Tapeta;Ekran;Pulpit;Blokada;
Keywords[pt]=Papel de parede;Ecrã;Área de trabalho;
Keywords[pt_BR]=Papel de parede;Tela;Área de trabalho;Desktop;
Keywords[ro]=Wallpaper;Screen;Desktop;Tapet;Ecran;
Keywords[ru]=Обои;Экран;Рабочий;
Keywords[sk]=Tapeta;Obrazovka;Plocha;Pozadie;
Keywords[sl]=Slika ozadja;Zaslon;Namizje;
Keywords[sr]=позадина;екран;радна површ;Wallpaper;Screen;Desktop;pozadina;ekran;radna;povrs;površ;
Keywords[sr@latin]=pozadina;ekran;radna površ;Wallpaper;Screen;Desktop;pozadina;ekran;radna;povrs;površ;
Keywords[sv]=Bakgrundsbild;Wallpaper;Skrivbordsbakgrund;Skärm;Skrivbord;
Keywords[ta]=சுவர்-காகிதங்கள் ;திரை;மேல்மேசை;
Keywords[te]=నేపథ్యచిత్రం;తెర;డెస్క్​టాప్;
Keywords[tg]=Тасвири экран;Экран;Мизи корӣ;
Keywords[th]=ภาพพื้นหลัง;หน้าจอ;พื้นโต๊ะ;
Keywords[tr]=Duvar kağıdı;Ekran;Masaüstü;
Keywords[ug]=Wallpaper;Screen;Desktop;تام قەغىزى;ئېكران;ئۈستەلئۈستى;
Keywords[uk]=Шпалери;Екран;Стільниця;
Keywords[vi]=Wallpaper;Ảnh;nền;Anh;nen;Screen;Màn;hình;Man;hinh;Desktop;
Keywords[zh_CN]=Wallpaper;Screen;Desktop;壁纸;墙纸;屏幕;桌面;背景;
Keywords[zh_HK]=Wallpaper;Screen;Desktop;桌布;螢幕;桌面;
Keywords[zh_TW]=Wallpaper;Screen;Desktop;桌布;螢幕;桌面;
Keywords=Wallpaper;Screen;Desktop;
