[Desktop Entry]
Name[ar]=عنْ
Name[be]=Агляд
Name[bn_IN]=সম্পর্কিত
Name[ca]=Quant a
Name[ckb]=دەربارە
Name[cs]=O systému
Name[da]=Om
Name[de]=Info
Name[el]=Περί
Name[en_GB]=About
Name[eo]=Pri
Name[es]=Acerca de
Name[eu]=Honi buruz
Name[fa]=درباره
Name[fi]=Tietoja
Name[fr]=À propos
Name[fur]=Informazions
Name[gd]=Mu dhèidhinn
Name[gl]=Sobre
Name[he]=אודות
Name[hr]=O sustavu
Name[hu]=Névjegy
Name[id]=Ihwal
Name[is]=Um hugbúnaðinn
Name[it]=Informazioni
Name[ja]=このシステムについて
Name[kab]=Ɣef
Name[kk]=Осы туралы
Name[ko]=정보
Name[lt]=Apie
Name[lv]=Par
Name[mjw]=Aputhak
Name[ms]=Perihal
Name[nb]=Om
Name[ne]=बारेमा
Name[nl]=Info
Name[oc]=A prepaus
Name[pa]=ਇਸ ਬਾਰੇ
Name[pl]=Informacje
Name[pt]=Acerca
Name[pt_BR]=Sobre
Name[ro]=Despre
Name[ru]=О приложении
Name[sk]=O aplikácii
Name[sl]=O programu
Name[sr]=Системски подаци
Name[sr@latin]=O programu
Name[sv]=Om
Name[tr]=Hakkında
Name[uk]=Про систему
Name[vi]=Giới thiệu
Name[zh_CN]=关于
Name[zh_TW]=關於
Name=About (container)
Comment[af]=Vertoon inligting oor die stelsel
Comment[an]=Veyer información sobre o tuyo sistema
Comment[ar]=اعرض معلومات عن نظامك
Comment[as]=আপোনাৰ চিস্টেমৰ বিষয়ে তথ্য চাওক
Comment[be]=Прагляд звестак аб сістэме
Comment[bg]=Извеждане на информация за компютъра
Comment[bn_IN]=আপনার সিস্টেম সম্বন্ধে তথ্য দেখুন
Comment[bs]=Pregled informacija o vašem sistemu
Comment[ca]=Visualitzeu informació sobre el sistema
Comment[ca@valencia]=Visualitzeu informació sobre el sistema
Comment[ckb]=زانیاری ببینە دەربارەی سیستەمەکەت
Comment[cs]=Zobrazit informace o systému
Comment[da]=Vis information om systemet
Comment[de]=Informationen über Ihr System anzeigen
Comment[el]=Δείτε πληροφορίες για το σύστημα σας
Comment[en_GB]=View information about your system
Comment[eo]=Montri informon pri via sistemo
Comment[es]=Ver información sobre su sistema
Comment[et]=Süsteemi andmete kuvamine
Comment[eu]=Ikusi sistemari buruzko informazioa
Comment[fa]=دیدن اطّلاعات دربارهٔ سامانه‌تان
Comment[fi]=Katsele järjestelmän tietoja
Comment[fr]=Afficher les informations sur le système
Comment[fur]=Mostre informazions su chest sisteme
Comment[ga]=Amharc ar eolas faoi do chóras
Comment[gd]=Seall fiosrachadh mun t-siostam agad
Comment[gl]=Ver información sobre o seu sistema
Comment[gu]=તમારી સિસ્ટમ વિશે જાણકારી જુઓ
Comment[he]=צפייה בפרטים על המערכת שלך
Comment[hi]=अपने प्रणाली के बारे में सूचना देखें
Comment[hr]=Prikaži informacije ovog sustava
Comment[hu]=Információk megjelenítése a rendszeréről
Comment[id]=Tilik informasi tentang sistem Anda
Comment[is]=Skoðaðu upplýsingar um kerfið þitt
Comment[it]=Visualizza informazioni su questo sistema
Comment[ja]=システム情報を表示します
Comment[kab]=Wali talɣut ɣef unagraw-inek
Comment[kk]=Жүйеңіз туралы ақпаратты қараңыз
Comment[kn]=ನಿಮ್ಮ ವ್ಯವಸ್ಥೆಯ ಬಗೆಗಿನ ಮಾಹಿತಿಯನ್ನು ನೋಡಿ
Comment[ko]=시스템의 정보를 봅니다
Comment[lt]=Rodyti informaciją apie sistemą
Comment[lv]=Aplūkot informāciju par šo sistēmu
Comment[ml]=നിങ്ങളുടെ സിസ്റ്റത്തിനെ കുറിച്ചുള്ള വിവരങ്ങൾ കാണുക.
Comment[mr]=प्रणाली विषयी माहिती दाखवा
Comment[ms]=Lihat maklumat berkenaan sistem anda
Comment[nb]=Vis informasjon om systemet
Comment[ne]=तपाईँको प्रणाली बारेको सूचना हेर्नुहोस्
Comment[nl]=Systeeminformatie bekijken
Comment[oc]=Afichar las informacions sul sistèma
Comment[or]=ଆପଣଙ୍କର ତନ୍ତ୍ର ବିଷୟରେ ସୂଚନା ଦେଖନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਸਿਸਟਮ ਬਾਰੇ ਜਾਣਕਾਰੀ ਵੇਖੋ
Comment[pl]=Wyświetlanie informacji o systemie
Comment[pt]=Ver informação acerca de seu sistema
Comment[pt_BR]=Veja informações sobre seu sistema
Comment[ro]=Vedeți informații despre sistem
Comment[ru]=Просмотр информации о системе
Comment[sk]=Zobrazuje informácie o vašom systéme
Comment[sl]=Pregled podrobnosti sistema
Comment[sr]=Погледајте податке о вашем систему
Comment[sr@latin]=Pogledajte podatke o vašem sistemu
Comment[sv]=Visa information om ditt system
Comment[ta]=உங்கள் கணினி குறித்த தகவலைப் பார்க்க
Comment[te]=మీ వ్యవస్థ గురించి సమాచారం దర్శించు
Comment[tg]=Намоиш додани иттилоот дар бораи низом
Comment[th]=ดูข้อมูลเกี่ยวกับระบบของคุณ
Comment[tr]=Sisteminiz hakkında bilgi edinin
Comment[uk]=Переглянути інформацію про вашу систему
Comment[vi]=Xem thông tin về hệ thống của bạn
Comment[zh_CN]=查看系统信息
Comment[zh_HK]=檢視你系統的資訊
Comment[zh_TW]=檢視您系統的資訊
Comment=View information about your system
Exec=toolbox run gnome-control-center info-overview
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/48x48/legacy/help-about.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=info
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the About panel.
# Do NOT translate or localize the semicolons!
# The list MUST also end with a semicolon!
# "Preferred Applications" is the old name for the preference, so make
# sure that you use the same "translation" for those keywords
Keywords[bn_IN]=যন্ত্র;সিস্টেম;তথ্য;হোস্টনাম;মেমরির;প্রসেসর;সংস্করণ;ডিফল্ট;আবেদন;পছন্দসই;সিডি;ডিভিডি;USB;অডিও;ভিডিও;ডিস্ক;অপসারণযোগ্য;মিডিয়া;অটোরান;
Keywords[ca]=dispositiu;sistema;informació;amfitrió;memòria;processador;versió;per defecte;aplicació;preferit;cd;dvd;usb;àudio;vídeo;disc;extraïble;multimèdia;execució automàtica;
Keywords[cs]=zařízení;počítač;systém;informace;hostname;název;paměť;procesor;verze;výchozí;aplikace;upřednostňovaný;cd;dvd;usb;zvuk;video;disk;výměnný;média;automatické spuštění;
Keywords[da]=enhed;system;information;værtsnavn;hukommelse;processor;version;standard;program;foretrukne;foretrukken;cd;dvd;usb;lyd;video;disk;flytbar;medie;autokørsel;
Keywords[de]=Gerät;System;Information;Rechnername;Speicher;Prozessor;Version;Vorgabe;Anwendung;Ersatz;bevorzugt;CD;DVD;USB;Audio;Video;Medien;Wechsel;Medien;Autostart;
Keywords[en_GB]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[eo]=aparato;sistemo;informoj;aparatnomo;gastignomo;memoro;procezoro;versio;implicita;aplikaĵo;ŝatata;preferita;kd;dvd;usb;sono;video;disko;demetebla;datumportilo;aŭtomata;lanĉo;
Keywords[es]=dispositivo;sistema;información;equipo;memoria;procesador;versión;predeterminado;aplicación;preferido;cd;dvd;usb;sonido;vídeo;disco;extraíble;medio;autoejecutar;
Keywords[eu]=gailua;sistema;informazioa;ostalari-izena;memoria;prozesadorea;bertsioa;lehenetsia;aplikazioa;hobetsia;cd;dvd;usb;audioa;bideoa;diskoa;aldagarria;euskarria;auto-exekuzioa;
Keywords[fa]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;دستگاه;سیستم;سامانه;اطلاعات;نام دامنه;حافظه;پردازشگر;نسخه;پیش‌گزیده;برنامه;یدکی;ترجیح‌شده;سی‌دی;دی‌وی‌دی;یواس‌بی;صوت;ویدیو;دیسک;قابل حذف;رسانه;اجرای خودکار;
Keywords[fi]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;laite;järjestelmä;tiedot;konenimi;isäntänimi;muisti;suoritin;prosessori;versio;oletus;oletukset;sovellus;suositellut;ensisijaiset;automaattikäynnistys;ääni;irrotettava;ulkoinen;erillinen;
Keywords[fr]=appareil;périphérique;système;information;nom d’hôte;mémoire;processeur;version;défaut;application;préféré;cd;dvd;usb;audio;vidéo;disque;amovible;média;exécution automatique;
Keywords[fur]=dispositîf;sisteme;informazions;non;host;memorie;procesôr;version;predefinît;aplicazion;preferide;cd;dvd;usb;audio;video;disc;estraibil;removibil;multimedie;esecuzion;autorun;
Keywords[gl]=dispositivo;sistema;información;memoria;procesador;versión;predeterminado;aplicación;fallback;alternativo;preferido;cd;dvd;usb;son;video;disco;extraíbel;medio;autoexecutar;
Keywords[he]=התקן;מערכת;מידע;שם מארח;שם;מארח;זיכרון;זכרון;זיכרון;מעבד;גרסה;בררת מחדל;ברירת מחדל;דפאולט;יישום;העדפות;העדפה;CD;DVD;USB;התקן חיצוני;פלאש;שמע;צליל;וידאו;סרט;סרטון;מדיה;מדיה נתיקה;נשלף;נתיק;מדיה נשלפת;הפעלה אוטומטית;תקליטור;דיסק;אודיו;חוזי;גיבוי;העדפה;גרסה;
Keywords[hr]=uređaj;sustav;informacije;naziv računala;memorija;procesor;inačica;uobičajeno;aplikacija;poželjno;cd;dvd;usb;zvuk;video;disk;prijenosni;medij;automatsko pokretanje;
Keywords[hu]=eszköz;rendszer;információk;memória;processzor;verzió;alapértelmezett;alkalmazás;előnyben részesített;cd;dvd;usb;hang;video;lemez;eltávolítható;cserélhető;média;automatikus futtatás;autorun;
Keywords[id]=perangkat;sistem;informasi;nama host;memori;prosesor;versi;baku;aplikasi;disukai;cd;dvd;usb;audio;video;cakram;dapat dicopot;media;autorun;
Keywords[it]=dispositivo;sistema;informazioni;memoria;processore;versione;predefinito;applicazione;preferite;cd;dvd;usb;audio;video;disco;rimovibile;media;multimedia;esecuzione;autorun;
Keywords[ja]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;デバイス;システム;情報;メモリ;プロセッサ;バージョン;デフォルト;アプリケーション;設定;オーディオ;音声;音楽;ミュージック;ビデオ;動画;ディスク;リムーバブルメディア;媒体;自動起動;オートラン;Details;詳細;ホスト名;
Keywords[kk]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;құрылғы;жүйе;ақпарат;хост;жады;процессор;нұсқасы;үнсіз келісім;қолданба;таңдамалы;аудио;видео;диск;ауыстырмалы;тасушы;автожөнелту;
Keywords[ko]=device;장치;system;시스템;information;정보;hostname;호스트;이름;memory;메모리;processor;프로세서;version;버전;default;기본값;application;응용 프로그램;preferred;우선;cd;dvd;usb;audio;오디오;video;비디오;disc;디스크;removable;이동식;media;미디어;autorun;자동;실행;
Keywords[lt]=įrenginys;sistema;informacija;pavadinimas;atmintis;procesorius;versija;numatyta;programa;atsarginė;pageidaujama;cd;dvd;usb;audio;video;diskas;išimama;laikmena;autopaleidimas;
Keywords[lv]=ierīce;sistēma;informācija;resursdatora nosaukums;atmiņa;procesors;versija;noklusējums;lietotne;cd;dvd;usb;audio;video;disks;izņemams;noņemamas;vide;nesējs;datu nesējs;automātiski palaist;device;system;information;memory;processor;version;default;application;preferred;disc;removable;media;autorun;
Keywords[mjw]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[ms]=peranti;sistem;maklumat;nama hos;ingatan;pemproses;versi;lalai;aplikasi;dikehendaki;cd;dvd;usb;audio;video;cakera;boleh alih;media;auto-jalan;
Keywords[nb]=enhet;system;informasjon;minne;vertsnavn;prosessor;versjon;forvalg;program;foretrukket;cd;dvd;usb;lyd;video;plate;avtagbar;medie;automatisk kjøring;
Keywords[nl]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;apparaat;informatie;geheugen;versie;standaard;toepassing;voorkeur;hostnaam;automatisch;uitvoeren;verwijderbaar;verwijderbare;toestel;
Keywords[pa]=ਡਿਵਾਈਸ;ਡੀਵਾਈਸ;;ਜੰਤਰ;ਸਿਸਟਮ;ਜਾਣਕਾਰੀ;ਮੈਮੋਰੀ;ਪਰੋਸੈਸਰ;ਵਰਜ਼ਨ;ਪ੍ਰੋਸੈਸਰ;ਡਿਫਾਲਟ;ਐਪਲੀਕੇਸ਼ਨ;ਯੂਐਸਬੀ;ਡੀਵੀਡੀ;ਸੀਡੀ;ਆਡੀਓ;ਔਡੀਓ;ਵੀਡੀਓ;ਵਿਡੀਓ;ਡਿਸਕ;ਆਟੋਰਨ;ਮੀਡੀਆ;ਹਟਾਉਣਯੋਗ;ਯੰਤਰ;ਹੋਸਟਨੇਮ;
Keywords[pl]=urządzenie;system;informacje;nazwa;komputera;hosta;hostname;pamięć;procesor;grafika;karta;graficzna;wersja;domyślne;programy;aplikacje;preferowane;cd;dvd;usb;dźwięk;audio;wideo;video;płyta;dysk;wymienny;nośnik;automatyczne;uruchamianie;szczegóły;
Keywords[pt]=dispositivo;sistema;informação;memória;processador;versão;aplicação;preferido;cd;dvd;usb;áudio;vídeo;disco;removível;media;autoiniciar;
Keywords[pt_BR]=dispositivo;sistema;informação;informações;nome de máquina; hostname;memória;processado;cpu;versão;aplicativo;padrão;preferido;cd;dvd;usb;áudio;som;vídeo;disco;unidade;removível;mídia;autorun;autoinicialização;autoinicializável;
Keywords[ro]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;dispozitiv;sistem;informații;nume gazdă;memorie;procesor;vesiune;implicit;aplicație;preferată;detașabil;
Keywords[ru]=устройство;система;информация;имя;хоста;память;процессор;версия;умолчанию;приложение;альтернативный;предпочтительный;cd;dvd;usb;аудио;видео;диск;съёмный;съемный;носитель;автозапуск;
Keywords[sk]=zariadenie;systém;informácie;pamäť;procesor;verzia;predvolené;predvolená;aplikácia;cd;dvd;usb;audio;video;disk;vymeniteľný;nosič;médium;médiá;spustenie;samospustenie;automatické;otvorenie;otváranie;
Keywords[sl]=naprava;sistem;podrobnosti;pomnilnik;procesor;različica;privzeto;program;povrnjeno:prednostno;cd;dvd;usb;zvok;slika;video;disk;odstrani;predstavnost;samodejni zagon;nastavitve;
Keywords[sr]=уређај;систем;информације;меморија;домаћин;хост;процесор;издање;основно;програм;омиљено;цд;двд;усб;звук;снимак;диск;уклоњиви;медијум;носач;самопокретање;uređaj;sistem;informacije;memorija;procesor;izdanje;osnovno;program;omiljeno;cd;dvd;usb;zvuk;snimak;disk;uklonjivi;medijum;nosač;domacin;host;samopokretanje;device;system;information;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[sv]=enhet;system;information;värdnamn;minne;processor;version;standard;program;föredragen;cd;dvd;usb;ljud;video;skiva;flyttbar;media;automatisk körning;
Keywords[tr]=aygıt;sistem;bilgi;makineadı;anamakineadı;bellek;işlemci;sürüm;öntanımlı;uygulama;korumalı;tercihedilen;yeğlenen;cd;dvd;usb;ses;video;disk;çıkarılabilir;ortam;otomatikçalıştır;
Keywords[uk]=пристрій;система;інформація;назва;вузол;пам'ять;процесор;версія;типово;програма;альтернативний;переважний;cd;dvd;usb;аудіо;звук;відео;диск;знімний;знімний;носій;автозапуск;device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
Keywords[zh_CN]=device;system;information;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;设备;系统;信息;内存;处理器;CPU;版本;默认;应用程序;首选;音频;视频;光盘;光碟;盘片;可擦写;可移除;可移动;媒体;介质;自动运行;
Keywords[zh_TW]=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;裝置;系統;資訊;記憶體;處理器;版本;預設;應用程式;首選;音訊;視訊;碟片;可移除;媒體;自動執行;主機名;主機名稱;
Keywords=device;system;information;hostname;memory;processor;version;default;application;preferred;cd;dvd;usb;audio;video;disc;removable;media;autorun;
