[Desktop Entry]
Name[af]=Verstektoepassings
Name[an]=Aplicacions predeterminadas
Name[ar]=التطبيقات المبدئية
Name[as]=অবিকল্পিত এপ্লিকেচনসমূহ
Name[ast]=Aplicaciones predeterminaes
Name[be]=Прадвызначаныя праграмы
Name[bg]=Стандартни програми
Name[bn]=পূর্বনির্ধারিত অ্যাপ্লিকেশন
Name[bn_IN]=ডিফল্ট অ্যাপ্লিকেশন
Name[bs]=Standardne aplikacije
Name[ca]=Aplicacions per defecte
Name[ca@valencia]=Aplicacions per defecte
Name[ckb]=نەرمەواڵا بنەڕەتییەکان
Name[crh]=Ögbelgilengen Uyğulamalar
Name[cs]=Výchozí aplikace
Name[da]=Standardprogrammer
Name[de]=Vorgabe-Anwendungen
Name[el]=Προεπιλεγμένες εφαρμογές
Name[en_GB]=Default Applications
Name[eo]=Implicitaj aplikaĵoj
Name[es]=Aplicaciones predeterminadas
Name[et]=Vaikimisi rakendused
Name[eu]=Aplikazio lehenetsiak
Name[fa]=برنامه‌های پیش‌گزیده
Name[fi]=Oletussovellukset
Name[fr]=Applications par défaut
Name[fur]=Aplicazions predefinidis
Name[ga]=Feidhmchláir Réamhshocraithe
Name[gd]=Aplacaidean tùsail
Name[gl]=Aplicacións predeterminadas
Name[gu]=મૂળભૂત કાર્યક્રમો
Name[he]=יישומי בררת המחדל
Name[hi]=तयशुदा अनुप्रयोग
Name[hr]=Zadane aplikacije
Name[hu]=Alap alkalmazások
Name[id]=Aplikasi Baku
Name[is]=Sjálfgefin forrit
Name[it]=Applicazioni predefinite
Name[ja]=既定のアプリケーション
Name[kab]=Isnasen imezwaren
Name[kk]=Үнсіз келісім қолданбалары
Name[km]=កម្មវិធី​លំនាំដើម
Name[kn]=ಪೂರ್ವನಿಯೋಜಿತ ಅನ್ವಯಗಳು
Name[ko]=기본 프로그램
Name[ku]=Sepanên standard
Name[ky]=Абалкы иштемелер
Name[lt]=Numatytosios programos
Name[lv]=Noklusējuma lietotnes
Name[mk]=Стандардни апликации
Name[ml]=സഹജമായ പ്രയോഗങ്ങള്‍
Name[mr]=पूर्वनिर्धारीत ॲप्लिकेशन्स्
Name[ms]=Aplikasi Lalai
Name[nb]=Forvalgte programmer
Name[ne]=पुर्वनिर्धारित अनुप्रयोग
Name[nl]=Standaardtoepassingen
Name[nn]=Standardprogram
Name[oc]=Aplicacions per defaut
Name[or]=ପୂର୍ବନିର୍ଦ୍ଧାରିତ ପ୍ରୟୋଗଗୁଡ଼ିକ
Name[pa]=ਮੂਲ ਐਪਲੀਕੇਸ਼ਨ
Name[pl]=Domyślne programy
Name[pt]=Aplicações predefinidas
Name[pt_BR]=Aplicativos padrão
Name[ro]=Aplicații implicite
Name[ru]=Приложения по умолчанию
Name[sk]=Predvolené aplikácie
Name[sl]=Privzeti programi
Name[sr]=Подразумевани програми
Name[sr@latin]=Podrazumevani programi
Name[sv]=Standardprogram
Name[ta]=முன்னிருப்பு பயன்பாடுகள்
Name[te]=అప్రమేయ అనువర్తనాలు
Name[tg]=Барномаҳои пешфарз
Name[th]=โปรแกรมหลัก
Name[tr]=Öntanımlı Uygulamalar
Name[ug]=كۆڭۈلدىكى پروگراممىلار
Name[uk]=Типові програми
Name[vi]=Ứng dụng mặc định
Name[zh_CN]=默认应用程序
Name[zh_HK]=預設應用程式
Name[zh_TW]=預設應用程式
Name=Default Applications (container)
Comment[af]=Stel verstektoepassings in
Comment[ar]=اضبط التطبيقات المبدئية
Comment[be]=Настроіць прадвызначаныя праграмы
Comment[bg]=Задаване на стандартни програми
Comment[bn_IN]=ডিফল্ট অ্যাপ্লিকেশনগুলি কনফিগার করুন
Comment[ca]=Configura les aplicacions per defecte
Comment[ca@valencia]=Configura les aplicacions per defecte
Comment[ckb]=نەرمەواڵا بنەڕەتییەکان ڕێکبخە
Comment[cs]=Nastavit výchozí aplikace
Comment[da]=Opsætning af standardprogrammer
Comment[de]=Vorgabe-Anwendungen einrichten
Comment[el]=Ρύθμιση προεπιλεγμένων εφαρμογών
Comment[en_GB]=Configure Default Applications
Comment[eo]=Agordi implicitajn aplikaĵojn
Comment[es]=Configurar aplicaciones predeterminadas
Comment[eu]=Konfiguratu aplikazio lehenetsiak
Comment[fa]=پیکربندی برنامه‌های پیش‌گزیده
Comment[fi]=Määritä oletussovellukset
Comment[fr]=Configurer les applications par défaut
Comment[fur]=Configure lis aplicazions predefinidis
Comment[gd]=Rèitich na h-placaidean tùsail
Comment[gl]=Configurar as aplicacións predeterminadas
Comment[he]=הגדרת יישומי בררת המחדל
Comment[hr]=Prilagodite zadane aplikacije
Comment[hu]=Alap alkalmazások beállítása
Comment[id]=Mengkonfigurasi Aplikasi Bawaan
Comment[is]=Stilla sjálfgefin forrit
Comment[it]=Configurazione applicazioni predefinite
Comment[ja]=既定のアプリケーションを設定します
Comment[kab]=Swel isnasen imezwaren
Comment[kk]=Үнсіз келісім қолданбаларын баптау
Comment[ko]=기본 프로그램 설정
Comment[lt]=Konfigūruoti numatytąsias programas
Comment[lv]=Konfigurēt noklusējuma lietotnes
Comment[ml]=സഹജമായ പ്രയോഗങ്ങള്‍ ക്രമീകരിക്കുക
Comment[ms]=Konfigur Aplikasi Lalai
Comment[nb]=Konfigurer forvalgte programmer
Comment[ne]=पुर्वनिर्धारित अनुप्रयोग कन्फिगर
Comment[nl]=Standaardtoepassingen configureren
Comment[oc]=Configurar las aplicacions per defaut
Comment[pa]=ਮੂਲ ਐਪਲੀਕੇਸ਼ਨਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Konfiguracja domyślnych programów
Comment[pt]=Configurar as aplicações predefinidas
Comment[pt_BR]=Configure os aplicativos padrão
Comment[ro]=Configurează aplicații implicite
Comment[ru]=Настроить приложения по умолчанию
Comment[sk]=Nastavuje predvolené aplikácie
Comment[sl]=Nastavitev privzetih programov
Comment[sr]=Подесите основне програме
Comment[sr@latin]=Podesite osnovne programe
Comment[sv]=Konfigurera standardprogram
Comment[tr]=Öntanımlı Uygulamaları Yapılandır
Comment[uk]=Налаштовування типових програм
Comment[vi]=Cấu hình ứng dụng mặc định
Comment[zh_CN]=配置默认应用程序
Comment[zh_TW]=設定預設應用程式
Comment=Configure Default Applications
Exec=toolbox run gnome-control-center default-apps
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/starred.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=info
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Default Applications panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=verstek;toepassing;voorkeur;media;
Keywords[ar]=مبدئي;تطبيق;مفضل;وسائط;
Keywords[be]=прадвызначаны;праграма;перавагі;медыя;
Keywords[bg]=стандартни;предпочитани;приложения;програми;носители;default;application;preferred;media;
Keywords[bn_IN]=ডিফল্ট;অ্যাপ্লিকেশান;পছন্দসই;মিডিয়া;
Keywords[ca]=per defecte; aplicació; preferida;multimèdia;
Keywords[ca@valencia]=per defecte; aplicació; preferida;multimèdia;
Keywords[ckb]=بنەڕەت;نەرمەواڵا;پەسەندکراو;ڕەنگاڵە;
Keywords[cs]=výchozí;aplikace;preferovaný;preferovaná;preferované;upřednostňovaný;upřednostňovaná;upřednostňované;média;médium;multimédia;
Keywords[da]=standard;program;applikation;foretrukne;foretrukken;medie;medier;
Keywords[de]=Vorgabe;Voreinstellung;Anwendung;bevorzugt;Medien;Medium;
Keywords[el]=προεπιλογή;εφαρμογή;προτιμώμενη;μέσα;default;application;preferred;media;
Keywords[en_GB]=default;application;preferred;media;
Keywords[eo]=implicita;aplikaĵo;preferita;datumportilo;
Keywords[es]=predeterminado;aplicación;preferida;medios;
Keywords[eu]=lehenetsia;aplikazioa;hobetsia;euskarria;
Keywords[fa]=default;application;preferred;media;پیش‌گزیده;پیش‌گزیده;ترجیح;رسانه;
Keywords[fi]=default;application;preferred;media;oletussovellus;ensisijainen;
Keywords[fr]=défaut;par défaut;application;préférée;média;
Keywords[fur]=predefinît;aplicazion;preferît;multimedia;
Keywords[gd]=default;application;preferred;media;tùsail;bun-roghainn;bunaiteach;aplacaid;nas fheass;as fhearr;meadhan;meadhanan;
Keywords[gl]=predeterminado;aplicación;prefirido;media;
Keywords[he]=ברירת מחדל;בררת מחדל;דפאולט;יישום;יישומים;מאפיינים;הגדרות;הגדרה;מדיה;
Keywords[hr]=zadano;aplikacija;poželjno;medij;
Keywords[hu]=alap;alapértelmezett;alkalmazás;előnyben részesített;média;
Keywords[id]=bawaan;aplikasi;disukai;media;
Keywords[is]=sjálfgefið;forrit;gagnamiðill;
Keywords[it]=predefinito;applicazione;preferite;dispositivo;media;multimedia;
Keywords[ja]=default;application;preferred;media;デフォルト;既定;アプリケーション;メディア;
Keywords[kk]=default;application;preferred;media;үнсіз келісім;қолданба;таңдамалы;тасушы;
Keywords[ko]=default;기본;기본값;application;프로그램;앱;애플리케이션;preferred;media;미디어;
Keywords[lt]=numatytoji;programa;pageidaujama;laikmena;
Keywords[lv]=noklusējuma;lietotne;vēlamais;mediji;defaulta;aplikācija;mēdiji;
Keywords[mjw]=default;application;preferred;media;
Keywords[ml]=default;application;preferred;media;
Keywords[ms]=lalai;aplikasi;dikehendaki;media;
Keywords[nb]=forvalgt;program;foretrukket;medie;
Keywords[nl]=default;application;preferred;media;standaard;toepassing;voorkeur;
Keywords[oc]=defaut;per defaut;aplicacion;preferida;mèdia;
Keywords[pa]=ਡਿਫਾਲਟ;ਮੂਲ;ਐਪਲੀਕੇਸ਼ਨ;ਤਰਜੀਹੀ;ਮੀਡੀਆ;ਪਸੰਦ;
Keywords[pl]=domyślne;programy;aplikacje;preferowane;nośnik;
Keywords[pt]=predefinição;aplicação;preferida;média;
Keywords[pt_BR]=padrão;aplicativo;preferido;mídia;
Keywords[ro]=default;application;preferred;media;implicit;implicită;implicite;aplicație;preferată;preferate;
Keywords[ru]=по умолчанию;приложение;предпочтительное;носитель;
Keywords[sk]=predvolená;predvolený;predvolené;aplikácia;uprednostňovaná;uprednostňovaný;uprednostňované;médium;médiá;nosič,nosiče;
Keywords[sl]=privzeto;program;prednostno;priljubljeno;media;predstavnost;sistem;podrobnosti;info;informacije;različica;
Keywords[sr]=основни;програм;омиљени;медиј;
Keywords[sr@latin]=osnovni;program;omiljeni;medij;
Keywords[sv]=standard;program;föredragen;media;
Keywords[tr]=öntanımlı;uygulama;tercihen;yeğlenen;ortam;
Keywords[uk]=типове;програма;бажане;носій;default;application;preferred;media;
Keywords[vi]=default;application;preferred;media;mặc định;mac dinh;ứng dụng;ung dung;ưa dùng;uu dung;
Keywords[zh_CN]=default;application;preferred;media;默认;应用程序;首选;偏好;媒体;介质;
Keywords[zh_TW]=default;application;preferred;media;預設;應用程式;偏好;首選;媒體;
Keywords=default;application;preferred;media;
