[Desktop Entry]
Name[af]=Bluetooth
Name[an]=Bluetooth
Name[ar]=بلوتوث
Name[as]=ব্লুটুথ
Name[ast]=Bluetooth
Name[be]=Bluetooth
Name[bg]=Връзка по Bluetooth
Name[bn]=ব্লুটুথ
Name[bn_IN]=Bluetooth
Name[br]=Bluetooth
Name[bs]=Bluetooth
Name[ca]=Bluetooth
Name[ca@valencia]=Bluetooth
Name[ckb]=بلووتووس
Name[crh]=Bluetooth
Name[cs]=Bluetooth
Name[da]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en_GB]=Bluetooth
Name[eo]=Bludento
Name[es]=Bluetooth
Name[et]=Bluetooth
Name[eu]=Bluetooth
Name[fa]=بلوتوث
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[fur]=Bluetooth
Name[ga]=Bluetooth
Name[gd]=Bluetooth
Name[gl]=Bluetooth
Name[gu]=બ્લુટુથ
Name[he]=בלוטות'
Name[hi]=ब्लूटूथ
Name[hr]=Bluetooth
Name[hu]=Bluetooth
Name[id]=Bluetooth
Name[is]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[kab]=Bluetooth
Name[kk]=Bluetooth
Name[km]=ប៊្លូធូស
Name[kn]=ಬ್ಲೂಟೂತ್
Name[ko]=블루투스
Name[ky]=Bluetooth
Name[lt]=Bluetooth
Name[lv]=Bluetooth
Name[mjw]=Bluetooth
Name[mk]=Bluetooth
Name[ml]=ബ്ലൂടൂത്ത്
Name[mr]=ब्ल्युटूथ
Name[ms]=Bluetooth
Name[nb]=Bluetooth
Name[ne]=ब्लुटुठ
Name[nl]=Bluetooth
Name[oc]=Bluetooth
Name[or]=ବ୍ଲୁଟୁଥ
Name[pa]=ਬਲੂਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ro]=Bluetooth
Name[ru]=Bluetooth
Name[sk]=Bluetooth
Name[sl]=Bluetooth
Name[sr]=Блутут
Name[sr@latin]=Blutut
Name[sv]=Bluetooth
Name[ta]=ப்ளூடூத்
Name[te]=బ్లూటూత్
Name[tg]=Bluetooth
Name[th]=บลูทูท
Name[tr]=Bluetooth
Name[ug]=كۆكچىش
Name[uk]=Bluetooth
Name[vi]=Bluetooth
Name[zh_CN]=蓝牙
Name[zh_HK]=藍牙
Name[zh_TW]=藍牙
Name=Bluetooth (container)
Comment[af]=Skakel Bluetooth aan en af en koppel toestelle
Comment[an]=Activar y desactivar o Bluetooth y connectar os tuyos dispositivos
Comment[ar]=شغّل أو أغلق بلوتوث لتوصيل جهازك بالأجهزة الأخرى
Comment[as]=ব্লুটুথ অন বা অফ কৰক আৰু আপোনাৰ ডিভাইচসমূহ সংযোগ কৰক
Comment[be]=Уключэнне Bluetooth і падлучэнне прыстасаванняў
Comment[bg]=Включване и изключване на Bluetooth и свързване на устройствата
Comment[bn_IN]=Bluetooth চালু এবং বন্ধ করুন এবং আপনার ডিভাইসগুলি সংযুক্ত করুন
Comment[bs]=Uključi i isključi blutut i poveži svoje uređaje
Comment[ca]=Activeu i desactiveu el Bluetooth i connecteu els dispositius
Comment[ca@valencia]=Activeu i desactiveu el Bluetooth i connecteu els dispositius
Comment[ckb]=بلووتووس هەڵبکە و بیکوژێنەوە و ئامێرەکانت پەیوەست بکە
Comment[cs]=Zapnout a vypnout Bluetooth a připojit se k zařízením
Comment[da]=Slå Bluetooth til eller fra og tilslut dine enheder
Comment[de]=Schalten Sie Bluetooth an oder aus und verbinden Sie Ihre Geräte
Comment[el]=Ενεργοποιήστε/Απενεργοποιήστε το Bluetooth και συνδεθείτε με τις συσκευές σας
Comment[en_GB]=Turn Bluetooth on and off and connect your devices
Comment[eo]=Ŝalti kaj malŝalti Bludenton kaj konekti viajn aparatojn
Comment[es]=Activar y desactivar Bluetooth y conectar sus dispositivos
Comment[et]=Bluetoothi sisse- ja väljalülitamine ning seadmete ühendamine
Comment[eu]=Aktibatu eta desaktibatu Bluetooth eta konektatu gailuak
Comment[fa]=بلوتوث را خاموش و روشن کنید و به دستگاه‌های خود متصل شوید
Comment[fi]=Kytke Bluetooth päälle tai pois ja yhdistä laitteita
Comment[fr]=Active/désactive le Bluetooth et connecte vos périphériques
Comment[fur]=Impie e distude il Bluetooth e conet i tiei dispositîfs
Comment[ga]=Cumasaigh agus díchumasaigh Bluetooth agus ceangail do chuid ghléasanna
Comment[gd]=Cuir Bluetooth air is dheth is ceangail na h-uidheaman agad ris
Comment[gl]=Active ou desactive o Bluetooth e conecte os seus dispositivos
Comment[gu]=બ્લુટુથને ચાલુ અને બંધ કરો અને તમારાં ઉપકરણો સાથે જોડાવો
Comment[he]=הפעלה וכיבוי של הבלוטות' והתחברות להתקנים שלך
Comment[hi]=ब्लूटूथ को चालू और बंद करें और अपने उपकरणों को जोड़ें
Comment[hr]=Uključite ili isključite Bluetooth i povežite svoje uređaje
Comment[hu]=Kapcsolja be és ki a Bluetooth-t, majd csatlakoztassa eszközeit
Comment[id]=Nyalakan dan matikan Bluetooth dan sambungkan perangkat Anda
Comment[is]=Kveiktu og slökktu á Bluetooth og tengdu tækin þín
Comment[it]=Attiva e disattiva il Bluetooth e connette i propri dispositivi
Comment[ja]=Bluetooth のオン/オフやデバイスへの接続を行います
Comment[kk]=Bluetooth-ды іске қосыңыз немесе сөндіріңіз және құрылғыларды байланыстырыңыз
Comment[kn]=ಬ್ಲೂಟೂತ್ ಅನ್ನು ಆನ್ ಮತ್ತು ಆಫ್ ಮಾಡಿ ಹಾಗೂ ನಿಮ್ಮ ಸಾಧನಗಳೊಂದಿಗೆ ಸಂಪರ್ಕ ಸಾಧಿಸಿ
Comment[ko]=블루투스를 켜거나 끄고 블루투스 장치에 연결합니다
Comment[lt]=Įjunkite arba išjunkite Bluetooth ir junkitės prie savo įrenginių
Comment[lv]=Ieslēdziet un izslēdziet Bluetooth un savienojiet savas ierīces
Comment[mjw]=Bluetooth ingpu si nangli hormu pen pachepho noi
Comment[ml]=ബ്ലുടൂത്ത് ഓണ്‍ ഓഫ് ആക്കിയതിനു ശേഷം ഉപകരണം കണക്ട് ചെയ്യുക
Comment[mr]=ब्ल्युटूथ सुरू करा आणि बंद करा आणि साधनांची जोडणी करा
Comment[ms]=Hidupkan Bluetooth dan matikan, kemudian sambung peranti anda
Comment[nb]=Slå av/på bluetooth og koble til enheter
Comment[ne]=यन्त्र जडानकोलागि ब्लुटुठ बन्द अनि खोल्नुहोस्
Comment[nl]=Bluetooth aan- en uitzetten en uw apparaten aansluiten
Comment[oc]=Activa/desactiva lo Bluetooth e connècta vòstres periferics
Comment[or]=ବ୍ଲୁଟୁଥ୍‌ କୁ ଅନ୍‌ କିମ୍ବା ଅଫ୍‌ କରି ଆପଣଙ୍କର ଉପକରଣ ସହିତ ସଂଯୋଗ କରନ୍ତୁ
Comment[pa]=ਬਲੂਟੁੱਥ ਜੰਤਰ ਨੂੰ ਚਾਲੂ ਤੇ ਬੰਦ ਕਰੋ ਅਤੇ ਆਪਣੇ ਜੰਤਰਾਂ ਨਾਲ ਕਨੈਕਟ ਕਰੋ-
Comment[pl]=Włączanie Bluetooth i łączenie z urządzeniami
Comment[pt]=Ligar e desligar o Bluetooth e ligar os seus dispositivos
Comment[pt_BR]=Ligue e desligue o Bluetooth e conecte seus dispositivos
Comment[ro]=Deschideți și închideți Bluetooth și conectați-vă dispozitivele
Comment[ru]=Включение и отключение Bluetooth. Подключение устройств Bluetooth
Comment[sk]=Zapína a vypína rozhranie Bluetooth a pripája vaše zariadenia
Comment[sl]=Vklopite in izklopite Bluetooth in povežite svoje naprave
Comment[sr]=Укључите или искључите блутут и повежите ваше уређаје
Comment[sr@latin]=Uključite ili isključite blutut i povežite vaše uređaje
Comment[sv]=Slå på samt av Bluetooth och anslut dina enheter
Comment[ta]=Bluetooth ஐ ஆன் மற்றும் ஆஃப் செய்யவும் மற்றும் உங்கள் சாதனங்களை இணைக்கவும்
Comment[te]=బ్లూటూత్ ఆఫ్ మరియు ఆన్ చేసి మీ పరికరాలను అనుసంధానించండి
Comment[tg]=Фаъол ва хомӯш кардани Bluetooth ва пайваст кардани дастгоҳҳо
Comment[th]=เปิด-ปิดบูลทูท และเชื่อมต่ออุปกรณ์ของคุณ
Comment[tr]=Bluetooth’u açıp kapatın ve aygıtlarınızı bağlayın
Comment[uk]=Увімкнути або вимкнути з'єднання з пристроєм через Bluetooth
Comment[vi]=Bật/tắt Bluetooth và kết nối các thiết bị của bạn
Comment[zh_CN]=开关蓝牙及连接您的设备
Comment[zh_HK]=開啟或關閉藍牙與連接你的裝置
Comment[zh_TW]=開啟或關閉藍牙與連接您的裝置
Comment=Turn Bluetooth on and off and connect your devices
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/hicolor/scalable/apps/bluetooth.svg
Exec=toolbox run gnome-control-center bluetooth
Terminal=false
Type=Application
NoDisplay=true
Categories=GTK;GNOME;Settings;X-GNOME-NetworkSettings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-ConnectivitySettings;
OnlyShowIn=GNOME;Unity;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-bluetooth
X-GNOME-Bugzilla-Component=properties
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Bluetooth panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=deel;deling;bluetooth;obex;
Keywords[ar]=share;sharing;bluetooth;obex;مشاركة;شارك;بلوتوث;
Keywords[be]=апублікаваць;супольны;bluetooth;obex;
Keywords[bg]=блутут;син;зъб;споделяне;файл;слушалки;телефон;пренасяне;share;sharing;bluetooth;obex;
Keywords[bn_IN]=ভাগ;ভাগকরা;ব্লুটুথ;ওবেক্স;
Keywords[ca]=comparteix;compartició;bluetooth;obex;
Keywords[ca@valencia]=comparteix;compartició;bluetooth;obex;
Keywords[ckb]=هاوبەشیبکە;هاوبەشیدەکات;بلووتووس;بەربەست;
Keywords[cs]=sdílet;sdílení;bluetooth;obex;
Keywords[da]=del;deling;bluetooth;obex;
Keywords[de]=Freigabe;Bluetooth;obex;
Keywords[el]=κοινή χρήση;κοινόχρηστο;bluetooth;μπλουτούθ;obex;
Keywords[en_GB]=share;sharing;bluetooth;obex;
Keywords[eo]=kunhavigi;kunhavigado;bludento;obex;
Keywords[es]=compartir;compartición;bluetooth;obex;
Keywords[eu]=partekatu;partekatzea;bluetooth;obex;
Keywords[fa]=share;sharing;bluetooth;obex;اشتراک;هم‌رسانی;بلوتوث;هم‌رسانی;
Keywords[fi]=share;sharing;bluetooth;obex;jakaminen;jaot;
Keywords[fr]=partage;partager;bluetooth;obex;
Keywords[fur]=condividi;condivision;bluetooth;obex;
Keywords[gd]=share;sharing;bluetooth;obex;co-roinn;co-roinneadh;
Keywords[gl]=compartir;compartición;bluetooth;obex;
Keywords[he]=שיתוף;לשתף;Bluetooth;obex;בלוטות';
Keywords[hr]=dijeli;dijeljenje;bluetooth;obex;
Keywords[hu]=share;megosztás;bluetooth;obex;
Keywords[id]=berbagi;bluetooth;obex;bersama;
Keywords[is]=deila;sameign;tengja;bluetooth;obex;
Keywords[it]=condivisione;condividere;share;bluetooth;obex;
Keywords[ja]=share;sharing;bluetooth;obex;共有;シェアリング;ブルートゥース;
Keywords[kk]=share;sharing;bluetooth;obex;бөлісу;
Keywords[ko]=share;sharing;공유;bluetooth;블루투스;obex;
Keywords[lt]=dalinimasis;dalytis;bendrinti;bluetooth;obex;
Keywords[lv]=koplietot;koplietošana;šārēt;šārēšana;bluetooth;obex;
Keywords[mjw]=share;sharing;bluetooth;obex;
Keywords[ml]=share;sharing;bluetooth;obex;
Keywords[ms]=kongsi;perkongsian;bluetooth;obex;
Keywords[nb]=del;deling;bluetooth;obex;
Keywords[ne]=साझा;साझेदारी;ब्लुटुथ;ओबेक्स;
Keywords[nl]=share;sharing;bluetooth;obex;delen;
Keywords[oc]=partiment;partejar;bluetooth;obex;
Keywords[pa]=ਸਾਂਝਾ ਕਰਨਾ;ਸਾਂਝਾ;ਸ਼ੇਅਰਿੰਗ;ਬਲਿਊਟੂੱਥ;ਬਲੂਟੁੱਥ;obex;
Keywords[pl]=udostępnianie;udostępnij;udostępniaj;współdzielenie;wysyłanie;wyślij;odbieranie;odbierz;odbiór;przesyłanie;prześlij;pliki;bluetooth;obex;
Keywords[pt]=partilhar;partilha;bluetooth;obex;
Keywords[pt_BR]=compartilhar;compartilhamento;bluetooth;obex;
Keywords[ro]=share;sharing;bluetooth;obex;partajează;partajare;
Keywords[ru]=общий;доступ;bluetooth;obex;
Keywords[sk]=spoločné používanie;spoločne používať;zdieľať;zdieľanie;sprístupniť;sprístupnenie;bluetooth;obex;
Keywords[sl]=souporaba;izmenjava;obex;bluetooth;povezovanje;
Keywords[sr]=дељење;блутут;обекс;deljenje;blutut;obeks;share;sharing;bluetooth;obex;
Keywords[sr@latin]=deljenje;blutut;obeks;deljenje;blutut;obeks;share;sharing;bluetooth;obex;
Keywords[sv]=dela;delning;share;blåtand;bluetooth;obex;
Keywords[th]=แบ่งปัน;ใช้ร่วม;บลูทูท;obex;
Keywords[tr]=paylaş;paylaşım;bluetooth;obex;
Keywords[uk]=оприлюднення;поділитись;блютуз;obex;
Keywords[vi]=share;chia sẻ;chia se;sharing;bluetooth;obex;
Keywords[zh_CN]=share;sharing;bluetooth;obex;分享;共享;蓝牙;
Keywords[zh_TW]=share;sharing;bluetooth;obex;分享;藍牙;
Keywords=share;sharing;bluetooth;obex;
