[Desktop Entry]
Name[af]=Gebruikers
Name[an]=Usuarios
Name[ar]=المستخدمين
Name[as]=ব্যৱহাৰকাৰীসকল
Name[be]=Ка­рыс­таль­ні­кі
Name[bg]=Потребители
Name[bn_IN]=ব্যবহারকারী
Name[br]=Arveriaded
Name[bs]=Korisnici
Name[ca]=Usuaris
Name[ca@valencia]=Usuaris
Name[ckb]=بەکارهێنەران
Name[crh]=Qullanıcılar
Name[cs]=Uživatelé
Name[da]=Brugere
Name[de]=Benutzer
Name[el]=Χρήστες
Name[en_GB]=Users
Name[eo]=Uzantoj
Name[es]=Usuarios
Name[et]=Kasutajad
Name[eu]=Erabiltzaileak
Name[fa]=کاربرها
Name[fi]=Käyttäjät
Name[fr]=Utilisateurs
Name[fur]=Utents
Name[ga]=Úsáideoirí
Name[gd]=Cleachdaichean
Name[gl]=Usuarios
Name[gu]=વપરાશકર્તાઓ
Name[he]=משתמשים
Name[hi]=उपयोक्तानाम
Name[hr]=Korisnici
Name[hu]=Felhasználók
Name[id]=Pengguna
Name[is]=Notendur
Name[it]=Utenti
Name[ja]=ユーザー
Name[kab]=Iseqdacen
Name[kk]=Пайдаланушылар
Name[kn]=ಬಳಕೆದಾರರು
Name[ko]=사용자
Name[lt]=Naudotojai
Name[lv]=Lietotāji
Name[mjw]=Users
Name[ml]=ഉപയോക്താക്കള്‍
Name[mr]=वापरकर्ते
Name[ms]=Pengguna
Name[nb]=Brukere
Name[ne]=प्रयोगकर्ता
Name[nl]=Gebruikers
Name[oc]=Utilizaires
Name[or]=ଚାଳକ
Name[pa]=ਵਰਤੋਂਕਾਰ
Name[pl]=Użytkownicy
Name[pt]=Utilizadores
Name[pt_BR]=Usuários
Name[ro]=Utilizatori
Name[ru]=Пользователи
Name[sk]=Používatelia
Name[sl]=Uporabniki
Name[sr]=Корисници
Name[sr@latin]=Korisnici
Name[sv]=Användare
Name[ta]=பயனர்கள்
Name[te]=వాడుకరులు
Name[tg]=Корбарон
Name[th]=ผู้ใช้
Name[tr]=Kullanıcılar
Name[ug]=ئىشلەتكۈچىلەر
Name[uk]=Користувачі
Name[vi]=Người dùng
Name[zh_CN]=用户
Name[zh_HK]=使用者
Name[zh_TW]=使用者
Name=Users (container)
Comment[af]=Voeg by of skrap gebruikers en verander u wagwoord
Comment[an]=Adhibir u sacar usuarios y cambiar as claus d'ells
Comment[ar]=أضف أو احذف مستخدمين و غيّر كلمة السر
Comment[as]=ব্যৱহাৰকাৰীসকল যোগ কৰক বা আতৰাওক আৰু আপোনাৰ পাছৱৰ্ড পৰিবৰ্তন কৰক
Comment[be]=Стварэнне і выдаленне карыстальнікаў, а таксама змяненне пароля
Comment[bg]=Добавяне или премахване на потребители и смяна на парола
Comment[bn_IN]=ব্যবহারকারীদের যোগ করুন বা সরান এবং আপনার পাসওয়ার্ড পরিবর্তন করুন
Comment[bs]=Dodaj ili ukloni korisnike i promijeni svoju lozinku
Comment[ca]=Afegiu o suprimiu usuaris i canvieu la contrasenya
Comment[ca@valencia]=Afegiu o suprimiu usuaris i canvieu la contrasenya
Comment[ckb]=زیادکردن یان سڕینەوە بەکارهێنەر و گۆڕینی وشەی تێپەڕبوون
Comment[crh]=Qullanıcılarnı ekleñiz ya da çetleştiriñiz ve sır-sözüñizni deñiştiriñiz
Comment[cs]=Přidat nebo odebrat uživatele a změnit heslo
Comment[da]=Tilføj eller fjern brugere og skift din adgangskode
Comment[de]=Benutzer hinzufügen oder entfernen und das Passwort ändern
Comment[el]=Προσθέστε ή διαγράψτε χρήστες και αλλάξτε τον κωδικό πρόσβασης σας
Comment[en_GB]=Add or remove users and change your password
Comment[eo]=Aldoni aŭ forigi uzantojn kaj ŝanĝi vian pasvorton
Comment[es]=Añadir o quitar usuarios y cambiar su contraseña
Comment[et]=Kasutajate lisamine ja eemaldamine ning parooli muutmine
Comment[eu]=Gehitu edo kendu erabiltzaileak eta aldatu zure pasahitza
Comment[fa]=افزودن یا برداشتنن کاربرها و تعویض گذرواژه‌تان
Comment[fi]=Lisää tai poista käyttäjiä, vaihda salasanasi
Comment[fr]=Ajouter ou supprimer des utilisateurs et modifier votre mot de passe
Comment[fur]=Zonte o gjave utents e cambie la tô password
Comment[gd]=Cuir cleachdaichean ris no thoir air falbh feadhainn is atharraich am facal-faire agad
Comment[gl]=Engadir ou quitar usuarios e cambiar os seus contrasinais
Comment[gu]=વપરાશકર્તાઓને ઉમેરો અથવા દૂર કરો અને તમારા પાસવર્ડને બદલો
Comment[he]=הוספה או הסרה של משתמשים והחלפת הססמה שלך
Comment[hi]=उपयोगकर्ताओं को जोड़ें या हटाने और अपना पासवर्ड बदलें
Comment[hr]=Dodajte ili uklonite korisnike i promijenite svoju lozinku
Comment[hu]=Felhasználók hozzáadása vagy eltávolítása és jelszómódosítás
Comment[id]=Tambah atau hapus pengguna dan ubah kata sandi Anda
Comment[is]=Bæta við eða fjarlægja notendur og breyta lykilorði
Comment[it]=Aggiunge o rimuove utenti e cambia la propria password
Comment[ja]=ユーザーの追加と削除、パスワードの変更を行います
Comment[kk]=Пайдаланушыларды қосу/өшіру және пароліңізді өзгерту
Comment[kn]=ಬಳಕೆದಾರರನ್ನು ಸೇರಿಸಿ ಅಥವ ತೆಗೆದುಹಾಕಿ ಮತ್ತು ಗುಪ್ತಪದವನ್ನು ಬದಲಾಯಿಸಿ
Comment[ko]=사용자 추가/제거 및 암호 바꾸기
Comment[lt]=Pridėti arba šalinti naudotojus bei keiskite savo slaptažodį
Comment[lv]=Pievienot vai izņemt lietotājus un mainīt savu paroli
Comment[mjw]=Monit men kethap kethan lapen password kelar
Comment[ml]=ഉപയോക്താക്കള്‍ ചേര്‍ക്കുക അല്ലെങ്കില്‍ വെട്ടി നീക്കുക; രഹസ്യവാക്ക് മാറ്റുക
Comment[mr]=वापरकर्ते समाविष्ट करा किंवा काढून टाका आणि पासवर्ड बदलवा
Comment[ms]=Tambah atau buang pengguna dan ubah kata laluan anda
Comment[nb]=Legg til eller fjern brukere og bytt passord
Comment[nl]=Gebruikers toevoegen of verwijderen en uw wachtwoord wijzigen
Comment[oc]=Apondre o suprimir d'utilizaires e modificar vòstre senhal
Comment[or]=ଚାଳକମାନଙ୍କୁ ଯୋଗ କିମ୍ବା ଅପସାରଣ କରନ୍ତୁ ଏବଂ ଆପଣଙ୍କର ପ୍ରବେଶ ସଂକେତ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਵਰਤੋਂਕਾਰਾਂ ਨੂੰ ਜੋੜੋ ਜਾਂ ਹਟਾਉ, ਅਤੇ ਆਪਣਾ ਪਾਸਵਰਡ ਬਦਲੋ
Comment[pl]=Dodawanie lub usuwanie użytkowników i zmienianie hasła
Comment[pt]=Adicionar ou eliminar utilizadores e alterar a sua palavra-passe
Comment[pt_BR]=Adicionar ou remover usuários e alterar sua senha
Comment[ro]=Adăugați și ștergeți utilizatori și schimbați parola
Comment[ru]=Добавить или удалить пользователей или изменить пароль
Comment[sk]=Pridáva alebo odstraňuje používateľov a mení vaše heslo
Comment[sl]=Upravljanje uporabnikov in spreminjanje gesel
Comment[sr]=Додајте или уклоните кориснике и измените вашу лозинку
Comment[sr@latin]=Dodajte ili uklonite korisnike i izmenite vašu lozinku
Comment[sv]=Lägg till eller ta bort användare och ändra ditt lösenord
Comment[ta]=பயனர்களைச் சேர்க்கவும் அல்லது நீக்கவும் மற்றும் உங்கள் கடவுச்சொல்லை மாற்றவும்
Comment[te]=వాడుకరులను జతచేయి లేదా తీసివేయి మరియు మీ సంకేతపదం మార్చు
Comment[tg]=Илова ё тоза кардани корбарон ва тағйир додани ниҳонвожаи худ
Comment[th]=เพิ่มหรือลบผู้ใช้และเปลี่ยนรหัสผ่านของคุณ
Comment[tr]=Kullanıcı ekleyip kaldırın veya parolanızı değiştirin
Comment[uk]=Додати або вилучити користувачів і змінити свій пароль
Comment[vi]=Thêm, xóa người dùng và thay đổi mật khẩu
Comment[zh_CN]=添加或删除用户及更改密码
Comment[zh_HK]=加入或移除使用者並改變你的密碼
Comment[zh_TW]=加入或移除使用者並改變您的密碼
Comment=Add or remove users and change your password
Exec=toolbox run gnome-control-center user-accounts
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/system-users.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;X-GNOME-DetailsSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=user-accounts
X-GNOME-Bugzilla-Version=3.38.2
X-GNOME-Settings-Panel=user-accounts
# Translators: Search terms to find the Users panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=aanmeld;naam;vingerafdruk;embleem;gesig;wagwoord;
Keywords[an]=inicio de sesión;nombre;ditalada;avatar;logo;cara;clau;
Keywords[ar]=ولوج;اسم;بصمة;أيقونة;شعار;وجه;كلمة سر;
Keywords[as]=লগিন;নাম;আঙ্গুলিৰ ছাপ;অৱতাৰ;লগো;মূখ;পাছৱৰ্ড;
Keywords[ast]=aniciu;sesión;nome;buelga;avatar;logu;cara;contraseña;
Keywords[be]=Уваход;Сеанс;Імя карыстальніка;Адбітак пальцаў;Сканер;Аватар;Лагатып;Выява;Твар;Вобраз;Пароль;
Keywords[bg]=влизане;име;пръстов;отпечатък;аватар;лого;лице;парола;login;name;fingerprint;avatar;logo;face;password;
Keywords[bn]=লগ ইন;নাম;ফিঙ্গারপ্রিন্ট;এভাটার;লোগো;ফেস;পাসওয়ার্ড;
Keywords[bn_IN]=লগিন;নাম;ফিংগারপ্রিন্ট;অবতার;লোগো;ফেস;পাসওয়ার্ড;
Keywords[bs]=Prjava;Ime;Otisak;Ikonica;Logotip;Faca;Zaporka;
Keywords[ca]=Entrada;Nom;Empremta dactilar;Avatar;Logotip;Cara;Contrasenya;
Keywords[ca@valencia]=Entrada;Nom;Empremta dactilar;Avatar;Logotip;Cara;Contrasenya;
Keywords[ckb]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[crh]=Giriş;İsim;Parmak izi;Kullanıcı simgesi;Logo;Yüz;Parola;
Keywords[cs]=přihlášení;jméno;otisk prstu;avatar;logo;obličej;heslo;
Keywords[da]=Login;Navn;Fingeraftryk;Profilbillede;Logo;Ansigt;Adgangskode;
Keywords[de]=Anmeldung;Name;Benutzerkonto;Fingerabdruck;Avatar;Benutzerbild;Logo;Gesicht;Passwort;
Keywords[el]=Σύνδεση;Όνομα;Δακτυλικό αποτύπωμα;Avatar;Λογότυπο;Πρόσωπο;Κωδικός πρόσβασης;Login;Name;Fingerprint;Logo;Face;Password;
Keywords[en_GB]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[eo]=Salutado;Nomo;Fingropremo;Avataro;Logobildo;Vizaĵo;Pasvorto;
Keywords[es]=inicio;sesión;nombre;huella;avatar;logo;cara;contraseña;
Keywords[et]=Sisselogimine;Nimi;Sõrmejälg;Avatar;Logo;Nägu;Parool;Salasõna;
Keywords[eu]=Erabiltzaile-izena;Izena;Hatz-marka;Avatarra;Logotipoa;Aurpegia;Pasahitza;
Keywords[fa]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;نام ورود;نام;اثرانگشت;آواتار;نشان;تصویرصورت;گذرواژه;
Keywords[fi]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;kirjautuminen;nimi;sormenjälki;avatar;kasvokuva;salasana;
Keywords[fr]=Connexion;Nom;Empreinte;Avatar;Logo;Visage;Tête;Mot de passe;
Keywords[fur]=Login;Acès;Non;Impronte;Avatar;Logo;Muse;Password;
Keywords[ga]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Logáil Isteach;Ainm;Méarlorg;Abhatár;Aghaidh;Focal Faire;
Keywords[gd]=Clàraich a-steach;Ainm;Meur-lorg;Avatar;Suaicheantas;Aodann;Facal-faire;
Keywords[gl]=Inicio de sesión;Nome;Pegada dixital;Avatar;Logotipo;Cara;Contrasinal;
Keywords[gu]=પ્રવેશ;નામ;આંગળીછાપન;અવતાર;લૉગો;ચહેરો;પાસવર્ડ;
Keywords[he]=כניסה;שם;טביעת אצבע;תמונה אישית;לוגו;פרצוף;פנים;ססמה;
Keywords[hi]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[hr]=Prijava;Ime;Otisak prsta;Avatar;Logo;Lice;Lozinka;
Keywords[hu]=Bejelentkezés;Név;Ujjlenyomat;Avatar;Logó;Arckép;Jelszó;
Keywords[id]=Login;Nama;Sidik jari;Avatar;Logo;Muka;Kata Sandi;
Keywords[is]=Innskráning;Notandi;Nafn;Fingrafar;Persónutákn;Merki;Andlit;Lykilorð;
Keywords[it]=Login;Accesso;Nome;Impronta;Avatar;Logo;Faccia;Password;
Keywords[ja]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;ログイン;名前;指紋;アバター;ロゴ;顔;パスワード;Users;ユーザー;
Keywords[kk]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Кіру;Аты;Саусақ ізі;Аватар;Логотип;Бет;Пароль;
Keywords[km]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[kn]=ಪ್ರವೇಶ;ಹೆಸರು;ಬೆರಳಗುರುತ;ಅವತಾರ;ಲಾಂಛನ;ಮುಖ;ಗುಪ್ತಪದ;
Keywords[ko]=Login;로그인;Name;이름;Fingerprint;지문;Avatar;아바타;Logo;로고;Face;얼굴;Password;암호;비밀 번호;
Keywords[lt]=Prisijungimo vardas;Vardas;Piršo atspaudas;Atvaizdas;Logotipas;Veidas;Slaptažodis;
Keywords[lv]=Lietotājs;Vārds;Pirkstu nospiedums;Avatars;Logo;Seja;Parole;
Keywords[mjw]=Login;Amen;Fingerprint;Avatar;Logo;Arje;Password;
Keywords[mk]=Најава;Има;Отпечаток;Аватар;Лого;Лице;Лозинка;
Keywords[ml]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[mr]=लॉगिन;नाव;फिंगरप्रिंट;अवतार;चिन्ह;फेस;पासवर्ड;
Keywords[ms]=Daftar Masuk;Nama;Cap Jari;Avatar;Logo;Wajah;Kata Laluan;
Keywords[nb]=Login;Navn;Fingeravtrykk;Avatar;Logo;Ansikt;Passord;
Keywords[nl]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;Aanmelden;Inloggen;Vingerafdruk;Gezicht;Wachtwoord;
Keywords[nn]=Innlogging;Namn;Fingeravtrykk;Personbilete;Logo;Fjes;Passord;
Keywords[oc]=Connexion;Nom;Emprenta;Avatar;Lògo;Visatge;Cap;Senhal;
Keywords[or]=ଲଗଇନ;ନାମ;ଅଙ୍ଗୁଳି ଚିହ୍ନ;ଅଭତାର;ପ୍ରତୀକ;ମୁହଁ;ପ୍ରବେଶ ସଂକେତ;
Keywords[pa]=ਲਾਗਇਨ;ਨਾਂ;ਫਿੰਗਰਪਰਿੰਟ;ਅਵਤਾਰ;ਲੋਗੋ;ਚਿਹਰਾ;ਪਾਸਵਰਡ;
Keywords[pl]=Login;Logowanie;Automatyczne;Historia;Sesja;Nazwa;Odcisk;Palców;Linie;Linii;Papilarne;Papilarnych;Awatar;Avatar;Logo;Twarz;Obrazek;Hasło;Konto;Konta;Administrator;Firmowe;Centralne;Uwierzytelnianie;Authentication;Enterprise;Kerberos;KRB5;Hesiod;LDAP;NSS;NIS;Winbind;Samba;SSSD;IPA;FreeIPA;Język;
Keywords[pt]=Iniciar sessão;Nome;Impressões digitais;Avatar;Imagem de perfil;Logótipo;Cara;Face;Senha;Palavra;passe;
Keywords[pt_BR]=Iniciar sessão;Sessão;Nome;Impressão digital;Avatar;Logotipo;Face;Senha;
Keywords[ro]=Login;Nume;Amprentă;Avatar;Logo;Figură;Parolă;Autentificare;Amprente;Față;
Keywords[ru]=Вход;Имя;Отпечаток;Аватар;Логотип;Лицо;Пароль;
Keywords[sk]=Prihlásenie;Meno;Odtlačok prsta;Podobizeň;Logo;Tvár;Heslo;
Keywords[sl]=Prijava;Ime;Prstni odtis;Podoba;Logotip;Obraz;Geslo;
Keywords[sr]=пријављивање;име;отисак прстију;аватар;лого;лице;лозинка;Login;Name;Fingerprint;Avatar;Logo;Face;Password;
Keywords[sr@latin]=prijavljivanje;ime;otisak prstiju;avatar;logo;lice;lozinka;
Keywords[sv]=Inloggning;Namn;Fingeravtryck;Avatar;Logotyp;Ansikte;Lösenord;
Keywords[ta]=உள்புகுகை;பெயர்;விரல்ரேகை;அவதாரம்;லோகோ;முகம்;கடவுச்சொல்;
Keywords[te]=ప్రవేశించు;పేరు;వేలిముద్ర;అవతారం;చిహ్నం;ముఖం;సంకేతపదం;
Keywords[tg]=Воридшавӣ;Ном;Нақши ангушт;Аватар;Тамға;Рӯй;Ниҳонвожа;
Keywords[th]=เข้าระบบ;ชื่อ;ลายนิ้วมือ;รูปแทนตัว;โลโก้;รูปหน้า;รหัสผ่าน;
Keywords[tr]=Giriş;İsim;Ad;Parmak izi;Kullanıcı simgesi;Logo;Yüz;Parola;
Keywords[ug]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;تىزىمغا كىر;ئات;بارماق ئىزى;سىما;تۇغ;چىراي;ئىم;
Keywords[uk]=Вхід;Назва;Відбитки;Аватар;Логотип;Лице;Пароль;
Keywords[vi]=Login;Đăng;nhập;Dang;nhap;Name;Tên;Ten;Fingerprint;Vân;tay;Van;Avatar;Logo;Face;Mặt;Mat;Password;Mật;khẩu;mã;Mat;khau;ma;
Keywords[zh_CN]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;登录;名称;指纹;头像;标志;密码;
Keywords[zh_HK]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;登入;姓名;指紋;大頭貼;標誌;臉;密碼;
Keywords[zh_TW]=Login;Name;Fingerprint;Avatar;Logo;Face;Password;登入;姓名;指紋;大頭貼;標誌;臉;密碼;
Keywords=Login;Name;Fingerprint;Avatar;Logo;Face;Password;
