[Desktop Entry]
Name[an]=Impresoras
Name[ar]=الطابعات
Name[as]=প্ৰিন্টাৰসমূহ
Name[ast]=Imprentadores
Name[be]=Прынтары
Name[bn]=মুদ্রণযন্ত্র
Name[bn_IN]=প্রিন্টার
Name[bs]=Štampači
Name[ca]=Impressores
Name[ckb]=چاپکەرەکان
Name[crh]=Bastırıcılar
Name[cs]=Tiskárny
Name[da]=Printere
Name[de]=Drucker
Name[el]=Εκτυπωτές
Name[en_GB]=Printers
Name[eo]=Presiloj
Name[es]=Impresoras
Name[et]=Printerid
Name[eu]=Inprimagailuak
Name[fa]=چاپگرها
Name[fi]=Tulostimet
Name[fr]=Imprimantes
Name[fur]=Stampants
Name[ga]=Printéirí
Name[gd]=Clò-bhualadairean
Name[gl]=Impresoras
Name[gu]=પ્રિન્ટરો
Name[he]=מדפסות
Name[hi]=मुद्रक
Name[hr]=Pisači
Name[hu]=Nyom­tatók
Name[id]=Pencetak
Name[is]=Prentarar
Name[it]=Stampanti
Name[ja]=プリンター
Name[kk]=Принтерлер
Name[km]=ម៉ាស៊ីន​បោះពុម្ព
Name[kn]=ಮುದ್ರಕಗಳು
Name[ko]=프린터
Name[ku]=Çaper
Name[ky]=Принтерлер
Name[lt]=Spausdintuvai
Name[lv]=Printeri
Name[mjw]=Printers
Name[mk]=Печатачи
Name[mr]=छपाईयंत्रे
Name[ms]=Pencetak
Name[nb]=Skrivere
Name[ne]=मुद्रणयन्त्रहरू
Name[nl]=Printers
Name[nn]=Skrivarar
Name[oc]=Imprimentas
Name[or]=ମୂଦ୍ରଣୀଗୁଡ଼ିକ
Name[pa]=ਪਰਿੰਟਰ
Name[pl]=Drukarki
Name[pt]=Impressoras
Name[pt_BR]=Impressoras
Name[ro]=Imprimante
Name[ru]=Принтеры
Name[sk]=Tlačiarne
Name[sl]=Tiskalniki
Name[sr]=Штампачи
Name[sr@latin]=Štampači
Name[sv]=Skriv­ar­e
Name[ta]=அச்சுப்பொறிகள்
Name[te]=ముద్రకాలు
Name[tg]=Принтерҳо
Name[tr]=Yazıcılar
Name[ug]=پرىنتېرلار
Name[uk]=Принтери
Name[vi]=Máy in
Name[zh_CN]=打印机
Name[zh_HK]=打印機
Name[zh_TW]=印表機
Name=Printers (container)
Comment[af]=Voeg drukkers by, bekyk druktake en kies hoe om te druk
Comment[an]=Adhibir impresoras, veyer os treballos d'a impresora y decidir quál quiers imprentar
Comment[ar]=أضف الطابعات و اعرض مهام الطباعة و اختر ما الذي تطبعه
Comment[as]=প্ৰিন্টাৰসমূহ যোগ কৰক, প্ৰিন্টাৰ কাৰ্য্যসমূহ চাওক আৰু আপুনি কেনেধৰণে প্ৰিন্ট কৰিব বিচাৰে নিৰ্ধাৰণ কৰক
Comment[be]=Падлучэнне прынтараў, прагляд іх заданняў і настройка друку
Comment[bg]=Добавяне на принтери, преглед на задачите за печат, настройки на печата
Comment[bn_IN]=প্রিন্টারগুলি যোগ করুন, প্রিন্টার সংক্রান্ত কাজ দেখুন এবং আপনি কীভাবে প্রিন্ট করতে চান তা স্থির করুন
Comment[bs]=Dodaj printere,prikaži poslove printera i odluči kako želiš printati
Comment[ca]=Afegiu impressores, visualitzeu tasques d'impressió i decidiu com voleu imprimir
Comment[ca@valencia]=Afegiu impressores, visualitzeu tasques d'impressió i decidiu com voleu imprimir
Comment[ckb]=پرێنتەرەکان زیادبکە، کارەکانی پرێنتەر ببینە و  بڕیاربدە چۆن چاپبکەیت
Comment[cs]=Přidejte tiskárny, prohlédněte si tiskové úlohy a rozhodněte, jak chcete tisknout
Comment[da]=Tilføj printere, vis udskriftsopgaver og bestem hvordan du vil udskrive
Comment[de]=Drucker hinzufügen, Druckeraufgaben anzeigen und entscheiden, wie Sie drucken möchten
Comment[el]=Προσθέστε εκτυπωτές, δείτες τις εργασίες ενός εκτυπωτή και καθορίστε τον τρόπο εκτύπωσης
Comment[en_GB]=Add printers, view printer jobs and decide how you want to print
Comment[eo]=Aldonu presilojn, montru presajn taskojn kaj regu kiel vi volas presi
Comment[es]=Añadir impresoras, ver los trabajos de la impresora y decidir cuál quiere imprimir
Comment[et]=Printerite lisamine ja seadistamine, printimistööde kuvamine
Comment[eu]=Gehitu inprimagailuak, ikusi inprimatze-lanak eta erabaki zer inprimatzea nahi duzun
Comment[fa]=افزودن چاپگر، دیدن کارهای چاپگر و تصمیم برای چگونگی چاپ
Comment[fi]=Lisää tulostimia, seuraa tulostustöitä ja määritä tulostusasetukset
Comment[fr]=Ajouter des imprimantes, afficher les tâches et décider quand vous voulez imprimer
Comment[fur]=Zonte stampants, mostre i lavôrs di stampe e decît cemût stampâ
Comment[gd]=Cuir clò-bhualadairean, seall obraichean a’ chlò-bhualadair is cuir romhad mar a thèid clò-bhualadh
Comment[gl]=Engadir impresoras, vexa os traballos de impresión e decida que quere imprimir
Comment[gu]=પ્રિન્ટર ઉમેરો, પ્રિન્ટર ક્રિયાને જુઓ અને નક્કી કરો કે કેવી રીતે તમે છાપવા માંગો છો
Comment[he]=הוספת מדפסות, הצגת עבודות מדפסת ולהחליט כיצד ברצונך להדפיס
Comment[hi]=प्रिंटर जोड़ें, प्रिंटर नौकरियों देखने के लिए और तय करें कि कैसे आप मुद्रित करना चाहते हैं.
Comment[hr]=Dodajte pisače, pogledajte zadatke ispisivanja i odredite kakav ispis želite
Comment[hu]=Nyomtatók hozzáadása, nyomtatási feladatok megjelenítése és nyomtatás beállítása
Comment[id]=Tambah pencetak, tilik tugas pencetak, dan menentukan bagaimana Anda ingin mencetak
Comment[is]=Bættu við prenturum, skoðaðu prentverk og veldu hvernig þú vilt haga prentun
Comment[it]=Aggiunge stampanti, visualizza lavori di stampa e decide come stampare
Comment[ja]=プリンターの追加、プリンタージョブの表示、印刷方法の設定を行います。
Comment[kk]=Принтерлерді қосу, принтер тапсырмаларын қарау және баспаға шығарылатын нәрсені таңдау
Comment[kn]=ಮುದ್ರಕಗಳನ್ನು ಸೇರಿಸಿ, ಮುದ್ರಣ ಕಾರ್ಯಗಳನ್ನು ನೋಡಿ ಮತ್ತು ನೀವು ಹೇಗೆ ಮುದ್ರಿಸಲು ಬಯಸುವಿರಿ ಎನ್ನುವುದನ್ನು ನಿರ್ಧರಿಸಿ
Comment[ko]=프린터 추가, 인쇄 작업 보기, 어떻게 인쇄할지 설정
Comment[lt]=Pridėkite spausdintuvus, matykite spausdintuvo darbus ir nuspręskite, kaip norite spausdinti
Comment[lv]=Pievienot printerus, skatīt printera darbus un izlemt, kā drukāt
Comment[ml]=പ്രിന്റെര്‍ ചേര്‍ക്കുക, ജോലികള്‍ കാണുക പിന്നെ എങ്ങനെ പ്രിന്റ് എടുക്കണമെന്ന് തീരുമാനിക്കുക
Comment[mr]=छपाईयंत्र समाविष्ट करा, छपाईयंत्र जॉब्सचे अवलोकन करा आणि छपाई कसे पाहिजे ते ठरवा
Comment[ms]=Tambah pencetak, lihat kerja cetak dan tentukan bagaimana anda hendak cetak
Comment[nb]=Legg til skrivere, vis utskriftsjobber og bestem hvordan du ønsker å skrive ut
Comment[nl]=Printers toevoegen, afdruktaken bekijken, en bepalen hoe u wilt afdrukken
Comment[oc]=Apondre d'imprimentas, afichar los prètzfaits e decidir quand volètz imprimir
Comment[or]=ମୁଦ୍ରଣୀ ଯୋଗ କରନ୍ତୁ, ମୁଦ୍ରଣୀ କାର୍ଯ୍ୟଗୁଡ଼ିକୁ ଦେଖନ୍ତୁ ଏବଂ ଆପଣ କିପରି ମୁଦ୍ରଣ କରିବେ ତାହା ସିଦ୍ଧାନ୍ତ କରନ୍ତୁ
Comment[pa]=ਪਰਿੰਟਰ ਜੋੜੋ, ਪਰਿੰਟਰ ਜਾਬ ਵੇਖੋ ਅਤੇ ਤਹਿ ਕਰੋ ਤੁਸੀਂ ਕਿਵੇਂ ਪਰਿੰਟ ਕਰਨਾ ਚਾਹੁੰਦੇ ਹੈ
Comment[pl]=Dodawanie drukarek, wyświetlanie zadań drukowania i ustalanie sposobu drukowania
Comment[pt]=Adicionar impressoras, ver trabalhos de impressão e decidir como os deseja imprimir
Comment[pt_BR]=Adicione impressoras, veja trabalhos de impressão e decida como você gostaria de imprimir
Comment[ro]=Adaugă imprimante, sarcini de tipărire și ce trebuie imprimat
Comment[ru]=Добавление принтеров, просмотр текущих заданий и выбор способа печати
Comment[sk]=Pridáva tlačiarne, zobrazuje úlohy a umožňuje vám rozhodnúť ako sa bude tlačiť
Comment[sl]=Dodajte tiskalnike, oglejte si posle tiskalnika in se odločite, kako želite tiskati
Comment[sr]=Додајте штампаче, погледајте послове штампања и одлучите као желите да штампате
Comment[sr@latin]=Dodajte štampače, pogledajte poslove štampanja i odlučite kao želite da štampate
Comment[sv]=Lägg till skrivare, visa skrivarjobb och besluta hur du vill skriva ut
Comment[ta]=அச்சுப்பொறிகளைச் சேர்க்கவும், அச்சுப்பொறி பணிகளைக் காணவும் மற்றும் அவை எப்படி அச்சிட வேண்டும் என முடிவு செய்யவும்
Comment[te]=ముద్రికలను జతచేయి, ముద్రణ పనులను దర్శించి మరియు యెలా ముద్రించాలో నిర్ణయించు
Comment[tg]=Илова кардани принтерҳо, намоиши вазифаҳои чоп ва тарзи чопкунӣ
Comment[th]=เพิ่มเครื่องพิมพ์, ดูงานพิมพ์ที่เครื่องพิมพ์ และเลือกวิธีการพิมพ์
Comment[tr]=Yazıcı ekleyin, yazıcı görevlerini görüntüleyin ve nasıl çıktı alacağınıza karar verin
Comment[uk]=Додати принтер, переглянути завдання і визначити, яким способом друкувати
Comment[vi]=Thêm máy in, xem các công việc in và quyết định bạn muốn in như thế nào
Comment[zh_CN]=添加打印机，查看打印任务和管理打印
Comment[zh_HK]=加入打印機、檢視打印機工作並決定你要如何列印
Comment[zh_TW]=加入印表機、檢視印表機工作並決定您要如何列印
Comment=Add printers, view printer jobs and decide how you want to print
Exec=toolbox run gnome-control-center printers
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/512x512/devices/printer.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
# The X-GNOME-Settings-Panel is necessary to show in the main shell UI
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
# Translators: Search terms to find the Printers panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=drukker;tou;druk;papier;ink;toner;
Keywords[an]=Impresora;Coda;Imprentar;Paper;Tinta;Tóner;
Keywords[ar]=طابعة;طباعة;طبع;ورق;حبر;
Keywords[as]=প্ৰিন্টাৰ;শাৰী;প্ৰিন্ট;কাগজ;কালী;টনাৰ;
Keywords[ast]=Imprentadora;Cola;Imprentar;Papel;Tinta;Tóner;
Keywords[be]=Прынтар;Чарга;Друк;Папера;Аркуш;Чарніла;Тонер;
Keywords[bg]=принтер;опашка;печат;хартия;мастило;тонер;printer;queue;print;paper;ink;toner;
Keywords[bn]=মুদ্রণযন্ত্র;সারি;মুদ্রণ;কাগজ;কালি;টোনার;
Keywords[bn_IN]=প্রিন্টার;সারি;মুদ্রণ;কাগজ;কালি;টোনার;
Keywords[bs]=Štampač;Red;Štampa;Papir;Mastilo;Toner;
Keywords[ca]=Impressora;Cua;Imprimir;Paper;Tinta;Tòner;
Keywords[ca@valencia]=Impressora;Cua;Imprimir;Paper;Tinta;Tòner;
Keywords[ckb]=چاپکەر;ڕیز;چاپکردن;کاخەز;مرەکەب;تەنەر;
Keywords[crh]=Yazıcı;Kuyruk;Yazdur;Kâğıt;Mürekkep;Toner;
Keywords[cs]=tiskárna;fronta;tisk;papír;inkoust;toner;
Keywords[da]=Printer;Kø;Print;Papir;Blæk;Toner;
Keywords[de]=Drucker;Warteschlange;Drucken;Papier;Tinte;Toner;Tintenpatrone;
Keywords[el]=Εκτυπωτής;Ουρά;Εκτύπωση;Χαρτί;Μελάνι;Τόνερ;Γραφίτης;Printer;Queue;Print;Paper;Ink;Toner;
Keywords[en_GB]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[eo]=Presilo;Atendovico;Presi;Papero;Inko;Inkopulvoro;
Keywords[es]=Impresora;Cola;Imprimir;Papel;Tinta;Tóner;
Keywords[et]=Printer;Printimine;Printimisjärjekord;Trükkimine;Trükkimisjärjekord;Paber;Tint;Tooner;
Keywords[eu]=Inprimagailua;Ilara;Inprimatu;Papera;Tinta;Tonerra;
Keywords[fa]=Printer;Queue;Print;Paper;Ink;Toner;چاپگر;صف;چاپ;کاغذ;جوهر;
Keywords[fi]=Tulostin;jono;tulosta;paperi;muste;värikasetti;Printer;Queue;Print;Paper;Ink;Toner;
Keywords[fr]=Imprimante;File;Queue;Impression;Papier;Encre;Toner;
Keywords[fur]=Stampant;Code;Stampe;Cjarte;Ingjustri;Toner;
Keywords[gd]=Clò-bhualadair;Ciudha;Clò-bhualadh;Pàipear;Inc;Tònair;
Keywords[gl]=Impresora;Cola;Imprimir;Papel;Tinta;Tóner;
Keywords[gu]=પ્રિન્ટર;કતાર;છાપો;પેપર;સહી;ટૉનર;
Keywords[he]=מדפסת;תור;הדפסה;דף;דיו;טונר;
Keywords[hi]=प्रिंटर;पंक्ति;मुद्रण;पेपर;इंक;टोनर;
Keywords[hr]=Pisač;Red;Ispis;Papir;Tinta;Toner;
Keywords[hu]=Nyomtató;Sor;Nyomtatás;Papír;Tinta;Festékkazetta;
Keywords[id]=Pencetak;Antrian;Cetak;Kertas;Tinta;Pewarna;
Keywords[is]=Prentari;prentröð;Prentun;Pappír;blek;prentduft;
Keywords[it]=Stampante;Coda;Stampa;Carta;Inchostro;Toner;
Keywords[ja]=Printer;Queue;Print;Paper;Ink;Toner;プリンター;キュー;印刷;紙;インク;トナー;
Keywords[kk]=Printer;Queue;Print;Paper;Ink;Toner;Принтер;Кезек;Баспаға шығару;Қағаз;Сия;Тонер;
Keywords[km]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[kn]=ಮುದ್ರಕ;ಸರತಿ;ಮುದ್ರಣ;ಕಾಗದ;ಶಾಯಿ;ಟೋನರ್;
Keywords[ko]=Printer;프린터;Queue;대기열;Print;인쇄;Paper;용지;종이;Ink;잉크;Toner;토너;
Keywords[ky]=Принтер;Кезек;Басуу;Кагаз;Боёк;Тонер;
Keywords[lt]=Spausdintuvas;Eilė;Spausdinti;Rašalas;
Keywords[lv]=Printeris;Rinda;Drukāt;Papīrs;Tinte;Toneris;
Keywords[mjw]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[mk]=Печатач;Ред;Печати;Хартија;Боја за печатење;Тонер;
Keywords[ml]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[mr]=प्रिंटर;क्युउ;प्रिंट;पेपर;इंक;टोनर;
Keywords[ms]=Pencetak;Baris Gilir;Cetak;Kertas;Dakwat;Toner;
Keywords[nb]=Skriver;Kø;Utskrift;Papir;Blekk;Toner;
Keywords[ne]=मुद्रणयन्त्र;Queue;मुद्रण;कागज;मसी;टोनर;
Keywords[nl]=Printer;Queue;Print;Paper;Ink;Toner;Wachtrij;Papier;Inkt;
Keywords[nn]=Skrivar;Kø;Utskrift;Papir;Blekk;Tonar;
Keywords[oc]=Imprimenta;Fila;Coa;Impression;Papièr;Tinta;Toner;
Keywords[or]=ମୁଦ୍ରଣୀ;କ୍ରମ;ମୁଦ୍ରଣ କରନ୍ତୁ;କାଗଜ;କାଳି;ଟୋନର;
Keywords[pa]=Printer;Queue;Print;Paper;Ink;Toner;
Keywords[pl]=Drukarka;Kolejka;Drukowanie;Papier;Atrament;Tusz;Toner;CUPS;IPP;
Keywords[pt]=Impressora;Pilha;Imprimir;Papel;Tinta;Toner;
Keywords[pt_BR]=Impressora;Fila;Imprimir;Papel;Tinta;Toner;
Keywords[ro]=Printer;Queue;Print;Paper;Ink;Toner;Imprimantă;Tipărire;Coadă;Tipărire;Hârtie;Cerneală;Toner;Laser;
Keywords[ru]=Принтер;Очередь;Печать;Бумага;Чернила;Тонер;
Keywords[sk]=Tlačiareň;Rad;Tlač;Papier;Atrament;Toner;
Keywords[sl]=Tiskalnik;Vrsta;Tiskanje;Papir;Črnilo;Toner;
Keywords[sr]=штампач;ред;штампа;папир;мастило;тонер;
Keywords[sr@latin]=štampač;red;štampa;papir;mastilo;toner;
Keywords[sv]=Skrivare;Kö;Skriv ut;Papper;Bläck;Toner;
Keywords[ta]=அச்சுப்பொறி;வரிசை;அச்சடி;காகிதம்;மசி;டோனர்;
Keywords[te]=ముద్రకం;వరుస;ముద్రించు;కాగితం;సిరా;టోనర్;
Keywords[tg]=Принтер;Навбат;Чоп кардан;Қоғаз;Ранг;Тюнер;
Keywords[th]=เครื่องพิมพ์;คิว;พิมพ์;กระดาษ;หมึก;ผงหมึก;
Keywords[tr]=Yazıcı;Kuyruk;Yazdır;Kâğıt;Mürekkep;Toner;
Keywords[ug]=Printer;Queue;Print;Paper;Ink;Toner;پرىنتېر;ئۆچىرەت;بېسىش;قەغەز;سىياھ;كۇكۇن;
Keywords[uk]=Принтер;Черга;Друк;Папір;Чорнило;Тонер;
Keywords[vi]=Printer;Máy;in;May;Queue;Print;In;Paper;Giấy;Giay;Ink;Mực;Muc;Toner;
Keywords[zh_CN]=Printer;Queue;Print;Paper;Ink;Toner;打印机;队列;打印;纸张;墨水;墨粉;硒鼓;墨盒;
Keywords[zh_HK]=Printer;Queue;Print;Paper;Ink;Toner;打印機;佇列;列印;紙張;墨水;碳粉;
Keywords[zh_TW]=Printer;Queue;Print;Paper;Ink;Toner;印表機;佇列;列印;紙張;墨水;碳粉;
Keywords=Printer;Queue;Print;Paper;Ink;Toner;
# Notifications are emitted by gnome-settings-daemon
X-GNOME-UsesNotifications=true
