[Desktop Entry]
Name[bn_IN]=নিদানবিদ্যা
Name[ca]=Diagnòstics
Name[cs]=Diagnostiky
Name[da]=Diagnostik
Name[de]=Fehlerdiagnose
Name[el]=Διαγνωστικά
Name[en_GB]=Diagnostics
Name[eo]=Diagnozo
Name[es]=Diagnósticos
Name[eu]=Diagnostikoa
Name[fa]=عیب‌یابی
Name[fi]=Diagnostiikka
Name[fr]=Diagnostics
Name[fur]=Diagnostiche
Name[gl]=Diagnóstico
Name[he]=אבחון
Name[hr]=Dijagnostika
Name[hu]=Diagnosztika
Name[id]=Diagnostik
Name[it]=Diagnostica
Name[ja]=診断
Name[kk]=Диагностика
Name[ko]=진단
Name[lt]=Diagnostika
Name[lv]=Diagnostika
Name[ms]=Diagnostik
Name[nb]=Diagnostikk
Name[nl]=Bevindingen
Name[pa]=ਪੜਤਾਲ
Name[pl]=Diagnostyka
Name[pt]=Diagnósticos
Name[pt_BR]=Diagnóstico
Name[ro]=Diagnostice
Name[ru]=Диагностика
Name[sk]=Diagnostika
Name[sl]=Diagnostika napak
Name[sr]=Дијагностика
Name[sv]=Diagnostik
Name[tr]=Tanılama
Name[uk]=Діагностика
Name[zh_CN]=诊断
Name[zh_TW]=診斷
Name=Diagnostics (container)
Comment[bn_IN]=আপনার সমস্যা রিপোর্ট করুন
Comment[ca]=Informeu de problemes
Comment[cs]=Nahlásit problémy
Comment[da]=Rapportér dine problemer
Comment[de]=Melden Sie Ihre Probleme
Comment[el]=Αναφορά των προβλημάτων σας
Comment[en_GB]=Report your problems
Comment[eo]=Raporti viajn problemojn
Comment[es]=Informar de problemas
Comment[eu]=Eman zure arazoen berri
Comment[fa]=گزارش مشکلاتتان
Comment[fi]=Ilmoita ongelmista
Comment[fr]=Signaler des problèmes
Comment[fur]=Segnale i problemis
Comment[gl]=Informar os seus erros
Comment[he]=דיווח על בעיות
Comment[hr]=Prijavite svoje probleme
Comment[hu]=Problémák bejelentése
Comment[id]=Laporkan masalah Anda
Comment[it]=Segnala il problema
Comment[ja]=問題を報告します
Comment[kab]=Azen aneqqis n wuguren-ik
Comment[kk]=Мәселелер туралы хабарлау
Comment[ko]=문제점 보고하기
Comment[lt]=Pranešti apie jūsų problemas
Comment[lv]=Ziņot par problēmām
Comment[ms]=Lapor masalah anda
Comment[nb]=Rapporter problemene dine
Comment[nl]=Meld uw problemen
Comment[pa]=ਆਪਣੀਆਂ ਸਮੱਸਿਆਵਾ ਬਾਰੇ ਰਿਪੋਰਟ ਦਿਓ
Comment[pl]=Zgłaszanie problemów
Comment[pt]=Relate seus problemas
Comment[pt_BR]=Relate seus problemas
Comment[ro]=Raportați problemele
Comment[ru]=Сообщить об ошибках
Comment[sk]=Nahláste vaše problémy
Comment[sl]=Pošiljajte poročila o težavah
Comment[sr]=Пријавите ваше проблеме
Comment[sv]=Rapportera dina problem
Comment[tr]=Sorunları raporla
Comment[uk]=Повідомити про помилки
Comment[zh_CN]=报告问题
Comment[zh_TW]=回報您遇到的問題
Comment=Report your problems
Exec=toolbox run gnome-control-center diagnostics
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/48x48/legacy/system-help.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=স্ক্রিন;লক;ডায়গনিস্টিক;ক্র্যাশ;ব্যক্তিগত;সাম্প্রতিক;অস্থায়ী;tmp;সূচক;নাম;নেটওয়ার্ক;পরিচয়;গোপনীয়তা;
Keywords[ca]=pantalla;bloca;diagnòstics;fallades;privat;recent;temporal;tmp;índex;nom;xarxa;identitat;privadesa;privacitat
Keywords[cs]=obrazovka;zamknout;zámek;diagnostika;pád;zhroucení;soukromý;osobní;nedávný;dočasný;tmp;index;jméno;síť;identita;soukromí;
Keywords[da]=skærm;lås;diagnostik;baglås;nedbrud;privat;seneste;midlertidig;tmp;indeks;navn;netværk;identitet;privatliv;
Keywords[de]=Bildschirm;Sperre;Diagnose;Absturz;Crash;Privat;temporär;Index;Name;Netzwerk;Identität;Privatsphäre;
Keywords[en_GB]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[es]=pantalla;bloqueo;diagnóstico;error;privado;reciente;temporal;tmp;índice;nombre;red;identidad;privacidad;
Keywords[eu]=pantaila;blokeoa;diagnostikoa;kraskadura;pribatua;azkena;aldi baterakoa;tmp;indizea;izena;sarea;identitatea;pribatutasuna;
Keywords[fa]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;صفحه;قفل;کرش;خصوصی;اخیر;موقت;نمایه;نام;شبکه;هویت;محرمانگی"حریم شخصی;حریم خصوصی;
Keywords[fi]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;näyttö;lukitus;diagnostikka;kaatuminen;yksityinen;viimeisimmät;väliaikset;nimi;verkko;identiteetti;yksityisyys;tietosuoja;
Keywords[fr]=écran;verrouiller;verrouillage;diagnostic;diagnostique;plantage;privé;confidentiel;récent;temporaire;tmp;index;nom;réseaux;identité;confidentialité;
Keywords[fur]=schermi;visôr;bloc;diagnostiche;colàs;crash;privât;resint;temporani;tmp;indiç;tabele;non;rêt;identitât;privacy;riservatece;
Keywords[gl]=pantalla;bloqueo;diagnóstico;peches;privado;recente;temporal;tmp;índice;nome;rede;identidade;privacidade;
Keywords[he]=מסך;צד;נעילה;ניתוח;דיאגנוסטיקה;קריסה;פרטיות;פרטי;אחרונים;אחרון;זמני;זמניים;מפתח;אינדקס;שם;רשת;זהות;פרטיות;
Keywords[hr]=zaslon;zaključaj;dijagnostika;rušenje;privatno;nedavno;privremeno;tmp;sadržaj;naziv;mreža;identitet;privatnost;
Keywords[hu]=képernyő;zárolás;diagnosztika;összeomlás;magán;privát;legutóbbi;nemrégi;ideiglenes;temp;index;név;hálózat;azonosság;identitás;adatvédelem;
Keywords[id]=layar;kunci;diagnostik;crash;privat;terkini;temporer;tmp;indeks;nama;jaringan;identitas;privasi;
Keywords[it]=schermo;blocco;diagnostica;crash;privato;recente;temporaneo;tmp;indice;nome;rete;identità;privacy;
Keywords[ja]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;画面;スクリーン;ロック;診断;クラッシュ;プライベート;最近;テンポラリー;一時;インデックス;索引;名前;ネットワーク;プライバシー;
Keywords[kk]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;экран;блоктау;диагностика;құлау;жеке;жуырдағы;уақытша;индекс;аты;желі;анықтағыш;жекелік;
Keywords[ko]=screen;화면;lock;잠그기;diagnostics;진단;crash;private;개인;정보;사생활;보호;recent;최근;temporary;tmp;임시;index;색인;name;이름;network;네트워크;identity;신원;privacy;프라이버시;
Keywords[lt]=ekranas;užrakinimas;diagnostika;lūžimas;privatus;neseniai;naudoti;laikinieji;indeksas;pavadinimas;tinklas;tapatybė;privatumas;
Keywords[lv]=ekrāns;bloķēt;slēgt;diagnostika;avārija;privāts;nesens;pagaidu;indeks;rādītājs;vārds;tīkls;identitāte;privātums;
Keywords[nl]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;scherm;vergrendelen;privé;tijdelijk;naam;netwerk;identiteit;
Keywords[pl]=ekran;blokada;diagnostyka;awaria;prywatność;ostatnie;ostatnio;tymczasowe;tmp;indeksowanie;index;nazwa;sieć;tożsamość;historia;kosz;śmietnik;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;geolokalizacja;położenie;geograficzne;miejsce;lokacja;miasto;państwo;kraj;
Keywords[pt]=ecrã;bloquear;trancar;diagnósticos;falha;privado;recente;temporário;tmp;índice;nome;rede;identidade;
Keywords[pt_BR]=tela;bloqueio;diagnostico;travamento;privado;recente;temporário;índice;nome;rede;identidade;privacidade;
Keywords[ro]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;ecran;blocare;diagnostice;pană;privat;temporar;nume;rețeaidentitate;confidențialitate;
Keywords[sk]=obrazovka;zámok;uzamknutie;diagnostika;pád;súkromný;nedávny;dočasný;tmp;index;meno;názov;sieť;identita;súkromie;
Keywords[sl]=zaslon;zaklep;diagnostika;crash;sesutje;zasebnost;hrošči;nedavno;začasno;tmp;index;ime;network;omrežje;istovetnost;identiteta;podatki;
Keywords[sr]=екран;закључај;дијагноза;пад;урушавање;лично;скорашње;недавно;привремен;тмп;попис;назив;мрежа;идентитет;приватност;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[sv]=skärm;lås;diagnostik;krasch;privat;nyligen;senaste;tillfällig;tmp;index;namn;nätverk;identitet;sekretess;
Keywords[tr]=ekran;kilit;tanılama;kırılma;bozulma;çökme;özel;son;geçici;tmp;endeks;içindekiler;indeks;isim;ad;ağ;kimlik;gizlilik;
Keywords[uk]=екран;блокування;діагностика;крах;особисте;нещодавнє;тимчасове;tmp;індекс;назва;мережа;засвідчення;конфіденційність;
Keywords[zh_CN]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;屏幕;锁;诊断;崩溃;私有;最近;临时;索引;名称;网络;认证;标志;身份;隐私;
Keywords[zh_TW]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;螢幕;鎖定;診斷;當掉;崩潰;私人;隱私;最近;暫存;索引;名稱;網路;身分;
Keywords=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
