[Desktop Entry]
Name[af]=Krag
Name[an]=Enerchía
Name[ar]=الطاقة
Name[as]=শক্তি
Name[ast]=Enerxía
Name[be]=Энергія
Name[bn]=শক্তি
Name[bn_IN]=পাওয়ার
Name[bs]=Napajanje
Name[ca]=Energia
Name[ckb]=وزە
Name[crh]=Qudret
Name[cs]=Napájení
Name[da]=Strøm
Name[de]=Energie
Name[el]=Ενέργεια
Name[en_GB]=Power
Name[eo]=Elektro
Name[es]=Energía
Name[et]=Vooluhaldus
Name[eu]=Energia
Name[fa]=انرژی
Name[fi]=Virransäästö
Name[fr]=Énergie
Name[fur]=Alimentazion
Name[ga]=Cumhacht
Name[gd]=Cumhachd
Name[gl]=Enerxía
Name[gu]=પાવર
Name[he]=חשמל
Name[hi]=पावर
Name[hr]=Energija
Name[hu]=Energiagazdálkodás
Name[id]=Daya
Name[is]=Aflstjórnun
Name[it]=Energia
Name[ja]=電源
Name[kk]=Эл. қорегі
Name[km]=ថាមពល
Name[kn]=ವಿದ್ಯುಚ್ಛಕ್ತಿ
Name[ko]=전원
Name[lt]=Energija
Name[lv]=Barošana
Name[mk]=Енергија
Name[mr]=पावर
Name[ms]=Kuasa
Name[nb]=Strøm
Name[ne]=पावर
Name[nl]=Energie
Name[nn]=Straum
Name[oc]=Energia
Name[or]=ଶକ୍ତି
Name[pa]=ਪਾਵਰ
Name[pl]=Zasilanie
Name[pt]=Energia
Name[pt_BR]=Energia
Name[ro]=Consum
Name[ru]=Электропитание
Name[sk]=Napájanie
Name[sl]=Napajanje
Name[sr]=Напајање
Name[sr@latin]=Napajanje
Name[sv]=Ström
Name[ta]=சக்தி
Name[te]=విద్యుత్
Name[tg]=Барқ
Name[tr]=Güç
Name[ug]=توك مەنبە
Name[uk]=Живлення
Name[vi]=Nguồn điện
Name[zh_CN]=电源
Name[zh_HK]=電源
Name[zh_TW]=電源
Name=Power (container)
Comment[af]=Bekyk batterystatus en verander instellings vir kragbesparing
Comment[an]=Veyer o estau d'a batería y cambiar a configuración d'estalbio d'enerchía
Comment[ar]=اعرض حالة البطارية و غيّر إعدادات توفير الطاقة
Comment[as]=আপোনাৰ বেটাৰিৰ অৱস্থা চাওক আৰু শক্তি সংৰক্ষণ সংহতিসমূহ পৰিবৰ্তন কৰক
Comment[be]=Прагляд стану акумулятара і настройка ашчаджэння энергіі
Comment[bg]=Преглед на състоянието на батерията и промяна на настройките на енергоспестяването
Comment[bn_IN]=আপনার ব্যাটারির স্থিতি দেখুন এবং পাওয়ার সঞ্চয় সেটিং পরিবর্তন করুন
Comment[bs]=Prikaži stanje baterije i promijeni postavke čuvanja energije
Comment[ca]=Visualitzeu l'estat de la bateria i canvieu els paràmetres d'estalvi d'energia
Comment[ca@valencia]=Visualitzeu l'estat de la bateria i canvieu els paràmetres d'estalvi d'energia
Comment[ckb]=دۆخی پاترییەکەت ببینە و ڕێکخستنەکانی خەزنکردنی وزە بگۆڕە
Comment[cs]=Zobrazit stav baterie a změnit nastavení šetření energií
Comment[da]=Vis din batteristatus og skift indstillinger for strømstyring
Comment[de]=Den Status Ihres Akkus anzeigen und die Energiespareinstellungen ändern
Comment[el]=Δείτε την κατάστασης της μπαταρίας σας και αλλάξτε τις ρυθμίσεις αποθήκευσης ενέργειας
Comment[en_GB]=View your battery status and change power saving settings
Comment[eo]=Vidu vian baterian staton kaj elektu elektroŝparajn funkciojn
Comment[es]=Ver el estado de la batería y cambiar la configuración de ahorro de energía
Comment[et]=Aku oleku vaatamine ja voolusäästu sätete muutmine
Comment[eu]=Ikusi bateriaren egoera eta aldatu energia aurrezteko ezarpenak
Comment[fa]=وضعیت باتری خود را دیده و تنظیمات ذخیرهٔ انرژی را تغییر دهید
Comment[fi]=Tarkkaile akkusi tilaa ja muuta virransäästöasetuksia
Comment[fr]=S’informer sur l’état de la batterie et modifier les paramètres d’économie d’énergie
Comment[fur]=Mostre il stât de batarie e cambie lis impostazions di sparagn energjetic
Comment[gd]=Seall ìre a’ bhataraidh agad is atharraich roghainnean caomhnadh na cumhachd
Comment[gl]=Vexa o estado da súa batería e cambie as preferencias de aforro de enerxía
Comment[gu]=તમારી બેટરી સ્થિતિને જુઓ અને પાવર સંગ્રહ સુયોજનોને બદલો
Comment[he]=הצגת מצב הסוללה שלך ושינוי הגדרות חיסכון בחשמל
Comment[hi]=अपनी बैटरी की स्थिति और परिवर्तन बिजली की बचत सेटिंग्स देखें
Comment[hr]=Pogledajte svoje stanje baterije i promijenite postavke štednje energije
Comment[hu]=Akkumulátorállapot megjelenítése és energiagazdálkodási beállítások módosítása
Comment[id]=Tilik status baterai Anda dan ubah pengaturan penghematan daya
Comment[is]=Skoða ástand rafhlöðu og sýsla með orkustillingar
Comment[it]=Visualizza lo stato della batteria e cambia le impostazioni di risparmio energetico
Comment[ja]=バッテリー状態の表示、省電力の設定をします
Comment[kk]=Батарея қалып-күйін және эл. қорегін сақтауды баптау
Comment[kn]=ಬ್ಯಾಟರಿ ಸ್ಥಿತಿಯನ್ನು ನೋಡು ಮತ್ತು ವಿದ್ಯುಚ್ಛಕ್ತಿ ಉಳಿಸುವ ಸಿದ್ಧತೆಗಳನ್ನು ಬದಲಾಯಿಸು
Comment[ko]=배터리 상태를 보고 절전 설정을 바꿉니다
Comment[lt]=Rodyti baterijos būseną ir keisti energijos taupymo nustatymus
Comment[lv]=Skatīt baterijas statusu un mainīt enerģijas taupīšanas iestatījumus
Comment[ml]=ബാറ്ററിയുടെ സ്ഥിതി നോക്കി വൈദ്യുതി ലഭിക്കുക
Comment[mr]=बॅटरि स्थितीचे अवलोकन करा आणि पावर साठवण्याच्या सेटिंग्ज बदलवा
Comment[ms]=Lihat status bateri anda dan ubah tetapan penjimatan kuasa
Comment[nb]=Vis batteristatus og endre innstillinger for strømsparing
Comment[nl]=De accustatus bekijken en instellingen voor energiebesparing wijzigen
Comment[oc]=S'informar sus l'estat de la batariá e modificar los paramètres d'estalvi d'energia
Comment[or]=ଆପଣଙ୍କର ବ୍ୟାଟେରୀ ଶକ୍ତି ଦେଖନ୍ତୁ ଏବଂ ଶକ୍ତି ସଂରକ୍ଷଣ ସଂରଚନାକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pa]=ਆਪਣੀ ਬੈਟਰੀ ਦੀ ਸਥਿਤੀ ਵੇਖੋ ਅਤੇ ਪਾਵਰ ਬੱਚਤ ਸੈਟਿੰਗ ਬਦਲੋ
Comment[pl]=Wyświetlanie stanu naładowania akumulatora i zmiana ustawień oszczędzania energii
Comment[pt]=Ver o estado de sua bateria e alterar as definições de poupança de energia
Comment[pt_BR]=Veja o status da sua bateria e altere as configurações de economia de energia
Comment[ro]=Stare baterie și schimbare setări consum energie
Comment[ru]=Просмотр состояния батареи и изменение параметров энергосбережения
Comment[sk]=Zobrazuje stav vašej batérie a umožňuje zmenu nastavení šetrenia energie
Comment[sl]=Oglejte si stanje baterije in spremenite nastavitve varčevanje z energijo
Comment[sr]=Погледајте стање ваше батерије и измените подешавања уштеде напајања
Comment[sr@latin]=Pogledajte stanje vaše baterije i izmenite podešavanja uštede napajanja
Comment[sv]=Visa din batteristatus och ändra energisparinställningar
Comment[ta]=பேட்டரி நிலையைக் கண்டு மின்சக்தி சேமிப்பு அமைவுகளை மாற்றவும்
Comment[te]=మీ బ్యాటరీ స్థితి దర్శించి మరియు విద్యుత్ ఆదా అమరికలను మార్చు
Comment[tg]=Намоиш додани вазъияти батарея ва тағйир додани танзимоти захиракунии барқ
Comment[th]=ดูสถานะแบตเตอรี่และตั้งค่าการประหยัดพลังงาน
Comment[tr]=Pil durumunuzu görüntüleyin ve güç koruma ayarlarını değiştirin
Comment[uk]=Переглянути стан вашої батареї і змінити параметри заощадження енергії
Comment[vi]=Hiển thị trạng thái pin và thay đổi cài đặt chế độ tiết kiệm pin
Comment[zh_CN]=查看电池状态并更改省电设置
Comment[zh_HK]=檢視你的電池狀態並改變電源節省設定值
Comment[zh_TW]=檢視您的電池狀態並改變電源節省設定值
Comment=View your battery status and change power saving settings
Exec=toolbox run gnome-control-center power
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/hicolor/256x256/apps/gnome-power-manager.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=power
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Power panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=পাওয়ার;ঘুমন্ত;বিলম্ব;হাইবারনেট;ব্যাটারি;উজ্জ্বলতা;অন্ধকারময়;খালি;মনিটর;DPMS;নিশ্চল;
Keywords[ca]=Energia;Baix consum;Aturada temporal;Hibernació;Bateria;Brillantor;Atenuar;En blanc;Monitor;DPMS;Inactiu;Energia
Keywords[cs]=napájení;uspání;uspání do paměti;uspání na disk;baterie;jas;ztlumit;monitor;DPMS;neaktivní;energie;
Keywords[da]=Strøm;Sove;Hvile;Dvale;Batteri;Lysstyrke;Dæmp;Dæmpning;Blank;Sort;Skærm;DPMS;Tomgang;Inaktiv;Energi;
Keywords[de]=Energie;Schlafmodus;Bereitschaft;Ruhezustand;Akku;Helligkeit;Abdunkeln;Abschalten;Bildschirm;DPMS;Energie;Einschaltknopf;
Keywords[en_GB]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;
Keywords[es]=Energía;Dormir;Suspender;Hibernar;Batería;Brillo;Apagar;Monitor;DPMS;inactivo;
Keywords[eu]=Argindarra;Lo egin;Eseki;Hibernatu;Bateria;Distira;Itzali;Belztu;Monitorea;DPMS;Inaktibo;Energia;
Keywords[fa]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;نیرو;انرژی;خواب;تعلیق;باتری;روشنایی;تاریکی;نمایشگر;مانیتور;مونیتور;صفحه;
Keywords[fi]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;virta;uni;valmiustila;lepotila;akku;kirkkaus;himmennys;tyhjä;näyttö;jouten;virransäästö;
Keywords[fr]=Énergie;Alimentation;Veille;Suspension;Hibernation;Batterie;Luminosité;Assombrir;Noir;Écran;DPMS;Inactif;
Keywords[fur]=Alimentazion;Sleep;Sospension;Ibernazion;Batarie;Luminositât;Visôr;Dim;DPMS;Scûr;Vueit;Monitor;Inatîf;Energjie;
Keywords[gl]=Enerxía;Durmir;Suspender;Hibernar;Batería;Brillo;Escurecer;En branco;Monitor;DPMS;Inactivo;Enerxía;
Keywords[he]=צריכת חשמל;שינה;השהיה;תרדמת;סוללה;בהירות;עמעום;החשכה;ריק;צג;בהמתנה;המתנה;אנרגיה;
Keywords[hr]=Energija;Spavanje;Suspenzija;Hibernacija;Baterija;Svjetlina;Zatamnjenje;Tamno;Zaslon;DPMS;Mirovanje;Energija;
Keywords[hu]=Energia;Energiagazdálkodás;Alvás;Felfüggesztés;Hibernálás;Akkumulátor;Telep;Elsötétítés;Elhalványítás;Monitor;DPMS;Üresjárat;Energia;
Keywords[id]=Daya;Tidur;Suspensi;Hibernasi;Baterai;Kecerahan;Redup;Kosong;Monitor;DPMS;Menganggur;Energi;
Keywords[it]=alimentazione;power;sleep;sospensione;ibernazione;batteria;luminosità;monitor;schermo;dim;abbassare;oscurare;DPMS;inattivo;energia;
Keywords[ja]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;電源;スリープ;サスペンド;ハイバネート;バッテリー;明るさ;ブランクスクリーン;モニター;画面;ディスプレイ;アイドル;待機;電力;エネルギー;
Keywords[kk]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;Эл. қорегі;Ұйқы;Ұйықтату;Гибернация;Батарея;Жарықтылық;Басу;Бос;Монитор;Іссіз;Энергия;
Keywords[ko]=Power;전원;Sleep;절전;Suspend;대기 모드;Hibernate;최대 절전;Battery;배터리;Brightness;밝기;Dim;어둡게;Blank;Monitor;모니터;DPMS;Idle;입력;Energy;에너지;절약;
Keywords[lt]=Energija;Miegoti;Pristabdyti;Užmigdyti;Akumuliatorius;šviesumas;Pritemdyti;Tuščias;Monitorius;DPMS;Laisva;
Keywords[lv]=Barošana;Snaust;Snaušana;Gulēt;Gulēšana;Baterija;Strāva;Gaišums;Tumšāk;Tumšs;Monitors;DPMS;Dīkstāve;Enerģija;
Keywords[nl]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Helderheid;Dim;Blank;Monitor;Beeldscherm;DPMS;Idle;Energie;Slaapstand;Pauzestand;Accu;
Keywords[pl]=Zasilanie;Energia;Prąd;Oszczędzanie;Uśpienie;Wstrzymanie;Hibernacja;Uśpij;Wyłącz;Wstrzymaj;Hibernuj;Akumulator;Bateria;Jasność;Przygaszenie;Wygaszenie;Monitor;DPMS;Bezczynność;Nieaktywność;Wi-Fi;Wifi;Bluetooth;Bezprzewodowe;Wireless;
Keywords[pt]=Energia;Dormir;Suspender;Hibernar;Bateria;Brilho;Escurecer;Desligar;Monitorizar;DPMS;Inativo;
Keywords[pt_BR]=Energia;Dormir;Suspender;Hibernar;Bateria;Brilho;Escurecer;Vazio;Branca;Monitor;DPMS;Inativo;Bateria
Keywords[ro]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;Putere;Somn;Suspendă;Hibernează;Baterie;Luminozitate;Întunecos;Vid;În așteptare;Energie;
Keywords[sk]=Napájanie;Uspať;Hibernovať;Batéria;Jas;Stmavenie;Prázdny;Displej;Obrazovka;DPMS;Nečinnosť;Energia;
Keywords[sl]=v delovanju;v pripravljenosti;hiberniranje;v mirovanju;baterija;zaslon;DPMS;nedejavnost;svetlost;energija;poraba;
Keywords[sr]=напајање;спавање;обустава;замрзавање;батерија;осветљај;затамњење;монитор;ДПМС;мировање;Енергија;Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;napajanje;spavanje;obustava;zamrzavanje;baterija;osvetljaj;mirovanje;Energija;
Keywords[sv]=Ström;Sova;Vänteläge;Viloläge;Batteri;Ljusstyrka;Dämpa;Blank;Skärm;DPMS;inaktiv;Energi;
Keywords[tr]=Güç;Uyku;Bekleme;Derin Uyku;Pil;Parlaklık;Karartma;Boş;Monitör;DPMS;Boşta;Eylemsiz;Enerji;
Keywords[uk]=Живлення;Сон;Призупинити;Приспати;Батарея;Яскравість;Затемнення;Порожній;DPMS;Бездіяльність;живлення;енергія;
Keywords[zh_CN]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;电源;睡眠;挂起;休眠;电池;亮度;暗;空白;监视器;显示器;空闲;能源;能耗;
Keywords[zh_TW]=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;電源;睡眠;暫停;休眠;電池;亮度;轉黑;顯示器;閒置;能源;
Keywords=Power;Sleep;Suspend;Hibernate;Battery;Brightness;Dim;Blank;Monitor;DPMS;Idle;Energy;
# Notifications are emitted by gnome-settings-daemon
X-GNOME-UsesNotifications=true
