[Desktop Entry]
Name[bn_IN]=ফাইলের ইতিহাস এবং ট্র্যাশ
Name[ca]=Historial dels fitxers i paperera
Name[cs]=Historie souborů a koš
Name[da]=Filhistorik & papirkurv
Name[de]=Dateichronik und Papierkorb
Name[el]=Ιστορικό αρχείου & Κάδος απορριμάτων
Name[en_GB]=File History & Wastebasket
Name[eo]=Dosierhistorio & rubujo
Name[es]=Histórico de archivos y papelera
Name[eu]=Fitxategien historia eta zakarrontzia
Name[fa]=تاریخچهٔ پرونده و زباله‌دان
Name[fi]=Tiedostohistoria ja roskakori
Name[fr]=Historique des fichiers et corbeille
Name[fur]=Cronologjie file e Scovacere
Name[gl]=Historial de ficheiros e lixo
Name[he]=היסטוריית קבצים ואשפה
Name[hr]=Povijest datoteka i smeće
Name[hu]=Fájlelőzmények és kuka
Name[id]=Riwayat Berkas dan Tong Sampah
Name[it]=Cronologia file e cestino
Name[ja]=ファイルの履歴と削除
Name[kk]=Файлдар тарихы және қоқыс шелегі
Name[ko]=파일 사용 내역 및 휴지통
Name[lt]=Failų istorija ir šiukšlinė
Name[lv]=Datņu vēsture un miskaste
Name[ms]=Sejarah & Tong Sampah Fail
Name[nb]=Filhistorikk og papirkurv
Name[nl]=Bestandsgeschiedenis & prullenbak
Name[pa]=ਫਾਇਲ ਅਤੀਤ ਤੇ ਰੱਦੀ
Name[pl]=Historia plików i kosz
Name[pt]=Histórico de ficheiro e Lixo
Name[pt_BR]=Histórico de arquivos & lixeira
Name[ro]=Gunoi și istoricul fișierului
Name[ru]=История файлов и корзина
Name[sk]=História súborov a kôš
Name[sl]=Zgodovina datoteke in smeti
Name[sr]=Историјат датотека и смеће
Name[sv]=Filhistorik & papperskorg
Name[tr]=Dosya Geçmişi ve Çöp
Name[uk]=Журнал файлів та смітник
Name[zh_CN]=文件历史与回收站
Name[zh_TW]=檔案歷程記錄與垃圾桶
Name=File History & Trash (container)
Comment[bn_IN]=ট্রেস ছেড়ে যাবেন না
Comment[ca]=No deixis rastres
Comment[cs]=Nezanechávejte po sobě stopy
Comment[da]=Efterlad ingen spor
Comment[de]=Keine Spuren hinterlassen
Comment[el]=Να μην αφήνονται ίχνη
Comment[en_GB]=Don't leave traces
Comment[es]=No dejar trazas
Comment[eu]=Ez utzi aztarnarik
Comment[fa]=برجا نگذاشتن اثر
Comment[fi]=Älä jätä jälkiä
Comment[fr]=Ne laisser aucune trace
Comment[fur]=No sta lassâ olmis
Comment[gl]=Non deixar rastro
Comment[he]=לא להשאיר עקבות
Comment[hr]=Ne ostavljaj tragove
Comment[hu]=Ne hagyjon nyomokat
Comment[id]=Jangan tinggalkan jejak
Comment[it]=Non lasciare tracce
Comment[ja]=痕跡を残さないようにします
Comment[kk]=Із қалдырмау
Comment[ko]=흔적 남기지 않기
Comment[lt]=Nepalikti pėdsakų
Comment[lv]=Neatstāt pēdas
Comment[ms]=Jangan tinggalkan jejak
Comment[nb]=Ikke etterlat spor
Comment[nl]=Geen sporen achterlaten
Comment[pa]=ਨਿਸ਼ਾਨ ਨਾ ਛੱਡੋ
Comment[pl]=Nie zostawiaj śladów
Comment[pt]=Não deixar rastros
Comment[pt_BR]=Não deixe rastros
Comment[ro]=Nu lăsa urme
Comment[ru]=Не оставлять следов
Comment[sk]=Nezanechávajte stopy
Comment[sl]=Ne puščaj sledi
Comment[sr]=Не остављај трагове
Comment[sv]=Lämna inga spår
Comment[tr]=İz bırakma
Comment[uk]=Не залишати слідів
Comment[zh_CN]=不留痕迹
Comment[zh_TW]=不留下追蹤
Comment=Don't leave traces
Exec=toolbox run gnome-control-center usage
# FIXME
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/system-file-manager.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;X-GNOME-Settings-Panel;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=privacy
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Privacy panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=স্ক্রিন;লক;ডায়গনিস্টিক;ক্র্যাশ;ব্যক্তিগত;সাম্প্রতিক;অস্থায়ী;tmp;সূচক;নাম;নেটওয়ার্ক;পরিচয়;গোপনীয়তা;
Keywords[ca]=pantalla;bloca;diagnòstics;fallades;privat;recent;temporal;tmp;índex;nom;xarxa;identitat;privadesa;privacitat
Keywords[cs]=obrazovka;zamknout;zámek;diagnostika;pád;zhroucení;soukromý;osobní;nedávný;dočasný;tmp;index;jméno;síť;identita;soukromí;
Keywords[da]=skærm;lås;diagnostik;baglås;nedbrud;privat;seneste;midlertidig;tmp;indeks;navn;netværk;identitet;privatliv;
Keywords[de]=Bildschirm;Sperre;Diagnose;Absturz;Crash;Privat;temporär;Index;Name;Netzwerk;Identität;Privatsphäre;
Keywords[en_GB]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[es]=pantalla;bloqueo;diagnóstico;error;privado;reciente;temporal;tmp;índice;nombre;red;identidad;privacidad;
Keywords[eu]=pantaila;blokeoa;diagnostikoa;kraskadura;pribatua;azkena;aldi baterakoa;tmp;indizea;izena;sarea;identitatea;pribatutasuna;
Keywords[fa]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;صفحه;قفل;کرش;خصوصی;اخیر;موقت;نمایه;نام;شبکه;هویت;محرمانگی"حریم شخصی;حریم خصوصی;
Keywords[fi]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;näyttö;lukitus;diagnostikka;kaatuminen;yksityinen;viimeisimmät;väliaikset;nimi;verkko;identiteetti;yksityisyys;tietosuoja;
Keywords[fr]=écran;verrouiller;verrouillage;diagnostic;diagnostique;plantage;privé;confidentiel;récent;temporaire;tmp;index;nom;réseaux;identité;confidentialité;
Keywords[fur]=schermi;visôr;bloc;diagnostiche;colàs;crash;privât;resint;temporani;tmp;indiç;tabele;non;rêt;identitât;privacy;riservatece;
Keywords[gl]=pantalla;bloqueo;diagnóstico;peches;privado;recente;temporal;tmp;índice;nome;rede;identidade;privacidade;
Keywords[he]=מסך;צד;נעילה;ניתוח;דיאגנוסטיקה;קריסה;פרטיות;פרטי;אחרונים;אחרון;זמני;זמניים;מפתח;אינדקס;שם;רשת;זהות;פרטיות;
Keywords[hr]=zaslon;zaključaj;dijagnostika;rušenje;privatno;nedavno;privremeno;tmp;sadržaj;naziv;mreža;identitet;privatnost;
Keywords[hu]=képernyő;zárolás;diagnosztika;összeomlás;magán;privát;legutóbbi;nemrégi;ideiglenes;temp;index;név;hálózat;azonosság;identitás;adatvédelem;
Keywords[id]=layar;kunci;diagnostik;crash;privat;terkini;temporer;tmp;indeks;nama;jaringan;identitas;privasi;
Keywords[it]=schermo;blocco;diagnostica;crash;privato;recente;temporaneo;tmp;indice;nome;rete;identità;privacy;
Keywords[ja]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;画面;スクリーン;ロック;診断;クラッシュ;プライベート;最近;テンポラリー;一時;インデックス;索引;名前;ネットワーク;プライバシー;
Keywords[kk]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;экран;блоктау;диагностика;құлау;жеке;жуырдағы;уақытша;индекс;аты;желі;анықтағыш;жекелік;
Keywords[ko]=screen;화면;lock;잠그기;diagnostics;진단;crash;private;개인;정보;사생활;보호;recent;최근;temporary;tmp;임시;index;색인;name;이름;network;네트워크;identity;신원;privacy;프라이버시;
Keywords[lt]=ekranas;užrakinimas;diagnostika;lūžimas;privatus;neseniai;naudoti;laikinieji;indeksas;pavadinimas;tinklas;tapatybė;privatumas;
Keywords[lv]=ekrāns;bloķēt;slēgt;diagnostika;avārija;privāts;nesens;pagaidu;indeks;rādītājs;vārds;tīkls;identitāte;privātums;
Keywords[nl]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;scherm;vergrendelen;privé;tijdelijk;naam;netwerk;identiteit;
Keywords[pl]=ekran;blokada;diagnostyka;awaria;prywatność;ostatnie;ostatnio;tymczasowe;tmp;indeksowanie;index;nazwa;sieć;tożsamość;historia;kosz;śmietnik;GPS;GNSS;GLONASS;Galileo;IRNSS;BDS;BeiDou;GeoClue;geocode;geolokalizacja;położenie;geograficzne;miejsce;lokacja;miasto;państwo;kraj;
Keywords[pt]=ecrã;bloquear;trancar;diagnósticos;falha;privado;recente;temporário;tmp;índice;nome;rede;identidade;
Keywords[pt_BR]=tela;bloqueio;diagnostico;travamento;privado;recente;temporário;índice;nome;rede;identidade;privacidade;
Keywords[ro]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;ecran;blocare;diagnostice;pană;privat;temporar;nume;rețeaidentitate;confidențialitate;
Keywords[sk]=obrazovka;zámok;uzamknutie;diagnostika;pád;súkromný;nedávny;dočasný;tmp;index;meno;názov;sieť;identita;súkromie;
Keywords[sl]=zaslon;zaklep;diagnostika;crash;sesutje;zasebnost;hrošči;nedavno;začasno;tmp;index;ime;network;omrežje;istovetnost;identiteta;podatki;
Keywords[sr]=екран;закључај;дијагноза;пад;урушавање;лично;скорашње;недавно;привремен;тмп;попис;назив;мрежа;идентитет;приватност;screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
Keywords[sv]=skärm;lås;diagnostik;krasch;privat;nyligen;senaste;tillfällig;tmp;index;namn;nätverk;identitet;sekretess;
Keywords[tr]=ekran;kilit;tanılama;kırılma;bozulma;çökme;özel;son;geçici;tmp;endeks;içindekiler;indeks;isim;ad;ağ;kimlik;gizlilik;
Keywords[uk]=екран;блокування;діагностика;крах;особисте;нещодавнє;тимчасове;tmp;індекс;назва;мережа;засвідчення;конфіденційність;
Keywords[zh_CN]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;屏幕;锁;诊断;崩溃;私有;最近;临时;索引;名称;网络;认证;标志;身份;隐私;
Keywords[zh_TW]=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;螢幕;鎖定;診斷;當掉;崩潰;私人;隱私;最近;暫存;索引;名稱;網路;身分;
Keywords=screen;lock;diagnostics;crash;private;recent;temporary;tmp;index;name;network;identity;privacy;
