[Desktop Entry]
Name[an]=Ratet y touchpad
Name[ar]=الفأرة و لوحة اللمس
Name[as]=মাউছ & টাচপেড
Name[be]=Мыш і чулая панэль
Name[bn_IN]=মাউস & টাচপ্যাড
Name[bs]=Miš i dodirna ploča
Name[ca]=Ratolí i ratolí tàctil
Name[ckb]=مشک و مشکی لاپتۆپ
Name[crh]=Sıçan & Tiyüv-şiltesi
Name[cs]=Myš a touchpad
Name[da]=Mus & pegeplade
Name[de]=Maus und Tastfeld
Name[el]=Ποντίκι & επιφάνεια αφής
Name[en_GB]=Mouse & Touchpad
Name[eo]=Muso & tuŝplato
Name[es]=Ratón y «touchpad»
Name[et]=Hiir ja puutepadi
Name[eu]=Sagua eta ukipen-panela
Name[fa]=موشی و صفحه‌لمسی
Name[fi]=Hiiri ja kosketuslevy
Name[fr]=Sou­ris et pavé tac­tile
Name[fur]=Mou­se­ e­ ­Touch­pad
Name[ga]=Luch & Ceap Tadhaill
Name[gd]=An luchag ⁊ am pada-suathaidh
Name[gl]=Rato e área táctil
Name[gu]=માઇસ અને ટચપેડ
Name[he]=עכבר ומשטח מגע
Name[hi]=माउस व टचपैड
Name[hr]=Miš i touchpad
Name[hu]=E­gér és é­rin­tő­táb­la
Name[id]=Tetikus & Touchpad
Name[is]=Mús og snertiplatti
Name[it]=Mouse e touchpad
Name[ja]=マウスとタッチパッド
Name[kk]=Тышқан және тач­пад
Name[km]=កណ្ដុរ និង​បន្ទះ​ប៉ះ
Name[kn]=ಮೌಸ್‌ ಹಾಗು ಟಚ್‌ಪ್ಯಾಡ್
Name[ko]=마우스 및 터치패드
Name[ky]=Чычкан жана сенсордук такта
Name[lt]=Pelė ir jutiklinis kilimėlis
Name[lv]=Pele un skārienpaliktnis
Name[mjw]=Mouse pen Touchpad
Name[mr]=माऊस व टचपॅड्
Name[ms]=Tetikus & Pad Sentuh
Name[nb]=Mus og pekeplate
Name[ne]=माउस र टचप्याड
Name[nl]=Muis en touchpad
Name[oc]=Mirga & pavat tac­til
Name[or]=ମାଉସ ଏବଂ ଟଚପ୍ୟାଡ
Name[pa]=ਮਾਊਸ ਤੇ ਟੱਚਪੈਚ
Name[pl]=Mysz i panel dotykowy
Name[pt]=Rato e Rato por toque
Name[pt_BR]=Mouse & touchpad
Name[ro]=Maus și touchpad
Name[ru]=Мышь и сенсорная панель
Name[sk]=Myš a touchpad
Name[sl]=Miška in Sledilna ploščica
Name[sr]=Миш и додирна табла
Name[sr@latin]=Miš i dodirna tabla
Name[sv]=Mus & styr­platt­a
Name[ta]=சொடுக்கி மற்றும் தொடுதிட்டு
Name[te]=మౌసు మరియు టచ్‌ప్యాడ్
Name[tg]=Муш ва панели ламсӣ
Name[tr]=Fare ve Dokunmatik Yüzey
Name[ug]=چاشقىنەك ۋە سەزگۈر تاختا
Name[uk]=Миша та сенсорний пристрій
Name[vi]=Chuột & Touchpad
Name[zh_CN]=鼠标和触摸板
Name[zh_HK]=滑鼠和觸控板
Name[zh_TW]=滑鼠與觸控板
Name=Mouse & Touchpad (container)
Comment[af]=Verander sensitiwiteit van die muis of raakblad en kies regs- of linkerhandigheid
Comment[an]=Cambiar a sensibilidat d'o tuyo ratet u lo tuyo touchpad y configurar-los ta cuchos u diestros
Comment[ar]=غيّر حساسية الشاشة و لوح اللمس و اختر اليد اليمنى أم اليسرى
Comment[as]=আপোনাৰ মাউছ অথবা টাচপেডৰ সংবেদনশীলতা পৰিবৰ্তন কৰক আৰু সোঁ অথবা বাঁও হাত বাছক
Comment[be]=Настройка чуласці мышы і чулай панэлі, а таксама падгонка мышы пад ляўшу
Comment[bg]=Избор на чувствителността на мишката или сензорния панел и дали е за лява или дясна ръка
Comment[bn_IN]=আপনার মাউস বা টাচপ্যাড সংবেদনশীল পরিবর্তন করুন এবং ডান বা বাম-হাতের দিক নির্বাচন করুন
Comment[bs]=Promijeni osjetljivost svog miša ili dodirne ploče i odaberi za dešnjaka ili ljevaka
Comment[ca]=Canvieu la sensibilitat del ratolí i del ratolí tàctil i seleccioneu l'ús per dretans o esquerrans
Comment[ca@valencia]=Canvieu la sensibilitat del ratolí i del ratolí tàctil i seleccioneu l'ús per dretans o esquerrans
Comment[ckb]=هەستیاری مشکەکەت و مشکی لاپتۆپەکەت بگۆڕە و دەستە ڕاست یان چەپ دیاری بکە
Comment[cs]=Změnit citlivost myši nebo touchpadu a vybrat ovládání pro praváky nebo leváky
Comment[da]=Skift følsomhed for din mus eller pegeplade og vælg højre- eller venstrehåndstilstand
Comment[de]=Die Empfindlichkeit Ihrer Maus oder Ihres Tastfelds ändern und für Rechts- oder Linkshänder einstellen
Comment[el]=Αλλάξτε την ευαισθησία του ποντικιού ή της επιφάνειας αφής και επιλέξτε λειτουργία δεξιόχειρου ή αριστερόχειρου
Comment[en_GB]=Change your mouse or touchpad sensitivity and select right or left-handed
Comment[eo]=Ŝanĝu vian musan aŭ tuŝplatan sentivecon kaj elektu dekstra- aŭ maldekstramana
Comment[es]=Cambiar la sensibilidad de su ratón o su «touchpad» y configurarlos para zurdos o diestros
Comment[et]=Hiire või puutepadja tundlikkuse ja käelisuse muutmine
Comment[eu]=Aldatu saguaren edo ukipen-panelaren sentikortasuna eta hautatu eskuin edo ezkerreko eskuarekin erabiltzea
Comment[fa]=تغییر میزان حساسیت موشی یا صفحه‌لمسی و انتخاب راست‌دست یا چپ‌دست بودن
Comment[fi]=Muuta hiiren tai kosketuslevyn herkkyyttä ja valitse kumpaa kättä käytät
Comment[fr]=Modifier la sensibilité du pavé tactile et choisir entre droitier ou gaucher
Comment[fur]=Cambie la sensibilitât di mouse e touchpad e selezione se par man diestre o çampe
Comment[gd]=Atharraich mothalachd na luchaige no a’ phada-suathaidh agad is tagh tè deas- no chlì-làmhach
Comment[gl]=Cambie a sensibilidade do seu rato ou área táctil e seleccione se é destro ou zurdo
Comment[gu]=તમારી માઉસ અને ટચપેડ સંવેદનશીલતાને બદલો અને જમણી અથવા ડાબી બાજુ પસંદ કરો
Comment[he]=שינוי העכבר שלך או רגישות משטח מגע ובחירת לחצן ראשי ימני או שמאלי
Comment[hi]=अपने माउस या संवेदनशीलता टचपैड बदलें और सही है या बाएँ हाथ का चयन करें
Comment[hr]=Promijenite osjetljivost touchpada i miša i odaberite lijevu ili desnu ruku
Comment[hu]=Egér vagy érintőtábla érzékenységének, bal vagy jobb kezességének módosítása
Comment[id]=Ubah sensitivitas tetikus atau touchpad Anda dan pilih kidal atau bukan
Comment[is]=Breyttu næmni músar eða snertiplatta og veldu rétt- eða örvhent
Comment[it]=Cambia la sensibilità di mouse e touchpad e seleziona se per mano destra o sinistra
Comment[ja]=マウスやタッチパッドの感度の変更、利き手の選択をします
Comment[kk]=Тышқан немесе тачпад сезімталдығын өзгертіңіз және оң немесе солақай режимін көрсетіңіз
Comment[kn]=ನಿಮ್ಮ ಮೌಸ್‌ ಅಥವ ಟಚ್‌ಪ್ಯಾಡ್ ಸಂವೇದಶೀಲನೆ  ಅನ್ನು ಬದಲಾಯಿಸಿ ಮತ್ತು ಬಲ ಅಥವ ಎಡ-ಕೈ ಅನ್ನು ಆಯ್ಕೆ ಮಾಡಿ
Comment[ko]=마우스 및 터치패드 민감도를 바꾸고 오른손잡이용인지 왼손잡이용인지 설정합니다
Comment[lt]=Keiskite pelės ar jutiklinio kilimėlio jautrumą bei pasirinkite kairiarankio ar dešiniarankio veikseną
Comment[lv]=Mainiet savas peles vai skārienpaliktņa jutīgumu un izvēlieties, vai izmantot labroču vai kreiļu režīmu
Comment[ml]=മൌസ് അല്ലെങ്കില്‍ ടച്ച്പാഡ് കൃത്യത മാറ്റുക പിന്നെ വലംകൈ/ഇടംകൈ തെരഞ്ഞെടുക്കുക
Comment[mr]=माऊस किंवा टचपॅड संवेदनशिलता बदलवा आणि उजवे किंवा डावखुरा पसंत करा
Comment[ms]=Ubah kepekaan tetikus atau pad sentuh anda dan pilih sama ada kanan atau kidal
Comment[nb]=Endre sensitivitet for mus eller pekeplate og velg om du er høyrehendt eller venstrehendt
Comment[nl]=De gevoeligheid van muis of touchpad wijzigen en rechts- of linkshandig kiezen
Comment[oc]=Modificar la sensibilitat del pavat tactil e causir entre dreitièr o esquerrièr
Comment[or]=ଆପଣଙ୍କର ମାଉସ ଏବଂ ଟଚପ୍ୟାଡ଼୍‌ ସମ୍ବେଦନଶୀଳତାକୁ ପରିବର୍ତ୍ତନ କରନ୍ତୁ ଏବଂ ଡ଼ାହାଣ କିମ୍ବା ବାମ ପାଖକୁ ବାଛନ୍ତୁ
Comment[pa]=ਆਪਣੇ ਮਾਊਸ ਜਾਂ ਟੱਚਪੈਡ ਦੀ ਸੰਵੇਦਨਸ਼ੀਲਤਾ ਬਦਲੋ ਅਤੇ ਸੱਜੇ ਜਾਂ ਖੱਬੇ-ਹੱਥ ਦੀ ਚੋਣ ਕਰੋ
Comment[pl]=Zmiana wrażliwości myszy i panelu dotykowego oraz wybór trybu praworęcznego lub leworęcznego
Comment[pt]=Alterar a sensibilidade do seu rato ou rato por toque e escolher entre destro ou canhoto
Comment[pt_BR]=Altere a sensibilidade do seu mouse ou touchpad e selecione modo canhoto ou destro
Comment[ro]=Schimbați sensibilitatea mausului sau a touchpad-ului și selectați orientarea de mână dreaptă sau stângă
Comment[ru]=Изменение чувствительности мыши или сенсорной панели, а также настройки кнопок для правши или левши
Comment[sk]=Mení citlivosť vašej myši a touchpadu a umožňuje vybrať, či má byť pre ľavákov alebo pravákov
Comment[sl]=Spremenite občutljivost svoje miške ali drsne ploščice in izberite desno ali levo ročnost
Comment[sr]=Промените осетљивост миша или додирне табле и изаберите леворукост или деснорукост
Comment[sr@latin]=Promenite osetljivost miša ili dodirne table i izaberite levorukost ili desnorukost
Comment[sv]=Ändra din mus- eller styrplattekänslighet och välj höger- eller vänsterhänt
Comment[ta]=உங்கள் சொடுக்கி அல்லது தொடுதிட்டின் உணர்திறனை மாற்றவும், வலதுகைப் பழக்கமா இடதுகைப் பழக்கமா எனத் தேர்ந்தெடுக்கவும்
Comment[te]=మీ మౌస్ లేదా టచ్‌పాడ్ సెన్సిటివిటిని మార్చు మరియు కుడి లేదా ఎడమచేతి-వాటం యెంపికచేయండి
Comment[tg]=Тағйир додани ҳассосияти муш ё панели ламсӣ ва имконоти истифодаи дасти рост ё чап
Comment[th]=ตั้งความไวของเมาส์หรือทัชแพดของคุณ และเลือกใช้เมาส์มือขวาหรือมือซ้าย
Comment[tr]=Farenizin veya dokunmatik yüzeyin duyarlılığını değiştirin ve sağ veya sol elle kullanımı ayarlayın
Comment[uk]=Змінити чутливість вашої миші та сенсорного пристрою і вибрати руку
Comment[vi]=Thay đổi độ nhạy chuột và touchpad và chọn thuận tay phải/trái
Comment[zh_CN]=改变鼠标和触摸板灵敏度，并选择右手或左手习惯
Comment[zh_HK]=改變你的滑鼠或控制板靈敏度並選擇慣用右手或左手
Comment[zh_TW]=改變您的滑鼠或控制板靈敏度並選擇慣用右手或左手
Comment=Change your mouse or touchpad sensitivity and select right or left-handed
Exec=toolbox run gnome-control-center mouse
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/input-mouse.png
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;HardwareSettings;X-GNOME-Settings-Panel;X-GNOME-DevicesSettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=mouse
X-GNOME-Bugzilla-Version=3.38.2
# Translators: Search terms to find the Mouse and Touchpad panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[af]=raakblad;wyser;klik;kliek;raak;dubbel;knoppie;rolbal;rol;
Keywords[an]=Trackpad;Puntero;Click;Tap;Dople;Botón;Trackball;Desplazamiento;
Keywords[ar]=فأرة;مؤشر;نقر;مزدوج;زر;لمس;
Keywords[as]=ট্ৰেকপেড;পোইন্টাৰ;ক্লিক;টেপ;দুবাৰ;বুটাম;ট্ৰেকবল;স্ক্ৰল;
Keywords[be]=Чулая панэль;Паказальнік;Пстрычка;Дотык;Падвойная пстрычка;Кнопка;Трэкбол;Пракрутка;
Keywords[bg]=сензорен панел;показалец;натискане;кликане;кликване;почукване;двойно натискане;бутон;джойстик;придвижване;trackpad;pointer;click;tap;double;button;trackball;scroll;
Keywords[bn_IN]=ট্র্যাকপ্যাড;পয়েন্টার;ক্লিক;আলতো চাপুন;দ্বৈত;বোতাম;ট্র্যাকবল;স্ক্রোল;
Keywords[bs]=Podloga za traganje;Pokazivač;Klik;Tapši;Duplo;Dugme; Kugla za traganje;Spuštanje;
Keywords[ca]=Ratolí tàctil;Punter;Clic;Toc;Doble;Botó;Ratolí de bola;Desplaça;
Keywords[ca@valencia]=Ratolí tàctil;Punter;Clic;Toc;Doble;Botó;Ratolí de bola;Desplaça;
Keywords[ckb]=تراکپاد;نیشاندەر;کرتە;پەنجە لێدان;جووت;دوگمە;گۆسووڕ;پێچۆکە;
Keywords[cs]=trackpad;ukazatel;kliknutí;klepnutí;dvojité;tlačítko;trackball;posuv;posouvat;
Keywords[da]=Pegeplade;Markør;Klik;Prik;Dobbelt;Knap;Trackball;Rul;Rulning;
Keywords[de]=Trackpad;Zeiger;Mauszeiger;Klick;Doppelklick;Maustaste;Trackball;Bildlauf;
Keywords[el]=Πινακίδα αφής;Δείκτης;Πάτημα;Πληκτρολόγηση;Κουμπί;Ιχνοσφαίρα;κύλιση;Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;
Keywords[en_GB]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;Touchpad;
Keywords[eo]=Tuŝplato;Musmontrilo;Alklako;Frapeto;Butono;Stirglobo;Rulumi;
Keywords[es]=trackpad;puntero;pulsar;pulsación;doble;botón;trackball;desplazamiento;
Keywords[et]=Puutepadi;Kursor;Klõps;Topelt;Nupp;Kerimine;
Keywords[eu]=Trackpad;Erakuslea;Klik;Sakatu;Bikoitza;Botoia;Trackball;Korritu;
Keywords[fa]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;صفحه‌جهت‌ده;نشانگر;کلیک;ضربه;دوبار;دکمه;صفحه ردیاب;لغزش;
Keywords[fi]=Kosketuslevy;Trackpad;Osoitin;Kohdistin;Napsauta;Klikkaa;Painike;Nappi;Kaksois;Pallohiiri;Trackball;vieritä;Tap;Double;Button;Tuplaklikkaa;Kaksois;Scroll;
Keywords[fr]=Pavé;Tactile;Pointeur;Clic;Frappe;Double;Bouton;Boule;Défilement;
Keywords[fur]=Trackpad;Cursôr;Cursôr;Clic;Tap;Dopli;Boton;Trackball;Cursôr;Scroll;Scoriment;
Keywords[ga]=Ceap Rianaithe;Pointeoir;Cliceáil;Cnag;Déchliceáil;Cnaipe;Rianliathróid;Scrollaigh;
Keywords[gd]=Pada-suathaidh;Tomhaire;Briog;Gnogag;Dùbailte;Ball-lorgaire;Sgrolaich;Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;
Keywords[gl]=Área táctil;Punteiro;Premer;Dobre;Pulsación;Botón;Desprazamento;
Keywords[gu]=ટ્રેકપેડ;નિર્દેશક;ક્લિક;ટેપ;બમણું;બટન;ટ્રેકબોલ;સ્ક્રોલ;
Keywords[he]=משטח מגע;סמן;לחיצה;טפיחה;כפולה;לחצן;כדור שליטה;
Keywords[hi]=ट्रैकपैड;सूचक;क्लिक करें;टैब;डबल;बटन;ट्रैकबॉल;स्क्रॉल;
Keywords[hr]=Klizna površina;Pokazivač;Klik;Dodir;Dvostruk;Tipka;Klizna kugla;Pomakni;
Keywords[hu]=Érintőtábla;Tapipad;Mutató;Kattintás;Koppintás;Dupla;Gomb;Hanyattegér;Görgetés;Gördítés;
Keywords[id]=Trackpad;Pointer;Klik;Sentuh;Ganda;Tombol;Trackball;Gulir;
Keywords[is]=Snertiplatti;Bendill;Smella;Slá;Tvísmella;Hnappur;Bendilkúla;Skrun;
Keywords[it]=Trackpad;Puntatore;Click;Clic;Tap;Doppio;Pulsante;Trackball;Cursore;Scroll;Scorrimento;
Keywords[ja]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;トラックパッド;ポインター;クリック;タップ;ダブル;ボタン;トラックボール;スクロール;Mouse;Touchpad;マウス;タッチパッド;
Keywords[kk]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;Трекпад;Курсор;Шерту;Тию;Қос;Батырма;Трекбол;Скролл;Айналдыру;
Keywords[kn]=ಟ್ರ್ಯಾಕ್‌ಪ್ಯಾಡ್;ಸೂಚಕ;ಕ್ಲಿಕ್;ಟ್ಯಾಪ್;ಜೋಡಿ;ಗುಂಡಿ;ಟ್ರ್ಯಾಕ್‌ಬಾಲ್;ಸ್ಕ್ರಾಲ್;
Keywords[ko]=Trackpad;트랙패드;Pointer;포인터;Click;클릭;누르기;Tap;두드리기;Double;더블;Button;버튼;단추;Trackball;트랙볼;Scroll;스크롤;
Keywords[lt]=Sekantis paviršius;Žymiklis;Paspaudimas;Taukštelėjimas;Dvigubas;Mygtukas;Rutulinis manipuliatorius;Slinkiklis;
Keywords[lv]=Skārienpaliktnis;Rādītājs;Klikšķis;Uzsitiens;Dubults;Poga;Kursorbumba;Ritināt;Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;
Keywords[mjw]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;
Keywords[ml]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;
Keywords[mr]=ट्रॅकपॅड;पॉइंटर;क्लिक;टॅप;डबल;बटन;ट्रॅकबॉल;स्क्रोल;
Keywords[ms]=Pad Jejak;Penuding;Klik;Ketik;Dubel;Butang;Bebola Jejak;Tatal;
Keywords[nb]=Styrepute;Peker;Klikk;Tapp;Dobbel;Knapp;Styrekule;Rull;
Keywords[ne]=ट्रयाकप्याड; सूचक; क्लिक; ट्याप; डबल; बटन; ट्रयाक्बल;स्कोल;
Keywords[nl]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;Aanwijzer;Klik;Tik;Dubbel;Knop;
Keywords[oc]=Pavat;Tactil;Puntador;Clic;Quichada;Doble;Boton;Bola;Desfilament;
Keywords[or]=ଟ୍ରାକପ୍ୟାଡ଼;ସୂଚକ;କ୍ଲିକ;ଟ୍ୟାପ;ଦିଗୁଣ;ବଟନ;ଟ୍ରାକବଲ;ସ୍କ୍ରୋଲ୍‌;
Keywords[pa]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;ਟਰੈਕਪੈਂਡ;ਪੁਆਇੰਟਰ;ਕਲਿੱਕ;ਟੈਪ;ਡਬਲ;ਬਟਨ;ਟਰੈਕਬਾਲ;Scroll;
Keywords[pl]=Trackpad;Kursor;Wskaźnik;Wskazywanie;Kliknięcie;Puknięcie;Stuknięcie;Pacnięcie;Podwójne;Przycisk;Trackball;Touchpad;Przewijanie;
Keywords[pt]=Trackpad;Ponteiro;Clique;Toque;Duplo;Botão;Trackball;Deslocar;
Keywords[pt_BR]=Trackpad;Ponteiro;Clicar;Tap;Toque;Batida;Duplo;Botão;Trackball;Rolagem;Scroll;
Keywords[ro]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;Clic;Derulare;
Keywords[ru]=Трэкпад;Указатель;Щелчок;Нажатие;Двойной;Кнопка;Трэкбол;Прокрутка;
Keywords[sk]=Trackpad;Ukazovateľ;Kurzor;Klik;Dotyk;Dvojité;Tlačidlo;Trackball;Rolovanie;Posúvanie;
Keywords[sl]=Sledilna ploščica;Kazalnik;Klik;Udarjanje;Dvojni;Gumb;Sledilna kroglica;Drsnik;
Keywords[sr]=плоча;показивач;клик;додир;дупло;дугме;куглица;клизање;
Keywords[sr@latin]=ploča;pokazivač;klik;dodir;duplo;dugme;kuglica;klizanje;
Keywords[sv]=Styrplatta;Muspekare;Klick;Slå lätt;Dubbel;Knapp;Trackball;Rulla;
Keywords[ta]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;
Keywords[te]=ట్రాక్‌పాడ్;సూచకి;నొక్కు;టాప్;డబుల్;బటన్;ట్రాక్‌బాల్;స్క్రాల్;
Keywords[tg]=:Панели пайгирӣ;Нишондиҳанда;Зер кардан;Зарба задан;Дубора;Тугма;Трекбол;Ҳаракат;
Keywords[th]=ทัชแพด;ตัวชี้;คลิก;แตะ;ดับเบิล;ปุ่ม;แทร็กบอล;เลื่อน;
Keywords[tr]=Trackpad;İzleme Yüzeyi;İşaretçi;Tıklama;Vurma;Çift;Düğme;Trackball;Kaydırma;
Keywords[uk]=Сенсор;Вказівник;Клік;Стукіт;Подвійний;Кнопка;Кулька;Прокрутити;
Keywords[vi]=Trackpad;Pointer;Con;trỏ;tro;Click;Nhấn;Nhắp;Nhan;Nhap;Tap;Double;Dup;Button;Nút;Nut;Trackball;Scroll;cuộn;cuon;
Keywords[zh_CN]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;触摸板;指针;触摸;单击;双击;按钮;轨迹球;滚动;
Keywords[zh_HK]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;觸控板;指標;點擊;輕觸;連按兩下;按鈕;軌跡球;捲動;
Keywords[zh_TW]=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;觸控板;指標;點擊;輕觸;雙擊;按鈕;軌跡球;捲動;
Keywords=Trackpad;Pointer;Click;Tap;Double;Button;Trackball;Scroll;
