[Desktop Entry]
Name[be]=Thunderbolt
Name[bn_IN]=থান্ডারবোল্ট
Name[ca]=Thunderbolt
Name[ckb]=سەندەربۆڵت
Name[cs]=Thunderbolt
Name[da]=Thunderbolt
Name[de]=Thunderbolt
Name[el]=Thunderbolt
Name[en_GB]=Thunderbolt
Name[eo]=Thunderbolt
Name[es]=Thunderbolt
Name[eu]=Thunderbolt
Name[fa]=تاندربولت
Name[fi]=Thunderbolt
Name[fr]=Thunderbolt
Name[fur]=Thunderbolt
Name[gl]=Thunderbolt
Name[he]=Thunderbolt
Name[hr]=Thunderbolt
Name[hu]=Thunderbolt
Name[id]=Thunderbolt
Name[is]=Thunderbolt
Name[it]=Thunderbolt
Name[ja]=Thunderbolt
Name[kk]=Thunderbolt
Name[ko]=썬더볼트
Name[lt]=Thunderbolt
Name[lv]=Thunderbolt
Name[mjw]=Thunderbolt
Name[ms]=Thunderbolt
Name[nb]=Thunderbolt
Name[nl]=Thunderbolt
Name[oc]=Thunderbolt
Name[pa]=ਥੰਡਰਬੋਲਟ
Name[pl]=Thunderbolt
Name[pt]=Thunderbolt
Name[pt_BR]=Thunderbolt
Name[ro]=Thunderbolt
Name[ru]=Thunderbolt
Name[sk]=Thunderbolt
Name[sl]=Thunderbolt
Name[sr]=Тандерболт
Name[sv]=Thunderbolt
Name[tr]=Thunderbolt
Name[uk]=Thunderbolt
Name[zh_CN]=雷雳
Name[zh_TW]=Thunderbolt
Name=Thunderbolt (container)
Comment[be]=Кіраваць прыладамі Thunderbolt
Comment[bn_IN]=থান্ডারবোল্ট ডিভাইসগুলি পরিচালনা করুন
Comment[ca]=Administra dispositius Thunderbolt
Comment[cs]=Spravujte zařízení Thunderbolt
Comment[da]=Håndtér Thunderbolt-enheder
Comment[de]=Thunderbolt-Geräte verwalten
Comment[el]=Διαχείριση συσκευών Thunderbolt
Comment[en_GB]=Manage Thunderbolt devices
Comment[eo]=Mastrumi Thunderbolt aparatojn
Comment[es]=Gestionar dispositivos Thunderbolt
Comment[eu]=Kudeatu Thunderbolt gailuak
Comment[fa]=مدیریت دستگاه‌های تاندربولت
Comment[fi]=Hallitse Thunderbolt-laitteita
Comment[fr]=Gérer les périphériques Thunderbolt
Comment[fur]=Gjestìs i dispositîfs Thunderbolt
Comment[gl]=Xestionar dispositivos Thunderbolt
Comment[he]=ניהול התקני Thunderbolt
Comment[hr]=Upravljaj Thunderbolt uređajima
Comment[hu]=Thunderbolt eszközök kezelése
Comment[id]=Kelola perangkat Thunderbolt
Comment[is]=Sýsla með Thunderbolt-tæki
Comment[it]=Gestisce dispositivi Thunderbolt
Comment[ja]=Thunderbolt デバイスを管理します
Comment[kk]=Thunderbolt құрылғыларын басқару
Comment[ko]=썬더볼트 장치를 관리합니다
Comment[lt]=Tvarkyti Thunderbolt įrenginius
Comment[lv]=Pārvaldīt Thunderbolt ierīces
Comment[ms]=Urus peranti-peranti Thunderbolt
Comment[nb]=Håndter Thunderbolt-enheter
Comment[nl]=Thunderbolt-apparaten beheren
Comment[oc]=Gerir los periferics Thunderbolt
Comment[pa]=ਥੰਡਰਬੋਲਟ ਡਿਵਾਈਸਾਂ ਦਾ ਇੰਤਜ਼ਾਮ ਕਰੋ
Comment[pl]=Zarządzanie urządzeniami Thunderbolt
Comment[pt]=Gerir dispositivos Thunderbolt
Comment[pt_BR]=Gerencie dispositivos Thunderbolt
Comment[ro]=Administrează dispozitive Thunderbolt
Comment[ru]=Управление устройствами Thunderbolt
Comment[sk]=Spravuje zariadenia Thunderbolt
Comment[sl]=Upravljanje naprav Thunderbolt
Comment[sr]=Управљај Тандерболт уређајима
Comment[sv]=Hantera Thunderbolt-enheter
Comment[tr]=Thunderbolt aygıtlarını yönet
Comment[uk]=Керування пристроями Thunderbolt
Comment[zh_CN]=管理雷雳设备
Comment[zh_TW]=管理 Thunderbolt 裝置
Comment=Manage Thunderbolt devices
Exec=toolbox run gnome-control-center thunderbolt
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=thunderbolt
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
Categories=GNOME;GTK;Settings;X-GNOME-Settings-Panel;HardwareSettings;X-GNOME-PrivacySettings;
OnlyShowIn=GNOME;Unity;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-control-center
X-GNOME-Bugzilla-Component=thunderbolt
X-GNOME-Bugzilla-Version=3.38.2
# Translators: those are keywords for the thunderbolt control-center panel. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bn_IN]=থান্ডারবোল্ট;গোপনীয়তা;
Keywords[ca]=Thunderbolt;privadesa;
Keywords[cs]=Thunderbolt;soukromí;
Keywords[da]=Thunderbolt;privatliv;
Keywords[de]=Thunderbolt;Privatsphäre;
Keywords[el]=Thunderbolt;ιδιωτικότητα;
Keywords[en_GB]=Thunderbolt;privacy;
Keywords[es]=Thunderbolt;privacidad;
Keywords[eu]=Thunderbolt;pribatutasuna;
Keywords[fa]=Thunderbolt;Privacy;تاندربولت;محرمانگی;حریم شخصی;حریم خصوصی;
Keywords[fi]=Thunderbolt;privacy;yksityisyys;
Keywords[fr]=Thunderbolt;vie privée;confidentialité;
Keywords[fur]=Thunderbolt;privacy;riservatece;
Keywords[gl]=Thunderbolt;privacidade;
Keywords[he]=Thunderbolt;פרטיות;
Keywords[hr]=Thunderbolt;privatnost;
Keywords[hu]=Thunderbolt;adatvédelem;
Keywords[id]=Thunderbolt;privasi;
Keywords[it]=Thunderbolt;privacy;
Keywords[ja]=Thunderbolt;privacy;プライバシー;
Keywords[kk]=Thunderbolt;privacy;жекелік;
Keywords[ko]=Thunderbolt;썬더볼트;선더볼트;privacy;보안;개인;정보;보호;
Keywords[lt]=Thunderbolt;privatumas;
Keywords[lv]=Thunderbolt;Privātums;
Keywords[nl]=Thunderbolt;privacy;
Keywords[pl]=Thunderbolt;prywatność;
Keywords[pt]=Thunderbolt;privacidade;
Keywords[pt_BR]=Thunderbolt;privacidade;
Keywords[ro]=Thunderbolt;privacy;confidențialitate;
Keywords[sk]=Thunderbolt;súkromie;
Keywords[sl]=Thunderbolt;zasebnost;
Keywords[sr]=Thunderbolt;Тандерболт;Тхундерболт;Tanderbolt;приватност;privatnost;
Keywords[sv]=Thunderbolt;sekretess;
Keywords[tr]=Thunderbolt;gizlilik;
Keywords[uk]=Thunderbolt;тандерболт;конфіденційність;
Keywords[zh_CN]=Thunderbolt;privacy;雷雳;雷电;隐私;
Keywords[zh_TW]=Thunderbolt;privacy;隱私;
Keywords=Thunderbolt;privacy;
