[Desktop Entry]
Name=Widget Factory (container)
Comment=A showcase for GTK+ widgets, designed for testing themes.
Exec=toolbox run gtk3-widget-factory
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/hicolor/256x256/apps/gtk3-widget-factory.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;GTK;
NoDisplay=true
