[Desktop Entry]
Name=Icon Browser (container)
Comment=An application that shows themed icons
Exec=toolbox run gtk3-icon-browser
Icon=gtk3-icon-browser
Terminal=false
Type=Application
StartupNotify=true
Categories=Development;GTK;
NoDisplay=true
