[Desktop Entry]
Name[as]=ৰঙৰ আলেখ্য দৰ্শক
Name[bg]=Преглед на цветови профили
Name[bn_IN]=কালার প্রোফাইল প্রদর্শক
Name[bs]=Preglednik profila boja
Name[ca]=Visualitzador del perfil de color
Name[ca@valencia]=Visualitzador del perfil de color
Name[cs]=Prohlížeč profilů barev
Name[da]=Farveprofilfremviser
Name[de]=Farbprofilbetrachter
Name[el]=Προβολή προφίλ χρωμάτων
Name[en_GB]=Colour Profile Viewer
Name[eo]=Kolorprofila vidigilo
Name[es]=Visor de perfiles de color
Name[et]=Värviprofiilide näitaja
Name[eu]=Kolore-profilaren ikustailea
Name[fa]=نمایشگر مجوعه‌تنظیمات رنگ
Name[fi]=Väriprofiilin katselin
Name[fr]=Visionneur de profil de couleurs
Name[fur]=Visualizadôr di profîi colôrs
Name[gd]=Sealladair nam pròifilean dhathan
Name[gl]=Visor de perfiles de cor
Name[gu]=રંગ રૂપરેખા દર્શક
Name[he]=מציג פרופילי הצבע
Name[hi]=रंग प्रोफ़ाइल दर्शक
Name[hr]=Preglednik profila boja
Name[hu]=Színprofil-megjelenítő
Name[id]=Penampil Profil Warna
Name[is]=Litasniðaskoðari
Name[it]=Visualizzatore profili colore
Name[ja]=カラープロファイルビューアー
Name[kn]=ಬಣ್ಣದ ಪ್ರೊಫೈಲ್ ವೀಕ್ಷಕ
Name[ko]=색 프로파일 보기
Name[lt]=Spalvų profilio žiūryklė
Name[lv]=Krāsu profila skatītājs
Name[mr]=रंग प्रोफाइल दर्शक
Name[ms]=Pelihat Profil Warna
Name[nb]=Visning av fargeprofil
Name[ne]=रङ्ग प्रोफाइल हर्ने
Name[nl]=Kleurprofielenviewer
Name[oc]=Visionador de perfil de colors
Name[or]=ରଙ୍ଗ ରୂପରେଖା ପ୍ରଦର୍ଶକ
Name[pa]=ਰੰਗ ਪਰੋਫਾਇਲ ਦਰਸ਼ਕ
Name[pl]=Podgląd profilu kolorów
Name[pt]=Visualizador de perfis de cor
Name[pt_BR]=Visualizador de perfil de cor
Name[ro]=Vizualizator profiluri de culoare
Name[ru]=Просмотрщик цветовых профилей
Name[sk]=Prehliadač farebných profilov
Name[sl]=Pregledovalnik barvnih profilov
Name[sr]=Прегледач профила боја
Name[sr@latin]=Pregledač profila boja
Name[sv]=Färgprofilvisare
Name[ta]=நிற வரியுரு காட்சியாளன்
Name[te]=రంగు ప్రొఫైల్ దర్శని
Name[tg]=Намоишгари профили ранг
Name[tr]=Renk Profili Görüntüleyici
Name[ug]=رەڭ Profile نى كۆرگۈ
Name[uk]=Переглядача профілів кольору
Name[vi]=Xem hồ sơ màu
Name[zh_CN]=配置查看器
Name[zh_HK]=色彩描述檔檢視器
Name[zh_TW]=色彩描述檔檢視器
Name=Color Profile Viewer (container)
Comment[as]=ইনস্টল থকা ৰঙৰ আলেখ্যসমূহ নীৰিক্ষণ আৰু তুলনা কৰক
Comment[bg]=Изследване и сравняване на инсталирани цветови профили
Comment[bn_IN]=ইনস্টল করা রঙ প্রোফাইলের তুলনা এবং পরিদর্শন করুন
Comment[bs]=Analiza i poređenje instaliranih profila boja
Comment[ca]=Inspeccioneu i compareu els perfils de color instal·lats
Comment[ca@valencia]=Inspeccioneu i compareu els perfils de color instal·lats
Comment[cs]=Prozkoumat a porovnat nainstalované profily barev
Comment[da]=Inspicér og sammenlign installerede farveprofiler
Comment[de]=Installierte Farbprofile überprüfen und vergleichen
Comment[el]=Επιθεώρηση και σύγκριση εγκατεστημένων προφίλ χρώματος
Comment[en_GB]=Inspect and compare installed colour profiles
Comment[eo]=Inspekti kaj kompari instalitajn kolorprofilojn
Comment[es]=Inspeccionar y comparar perfiles de color instalados
Comment[et]=Paigaldatud värviprofiilide vaatamine ja võrdlemine
Comment[eu]=Gainbegiratu eta konparatu instalatutako kolore-profilak
Comment[fa]=نصب و مقایسه مجموعه‌تنظیمات رنگ‌های نصب شده
Comment[fi]=Tutki ja vertaa asennettuja väriprofiileja
Comment[fr]=Examine et compare les profils de couleurs installés
Comment[fur]=Esamine e confronte i profîi di colôr instalâts
Comment[gd]=Sgrùd is dèan coimeas eadar na pròifilean dhathan a chaidh a stàladh
Comment[gl]=Inspeccionar e comparar perfiles de cor instalados
Comment[gu]=સ્થાપિત થયેલ રંગ રૂપરેખાનું નિરીક્ષણ અને સરખામણી કરો
Comment[he]=ניתוח והשוואה של פרופילי הצבע המתוקנים
Comment[hi]=संस्थापित रंग प्रोफाइल की तुलना और निरीक्षण करें
Comment[hr]=Provjerite i ispitajte instalirane profile boja
Comment[hu]=Telepített színprofilok vizsgálata és összehasonlítása
Comment[id]=Periksa dan bandingkan profil warna yang terpasang
Comment[is]=Skoða og bera saman uppsett litasnið
Comment[it]=Esamina e compara i profili colore installati
Comment[ja]=インストールされたカラープロファイルの検査・比較
Comment[kn]=ಅನುಸ್ಥಾಪಿಸಲಾದ ಬಣ್ಣದ ಪ್ರೊಫೈಲ್‌ಗಳನ್ನು ಪರಿಶೀಲಿಸುವ ಮತ್ತು ಹೋಲಿಸು
Comment[ko]=설치한 시스템 색 프로파일 점검 및 비교
Comment[lt]=Tikrinti ir lyginti įdiegtus spalvų profilius
Comment[lv]=Izpētīt un salīdzināt instalētos krāsu profilus
Comment[ml]=ഇന്‍സ്റ്റോള്‍ ചെയ്ത കളര്‍ പ്രൊഫൈലുകള്‍ നിരീക്ഷിച്ചു് താരതമ്യപ്പെടുത്തുക
Comment[mr]=प्रतिष्ठापीत रंग प्रोफाइल्सची चौकशी व तुलना करा
Comment[ms]=Periksa dan bandingkan profil warna terpasang
Comment[nb]=Inspiser og sammenligne installerte fargeprofiler
Comment[nl]=Geïnstalleerde kleurprofielen inzien en vergelijken
Comment[oc]=Examina e compara los perfils de colors installats
Comment[or]=ସ୍ଥାପିତ ରଙ୍ଗ ରୂପରେଖାଗୁଡ଼ିକୁ ନିରୀକ୍ଷଣ କରି ତୁଳନା କରନ୍ତୁ
Comment[pa]=ਇੰਸਟਾਲ ਹੋਏ ਰੰਗ ਪਰੋਫਾਇਲ ਦੀ ਜਾਂਚ ਤੇ ਤੁਲਨਾ ਕਰੋ
Comment[pl]=Badanie i porównywanie zainstalowanych profilów kolorów
Comment[pt]=Inspecionar e comparar os perfis de cor instalados
Comment[pt_BR]=Inspecionar e comparar perfis de cores instalados
Comment[ro]=Verifică și compară profilurile de culoare instalate
Comment[ru]=Исследование и сравнение установленных цветовых профилей
Comment[sk]=Preskúmava a porovnáva nainštalované farebné profily
Comment[sl]=Nadzor in primerjava nameščenih barvnih profilov
Comment[sr]=Проверите и упоредите инсталиране профиле боја
Comment[sr@latin]=Proverite i uporedite instalirane profile boja
Comment[sv]=Inspektera och jämför installerade färgprofiler
Comment[ta]=நிறுவப்பட்ட நிற வரையுருக்களை பார்த்து ஒப்பிடுக
Comment[te]=సంస్థాపిత రంగు ప్రొఫైల్స్ తనిఖీచేయి మరియు సరిపోల్చు
Comment[tg]=Тафтиш ва муқоисаи профилҳои ранги насбшуда
Comment[tr]=Yüklü renk profillerini inceleyin ve karşılaştırın
Comment[ug]=ئورنىتىلغان رەڭ Profile لىرىنى تەكشۈرۈش ۋە سېلىشتۇرۇش پروگراممىسى
Comment[uk]=Перевірити та порівняти встановлені профілі кольорів
Comment[vi]=Xem xét và so sánh hồ sơ màu đã cài đặt
Comment[zh_CN]=检查并比较已安装的色彩配置文件
Comment[zh_HK]=檢查並比較已安裝的色彩描述檔
Comment[zh_TW]=檢查並比較已安裝的色彩描述檔
Comment=Inspect and compare installed color profiles
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/hicolor/scalable/apps/gnome-color-manager.svg
Exec=toolbox run gcm-viewer
Terminal=false
Type=Application
Categories=GNOME;GTK;System;
NotShowIn=GNOME;
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[bg]=цвят;колориметър;калиблрация;цветови;профил;color;icc;
Keywords[bs]=Boja;ICC;
Keywords[ca]=Color;ICC;
Keywords[ca@valencia]=Color;ICC;
Keywords[cs]=barva;ICC;
Keywords[da]=Farve;ICC;
Keywords[de]=Farbe;ICC;
Keywords[el]=Χρώμα;ICC;
Keywords[en_GB]=Colour;ICC;
Keywords[eo]=Koloro;ICC;
Keywords[es]=Color;ICC;
Keywords[et]=Värvus;Värvid;ICC;Värvihaldus;
Keywords[eu]=Kolorea;ICC;
Keywords[fa]=Color;ICC;رنگ;
Keywords[fi]=Color;ICC;Väri;
Keywords[fr]=Couleur;ICC;
Keywords[fur]=Colôr;ICC;
Keywords[gd]=Color;ICC;dath;colour;
Keywords[gl]=Cor;ICC;
Keywords[gu]=રંગ;ICC;
Keywords[he]=צבע;ICC;
Keywords[hr]=Boja;ICC;
Keywords[hu]=Szín;ICC;
Keywords[id]=Warna;ICC;
Keywords[is]=Litur;ICC;
Keywords[it]=Colore;ICC;
Keywords[ja]=Color;ICC;色;カラー;
Keywords[kk]=Color;ICC;Түс;
Keywords[ko]=Color;ICC;색;
Keywords[lt]=Spalva;ICC;
Keywords[lv]=Krāsa;ICC;
Keywords[ms]=Warna;ICC;
Keywords[nb]=Farge;ICC;
Keywords[ne]=रङ्ग;आइसिसी;
Keywords[nl]=Color;ICC;Kleur;
Keywords[oc]=Color;ICC;
Keywords[pl]=Kolor;Kolory;ICC;
Keywords[pt]=Cor;ICC;
Keywords[pt_BR]=Cor;Color;ICC;
Keywords[ro]=Color;ICC;Culoare;
Keywords[ru]=Цвет;ICC;
Keywords[sk]=farba;ICC;
Keywords[sl]=Barva;ICC;
Keywords[sr]=боја;ИЦЦ;
Keywords[sr@latin]=boja;ICC;
Keywords[sv]=Färg;ICC;
Keywords[tg]=Ранг;ICC;
Keywords[tr]=Renk;ICC;
Keywords[uk]=Колір;ICC;
Keywords[vi]=Color;Màu;Mau;ICC;
Keywords[zh_CN]=Color;ICC;颜色;色彩;
Keywords[zh_TW]=Color;ICC;顏色;
Keywords=Color;ICC;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-color-manager
X-GNOME-Bugzilla-Component=gnome-color-manager
