[Desktop Entry]
Name[af]=Netwerkaanmelding
Name[an]=Encetar sesión en o rete
Name[ar]=ولوج الشّبكة
Name[be]=Сеткавы ўваход
Name[bg]=Мрежов вход
Name[bn_IN]=নেটওয়ার্ক লগিন
Name[bs]=Mrežna prijava
Name[ca]=Inici de sessió de xarxa
Name[ca@valencia]=Inici de sessió de xarxa
Name[ckb]=چوونەژوورەوەی ڕایەڵە
Name[cs]=Přihlášení do sítě
Name[da]=Netværksindlogning
Name[de]=Netzwerkanmeldung
Name[el]=Σύνδεση δικτύου
Name[en_GB]=Network Login
Name[eo]=Reta saluto
Name[es]=Inicio de sesión de la red
Name[et]=Võrku sisselogimine
Name[eu]=Sareko saio-hasiera
Name[fa]=ورود شبکه‌ای
Name[fi]=Verkkokirjautuminen
Name[fr]=Identification réseau
Name[fur]=Acès di rêt
Name[ga]=Logáil Isteach Líonra
Name[gd]=Clàradh a-steach lìonraidh
Name[gl]=Inicio de sesión de rede
Name[he]=חיבורי רשת
Name[hr]=Mrežna prijava
Name[hu]=Hálózati bejelentkezés
Name[id]=Log Masuk Jaringan
Name[is]=Innskráning á neti
Name[it]=Accesso di rete
Name[ja]=ネットワークログイン
Name[kk]=Желілік кіру
Name[ko]=네트워크 로그인
Name[lt]=Tinklo prisijungimas
Name[lv]=Tīkla ierakstīšanās
Name[mjw]=Network Login
Name[ml]=നെറ്റ്​വര്‍ക്ക് ലോഗിന്‍
Name[ms]=Daftar Masuk Rangkaian
Name[nb]=Nettverkspålogging
Name[ne]=सञ्जाल लगईन
Name[nl]=Netwerkaanmelding
Name[oc]=Identificacion ret
Name[pa]=ਨੈੱਟਵਰਕ ਲਾਗਇਨ
Name[pl]=Logowanie do sieci
Name[pt]=Sessão na rede
Name[pt_BR]=Sessão de Rede
Name[ro]=Logare prin rețea
Name[ru]=Сетевая авторизация
Name[sk]=Sieťové prihlásenie
Name[sl]=Omrežna prijava
Name[sr]=Мрежна пријава
Name[sr@latin]=Mrežna prijava
Name[sv]=Nätverksinloggning
Name[tg]=Воридшавии шабакавӣ
Name[tr]=Ağ Girişi
Name[uk]=Мережевий вхід
Name[uz@cyrillic]=Тармоққа кириш
Name[vi]=Đăng nhập mạng
Name[zh_CN]=网络登录
Name[zh_TW]=網路登入
Name=Network Login (container)
Type=Application
Exec=toolbox run gapplication launch org.gnome.Shell.PortalHelper
DBusActivatable=false
NoDisplay=true
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/places/network-workgroup.png
StartupNotify=true
OnlyShowIn=GNOME;
