[Desktop Entry]
Name=Python (v3.8) (container)
Comment=Python Interpreter (v3.8)
Exec=toolbox run /usr/bin/python3.8
Icon=/usr/share/pixmaps/python3.8.xpm
Terminal=true
Type=Application
Categories=Development;
StartupNotify=true
NoDisplay=true
