[Desktop Entry]
Name[af]=Rygel
Name[ar]=رايجل
Name[as]=Rygel
Name[be]=Rygel
Name[bg]=Rygel
Name[bn_IN]=Rygel
Name[bs]=Rygel
Name[ca]=Rygel
Name[ca@valencia]=Rygel
Name[cs]=Rygel
Name[da]=Rygel
Name[de]=Rygel
Name[el]=Rygel
Name[en_GB]=Rygel
Name[eo]=Rygel
Name[es]=Rygel
Name[et]=Rygel
Name[eu]=Rygel
Name[fa]=رایگل
Name[fi]=Rygel
Name[fr]=Rygel
Name[fur]=Rygel
Name[gl]=Rygel
Name[gu]=Rygel
Name[he]=Rygel
Name[hi]=Rygel
Name[hr]=Rygel
Name[hu]=Rygel
Name[id]=Rygel
Name[it]=Rygel
Name[ja]=Rygel
Name[kk]=Rygel
Name[ko]=라이겔
Name[kn]=Rygel
Name[lt]=Rygel
Name[lv]=Rygel
Name[ml]=റൈഗല്‍
Name[ms]=Rygel
Name[nb]=Rygel
Name[ne]=राईजेल
Name[nl]=Rygel
Name[oc]=Rygel
Name[pa]=ਰੇਗਲ
Name[pl]=Rygel
Name[pt]=Rygel
Name[pt_BR]=Rygel
Name[ro]=Rygel
Name[ru]=Rygel
Name[sk]=Rygel
Name[sl]=Rygel
Name[sr]=Ригел
Name[sr@latin]=Rigel
Name[sv]=Rygel
Name[ta]=ரைஜல்
Name[te]=రైజల్
Name[th]=Rygel
Name[tr]=Rygel
Name[ug]=Rygel
Name[uk]=Rygel
Name[vi]=Rygel
Name[zh_CN]=Rygel
Name[zh_HK]=Rygel
Name[zh_TW]=Rygel
Name=Rygel (container)
GenericName[af]=UPnP/DLNA-dienste
GenericName[ar]=خدمات UPnP/DLNA
GenericName[as]=UPnP/DLNA সেৱাসমূহ
GenericName[be]=Сервісы UPnP/DLNA
GenericName[bg]=Услуги по UPnP/DLNA
GenericName[bn_IN]=UPnP/DLNA-র পরিসেবা
GenericName[bs]=UPnP/DLNA usluge
GenericName[ca]=Serveis UPnP/DLNA
GenericName[ca@valencia]=Serveis UPnP/DLNA
GenericName[cs]=Služby UPnP/DLNA
GenericName[da]=UPnP/DLNA-tjenester
GenericName[de]=UPnP/DLNA-Dienste
GenericName[el]=Υπηρεσίες UPnP/DLNA
GenericName[en_GB]=UPnP/DLNA Services
GenericName[eo]=Servoj de UPnP/DLNA
GenericName[es]=Servicios UPnP/DLNA
GenericName[et]=UPnP/DLNA teenused
GenericName[eu]=UPnP/DLNA zerbitzuak
GenericName[fa]=خدمات UPnP/DLNA
GenericName[fi]=UPnP-/DLNA-palvelut
GenericName[fr]=Services UPnP/DLNA
GenericName[fur]=Servizis UPnP/DLNA
GenericName[gl]=Servizos de UPnP/DLNA
GenericName[gu]=UPnP/DLNA સેવાઓ
GenericName[he]=העדפות UPnP/DLNA
GenericName[hi]=UPnP/DLNA सेवाएँ
GenericName[hr]=UPnP/DLNA usluge
GenericName[hu]=UPnP/DLNA szolgáltatások
GenericName[id]=Layanan UPnP/DLNA
GenericName[it]=Servizi UPnP/DLNA
GenericName[ja]=UPnP/DLNA サービス
GenericName[kk]=UPnP/DLNA қызметтері
GenericName[ko]=UPnP/DLNA 서비스
GenericName[kn]=UPnP/DLNA ಸೇವೆಗಳು
GenericName[lt]=UPnP/DLNA paslaugos
GenericName[lv]=UPnP/DLNA servisi
GenericName[ml]=യുപിഎപി/ഡിഎഎഎ സേവനങ്ങള്‍
GenericName[ms]=Perkhidmatan UPnP/DLNA
GenericName[nb]=UpnP/DLNA-tjenester
GenericName[ne]=UPnP/DLNA सेवाहरू
GenericName[nl]=UPnP/DLNA-diensten
GenericName[oc]=Servicis UPnP/DLNA
GenericName[pa]=UPnP/DLNA ਸਰਵਿਸ
GenericName[pl]=Usługi UPnP/DLNA
GenericName[pt]=Serviços UPnP/DLNA
GenericName[pt_BR]=Serviços UPnP/DLNA
GenericName[ro]=Serviciile UPnP/DLNA
GenericName[ru]=Службы UPnP/DLNA
GenericName[sk]=Služby UPnP/DLNA
GenericName[sl]=Storitve UPnP/DLNA
GenericName[sr]=УПнП ДЛНА услуге
GenericName[sr@latin]=UPnP DLNA usluge
GenericName[sv]=UPnP/DLNA-tjänster
GenericName[ta]=UPnP/DLNA சேவைகள்
GenericName[te]=UPnP/DLNA సేవలు
GenericName[th]=บริการ UPnP/DLNA
GenericName[tr]=UPnP/DLNA Servisleri
GenericName[ug]=UPnP/DLNA مۇلازىمەتلىرى
GenericName[uk]=Служби UPnP/DLNA
GenericName[vi]=Dịch vụ UPnP/DLNA
GenericName[zh_CN]=UPnP/DLNA 服务
GenericName[zh_HK]=UPnP/DLNA 服務
GenericName[zh_TW]=UPnP/DLNA 服務
GenericName=UPnP/DLNA Services
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[as]=mediaserver;mediarenderer;share;audio;video;pictures;
Keywords[be]=медыясервер;медыяплэер;доступ;аўдыя;відэа;выявы;
Keywords[bg]=mediaserver;mediarenderer;share;audio;video;pictures;медия;сървър;изобразяване;споделяне;отдалечено;плеър;аудио;видео;снимки;
Keywords[bs]=mediaserver;mediarenderer;share;audio;video;pictures;
Keywords[ca]=servidor multimèdia;renderització multimèdia;compartir;àudio;vídeo;imatges;
Keywords[ca@valencia]=servidor multimèdia;renderització multimèdia;compartir;àudio;vídeo;imatges;
Keywords[cs]=mediaserver;mediarenderer;multimediální server;vysílání;sdílení;zvuk;audio;video;obrázky;
Keywords[da]=medieserver;medieoptegner;medierendering;del;lyd;video;billeder;
Keywords[de]=Medienserver;Freigabe;Audio;Video;Bilder;Fotos;
Keywords[el]=διακομιστής μέσων;αποτυπωτής μέσων;κοινόχρηστο;ήχος;βίντεο;εικόνες;mediaserver;mediarenderer;share;audio;video;pictures;
Keywords[en_GB]=mediaserver;mediarenderer;share;audio;video;pictures;
Keywords[eo]=aŭdovidservilo;aŭdovidbildigilo;kunhavigi;aŭdo;sono;video;filmo;vidaĵo;bildoj;fotoj;
Keywords[es]=servidor;medios;renderizado;compartir;sonido;vídeo;imágenes;fotos;
Keywords[et]=meediaserver;muusikaserver;pildiserver;meediarenderdaja;jagamine;audio;heli;muusika;video;pildid;
Keywords[eu]=multimedia-zerbitzaria;multimedia-errendatzailea;partekatu;audioa;bideoa;argazkiak;
Keywords[fa]=mediaserver;mediarenderer;share;audio;video;pictures;کارسازرسانه;هم‌رسانی; اشتراک;صدا;تصویر;ویدیو;
Keywords[fi]=mediaserver;mediarenderer;share;audio;video;pictures;mediapalvelin;jako;jakaminen;ääni;kuvat;
Keywords[fr]=serveur de médias;moteur de rendu de médias;partage;audio;vidéo;images;
Keywords[fur]=servidôr;multimedia;condividi;audio;video;figuris;imagjins;foto;fotografiis;
Keywords[gl]=servidor multimedia;renderizador multimedia;compartir;son;vídeo;fotografías;
Keywords[he]=שרת מדיה;מולטימדיה;מדיה;עיבוד מדיה;מעבד מדיה;שיתוף;שמע;אודיו;צליל;קול;וידאו;סרטון;סרט;תמונות;צילומים;
Keywords[hi]=मीडिया सर्वर; मीडिया रेंडरर; शेयर; ऑडियो; वीडियो; चित्र;
Keywords[hr]=medijski poslužitelj;medijski reproduktor;dijeli;zvuk;snimke;slike;
Keywords[hu]=média-kiszolgáló;média-renderelő;megosztás;hang;videó;képek;
Keywords[id]=mediaserver;mediarenderer;berbagi;audio;video;gambar;
Keywords[it]=mediaserver;media;condividere;condividi;audio;video;immagini;foto;fotografie;
Keywords[ja]=mediaserver;mediarenderer;share;audio;video;pictures;メディアサーバー;dms;メディアレンダラー;dmr;共有;オーディオ;音声;音楽;music;ビデオ;動画;映像;写真;画像;photo;フォト;dlna;upnp;
Keywords[kk]=mediaserver;mediarenderer;share;audio;video;pictures;медиасервер;медиаөңдеуші;бөлісу;аудио;видео;суреттер;
Keywords[ko]=mediaserver;미디어서버;mediarenderer;미디어렌더러;share;공유;audio;오디오;음악;video;비디오;동영상;영화;pictures;사진;이미지;
Keywords[lt]=daugialypės terpės serveris;daugialypės terpės piešėjas;dalinimasis;garsas;vaizdas;paveikslėliai;
Keywords[lv]=mediju serveris;mediju renderētājs;mediju attēlotājs;koplietot;audio;video;attēli;
Keywords[ml]=mediaserver;mediarenderer;share;audio;video;pictures;
Keywords[ms]=pelayanmedia;penerapmedia;kongsi;audio;video;gambar;
Keywords[nb]=mediatjener;mediavisning;del;lyd;video;bilder;
Keywords[nl]=mediaserver;mediarenderer;share;delen;audio;video;pictures;afbeeldingen;foto's;foto’s;
Keywords[oc]=servidor de mèdias;motor de rendut de mèdias;partiment;àudio;vidèo;imatges;
Keywords[pa]=ਮੀਡਿਆਸਰਵਰ;ਮੀਡਿਆਰੈਂਡਰ;ਸਾਂਝ;ਸ਼ੇਅਰ;ਆਡੀਓ;ਵਿਡੀਓ;ਤਸਵੀਰਾਂ;mediaserver;mediarenderer;share;audio;video;pictures;
Keywords[pl]=upnp;dlna;media;serwer multimediów;renderer;udostępnianie;współdzielenie;dźwięk;audio;wideo;video;zdjęcia;obraz;obrazy;obrazki;obrazek;
Keywords[pt]=servidor;suporte;análise;partilhar;áudio;vídeo;imagens;
Keywords[pt_BR]=servidor de mídia;renderizador de mídia;compartilhar;compartilhamento;áudio;vídeo;imagens;
Keywords[ro]=mediaserver;mediarenderer;share;audio;video;pictures;servermedia;sunet;imagini;
Keywords[ru]=медиасервер;медиаплеер;доступ;аудио;видео;фото;изображения;
Keywords[sk]=multimediálny server;multimediálny vykresľovač;sprístupnenie;audio;zvuk;video;obrázky;
Keywords[sl]=predstavni strežnik;predstavni izrisovalnik;souporaba;zvok;slika;fotografije;video;
Keywords[sr]=медијскисервер;медијскиисцртавач;дели;аудио;звук;видео;снимак;слике;
Keywords[sr@latin]=medijskiserver;medijskiiscrtavač;deli;audio;zvuk;video;snimak;slike;
Keywords[sv]=mediaserver;mediavisare;dela;ljud;video;bilder;
Keywords[ta]=ஊடக சேவையகம்;ஊடகவரைவி;பகிர்வு;கேட்பொலி;விடியோ;படங்கள்;
Keywords[th]=บริการสื่อ;เล่นสื่อ;แบ่งปัน;เสียง;วีดิทัศน์;รูปภาพ;
Keywords[tr]=medya sunucusu;medya yorumlayıcı;ortam sunucusu;ortam yorumlayıcı;paylaş;ses;video;görüntü;resimler;
Keywords[ug]=mediaserver;mediarenderer;share;audio;video;pictures;ۋاسىتە مۇلازىمېتىرى;ۋاسىتە سىزغۇچ;ھەمبەھىر;ئۈن;سىن;سۈرەت;
Keywords[uk]=медіасервер;медіаплеєр;спільний;аудіо;відео;фото;зображення;
Keywords[vi]=mediaserver;mediarenderer;đa phương tiện;da phuong tiện;chia sẻ;chia sẻ;share;audio;nhạc;nhac;video;phim;pictures;ảnh;anh;
Keywords[zh_CN]=mediaserver;mediarenderer;share;audio;video;pictures;媒体服务器;媒体渲染器;共享;音频;视频;图片;
Keywords[zh_HK]=mediaserver;mediarenderer;share;audio;video;pictures;媒體伺服器;分享;音樂;影片;圖片;
Keywords[zh_TW]=mediaserver;mediarenderer;share;audio;video;pictures;媒體伺服器;分享;音樂;影片;影像;
Keywords=mediaserver;mediarenderer;share;audio;video;pictures;
Exec=toolbox run rygel
Terminal=false
Type=Application
NoDisplay=true
StartupNotify=true
X-GNOME-Autostart-enabled=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Rygel
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.40.0
