[Desktop Entry]
Name[af]=Rygel-voorkeure
Name[ar]=تفضيلات رايجل
Name[as]=Rygel পছন্দসমূহ
Name[be]=Налады Rygel
Name[bg]=Настройки на Rygel
Name[bn_IN]=Rygel সংক্রান্ত পছন্দ
Name[bs]=Rygel Postavke
Name[ca]=Preferències del Rygel
Name[ca@valencia]=Preferències del Rygel
Name[cs]=Předvolby Rygel
Name[da]=Indstillinger for Rygel
Name[de]=Rygel-Einstellungen
Name[el]=Προτιμήσεις του Rygel
Name[en_GB]=Rygel Preferences
Name[eo]=Agordoj de Rygel
Name[es]=Preferencias de Rygel
Name[et]=Rygeli eelistused
Name[eu]=Rygel-en hobespenak
Name[fa]=ترجیحات رایگل
Name[fi]=Rygelin asetukset
Name[fr]=Préférences de Rygel
Name[fur]=Preferencis Rygel
Name[gl]=Preferencias de Rygel
Name[gu]=Rygel પસંદગીઓ
Name[he]=העדפות Rygel
Name[hi]=Rygel वरीयताएँ
Name[hr]=Rygel osobitosti
Name[hu]=Rygel beállításai
Name[id]=Preferensi Rygel
Name[it]=Preferenze di Rygel
Name[ja]=Rygel 設定
Name[kk]=Rygel баптаулары
Name[ko]=라이겔 기본 설정
Name[kn]=Rygel ಆದ್ಯತೆಗಳು
Name[lt]=Rygel nuostatos
Name[lv]=Rygel iestatījumi
Name[ml]=റൈഗല്‍ മുന്‍ഗണനകള്‍
Name[ms]=Keutamaan Rygel
Name[nb]=Brukervalg for Rygel
Name[ne]=राईजेल प्राथमिकता
Name[nl]=Rygel-voorkeuren
Name[oc]=Preferéncias de Rygel
Name[pa]=ਰੇਗਲ ਪਸੰਦ
Name[pl]=Preferencje usługi Rygel
Name[pt]=Preferências do Rygel
Name[pt_BR]=Preferências do Rygel
Name[ro]=Preferințe Rygel
Name[ru]=Параметры Rygel
Name[sk]=Rygel - nastavenia
Name[sl]=Možnosti Rygel
Name[sr]=Поставке за Ригел
Name[sr@latin]=Postavke za Rigel
Name[sv]=Inställningar för Rygel
Name[ta]=ரைஜெல் விருப்பங்கள்
Name[te]=రైజల్ అభీష్టాలు
Name[th]=ปรับแต่ง Rygel
Name[tr]=Rygel Tercihleri
Name[ug]=Rygel تەڭشەكلىرى
Name[uk]=Налаштування Rygel
Name[vi]=Tùy thích Rygel
Name[zh_CN]=Rygel 首选项
Name[zh_HK]=Rygel 偏好設定
Name[zh_TW]=Rygel 偏好設定
Name=Rygel Preferences (container)
GenericName[af]=UPnP/DLNA-voorkeure
GenericName[ar]=تفضيلات UPnP/DLNA
GenericName[as]=UPnP/DLNA পছন্দসমূহ
GenericName[be]=Налады UPnP/DLNA
GenericName[bg]=Настройки на UPnP/DLNA
GenericName[bn_IN]=UPnP/DLNA সংক্রান্ত পছন্দ
GenericName[bs]=UPnP/DLNA Postavke
GenericName[ca]=Preferències UPnP/DLNA
GenericName[ca@valencia]=Preferències UPnP/DLNA
GenericName[cs]=Předvolby UPnP/DLNA
GenericName[da]=UPnP/DLNA-indstillinger
GenericName[de]=UPnP/DLNA-Einstellungen
GenericName[el]=Προτιμήσεις UPnP/DLNA
GenericName[en_GB]=UPnP/DLNA Preferences
GenericName[eo]=Agordoj de UPnP/DLNA
GenericName[es]=PreferenciasUPnP/DLNA
GenericName[et]=UPnP/DLNA eelistused
GenericName[eu]=UPnP/DLNA-ren hobespenak
GenericName[fa]=ترجیحات UPnP/DLNA
GenericName[fi]=UPnP-/DLNA-asetukset
GenericName[fr]=Préférences UPnP/DLNA
GenericName[fur]=Preferencis UPnP/DLNA
GenericName[gl]=Preferencias de UPnP/DLNA
GenericName[gu]=UPnP/DLNA પસંદગીઓ
GenericName[he]=העדפות UPnP/DLNA
GenericName[hi]=UPnP/DLNA वरीयताएँ
GenericName[hr]=UPnP/DLNA osobitosti
GenericName[hu]=UPnP/DLNA beállításai
GenericName[id]=Preferensi UPnP/DLNA
GenericName[it]=Preferenze UPnP/DLNA
GenericName[ja]=UPnP/DLNA 設定
GenericName[kk]=UPnP/DLNA баптаулары
GenericName[ko]=UPnP/DLNA 기본 설정
GenericName[kn]=UPnP/DLNA ಆದ್ಯತೆಗಳು
GenericName[lt]=UPnP/DLNA nuostatos
GenericName[lv]=UPnP/DLNA iestatījumi
GenericName[ml]=യുപിഎപി/ഡിഎഎഎ മുന്‍ഗണനകള്‍
GenericName[ms]=Keutamaan UPnP/DLNA
GenericName[nb]=Brukervalg for UPnP/DLNA
GenericName[ne]=UPnP/DLNA प्राथमिकताहरू
GenericName[nl]=UPnP/DLNA-voorkeuren
GenericName[oc]=Preferéncias UPnP/DLNA
GenericName[pa]=UPnP/DLNA ਪਸੰਦ
GenericName[pl]=Preferencje usług UPnP/DLNA
GenericName[pt]=Preferências UPnP/DLNA
GenericName[pt_BR]=Preferências de UPnP/DLNA
GenericName[ro]=Preferințe UPnP/DLNA
GenericName[ru]=Параметры UPnP/DLNA
GenericName[sk]=Nastavenia UPnP/DLNA
GenericName[sl]=Možnosti UPnP/DLNA
GenericName[sr]=УПнП/ДЛНА поставке
GenericName[sr@latin]=UPnP/DLNA postavke
GenericName[sv]=Inställningar för UPnP/DLNA
GenericName[ta]=UPnP/DLNA விருப்பங்கள்
GenericName[te]=UPnP/DLNA అభీష్టాలు
GenericName[th]=ปรับแต่ง UPnP/DLNA
GenericName[tr]=UPnP/DLNA Tercihleri
GenericName[ug]=UPnP/DLNA تەڭشەكلىرى
GenericName[uk]=Налаштування UPnP/DLNA
GenericName[vi]=Tùy thích UPnP/DLNA
GenericName[zh_CN]=UPnP/DLNA 首选项
GenericName[zh_HK]=UPnP/DLNA 偏好設定
GenericName[zh_TW]=UPnP/DLNA 偏好設定
GenericName=UPnP/DLNA Preferences
Categories=Settings;X-GNOME-PersonalSettings;
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/hicolor/scalable/apps/rygel.svg
Exec=toolbox run rygel-preferences
Terminal=false
Type=Application
StartupNotify=true
NotShowIn=GNOME;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=Rygel
X-GNOME-Bugzilla-Component=rygel-preferences
X-GNOME-Bugzilla-Version=0.40.0
