[Desktop Entry]
Name=Desktop Sharing (container)
Name[an]=Compartición d'o escritorio
Name[ar]=مشاركة سطح المكتب
Name[as]=ডেস্কটপ অংশীদাৰী
Name[be]=Супольны доступ да стала
Name[bg]=Споделяне на работното място
Name[bn_IN]=ডেস্কটপে শেয়ার ব্যবস্থা
Name[bs]=Dijeljenje radne površine
Name[ca]=Compartició de l'escriptori
Name[ca@valencia]=Compartició de l'escriptori
Name[cs]=Sdílení pracovní plochy
Name[da]=Deling af skrivebord
Name[de]=Freigabe der Arbeitsfläche
Name[el]=Κοινή χρήση επιφάνειας εργασίας
Name[en_GB]=Desktop Sharing
Name[eo]=Labortablo-komunigo
Name[es]=Compartición del escritorio
Name[et]=Töölaua jagamine
Name[eu]=Mahaigaina partekatzea
Name[fa]=به‌اشتراک‌گذاری رومیزی
Name[fi]=Työpöydän jako
Name[fr]=Partage de bureau
Name[fur]=Condivision scritori
Name[gl]=Compartición do escritorio
Name[gu]=ડેસ્કટોપ વહેંચણી
Name[he]=שיתוף שולחן העבודה
Name[hi]=डेस्कटॉप साझेदारी
Name[hu]=Asztal megosztása
Name[id]=Berbagi Desktop
Name[is]=Skjáborðsmiðlun
Name[it]=Condivisione desktop
Name[ja]=デスクトップの共有
Name[kk]=Жұмыс үстелімен бөлісу
Name[km]=ការ​ចែករំលែក​ផ្ទៃតុ
Name[kn]=ಗಣಕತೆರೆಯನ್ನು ಹಂಚಿಕೊಳ್ಳುವಿಕೆ
Name[ko]=데스크톱 공유
Name[lt]=Dalinimasis darbastaliu
Name[lv]=Darbvirsmas koplietošana
Name[ml]=പണിയിടം പങ്കിടാനാകും
Name[mr]=डेस्कटॉपचा मिळून वापर
Name[nb]=Deling av skrivebord
Name[ne]=डेक्सटप साझेदारी
Name[nl]=Werkomgeving delen
Name[oc]=Partiment de burèu
Name[or]=ଡେସ୍କଟପ ସହଭାଗ
Name[pa]=ਡੈਸਕਟਾਪ ਸ਼ੇਅਰਿੰਗ
Name[pl]=Udostępnianie pulpitu
Name[pt]=Partilha da área de trabalho
Name[pt_BR]=Compartilhamento da área de trabalho
Name[ru]=Общий доступ к рабочему столу
Name[sk]=Zdieľanie pracovnej plochy
Name[sl]=Souporaba namizja
Name[sr]=Дељење радне површи
Name[sr@latin]=Deljenje radne površi
Name[sv]=Skrivbordsdelning
Name[ta]=மேல்மேசை பகிர்வு
Name[te]=రంగస్థలం పంచుకొనుట
Name[tg]=Мубодилаи мизи корӣ
Name[th]=การแบ่งปันพื้นโต๊ะ
Name[tr]=Masaüstü Paylaşımı
Name[ug]=ئۈستەلئۈستىنى ھەمبەھىرلەش
Name[uk]=Cпільне користування стільницею
Name[vi]=Chia sẻ màn hình
Name[zh_CN]=桌面共享
Name[zh_HK]=桌面分享
Name[zh_TW]=桌面分享
Comment=GNOME Desktop Sharing Server
Comment[an]=Servidor de compartición d'escritorio de GNOME
Comment[ar]=خادوم مشاركة سطح مكتب جنوم
Comment[as]=GNOME ডেস্কটপ অংশীদাৰী চাৰ্ভাৰ
Comment[be]=Сервер супольнага доступу да стала GNOME
Comment[bg]=Сървър за споделяне на работно място на GNOME
Comment[bn_IN]=GNOME ডেস্কটপ শেয়ার সার্ভার
Comment[bs]=Server Gnomove udaljene radne površi
Comment[ca]=Servidor de compartició de l'escriptori del GNOME
Comment[ca@valencia]=Servidor de compartició de l'escriptori del GNOME
Comment[cs]=Server sdílení pracovní plochy GNOME
Comment[da]=Server til deling af GNOME-skrivebord
Comment[de]=GNOME-Server zur Freigabe der Arbeitsumgebung
Comment[el]=Διακομιστής απομακρυσμένης επιφάνειας εργασίας του GNOME
Comment[en_GB]=GNOME Desktop Sharing Server
Comment[es]=Servidor de compartición de escritorio de GNOME
Comment[et]=GNOME töölaua jagamise server
Comment[eu]=GNOMEren mahaigaina partekatzeko zerbitzaria
Comment[fa]=کارگزار اشتراک‌گذاری رومیزی گنوم
Comment[fi]=GNOME-työpöydänjakopalvelin
Comment[fr]=Serveur de partage de bureau GNOME
Comment[fur]=Servidôr di condivision scritori par GNOME
Comment[gl]=Servidor de compartición de escritorio GNOME
Comment[gu]=GNOME ડૅસ્કટોપ વહેંચણી સર્વર
Comment[he]=שרת שיתוף שולחנות עבודה של GNOME
Comment[hi]=GNOME डेस्कटॉप साझेदारी सर्वर
Comment[hu]=GNOME asztalmegosztás-kiszolgáló
Comment[id]=Server Desktop Jauh GNOME
Comment[is]=GNOME skjáborðsmiðlunarþjónn
Comment[it]=Server di condivisione desktop per GNOME
Comment[ja]=GNOME デスクトップ共有サーバー
Comment[kk]=GNOME жұмыс үстелімен бөлісу сервері
Comment[km]=ម៉ាស៊ីន​បម្រើ​ការ​ចែករំលែក​ផ្ទៃតុ​របស់ GNOME
Comment[kn]=GNOME ಗಣಕತೆರೆ ಹಂಚಿಕಾ ಪೂರೈಕೆಗಣಕ
Comment[ko]=그놈 데스크톱 공유 서버
Comment[lt]=GNOME darbastalio dalijimosi serveris
Comment[lv]=GNOME darbvirsmas koplietošanas serveris
Comment[ml]=ഗ്നോം പണിയിട പങ്കിടല്‍ സര്‍വര്‍
Comment[mr]=GNOME डेस्कटॉप शेअरिंग सर्व्हर
Comment[nb]=Tjener for deling av skrivebord for GNOME
Comment[nl]=Server voor Gnome-bureaublad op afstand
Comment[oc]=Servidor de partiment de burèu GNOME
Comment[or]=GNOME ଡେସ୍କଟପ ସହଭାଗ ସର୍ଭର
Comment[pa]=ਗਨੋਮ ਡੈਸਕਟਾਪ ਸ਼ੇਅਰਿੰਗ ਸਰਵਰ
Comment[pl]=Serwer udostępniania pulpitu dla środowiska GNOME
Comment[pt]=Servidor de partilha da área de trabalho do GNOME
Comment[pt_BR]=Servidor de compartilhamento da área de trabalho do GNOME
Comment[ru]=Сервер удалённого рабочего стола GNOME
Comment[sk]=Server zdieľania pracovnej plochy GNOME
Comment[sl]=Strežnik oddaljene souporabe GNOME
Comment[sr]=Сервер Гномове удаљене радне површи
Comment[sr@latin]=Server Gnomove udaljene radne površi
Comment[sv]=GNOME-skrivbordsdelningsserver
Comment[ta]=GNOME  பணிமேடை பகிர்வு சேவையகம்
Comment[te]=GNOME దూరస్థ రంగస్థల పంచు సర్వర్
Comment[tg]=Сервери мубодилаи мизи кории GNOME
Comment[th]=เซิร์ฟเวอร์แบ่งปันพื้นโต๊ะของ GNOME
Comment[tr]=GNOME Masaüstü Paylaşım Sunucusu
Comment[ug]=گىنوم ئۈستەلئۈستى ھەمبەھىر مۇلازىمېتىرى
Comment[uk]=Сервер спільного використання стільниці для GNOME
Comment[vi]=Máy chủ Chia sẻ màn hình GNOME
Comment[zh_CN]=GNOME 桌面共享服务器
Comment[zh_HK]=GNOME 桌面分享伺服器
Comment[zh_TW]=GNOME 桌面分享伺服器
Keywords=vnc;share;remote;
Keywords[an]=vnc;compartir;remoto;
Keywords[ar]=مشاركة;مكتب;بعيد;
Keywords[as]=vnc;অংশীদাৰী;দূৰৱৰ্তী;
Keywords[be]=vnc;доступ;супольны;рэсурс;аддалены;
Keywords[bg]=споделено;отдалечено;работно;място;мрежа;vnc;share;remote;
Keywords[bn_IN]=vnc;ভাগ;রিমোট;
Keywords[bs]=vnc;podjeli;premotaj;
Keywords[ca]=vnc;comparteix;remot;
Keywords[ca@valencia]=vnc;comparteix;remot;
Keywords[cs]=vnc;sdílení;vzdálený;přístup;
Keywords[da]=vnc;del;ekstern;fjern;
Keywords[de]=VNC;Freigabe;entfernt;
Keywords[el]=vnc;κοινόχρηστο;απομακρυσμένο;share;remote;
Keywords[en_GB]=vnc;share;remote;
Keywords[es]=vnc;compartir;remoto;
Keywords[et]=vnc;jagamine;kaugtöölaud;
Keywords[eu]=vnc;partekatu;urrunekoa;
Keywords[fa]=vnc;اشتراک‌گذاری;دوردست;
Keywords[fi]=vnc;share;remote;jako;etä;
Keywords[fr]=vnc;partage;distant;
Keywords[fur]=vnc;condivision;rimot;
Keywords[gl]=vnc;compartir;remoto;
Keywords[gu]=vnc;વહેંચણી;દૂરસ્થ;
Keywords[he]=שיתוף;מרוחק;מרחוק;
Keywords[hi]=vnc;share;remote;
Keywords[hu]=vnc;megosztás;távoli;
Keywords[id]=vnc;berbagi;jarak jauh;
Keywords[is]=vnc;sameiginlegt;deila;fjartengt;
Keywords[it]=vnc;condivisione;remoto;
Keywords[ja]=vnc;share;remote;デスクトップ共有;リモートデスクトップ;DesktopSharing;
Keywords[kn]=vnc;ಹಂಚಿಕೆ;ದೂರಸ್ಥ;
Keywords[ko]=vnc;share;공유;remote;원격;
Keywords[lt]=vnc;bendrinti;nuotolinis;
Keywords[lv]=vnc;koplietot;attālināti;
Keywords[ml]=vnc;share;remote;
Keywords[mr]=vnc;शेअर;रिमोट;
Keywords[nb]=vnc;deling;ekstern;
Keywords[ne]=भिएनसि;साझेदारि;टाढा;
Keywords[nl]=vnc;delete;share;remote;afstand;
Keywords[oc]=vnc;partiment;distant;
Keywords[or]=vnc;ସହଭାଗ;ସୁଦୂର;
Keywords[pa]=ਵੀਐਨਸੀ;ਸਾਂਝ;ਰਿਮੋਟ;vnc;share;remote;
Keywords[pl]=vnc;udostępnianie;współdzielenie;zdalnie;zdalne;
Keywords[pt]=vnc;partilhar;remoto;
Keywords[pt_BR]=vnc;compartilhamento;compratilhar;remoto;remota;
Keywords[ru]=vnc;доступ;удалённые;
Keywords[sk]=vnc;zdieľanie;vzdialený;prístup;
Keywords[sl]=vnc;souporaba;oddaljeno;
Keywords[sr]=внц;дели;удаљено;
Keywords[sr@latin]=vnc;deli;udaljeno;
Keywords[sv]=vnc;delning;fjärrskrivbord;
Keywords[ta]=விஎன்சி;பகிர்;தொலை;
Keywords[te]=vnc;షేర్;రిమోట్;
Keywords[tg]=vnc;мубодила;дурдаст;
Keywords[tr]=vnc;share;remote;paylaşım;uzakbağlantı;
Keywords[ug]=vnc;share;remote;ھەمبەھىر;يىراق;
Keywords[uk]=vnc;спільний;віддалений;
Keywords[vi]=vnc;share;remote;chia;sẻ;se;từ;xa;điều;khiển;dieu;khien;
Keywords[zh_CN]=vnc;share;remote;
Keywords[zh_HK]=vnc;share;remote;分享;遠端;
Keywords[zh_TW]=vnc;share;remote;分享;遠端;
Exec=toolbox run /usr/libexec/vino-server
Icon=/home/realgrm/.local/share/containers/storage/overlay/67c4ebc795675f9ce0c4a7c70d8a48f8eb13183f25c8977b41dbed3a0a7d5b99/diff/usr/share/icons/Adwaita/256x256/legacy/preferences-desktop-remote-desktop.png
NoDisplay=true
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
X-GNOME-UsesNotifications=true
