[Desktop Entry]
Version=1.1
Type=Application
Name=Update toolbox
Comment=Update toolbox integration with desktop
Icon=toolbox-desktop-integration.png
Exec= && ./toolbox-desktop-integration.py;$SHELL'
Terminal=true
Actions=
Categories=Utility;
