[Desktop Entry]
Version=1.1
Type=Application
Name=Update Desktop Files
Comment=Update desktop files from toolbox
Icon=update_desktop_files.png
Exec= && ./update_desktop_files.py;$SHELL'
Terminal=true
Actions=
Categories=Utility;
